.blankinput{
    margin-top: 14px;
}

.roles-popup-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

p{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{   
    height: 500px;
    width: 700px;
    background: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    z-index: 2;
    padding: 0;
}

.main-header{
    height: 64px;
    width: 100%;
    background: #003b77cc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container h2{
    color: white;
    font-size: 25px;
    margin-bottom: 0;
}

#name{
    height: 30px;
    width: 50%;
    padding-left: 20px;
    border: 1px solid lightgray;
    outline: none;
}

#name::placeholder{
    color: lightgray;
}

.content-container{
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.role-actions{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.left, .right{
    /* flex: 1; */
    width: 70%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.module{
    width: 70%;
    transition: 1s all ease-in-out;
}

.checkbox{
    min-height: 40px;
    display: flex;
    align-items: center;
    transition: 1s all ease-in-out;
}

.checkbox input, .checkbox p{
    margin-left: 5px;
}

.parent{
    height: auto;
    width: 100%;    
    /* border: 1px solid green;     */
}

.children{
    height: auto;
    width: 100%;
    /* border: 1px solid yellow; */
}

.feature{
    height: 40px;
    width: 100%;
    /* border: 1px solid mediumslateblue; */
    display: flex;
    align-items: center;
}

.feature input{
    margin-left: 50px;
    margin-right: 5px;
}

.feature div{
    align-self: flex-end;
    height: 100%;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.feature div p{
    font-size: 11px;
    font-style: italic;
    color: #0057af;
    cursor: pointer;
}

.feature div p:hover{
    color: lightblue;
    text-decoration: underline;
}


.popup{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay{
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.popup-content{
    height: auto;
    width: 600px;
    background: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p-header{
    height: 40px;
    width: 100%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-title{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-header p{
    color: white;
    font-weight: bold;
    margin-left: 20px;
    font-size: 15px;
}

.p-title h2{
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    color: gray;
}

.p-rights{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights-box{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-actions{
    height: 50px;
    width: 100%;
    border-top: 1px solid lightgray;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.p-actions button, .role-actions button{
    height: 30px;
    width: 100px;
    border: none;
    background: none;
    border: lightgray;
    margin-right: 20px;
    border: 1px solid gray;
}   

