<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Brokerage Account</h3>
      </div>
    </div>
  </div>


<div class="m-portlet__body">
<div class="row">
  <div class="col-md-12"> 
    <dx-data-grid id="gridContainer" [dataSource]="CustomerBanks" keyExpr="customerBankId" (onRowInserted)="AddCustomerBank($event)" (onRowUpdating)="UpdateModel($event)" (onRowUpdated)="UpdateCustomerBank()" (onRowRemoved)="DeleteCustomerBank($event)"> 
      <dxo-editing  mode="popup"[allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
        <dxo-popup title="Add Brokerage Account" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
      </dxo-editing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
      <dxi-column dataField="customerTypeId"caption="Customer Type" [visible]="true">
        <dxo-lookup [dataSource]="CustomerTypes" valueExpr="customerTypeId" displayExpr="name"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="name" caption="Name"></dxi-column>
      <dxi-column dataField="bankCode"caption="Bank Code" [visible]="true"></dxi-column>
      <dxi-column dataField="bankTitle"caption="Bank Title" [visible]="true"></dxi-column>
      <dxi-column dataField="accountNumber"caption="Account Number" [visible]="true"></dxi-column>
      <dxi-column dataField="routingCode" caption="Routing Code" [visible]="false"></dxi-column>
      <dxi-column dataField="swiftCode" caption="Swift Code" [visible]="false"></dxi-column>
      <dxi-column dataField="remitCode"caption="Remit Code" [visible]="false"></dxi-column>
      <dxi-column dataField="remitKey"caption="Remit Key" [visible]="false"></dxi-column>
      <dxi-column dataField="uniqueId"caption="Unique Key" [visible]="false"></dxi-column>
      <dxi-column dataField="remitType"caption="Remit Type" [visible]="false"></dxi-column>
      <dxi-column dataField="branchCode"caption="Branch Code" [visible]="false"></dxi-column>
      <dxi-column dataField="branch"  caption="Branch" [visible]="false"></dxi-column>
      <dxi-column dataField="barnchContactNumber"caption="Branch Contact No" [visible]="false"></dxi-column>
      <dxi-column dataField="branchAddress"  caption="Branch Address" [visible]="false"></dxi-column>
      <dxi-column dataField="glCode"caption="GL Code" [visible]="false"></dxi-column>
      <dxi-column dataField="active" caption="Active"  dataType="boolean"></dxi-column>
     
      </dx-data-grid> 
   </div>

   
</div>
</div></div>