<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Patient Invoice Return Item
              </h3>
            </div>
          </div>
        </div>
        <!--begin::Form-->
        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form" [formGroup]="PatientInvoiceReturnForm">
          <div class="m-portlet__body">
            <div class="form-group row">
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">Nature</label>
                <input class="form-control m-input m-input--solid" formControlName="Nature" type="text">
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">Unit Price</label>
                <input class="form-control m-input m-input--solid" formControlName="UnitPrice" type="text">
              </div>
              <div class="form-group col-lg-3">
              <label for="exampleInputEmail1">Name</label>
                <input class="form-control m-input m-input--solid" formControlName="Name" type="text">
                </div>
                <div class="form-group col-lg-3">
                  <label for="exampleInputEmail1">Sale Quantity</label>
                  <input class="form-control m-input m-input--solid" formControlName="SaleQuantity" type="text">
                </div>
              </div>
              <div class="form-group row">
               
                <div class="form-group col-lg-3">
                  <label for="exampleInputEmail1">Discount Percentage</label>
                  <input class="form-control m-input m-input--solid" formControlName="DiscountPercentage" type="text">
                </div>
                <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">Sale Gross Amount</label>
                  <input class="form-control m-input m-input--solid" formControlName="SaleGrossAmount" type="text">
                </div>
                <div class="form-group col-lg-3">
                  <label for="exampleInputEmail1">Sale Discount Amount</label>
                  <input class="form-control m-input m-input--solid" formControlName="SaleDiscountAmount" type="text">
                </div>

                <div class="form-group col-lg-3">
                  <label for="exampleInputEmail1">Sale Net Amount</label>
                  <input class="form-control m-input m-input--solid" formControlName="SaleNetAmount" type="text">
                </div>
              </div>

                <div class="form-group row">
                  
                
                  <div class="form-group col-lg-3">
                  <label for="exampleInputEmail1">Return Quantity</label>
                    <input class="form-control m-input m-input--solid" formControlName="ReturnQuantity" type="text">
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Discount Deduction Amount</label>
                    <input class="form-control m-input m-input--solid" formControlName="DiscountDeductionAmount" type="text">
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Return Net Amount</label>
                    <input class="form-control m-input m-input--solid" formControlName="ReturnNetAmount" type="text">
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Remarks</label>
                      <input class="form-control m-input m-input--solid" formControlName="Remarks" type="text">
                    </div>
                </div>
               
                    <div class="form-group row" style="background-color: cadetblue;">
                      <div class="m-form__seperator m-form__seperator--dashed" ></div>
                    </div>

                  <div class="form-group row">
                    <div class="m-form__heading">
                        <h3 class="m-form__heading-title">
														Patient Invoice Item
													</h3>
                    </div>        
                  </div>

                  <div class="form-group row">
                    <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Slip Number</label>
                      <input class="form-control m-input m-input--solid" formControlName="SlipNumber" type="text">
                    </div>
                    <div class="form-group col-lg-3">
                      <label for="exampleInputEmail1">Date Created</label>
                        <input class="form-control m-input m-input--solid" formControlName="DateCreated" type="text">
                      </div>
                      <div class="form-group col-lg-3">
                        <label for="exampleInputEmail1">Total Gross Amount</label>
                          <input class="form-control m-input m-input--solid" formControlName="TotalGrossAmount" type="text">
                        </div>
                        <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1">Total Discount Amount</label>
                            <input class="form-control m-input m-input--solid" formControlName="TotalDiscountAmount" type="text">
                          </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Total Net Amount</label>
                      <input class="form-control m-input m-input--solid" formControlName="TotalNetAmount" type="text">
                    </div>
                  </div>


  

             
           


           
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Patient Invoice</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
                <div class="m-section">
            <div class="m-section__content" >
                <dx-data-grid id="" [dataSource]="PatientServiceobj?.SearchPatientbyname" (onSelectionChanged)="selectionChanged($event)"> 
               <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[12, 22, 32]"[showInfo]="true"></dxo-pager>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                <dxi-column dataField="mrn" caption="MRN #"></dxi-column>
                <dxi-column dataField="fullName" caption="Patient Name"></dxi-column>  
                <dxi-column dataField="phoneNumber" caption="Contact Number"></dxi-column>
                <dxi-column dataField="date" dataType="date" caption="Registration Date"></dxi-column>
                <dxi-column dataField="gender" caption="Gender"></dxi-column>  
                </dx-data-grid>  
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>