<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Biochemistry Tests</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">

              <form *ngIf="formVisible" class="m-form m-form--fit m-form--label-align-right">
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Name:
                  </label>
                  <div class="col-4">
                    <input class="form-control m-input" type="text" name="TestName" [(ngModel)]="TestName" value="{{TestName}}"
                      id="example-text-input">
                  </div>

                  <label for="example-text-input" class="col-2 col-form-label">
                    Description:
                  </label>
                  <div class="col-4">
                    <input class="form-control m-input" type="text" name="TestDescription" [(ngModel)]="TestDescription"
                      value="{{TestDescription}}" id="example-text-input">
                  </div>
                </div>
                <div class="form-group m-form__group row">
                  <label for="example-text-input" class="col-2 col-form-label">
                    Reference Range:
                  </label>
                  <div class="col-10">
                    <ckeditor name="ReferenceRange" [(ngModel)]="ReferenceRange" [data]="ReferenceRange"  [editor]="Editor"></ckeditor>
                  </div>

                </div>


                <div class="m-form__actions">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10">
                      <button type="reset" (click)="onSubmit()" class="btn btn-success">
                        Submit
                      </button>
                      <button type="reset" (click)="onCancel()" class="btn btn-secondary">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>

              </form>

              <dx-data-grid id="gridContainer" [dataSource]="tests" keyExpr="bioChemistryTestId">

                <dxo-editing mode="form" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false"
                  [useIcons]="true">

                  <dxo-popup title="Test" [showTitle]="true" [width]="700" [height]="345" [position]="{ my: 'center', at: 'center', of: window }">
                  </dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
                <dxi-column dataField="name"></dxi-column>
                <dxi-column dataField="description"></dxi-column>
                <dxi-column dataField="referenceRange"></dxi-column>
                <dxi-column dataField="bioChemistryTestId" caption="Action" cellTemplate="cellTemplate"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                  <a class="btn btn-primary" (click)="edit(data.value)">Edit</a>
                </div>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>