<div class="m-content">
  <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
    <!--begin::Item-->
    <div class="m-accordion__item">
      <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body"
        aria-expanded="false">
        <div class="row">
          <div class="col-lg-8">
            <span class="m-accordion__item-icon">
              <i class="fa flaticon-user-ok"></i>
            </span>
            <span class="m-accordion__item-title">
              <b>{{Patient?.firstName}} {{Patient?.lastName}}</b>
            </span>
          </div>

          <div class="col-lg-1">
              <div  class="m-list-search">
                <div  class="m-list-search__results">
                    <a class="m-list-search__result-item" (click)="editPatient(Patient)">
                        <span  class="m-list-search__result-item-icon">
                          <i  class="fa fa-map-marker	m--font-white"></i>
                        </span>
                        <span  class="m-list-search__result-item-text"> Edit </span>
                      </a>
                </div>
              </div>
          </div> 
          <div class="col-lg-2">
            <span class="m-accordion__item-title">
              <b>Patient ID</b> {{Patient?.mrn}}
            </span>
          </div>
          <div class="col-lg-1">
            <span class="btn">show more</span>
          </div>
        </div>



      </div>
      <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
        data-parent="#m_accordion_1" style="">
        <div class="row">
          <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                      Patient Detail
                    </h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1">
                      Patient
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_1_2">
                      Spouse
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_1_3">
                      References
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_1_4">
                      Document
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="m-accordion__item-content">
                          <div class="tab-content  m--padding-30">
                            <div class="m-form__section m-form__section--first">
                              <div class="m-form__heading">
                                <h4 class="m-form__heading-title">
                                  Personal Information
                                </h4>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Patient Name:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.firstName}} {{Patient?.middleName}} {{Patient?.lastName}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Date Of Birth:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.dob  | date: 'dd/MM/yyyy'}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Gender:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.gender}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Place Of Birth:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.placeOfBirth}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Occupation:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.occupation}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  CNIC:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.nic}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Phone Number:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.phoneNumber}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Residence Address:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.residenceAddress}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Office Address:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.officeAddress}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Office Telephone:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.officeTel}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="m-separator m-separator--dashed m-separator--lg"></div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="m-accordion__item-content">
                          <div class="tab-content  m--padding-30">
                            <div class="m-form__section m-form__section--first">
                              <div class="m-form__heading">
                                <h4 class="m-form__heading-title">
                                  Other Information
                                </h4>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Reg City:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.regCity}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Visit Nature:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                     {{vistnatr?.nature}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Country:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.country}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  City:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.city}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  State:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.state}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Postal Code:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.postalCode}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Authorized Person:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.authorizedPerson}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Private Patient Cons:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.privatePatientCons}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Private Hospital:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient?.privateHospital}}
                                  </span>
                                </div>
                              </div>

                            </div>
                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="m_tabs_1_2" role="tabpanel">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="m-accordion__item-content">
                          <div class="tab-content  m--padding-30">
                            <div class="m-form__section m-form__section--first">
                              <div class="m-form__heading">
                                <h4 class="m-form__heading-title">
                                  Personal Information
                                </h4>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Spouse Name:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.firstName}} {{Patient.partner?.middleName}} {{Patient.partner?.lastName}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Date Of Birth:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.dob  | date: 'dd/MM/yyyy'}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Occupation:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.occupation}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  CNIC:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.nic}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Contact Number:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.phoneNumber}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Place Of Birth:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.partner?.placeOfBirth}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="m_tabs_1_3" role="tabpanel">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="m-accordion__item-content">
                          <div class="tab-content  m--padding-30">
                            <div class="m-form__section m-form__section--first">
                              <div class="m-form__heading">
                                <h4 class="m-form__heading-title">
                                  Reference Information
                                </h4>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Reference By:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.patientReference?.referredBy}}
                                  </span>
                                </div>
                              </div>
                              <!-- <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Person Name:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{patientreferenc}}
                                  </span>
                                </div>
                              </div> -->
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Reference Address:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.patientReference?.refAddress}}
                                  </span>
                                </div>
                              </div>
                              <div class="form-group m-form__group m-form__group--sm row">
                                <label class="col-xl-4 col-lg-4 col-form-label">
                                  Reference Tel #:
                                </label>
                                <div class="col-xl-8 col-lg-8">
                                  <span class="m-form__control-static">
                                    {{Patient.patientReference?.referenceTel}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
                    <div class="row">
                      <div class="col-xl-12">
                        <!--begin::Portlet-->
                        <div class="m-portlet">
                          <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                              <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                  Document Detail
                                </h3>
                              </div>
                            </div>
                          </div>
                          <div class="m-portlet__body">
                            <!--begin::Section-->
                             <div class="m-section">
                              <div class="m-section__content">
                                <table class="table m-table m-table--head-separator-danger">
                                  <thead>
                                    <tr>
                                      <th>
                                        #
                                      </th>
                                      <th>
                                        Document Name
                                      </th>
                                      <!-- <th>
                                        Remarks
                                      </th> -->
                                      <th>
                                        Document File
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let patientDoucment of Patient?.patientDocuments">
                                      <th scope="row">
                                        {{patientDoucment?.patientDocumentId}}
                                      </th>
                                      <td>
                                        {{patientDoucment?.documentName}}
                                      </td>
                                      <!-- <td>
                                        {{patientDoucment?.remarks}}
                                      </td> -->
                                      <td>
                                          <a  type="button" class="mybtn" target="_blank" href="http://gbsc-erp.azurewebsites.net/hims/{{patientDoucment?.filePath}}"  download="content.txt">download</a>
                                            <!-- <img src="http://gbsc-erp.azurewebsites.net/hims/{{patientDoucment?.filePath}}" style="width: 100px; height:100px; ">  -->
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <!--end::Section-->
                          </div>
                          <!--end::Form-->
                        </div>
                        <!--end::Portlet-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Portlet-->
          </div>
        </div>
      </div>
    </div>
    <!--end::Item-->
  </div>
  <div class="row">
    <div class="col-lg-4">
      <!-- start diagnoses view here-->
      <app-diagnoses></app-diagnoses>
      <!--end diagnoses view here-->
      <!--Vitals start-->
      <app-vitals></app-vitals>
      <!--Vitals end-->
      <!--	Latest Observation start-->
      <!-- <app-latestobservation></app-latestobservation> -->
      <!--	Latest Observation end-->
      <!--Health Trend Summary start-->
      <!-- <app-health-trend-summary></app-health-trend-summary> -->
      <!--Health Trend Summary end-->
      <!--Appointments strat-->
      <!-- <app-appointments></app-appointments> -->
      <!--Appointments end-->
    </div>
    <div class="col-lg-4">
      <!--recent visits start-->
      <app-recentvisits></app-recentvisits>

      <app-test></app-test>

      <!--recent visits end-->
      <!--FAMILY start-->
      <!-- <app-family></app-family> -->
      <!--FAMILY end-->
      <!--CONDITIONS start-->
      <!-- <app-conditions></app-conditions> -->
      <!--CONDITIONS end-->
    </div>
    <!--begin::Portlet-->
    <div class="col-lg-4 abc2">
      <app-generalactions class="abc2"></app-generalactions>

      <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <span class="m-portlet__head-icon">
               <i class="fa fa-calendar-check-o"></i>
                    </span>
                <h3 class="m-portlet__head-text">
                   Patient Package
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
             <div class="">
 {{PatientPackage.packageId}}               
                <!-- <ul *ngFor="let Patient of visits">
                    <li   (click)="onclick(Patient.visitId)">
                  <a class="m-link m-link--state m-link--success">
                      {{Patient.startTime | date: 'dd/MM/yyyy h:mm '}}
                  </a>
                </li>
              </ul> -->
              </div>
           </div>
        </div>







    </div>
    <!--end::Portlet-->
  </div>
</div>