/* .ag-theme-balham .ag-tool-panel-wrapper .ag-column-select-panel {
    padding-bottom: 8px;
    height: 0px;
}

.ag-theme-balham .ag-tool-panel-wrapper .ag-column-drop {
    padding-bottom: 0;
    padding-top: 0;
} */