<div class="m-content">

  <div class="row">
    <div class="col-md-12">


      <form [formGroup]="CompensationTransactionForm">

        <div class="form-group m-form__group row">
          <div class="col-lg-6">
            <label>
              Payroll Year:
            </label>
            <select class="form-control m-input" formControlName="PayrollyearId" id="">
              <option value="" disabled selected>-- Select Payroll Year --</option>
              <option *ngFor="let payrollyear of payrollYears" [value]="payrollyear.payrollYearId">{{payrollyear.name}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label class="">
              Month:
            </label>
            <input type="date" class="form-control m-input" formControlName="Month" placeholder="">
          </div>
        </div>


        <div class="form-group m-form__group row">
          <div class="col-lg-6">
            <label>
              Employee:
            </label>
            <select class="form-control m-input" formControlName="UserId" id="">
              <option value="" disabled selected>-- Select Employee --</option>
              <option *ngFor="let user of employees" [value]="user.userId">{{user.firstName}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label class="">
              Payroll Type:
            </label>
            <select class="form-control m-input" formControlName="PayrollTypeId" id="">
              <option value="" disabled selected>-- Select Payroll Type --</option>
              <option *ngFor="let payrollType of payrollTypes" [value]="payrollType.payrollTypeId">{{payrollType.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group m-form__group row">
          <div class="col-lg-6">
            <label>
              Allowance:
            </label>
            <select class="form-control m-input" formControlName="AllowanceId" id="">
              <option value="" disabled selected>-- Select Allowance --</option>
              <option *ngFor="let allowance of allowances" [value]="allowance.allowanceId">{{allowance.name}}</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label class="">
              Amount:
            </label>
            <input type="number" class="form-control m-input" formControlName="Amount" placeholder="0">
          </div>
        </div>

        <div class="form-group m-form__group row">
          <div class="col-lg-12">
            <label>
              Remarks:
            </label>
            <textarea class="form-control m-input" formControlName="Remarks" id="" rows="3"></textarea>
          </div>
        </div>
        <div class="m--space-30"></div>
        <div class="form-group m-form__group row">
          <div class="col-lg-12">
            <label class="">
              Taxable Income:
            </label>
            <div class="m-checkbox-list">
              <label class="m-checkbox m-checkbox--state-success">
                <input type="checkbox" formControlName="IsTaxableIncome">
                <span></span>
              </label>
            </div>
          </div>
        </div>

        <div class="m--space-50"></div>
        <div class="m-separator m-separator"></div>

        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
          <div class="m-form__actions m-form__actions--solid">
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-4">
                <button type="submit" class="btn btn-brand" (click)="addCompensationTransaction()">
                  Submit
                </button>
                <button type="reset" class="btn btn-secondary">
                  Cancel
                </button>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>