 
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Attendance Flag</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer"
               [dataSource]="attendanceflag" 
               (onRowInserted)="addattendanceflag($event)" 
               (onRowUpdating)="updatingattendanceflag($event)"
               (onRowUpdated)="updateattendanceflag()"
               (onRowRemoved)="deleteattendanceflag($event)">
                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="6"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager> 
                <dxi-column dataField="flagCategoryId" caption="Flag Category">
                  <dxo-lookup [dataSource]="flagcategory" displayExpr="name" valueExpr="flagCategoryId">
                  </dxo-lookup> 
                </dxi-column>
                <dxi-column dataField="title" caption="Name">
                  <dxi-validation-rule type="required" message="Flag Title is required"></dxi-validation-rule>
                </dxi-column> 
                <dxi-column dataField="flagEffectTypeId" caption="Effect By">
                    <dxo-lookup [dataSource]="flagEffecttypes" displayExpr="name" valueExpr="flagEffectTypeId">
                    </dxo-lookup> 
                  </dxi-column>
                  <dxi-column dataField="flagValueId" caption="Flag Value">
                      <dxo-lookup [dataSource]="flagvalue" displayExpr="value" valueExpr="flagValueId">
                      </dxo-lookup> 
                      <dxi-validation-rule type="required" message="Flag Value is required"></dxi-validation-rule>
                    </dxi-column>
                <dxi-column dataType="boolean" dataField="isActive" caption ="Is Active"></dxi-column>   
              </dx-data-grid>
            </div>
            </div>
          </div>
        </div>
 