<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Attendance Flag</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer"
               [dataSource]="attendanceflag"
               keyExpr="attendanceFlagId"
               (onRowInserted)="addattendanceflag($event)" 
               (onRowUpdated)="updateattendanceflag($event)"
               (onRowRemoved)="deleteattendanceflag($event)">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                  <dxo-popup title="Attendance Flag" [showTitle]="true" [width]="700" [height]="345" [position]="{ my: 'center', at: 'center', of: window }">
                  </dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="6"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager> 
                <dxi-column dataField="flagCategoryId" caption="Flag Category">
                  <dxo-lookup [dataSource]="attendancesetupservice?.flagCategory" displayExpr="name" valueExpr="flagCategoryId">
                  </dxo-lookup> 
                </dxi-column>
                <dxi-column dataField="title" caption="Name"></dxi-column> 
                <dxi-column dataField="flagEffectTypeId" caption="Effect By">
                    <dxo-lookup [dataSource]="attendancesetupservice?.flagEffecttype" displayExpr="name" valueExpr="flagEffectTypeId">
                    </dxo-lookup> 
                  </dxi-column>
                  <dxi-column dataField="flagValueId" caption="Flag Value">
                      <dxo-lookup [dataSource]="attendancesetupservice?.flagvalue" displayExpr="value" valueExpr="flagValueId">
                      </dxo-lookup> 
                    </dxi-column>
                <dxi-column dataType="boolean" dataField="isActive" caption ="Is Active"></dxi-column>   
              </dx-data-grid>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 