<div class="m-content">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                 Shift
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
  
            <form [formGroup]="ShiftForm"> 

               <div class="form-group m-form__group row">
                    <!-- <div class="col-lg-6">
                      <label>
                      Shift Code:
                      </label>
                      <input type="text" class="form-control m-input" formControlName="ShiftCode" placeholder="0">
                    </div> -->
                    <div class="col-lg-6">
                      <label class="">
                       Shift Title:
                      </label>
                      <input type="text" class="form-control m-input" formControlName="ShiftTitle" placeholder="Shift Title" [ngClass]="{ 'is-invalid': submitted && f.ShiftTitle.errors }">
                      <div *ngIf="submitted && f.ShiftTitle.errors" class="invalid-feedback">
                        <div *ngIf="f.ShiftTitle.errors.required">Shift Title is required</div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <label class="">
                        Shift Hour:
                      </label>
                      <input type="number" class="form-control m-input" formControlName="ShiftHours" placeholder="00">
                    </div>
                  </div>
  
                  <div class="form-group m-form__group row">
                      <div class="col-lg-6">
                        <label>
                        Start Time:
                        </label>
                        <input type="time" class="form-control m-input" [value]="shift?.startTime | date : 'HH:mm a' || ''" formControlName="StartTime" [ngClass]="{ 'is-invalid': submitted && f.StartTime.errors }">
                        <!-- <dx-date-box formControlName="StartTime" type="time" displayFormat="hh:mm a" width="100%"></dx-date-box> -->
                        <div *ngIf="submitted && f.StartTime.errors" class="invalid-feedback">
                          <div *ngIf="f.StartTime.errors.required">Start Time is required</div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <label class="">
                         End Time:
                        </label>
                        <input type="time" class="form-control m-input" formControlName="EndTime" placeholder="00:00" [ngClass]="{ 'is-invalid': submitted && f.EndTime.errors }">
                        <div *ngIf="submitted && f.EndTime.errors" class="invalid-feedback">
                          <div *ngIf="f.EndTime.errors.required">End Time is required</div>
                        </div>
                        <!-- <dx-date-box formControlName="EndTime" displayFormat="shortTime"  type="datetime" width="100%"></dx-date-box> -->
                      </div>
                    </div>
  
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                          <label>
                          Grace Time:
                          </label>
                          <!-- <input type="time" class="form-control m-input" formControlName="GraceTime" placeholder="00:00"> -->
                          <dx-date-box displayFormat="shortTime"  type="datetime" formControlName="GraceTime" width="100%"></dx-date-box>
                        </div>
                        <div class="col-lg-6">
                          <label class="">
                          is Multiple Day Shift:
                          </label>
                          <div class="m-checkbox-list">
                              <label class="m-checkbox m-checkbox--state-success">
                                <input type="checkbox" formControlName="IsMultiple"> 
                                <span></span>
                              </label>
                            </div>
                        </div>
                      </div>

                      <div class="form-group m-form__group row">
                          <div class="col-lg-6">
                            <label>
                            Overtime Start Time:
                            </label>
                            <dx-date-box formControlName="OverTimeStartTime" displayFormat="shortTime"  type="datetime" width="100%"></dx-date-box>
                            <!-- <input type="time" class="form-control m-input" formControlName="OverTimeStartTime" placeholder="00:00"> -->
                          </div>
                          <div class="col-lg-6">
                            <label class="">
                            Minimum Over Time:
                            </label>
                            <!-- <dx-date-box formControlName="MinimumOverTime" displayFormat="shortTime"  type="datetime" width="100%"></dx-date-box> -->
                            <input type="number" class="form-control m-input" formControlName="MinimumOverTime" placeholder="00">
                          </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                              <label>
                                  In Time Shift Threshold:
                              </label>
                              <!-- <input type="time" class="form-control m-input" formControlName="InTimeShiftThreshold" placeholder="00:00"> -->
                              <dx-date-box formControlName="InTimeShiftThreshold" displayFormat="shortTime" type="datetime" width="100%"></dx-date-box>
                            </div>
                            <div class="col-lg-6">
                              <label class="">
                                  Out Time Shift Threshold:
                              </label>
                              <!-- <input type="time" class="form-control m-input" formControlName="OutTimeShiftThreshold" placeholder="00:00"> -->
                              <dx-date-box formControlName="OutTimeShiftThreshold" displayFormat="shortTime" type="datetime" width="100%"></dx-date-box>
                            </div>
                          </div>
                          
                        <div class="form-group m-form__group row">
                          <div class="col-lg-6">
                            <label>
                               OverTime Rate:
                            </label>
                            <input type="number" class="form-control m-input" formControlName="OverTimeRate" placeholder="0">
                          </div>
                          <div class="col-lg-6">
                            <label class="">
                             Description:
                            </label>
                            <input type="text" class="form-control m-input" formControlName="Description" placeholder="Description">
                          </div>
                        </div>
            </form>
 
            <div class="m--space-30"></div>
            <div class="row">
              <div class="col-xl-12">
                <div class="m-portlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Attendance Flag</h3>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-section">
                      <div class="m-section__content">
                        <dx-data-grid id="gridContainer"
                        [dataSource]="Flag" 
                         (onRowInserted)="addAttendanceFlag($event)"
                         (onRowUpdated)="updateAttendanceFlag($event)">
                          <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                          </dxo-editing>
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
          
                          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                          <dxo-paging [pageSize]="6"></dxo-paging>
                          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                          </dxo-pager>  
                          <dxi-column dataField="attendanceFlagId" caption="Attendance Flag">
                              <dxo-lookup [dataSource]="attendanceflag" displayExpr="title" valueExpr="attendanceFlagId">
                              </dxo-lookup>
                            </dxi-column> 
                          <dxi-column dataField="fromTime" dataType="datetime" format="shortTime"> </dxi-column>
                          <dxi-column dataField="toTime" dataType="datetime" format="shortTime"> </dxi-column>
                          <dxi-column dataField="flagTypeId" caption="Flag Type">
                              <dxo-lookup [dataSource]="flagType" displayExpr="name" valueExpr="flagTypeId">
                              </dxo-lookup>
                            </dxi-column>
                          <dxi-column dataField="noOfHours" caption="No of Hours"></dxi-column>
                        </dx-data-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="m--space-30"></div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                      <div *ngIf="isUpdate(); else create">
                          <button class="btn btn-primary" (click)="update(ShiftForm.value)">
                              Update
                            </button>        
                      </div> 
                      <ng-template #create>
                    <button type="reset" class="btn btn-brand" (click)="addshift(ShiftForm.value)">
                      Submit
                    </button>
                  </ng-template> 
                  </div>
                  <div class="col-lg-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
   
    