<div class="m-content">

    <div class="row">
      <div class="col-md-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                 Shift
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
  
            <form [formGroup]="ShiftForm"> 

               <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                      <label>
                      Shift Code:
                      </label>
                      <input type="text" class="form-control m-input" formControl="ShiftCode" placeholder="0">
                    </div>
                    <div class="col-lg-6">
                      <label class="">
                       Shift Title:
                      </label>
                      <input type="text" class="form-control m-input" formControl="ShiftTitle" placeholder="Shift Title">
                    </div>
                  </div>
  
                  <div class="form-group m-form__group row">
                      <div class="col-lg-6">
                        <label>
                        Start Time:
                        </label>
                        <input type="text" class="form-control m-input" formControl="StartTime" placeholder="00:00">
                      </div>
                      <div class="col-lg-6">
                        <label class="">
                         End Time:
                        </label>
                        <input type="text" class="form-control m-input" formControl="EndTime" placeholder="00:00">
                      </div>
                    </div>
  
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                          <label>
                          Grace Time:
                          </label>
                          <input type="text" class="form-control m-input" formControl="GraceTime" placeholder="00:00">
                        </div>
                        <div class="col-lg-6">
                          <label class="">
                          IS Multiple Day Shift:
                          </label>
                          <div class="m-checkbox-list">
                              <label class="m-checkbox m-checkbox--state-success">
                                <input type="checkbox"> 
                                <span></span>
                              </label>
                            </div>
                        </div>
                      </div>

                      <div class="form-group m-form__group row">
                          <div class="col-lg-6">
                            <label>
                            Overtime Start Time:
                            </label>
                            <input type="text" class="form-control m-input" formControl="OverTimeStartTime" placeholder="00:00">
                          </div>
                          <div class="col-lg-6">
                            <label class="">
                            Minimum Over Time:
                            </label>
                            <input type="text" class="form-control m-input" formControl="MinimumOverTime" placeholder="00:00">
                          </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <div class="col-lg-6">
                              <label>
                                  In Time Shift Threshold:
                              </label>
                              <input type="text" class="form-control m-input" formControl="InTimeShiftThreshold" placeholder="00:00">
                            </div>
                            <div class="col-lg-6">
                              <label class="">
                                  Out Time Shift Threshold:
                              </label>
                              <input type="text" class="form-control m-input" formControl="OutTimeShiftThreshold" placeholder="00:00">
                            </div>
                          </div>


                  <div class="form-group m-form__group row">
                      <div class="col-lg-12">
                      
                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                          <th>Attendance Flag</th>
                          <th>Add</th>
                          <th>Delete</th>
                          <tr>
                            <td>
                                <select class="form-control m-input" formControl="AttendanceFlagId" id="">
                                    <option value="" disabled selected>-- Select Attendance Flag --</option>
                                    <option *ngFor ="let flag of attendancesetupservice?.attendanceflag" [value]="flag.attendanceFlagId">{{flag.title}}</option>
                                  </select>
                            </td>
                            <td>   <button class="btn btn-info" type="button" (click)="addFieldValue()">Add </button></td>
                            <td>   <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                          </tr>
                          <tr *ngFor="let field of fieldArray; let i = index">
                              <td>
                                  <select class="form-control m-input" formControl="AttendanceFlagId" id="">
                                      <option value="" disabled selected>-- Select Attendance Flag --</option>
                                      <option *ngFor ="let flag of attendancesetupservice?.attendanceflag" [value]="flag.attendanceFlagId">{{flag.title}}</option>
                                    </select>
                              </td>
                              <td>   <button class="btn btn-info" type="button" (click)="addFieldValue()">Add </button></td>
                              <td>   <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                            </tr>
                        </table>
                      </div> 
                    </div>
   
            </form>
          </div>
        </div>
      </div>
    </div> 
    </div>
    