<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Test Type</h3>
      </div>
    </div>
  </div>


<div class="m-portlet__body">
<div class="row">
  <div class="col-md-12"> 
    <dx-data-grid id="gridContainer" [dataSource]="TestTypes" keyExpr="testTypeId" (onRowInserted)="AddTestType($event)" (onRowUpdating)="UpdateModel($event)" (onRowUpdated)="UpdateTestType()" (onRowRemoved)="DeleteTestType($event)"> 
      <dxo-editing  mode="row" [allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
      </dxo-editing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
      <dxi-column dataField="name" caption="Name"></dxi-column>
      <dxi-column dataField="description" caption="Description"></dxi-column>
      </dx-data-grid> 
   </div>

   
</div>
</div></div>