<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
          <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                          <div class="m-portlet__head-title">
                              <h3 class="m-portlet__head-text">
                                  Khawaja Mujtaba
                                  <small class="pad_15">
                                      <a href="#" class="m-link">
                                          Edit
                                      </a>
                                        
                                    <a href="#" class="m-link pad_8">
                                            Contact Info
                                              </a>
                                    </small>
                                  <br>
                                  <small>
                                      Male 16 Year(s)  (02-Sep-2001)
                                  </small>   
                              </h3> 
                            
                          </div>
                          
                      </div>
                  <div class="m-portlet__head-tools">
                      <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                          
                          <li class="nav-item m-tabs__item">
                              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab">
                                  Patient Id
                              </a>
                          </li>
                          <li class="nav-item m-tabs__item">
                                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab">
                                  548HTU
                                  </a>
                              </li>
                      </ul> 
                  </div> 
          </div> 
  </div>

  <div class="row">
    <div class="col-lg-12">
      <!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
                <h3 class="m-portlet__head-text">
                   Daily Procedure Sheet Master
                </h3>
            </div>
          </div>
        </div>
          <!--begin::Form-->
          <form class="m-form">
              <div class="m-portlet__body">
                
                  <div class="form-group row">
                      <div class="form-group col-lg-4">
                          <label for="exampleInputEmail1">
                              Doc No
                          </label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Return No">
                      </div>
                      <div class="form-group col-lg-4">
                          <label for="exampleInputEmail1">
                              Issue Date
                            </label>
                          <div class="input-group date">
                              <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_2">
                              <div class="input-group-append">
                                  <span class="input-group-text">
                                      <i class="la la-calendar"></i>
                                  </span>
                              </div>
                           </div>
                      </div>
                      <div class="form-group  col-lg-4 blankinput">
                          <div  class="m--align-right blankinput">
                            <button class="btn btn-success blankinput" type="submit"> <i class="la la-archive"></i> </button> | 
                            <button  class="btn btn-success blankinput" type="submit"><i class="la la-paperclip"></i> </button>
                          </div>
                      </div>
                  </div>
              </div>

          </form>
          <!--end::Form-->
      </div>
      <!--end::Portlet-->
    </div>
  </div>
  

  <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Daily Procedure Sheet Detail</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content" >
                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand tblheader">
                  <thead>
                    <tr>
                      <th scope="row">Nature</th>
                      <th>Gender</th>
                      <th>File No</th>
                      <th>Patient Name</th>
                      <th>Time</th>
                      <th>Id</th>
                      <th>Consultant</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                          <select  class="form-control m-input m-input--solid" id="exampleSelect1">
                            <option >  </option>
                          </select>
                      </th>
                      <td>
                        <select  class="form-control m-input m-input--solid" id="exampleSelect1">
                          <option > Male </option>
                          <option > Female </option>
                        </select>
                      </td>
                      <td>002</td>
                      <td>Zeeshan</td>
                      <td>12:40</td>
                      <td>17199</td>
                      <td>Abc</td>
                      <td>
                        <select  class="form-control m-input m-input--solid" id="exampleSelect1">
                            <option >  </option>
                        </select>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group row">
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                           Procedure
                        </label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                        </label>
                        <input type="text" class="form-control m-input m-input--solid blankinput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>
                    <div class="form-group col-lg-4">
                      <label  for="exampleInputEmail1"> DoneBy Nature </label>
                      <select class="form-control m-input m-input--solid" id="exampleSelect1">
                        <option >  </option>
                      </select>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                           Done By
                        </label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                        </label>
                        <input type="text" class="form-control m-input m-input--solid blankinput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>
                    <div class="form-group col-lg-4">
                      <label  for="exampleInputEmail1"> Anestetic </label>
                      <input type="text" class="form-control m-input m-input--solid " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>

                </div>

                <div class="form-group row">
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                           Remarks
                        </label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>

                    <div class="form-group col-lg-8">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                           Create By
                        </label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Procedure">
                    </div>
                    <div class="form-group col-lg-4">
                      </div>
                    <div class="form-group col-lg-4">
                        <label for="exampleInputEmail1">
                            Create Date / Time
                         </label>
                         <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly="" placeholder="Select date &amp; time" id="m_datetimepicker_2">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o glyphicon-th"></i>
                              </span>
                            </div>
                          </div> 
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>