<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Attendance Rules
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="AttendanceRuleForm"> 
            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                 Group:
                </label>
                <select class="form-control m-input" formControl="GroupId" id="">
                    <option value="" disabled selected>-- Select Group --</option>
                    <option *ngFor ="let group of hrsetupservice?.group" [value]="group.groupId" >{{group.name}}</option>
           </select>
              </div>
              <div class="col-lg-6">
                <label class="">
                  Attendance Flag:
                </label> 
                    <select class="form-control m-input" formControl="AttendanceFlagId" id="">
                        <option value="" disabled selected>-- Select Attendance Flag --</option>
                        <option *ngFor ="let flag of attendancesetupservice?.attendanceflag" [value]="flag.groupId" >{{flag.title}}</option>
               </select>
              </div>
            </div>


            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                  <label>
                   Action:
                  </label>
                  <select class="form-control m-input" id="" formControl="Action">
                      <option value="" disabled selected>-- Select Action --</option>
                      <option> Deduction of Leaves Based On Flag Count </option>
                      <option> Deduction of Leaves Based On Flag Count </option>
          </select>
                </div>
                <div class="col-lg-6">
                  <label class="">
                   Effect Frequency:
                  </label>
                  <select class="form-control m-input" id="" formControl="EffectFrequency">
                      <option value="" disabled selected>-- Select Effect Frequency --</option>
                      <option> Once </option>
                      <option> Once 1 </option>
          </select>
                </div>
              </div>

              <div class="form-group m-form__group row">
                  <div class="col-lg-6">
                    <label>
                     Flag Count:
                    </label>
                    <input type="email" class="form-control m-input" formControl="FlagCount" placeholder="0">
                  </div>
                  <div class="col-lg-6">
                    <label class="">
                     Exempt Flag Count:
                    </label>
                    <input type="email" class="form-control m-input" formControl="ExemptFlagCount" placeholder="0">
                  </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                      <label>
                      Exempt Minutes:
                      </label>
                      <input type="email" class="form-control m-input" formControl="ExemptMinutes" placeholder="0">
                    </div>
                    <div class="col-lg-6">
                      <label class="">
                      Conditional Exemption:
                      </label>
                      <select class="form-control m-input" id="" formControl="ConditionalExemption">
                          <option value="" disabled selected>-- Select Conditional Exemption --</option>
                          <option> Conditional Exemption 1 </option>
                          <option> Conditional Exemption 2 </option>
                          <option> Conditional Exemption 3 </option>
                        </select>
                    </div>
                  </div>

                  
              <div class="form-group m-form__group row">
                  <div class="col-lg-6">
                    <label>
                     Effect Quantity:
                    </label>
                    <input type="email" class="form-control m-input" formControl="EffectQuantity" placeholder="0">
                  </div>
                  <div class="col-lg-6">
                    <label class="">
                    Effect Type:
                    </label>
                    <select class="form-control m-input" id="" formControl="EffectType">
                        <option value="" disabled selected>-- Select Effect Type --</option>
                        <option> Negative </option>
                        <option> Positive </option> 
                      </select>
                  </div>
                </div>

                <div class="form-group m-form__group row">
                    <div class="col-lg-12">
                      <label>
                       Leave Detail(s):
                      </label>
                    
                      <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                        <th>Leave</th>
                        <th>Add</th>
                        <th>Delete</th>
                        <tr>
                          <td>
                              <select (change)="getLeaves($event)" class="form-control m-input" formControl="LeaveTypeId" id="">
                                  <option value="" disabled selected>-- Select Leave Type --</option>
                                  <option *ngFor ="let leavetype of leavesetupservice?.leavetype" [value]="leavetype.leaveTypeId">{{leavetype.title}}</option>
                        
                                </select>
                          </td>
                          <td>   <button class="btn btn-info" type="button" (click)="addFieldValue()">Add More</button></td>
                          <td>   <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                        </tr>
                        <tr *ngFor="let field of fieldArray; let i = index">
                            <td>
                                <select class="form-control m-input" formControl="LeaveTypeId" id="">
                                    <option value="" disabled selected>-- Select Leave Type --</option>
                                    <option *ngFor ="let leavetype of leavesetupservice?.leavetype" [value]="leavetype.leaveTypeId">{{leavetype.title}}</option>
                          
                                  </select>
                            </td>
                            <td>   <button class="btn btn-info" type="button" (click)="addFieldValue()">Add More</button></td>
                            <td>   <button class="btn btn-danger"  type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                          </tr>
                      </table>
                    </div> 
                  </div>
 
          </form>
        </div>
      </div>
    </div>
  </div> 
  </div>
  