<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Employees</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
  <dx-data-grid id="gridContainer" [dataSource]="emp" [showBorders]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
    keyExpr="userId">
    <!-- (onRowInserted)="addNewreligion($event)"
  (onRowUpdating)="updatereligion($event)"
  (onRowRemoving)="deletereligion($event)" -->
    <dxo-editing mode="popup" [allowDeleting]="true" useicon="true">
    </dxo-editing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <dxo-paging [pageSize]="6"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
    </dxo-pager>
    <dxi-column dataField="firstName"></dxi-column>
    <dxi-column dataField="lastName"></dxi-column>
    <dxi-column dataField="fatherName"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="cnic"></dxi-column>
    <!-- <dxi-column dataField="designation"></dxi-column>
    <dxi-column dataField="department"></dxi-column> -->
    <dxi-column caption="Edit" cellTemplate="chartCellTemplate"> </dxi-column>
    <div *dxTemplate="let d of 'chartCellTemplate'">
      <div class="chart-cell">
        <dx-button (click)="onupdate()" text="edit">
        </dx-button>
      </div>
    </div>

  </dx-data-grid>

</div>
</div>
</div>
</div>
</div>
