

<div class="m-content">
	<div class="row">
			<div class="col-xl-12">
				<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">Stop Salary</h3>
					</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-section">
					<div class="m-section__content" >
						<dx-data-grid id="gridContainer" [dataSource]="StopSalary"
						keyExpr="stopSalaryId" 
							(onSelectionChanged)="selectionChanged($event)"
							(onContentReady)="contentReady($event)" 
							[masterDetail]="{ enabled: true, template: 'detail' }"
							[columnAutoWidth]="true" 
							 [showBorders]="true"> 

							<!-- <dxo-selection mode="single"></dxo-selection> -->
							<dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">	
							</dxo-editing>
							<dxo-filter-row [visible]="true"></dxo-filter-row>
							<dxo-header-filter [visible]="true"></dxo-header-filter>
							<dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
							<dxo-paging [pageSize]="8"></dxo-paging>
							<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
				
							<dxi-column dataField="payrollTypeId" caption="Payroll Type">
									<dxo-lookup [dataSource]="PayrollType" displayExpr="name" valueExpr="payrollTypeId">
									</dxo-lookup>
								</dxi-column> 

								<!-- <dxi-column dataField="action" caption="Action">
								<dx-lookup [dataSource]="lookupDataSource">
								</dx-lookup> 
								</dxi-column> -->

							<dxi-column dataField="action" caption="Action"></dxi-column>
							<dxi-column dataField="from" caption="From" dataType="date" format="shortdate"></dxi-column> 
							<dxi-column dataField="till" caption="Till" dataType="date" format="shortdate"></dxi-column> 
							<dxi-column dataField="remarks" caption="Remarks"></dxi-column>  
							<dxi-column caption="Employee" cellTemplate="chartCellTemplate" ></dxi-column>
							<div *dxTemplate="let d of 'chartCellTemplate'">
									<div class="chart-cell">
										<dx-button text="Select User" (onClick)="showInfo(employee)"></dx-button>
									</div>
								</div> 
							<div *dxTemplate="let x of 'detail'">
									<dx-data-grid [dataSource]="x.data.userStopSalaries" [showBorders]="true">
										<dxo-paging [pageSize]="7"></dxo-paging>
										<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
										</dxo-pager>
									 <dxi-column dataField="userId" caption="Users">
										<dxo-lookup [dataSource]="employee" displayExpr="fullName" valueExpr="userId">
										</dxo-lookup>
									  </dxi-column> 
									  </dx-data-grid>
							  </div>
							  <div *dxTemplate="let stopsalary of 'detail'">
									<dx-data-grid [dataSource]="stopsalary.data.userStopSalaries" [showBorders]="true">
										<dxi-column dataField="userId" caption="Employees">
											<dxo-lookup [dataSource]="employee" displayExpr="fullName" valueExpr="userId">
											</dxo-lookup>
											</dxi-column>
										</dx-data-grid>
								</div>
						</dx-data-grid> 
						<dx-popup
						class="popup"
						[width]="1100"
						[height]="550"
						[showTitle]="true"
						title="Select Employees"
						[dragEnabled]="false"
						[closeOnOutsideClick]="true"
						[(visible)]="popupVisible">
						<div *dxTemplate="let data of 'content'">
							 
							<dx-data-grid id="gridContainer"
							[dataSource]="employee"
							keyExpr="userId"
							[(selectedRowKeys)]="selectedRows"
							(onSelectionChanged)="selectionChangedHandler($event)">
							<dxo-selection mode="multiple"></dxo-selection>
				  
							 <dxo-filter-row [visible]="true"></dxo-filter-row>
							 <dxo-header-filter [visible]="true"></dxo-header-filter>
			 
							 <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
							 <dxo-paging [pageSize]="5"></dxo-paging>
							 <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
							 </dxo-pager> 
							 <dxi-column dataField="fullName" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column> 
						   </dx-data-grid>
						   <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
							  <div class="m-form__actions m-form__actions--solid">
								<div class="row">
								  <div class="col-lg-4"></div>
								  <div class="col-lg-4">
									<button class="btn btn-success"  (click)="addselecteduser()">
									  Submit
									</button> 
								  </div>
								  <div class="col-lg-4"></div>
								</div>
							  </div>
							</div>
						</div>
					</dx-popup>
					</div>
					</div>
				</div>
				</div>
			</div>
	</div>
</div>




