 
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Overtime Type</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content">
                <dx-data-grid id="gridContainer"
                 [dataSource]="overtimetype"
                 keyExpr="overTimeTypeId"
                 (onRowInserted)="addovertimetype($event)" 
                 (onRowUpdating)="updatingOvertimetype($event)"
                 (onRowUpdated)="updateOvertimetype()"
                 (onRowRemoved)="deleteovertimetype($event)">
                  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                    <dxo-popup title="Overtime Type" [showTitle]="true" [width]="700" [height]="345">
                    </dxo-popup>
                  </dxo-editing>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>
  
                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                  <dxo-paging [pageSize]="6"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                  </dxo-pager> 
                  <dxi-column dataField="overtimeFlagId" caption="Overtime Flag">
                    <dxo-lookup [dataSource]="overtimeflag" displayExpr="name" valueExpr="overtimeFlagId">
                    </dxo-lookup> 
                  </dxi-column>
                  <dxi-column dataField="title"></dxi-column> 
                  <dxi-column dataType="boolean" dataField="active" caption="Active"></dxi-column> 
                </dx-data-grid>
              </div>
              </div>
            </div>
          </div>
 