<div class="m-content">
    <div class="row">
  
      <div class="col-lg-3">
  
  
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Employee Registration
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body" style="padding: 0px !important;">
            <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
              <div class="m-demo__preview">
                <ul class="m-nav nav nav-tabs">
                  <li class="m-nav__item" *ngFor="let tab of tabs;"> 
                    <a class="m-nav__link" (click)="selectedTab = tab" href="#{{tab}}" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                        {{tab}}
                      </span>
                    </a> 
                      <!-- <a class="m-nav__link" (click)="selectedTab = tab" href="#{{tab}}" data-toggle="tab">
                        <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                        <span class="m-nav__link-text">
                          {{tab}}
                        </span>
                      </a>  -->
                  </li>
                
                </ul>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
  
  
      <div class="col-lg-9">
        <div class="m-portlet">
          <div class="m-portlet__body">
            <div class="tab-content">  
            <div class="tab-pane active" id="BInformation" *ngIf="selectedTab === tabs[0]" id="{{selectedTab}}">
              <app-basicinformation [employeeId]="id" (updateMessage)='displayToast($event)'></app-basicinformation>
             </div>  
            <!-- <div class="tab-pane" id="PPicture" *ngIf="id"><app-profilepic [employeeId]="id"></app-profilepic></div> -->
              <div class="tab-pane" id="EmployeeCInfo" *ngIf="selectedTab === tabs[1]" id="{{selectedTab}}">
                <app-employeecompany [employeeId]="id" (updateMessage)='displayToast($event)'></app-employeecompany>
              </div>
              <div class="tab-pane" id="EQualification" *ngIf="selectedTab === tabs[2]" id="{{selectedTab}}">
                  <app-employeequalification [employeeId]="id"></app-employeequalification>
                </div>
                <div class="tab-pane" id="WExperience"*ngIf="selectedTab === tabs[3]" id="{{selectedTab}}">
                    <app-experience [employeeId]="id"></app-experience>
                  </div>
              <div class="tab-pane" id="EDependants" *ngIf="selectedTab === tabs[4]" id="{{selectedTab}}">
                <app-emergencycontact [employeeId]="id"></app-emergencycontact>
              </div>
              <div class="tab-pane" id="EBankAc" *ngIf="selectedTab === tabs[5]" id="{{selectedTab}}">
                <app-employeebank [employeeId]="id"></app-employeebank>
              </div>
              <div class="tab-pane" id="Social" *ngIf="selectedTab === tabs[6]" id="{{selectedTab}}">
                  <app-social [employeeId]="id" (updateMessage)='displayToast($event)'></app-social>
                </div>
              <!-- <div class="tab-pane" id="Documents" *ngIf="id"><app-document [employeeId]="id"></app-document></div> -->
            </div>
          </div>
         
        </div>
      </div>
  
  
    </div>
  </div>