<div class="m-content">

  <div class="row">
    <div class="col-sm-12">

      <div class="m-portlet m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="flaticon-profile"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Stores Edit
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form [formGroup]="form" (submit)="submit(form.value)">
            <div class="row">
              <div class="col-sm-10">
                <div class="row">
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Shop Name</label>
                    <input class="form-control m-input m-input--solid" formControlName='ShopName'
                      [value]='shop?.shopName'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Shop Keeper</label>
                    <input class="form-control m-input m-input--solid" fromControlName='ShopKeeper'
                      [value]='shop?.shopKeeper'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Contact No</label>
                    <input class="form-control m-input m-input--solid" fromControlName='ContactNo'
                      [value]='shop?.contactNo'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">landline</label>
                    <input class="form-control m-input m-input--solid" fromControlName='Landline'
                      [value]='shop?.landline'>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Address</label>
                    <input class="form-control m-input m-input--solid" fromControlName='Address'
                      [value]='shop?.address'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Street</label>
                    <input class="form-control m-input m-input--solid" formControlName='Street' [value]='shop?.street'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">City</label>
                    <input class="form-control m-input m-input--solid" formControlName='City' [value]='shop?.city'>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">landMark</label>
                    <input class="form-control m-input m-input--solid" formControlName='Landmark'
                      [value]='shop?.landmark'>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Subsection</label>
                    <dx-select-box [items]="subsections" [searchEnabled]="true" displayExpr='name'
                      formControlName='SubsectionId' [value]='shop?.subsectionId' valueExpr='subsectionId'>
                    </dx-select-box>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Category</label>
                    <dx-select-box [items]="shopCategories" [searchEnabled]="true" formControlName='Category'
                      [value]='shop?.category'>
                    </dx-select-box>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">Classification</label>
                    <dx-select-box [items]="shopClassifications" [searchEnabled]="true" formControlName='Classification'
                      [value]='shop?.classification'>
                    </dx-select-box>
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="exampleInputEmail1">CNIC</label>
                    <input class="form-control m-input m-input--solid" formControlName='CNIC' [value]='shop?.cnic'>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-3">
                    <div class="m-form__group form-group">
                      <label for="">
                        Store Status
                      </label>
                      <div class="m-radio-inline">
                        <label class="m-radio">
                          <input type="radio" [value]="shop?.activeStatus" formControlName="ActiveStatus">
                          Active
                          <span></span>
                        </label>
                        <label class="m-radio">
                          <input type="radio" [value]="!shop?.activeStatus" formControlName="ActiveStatus">
                          Inactive
                          <span></span>
                        </label>

                      </div>

                    </div>
                  </div>
                  <div class=" col-sm-4">
                    <button type="submit" class="btn btn-success"><span>
                        <span>
                          Update
                        </span>
                      </span></button>
                  </div>
                </div>

              </div>
              <div class="col-sm-2">
                <div class="row">
                  <div class="form-group col-lg-12">
                    <div class="m-form__group form-group">
                      <label for="">
                        Select Days
                      </label>
                      <div class="m-checkbox-list">
                        <label *ngFor="let day of pjp; let i=index" class="m-checkbox">
                          <input type="checkbox" [checked]='day.selected' (change)='addRemoveVisitDay($event, i)' />
                          {{pjp[i].day}}
                          <span></span>
                        </label>
                      </div>

                    </div>
                  </div>

                </div>


              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>