

<div class="m-content">
  <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">Biochemistry (On Treatment)</h3>
          </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
          <div class="m-section__content" >
            <div class="row">
              <div class="col-sm-4"><div class="form-group m-form__group row">
                <label for="example-text-input" class="col-3 col-form-label">
                  Text
                </label>
                <div class="col-9">
                  <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div></div>
              <div class="col-sm-4"><div class="form-group m-form__group row">
                <label for="example-text-input" class="col-2 col-form-label">
                  Text
                </label>
                <div class="col-10">
                  <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div></div>
              <div class="col-sm-4"><div class="form-group m-form__group row">
                <label for="example-text-input" class="col-2 col-form-label">
                  Text
                </label>
                <div class="col-10">
                  <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
                </div>
              </div></div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>





