<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Biochemistry (On Treatment)</h3>
            </div>
          </div>
        </div>

        <div class="m-portlet__body">
          <form [formGroup]="bioChemistryontreatmentForm">
            <div class="m-section">
              <div class="m-section__content">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        MRN No.
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        [value]="patient?.mrn" disabled>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Date
                      </label>
                      <dx-date-box [value]="bioChemistry?.collectionDate" formControlName="CollectionDate">
                      </dx-date-box>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        LMP
                      </label>
                      <dx-date-box type="date" [value]="bioChemistry?.lmp" formControlName="LMP">
                      </dx-date-box>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="m-form__group form-group">
                      <div class="m-checkbox-list">
                        <label>
                          Select Random
                        </label>
                        <label class="m-checkbox m-checkbox--solid m-checkbox--state-brand">
                          <input type="checkbox" [value]="bioChemistry?.isRandom" formControlName="IsRandom"> Random
                          <span></span>
                        </label>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Patient Name
                      </label>
                      <dx-select-box #patientcb [items]="patients" displayExpr="display" valueExpr="patientId" [value]="clinicalRecord?.patientId"
                        [searchEnabled]="true" [disabled]="true">
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Spouse
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        [value]="spouse?.display" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        DOB
                      </label>
                      <dx-date-box type="date" [value]="patient?.dob" [disabled]="true">
                      </dx-date-box>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Doctor
                      </label>
                      <dx-select-box [items]="consultants" displayExpr="name" valueExpr="consultantId" [value]="clinicalRecord?.consultantId"
                        [searchEnabled]="true" [disabled]="true">
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Other
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        [value]="bioChemistry?.Other" formControlName="Other">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Gender
                      </label>
                      <input type="text" class="form-control m-input" [value]="patient?.gender" disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Treatment#
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        [value]="clinicalRecord?.typewiseTreatmentNumber" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Cycle#
                      </label>
                      <input type="number" [value]="clinicalRecord?.cycleNumber" class="form-control m-input" id="exampleInputEmail1"
                        aria-describedby="emailHelp" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Treatment Type
                      </label>
                      <dx-select-box [items]="treatments" displayExpr="name" valueExpr="treatmentTypeId" [value]="clinicalRecord?.treatmentTypeId"
                        [searchEnabled]="true" [disabled]="true">
                      </dx-select-box>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                    <h4>Biochemistry Details</h4>
                    <dx-data-grid id="gridContainer" [dataSource]="testDetail" [allowColumnReordering]="true"
                      [showBorders]="true">

                      <dxo-paging [enabled]="true"></dxo-paging>
                      <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
                      </dxo-editing>

                      <dxi-column dataField="bioChemistryTestId" caption="Discription of Test">
                        <dxo-lookup [dataSource]="tests" displayExpr="description" valueExpr="bioChemistryTestId">
                        </dxo-lookup>
                      </dxi-column>
                      <dxi-column dataField="testUnitId" caption="Unit">
                        <dxo-lookup [dataSource]="units" displayExpr="unit" valueExpr="testUnitId">
                        </dxo-lookup>
                      </dxi-column>
                      <dxi-column dataField="logicalOperator" caption="Logical Operator" [width]="125">
                      </dxi-column>
                      <dxi-column dataField="result"></dxi-column>
                      <dxi-column dataField="isRechecked" [width]="130" dataType="boolean"></dxi-column>
                      <dxi-column dataField="remarks" [width]="220"></dxi-column>

                    </dx-data-grid>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <!-- <div class="col-sm-10">
                    <div class="form-group m-form__group">
                      <label for="exampleTextarea col-sm-3">
                        Referance Range
                      </label>
                      <textarea class="form-control m-input col-sm-9" id="exampleTextarea" rows="3" [value]="bioChemistry?.refRange"
                        formControlName="RefRange"></textarea>
                    </div>
                  </div> -->
                  <div *ngIf="bioChemistry; else update" class="col-sm-2">
                    <button (click)="onUpdate(bioChemistryontreatmentForm.value)" class="btn btn-primary">
                      Update
                    </button>
                  </div>
                  <ng-template #update>
                    <div class="col-sm-2">
                      <button (click)="onsubmit(bioChemistryontreatmentForm.value)" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>