<div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Sales Invoice</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content">
                <form [formGroup]="salesInvoiceForm">
  
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <div class="form-group m-form__group">
                        <label>
                          Invoice Number
                        </label>
                        <input type="text" class="form-control m-input" [value]="SalesInvoice?.invoiceNumber" formControlName="InvoiceNumber" placeholder="0000">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Bill Number
                        </label>
                        <input type="text" class="form-control m-input" [value]="SalesInvoice?.billNumber" formControlName="BillNumber" placeholder="001">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Date
                        </label>
                        <dx-date-box formControlName="Date" type="date">
                        </dx-date-box>
                      </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <label>
                            Credit Days
                          </label>
                          <input type="number" class="form-control m-input" [value]="SalesInvoice?.creditDays" formControlName="CreditDays" placeholder="0">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <label>
                            Voucher Number
                          </label>
                          <input type="number" [value]="SalesInvoice?.voucherNumber" class="form-control m-input" formControlName="VoucherNumber" placeholder="0">
                        </div>
                      </div>
                  </div>
   
                  <div class="form-group row">
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Gst Amount
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.gstAmount" formControlName="GstAmount" placeholder="0">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Gst Percentage
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.gstPercentage" formControlName="GstPercentage" placeholder="0">
                      </div>
                    </div>
 
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Discount Amount
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.discountAmount" formControlName="DiscountAmount" placeholder="0">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Discount Percentage
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.discountPercentage" formControlName="DiscountPercentage" placeholder="0">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Tax Amount
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.taxAmount" formControlName="TaxAmount" placeholder="0">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Tax Percentage
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.taxPercentage" formControlName="TaxPercentage" placeholder="0">
                      </div>
                    </div>
     
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Wihtholding Tax Amount
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.wihtholdingTaxAmount" formControlName="WihtholdingTaxAmount" placeholder="0">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Withholding Tax Percentage
                        </label>
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.withholdingTaxPercentage" formControlName="WithholdingTaxPercentage" placeholder="0">
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group row">
                      <div class="col-sm-4">
                          <div class="form-group m-form__group">
                            <label>
                              Expenses
                            </label>
                            <input type="number" class="form-control m-input" [value]="SalesInvoice?.expenses" formControlName="Expenses" placeholder="0">
                          </div>
                        </div>
                    <div class="col-sm-4">
                      <div class="form-group m-form__group">
                        <label>
                          Sales Return
                        </label>
                        <select class="form-control m-input" formControlName="FinanceSalesReturnId" [value]="SalesInvoice?.totalAmount">
                          <option value="" disabled selected>-- Select Sales Return --</option>
                          <option *ngFor="let returnsale of SalesReturn" [value]="returnsale.financeSalesReturnId">{{returnsale.totalAmount}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group m-form__group">
                        <label >
                          Detail Account
                        </label>
                        <select class="form-control m-input" formControlName="DetailAccountId" [value]="SalesInvoice?.name">
                          <option value="" disabled selected>-- Select Detail Account --</option>
                          <option *ngFor="let detailAC of detailAccount" [value]="detailAC.detailAccountId">{{detailAC.name}}</option>
                        </select> </div>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="form-group m-form__group">
                        <label>
                          Description
                        </label>
                        <textarea class="form-control m-input" [value]="SalesInvoice?.description" formControlName="Description"></textarea>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-sm-8"></div>
                    <label class="col-form-label">
                      Total Amount:
                    </label>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group m--align-right">
                        <input type="number" class="form-control m-input" [value]="SalesInvoice?.totalAmount" formControlName="TotalAmount" placeholder="0">
                      </div>
                    </div>
                  </div>
                </form>
  
                <div class="m-separator m-separator--dashed m-separator--lg"></div>
                <div class="form-group row">
                  <h3> Sales Invoice Detail </h3>
                  <dx-data-grid id="gridContainer" keyExpr="FinanceSalesInvoiceDetailId" [dataSource]="[]" (onRowInserted)="addsalesInvoiceDetail($event)">
                    <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                    </dxo-editing>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
  
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxo-paging [pageSize]="8"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                    </dxo-pager>
  
                    <dxi-column dataField="amount" caption="Amount"></dxi-column>
                    <dxi-column dataField="itemDescription" caption="Item Description"></dxi-column>
                  </dx-data-grid>
                </div>
                <div class="m-separator"></div>
                <div class="form-group row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-4 m--align-right">
                    <button (click)="addsalesInvoice(salesInvoiceForm.value)" class="btn btn-primary">
                      Save
                    </button>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>