<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Salary Process
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form class="signup-form" [formGroup]="SalaryProcessForm">
            <div class="form-group m-form__group row">
              <div class="col-lg-3">
                <label>Payroll Year:</label>
                <select #s class="form-control m-input" formControlName="PayrollYearId">
                  <option value="" disabled selected>-- Select Payroll Year --</option>
                  <option *ngFor="let py of payrollYears" [value]="py.payrollYearId">{{py.name}}</option>
                </select>
              </div>

              <div class="col-lg-3">
                <label>Month:</label>
                <dx-date-box formControlName="MonthStartDate" displayFormat="month" type="date" width="100%"></dx-date-box>
              </div> 
              <div class="col-lg-3">
                <label></label>
                <button type="button"  class="btn btn-primary button_get">
                  Process  
                </button>
              </div> 
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>