<div class="m-content">
    <div class="row">
  
      <div class="col-lg-3">
  
  
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Logistic Setup
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body" style="padding: 0px !important;">
            <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
              <div class="m-demo__preview">
                <ul class="m-nav nav nav-tabs">
                  <li  class="m-nav__item">
                    <a class="m-nav__link" href="#Region" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                          Region</span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a class="m-nav__link" href="#Area" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                         Area
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a class="m-nav__link" href="#Territory" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                        Territory
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a class="m-nav__link" href="#Distributor" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                         Distributor
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                      <a class="m-nav__link" href="#SalesPerson" data-toggle="tab">
                        <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                        <span class="m-nav__link-text">
                           Sales Person
                        </span>
                      </a>
                    </li>
                </ul>
              </div>
            </div>
  
          </div>
        </div>
  
  
  
        <!-- required for floating -->
        <!-- Nav tabs -->
  
      </div>
  
  
  
      <div class="col-lg-9">
        <!-- Tab panes -->
        <div class="m-portlet">
          <div class="">
            <div class="tab-content">
            <div class="tab-pane active" id="Region"><app-region></app-region> </div>
              <div class="tab-pane" id="Area"><app-area></app-area></div>
              <div class="tab-pane" id="Territory"><app-territory></app-territory></div>
              <div class="tab-pane" id="Distributor"><app-distributor></app-distributor></div>
              <div class="tab-pane" id="SalesPerson">
                <div class="m-portlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Sales Person</h3>
                      </div>
                    </div>
                  </div>
                <div class="m-portlet__body">
                <div class="row">
                  <div class="col-md-12"> 
                      <dx-data-grid id="gridContainer" [dataSource]="SalesPeople" keyExpr="salesPersonId" (onEditorPreparing)="onEditorPreparing($event)" (onRowInserted)="AddSalesPerson($event)" (onRowUpdating)="UpdateModel($event)" (onRowUpdated)="UpdateSalesPerson($event)" (onRowRemoved)="DeleteSalesPerson($event)"> 
                          <dxo-editing  mode="popup"[allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">	
                            <dxo-popup title="Add Sales Person" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
                          </dxo-editing>
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
                          <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                          <dxo-paging [pageSize]="5"></dxo-paging>
                          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
                          <dxi-column dataField="firstName" caption="First Name"></dxi-column>
                          <dxi-column dataField="middleName" caption="Middle Name"></dxi-column>
                          <dxi-column dataField="lastName" caption="Last Name" [visible]="false"></dxi-column>
                          <dxi-column dataField="company" caption="Company" [visible]="false"></dxi-column>
                          <dxi-column dataField="fullName" caption="Full Name" [visible]="false"></dxi-column>
                          <dxi-column dataField="dOB" caption="DOB" [visible]="false" format="shortDate" dataType="date"></dxi-column>
                          <dxi-column dataField="placeOfBirth" caption="Place Of Birth" [visible]="false"></dxi-column>
                          <dxi-column dataField="occupation" caption="Occupation" [visible]="false"></dxi-column>
                          <dxi-column dataField="nIC" caption="CNIC" [visible]="false"></dxi-column>
                          <dxi-column dataField="gender" caption="Gender" [visible]="false"></dxi-column>
                          <dxi-column dataField="phoneNumber" caption="Phone Number" [visible]="false"></dxi-column>
                          <dxi-column dataField="remarks" caption="Remarks" [visible]="false"></dxi-column>
                          <dxi-column dataField="residenceAddress" caption="Residential Address" [visible]="false"></dxi-column>
                          <dxi-column dataField="officeAddress" caption="Office Address" [visible]="false"></dxi-column>
                          <dxi-column dataField="officeTel" caption="Office Phone Number" [visible]="false"></dxi-column>
                          <dxi-column dataField="foreignAddress" caption="Foreign Address" [visible]="false"></dxi-column>
                          <dxi-column dataField="country"caption="Country" [visible]="true"></dxi-column>
                          <dxi-column dataField="city" caption="City" [visible]="false"></dxi-column>
                          <dxi-column dataField="state" caption="State" [visible]="false"></dxi-column>
                          <dxi-column dataField="postalCode" caption="Postal Code" [visible]="false"></dxi-column>
                          <dxi-column dataField="areaId" caption="Area" [visible]="false" [setCellValue]="setAreaValue">
                            <dxo-lookup [dataSource]="Areas" valueExpr="areaId" displayExpr="name"></dxo-lookup>
                          </dxi-column>
                          <dxi-column dataField="territoryId" caption="Territory" [visible]="false" [setCellValue]="setTerritoryValue">
                            <dxo-lookup [dataSource]="getFilteredTerritories" valueExpr="territoryId" displayExpr="name"></dxo-lookup>
                          </dxi-column>
                          <dxi-column dataField="distributorId" caption="Distributor" [visible]="true">
                            <dxo-lookup [dataSource]="getFilteredDistributors" valueExpr="distributorId" displayExpr="name"></dxo-lookup>
                          </dxi-column>
                      </dx-data-grid> 
                  </div>
                </div>
                </div></div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
  
  
    </div>
  </div>