<div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                  <h3 class="m-portlet__head-text">
                     Good Receipt Note
                  </h3>
              </div>
            </div>
          </div>
            <!--begin::Form-->
            <form class="m-form" [formGroup]="GoodReceiptNoteForm">
                <div class="m-portlet__body">
                  
                    <div class="form-group row">
                        <div class="form-group col-lg-3">
                            <label>
                                Purchase Order Number
                            </label>
                            <input type="text" class="form-control m-input m-input--solid" #PurchaseOrderNumber (keyup)="GetSelectedPurchaseOrderDetails(PurchaseOrderNumber.value, $event)" formControlName="PurchaseOrderNumber">
                        </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Purchase Order Date
                            </label>
                            <div class="input-group date">
                                <input type="date" class="form-control m-input m-input--solid" disabled formControlName="PurchaseOrderDate" [value]="SelectedPurchaseOrder?.orderDate | date: 'yyyy-MM-dd' || ''">
                            </div>
                        </div>
                            <div class="form-group col-lg-3">
                                <label>
                                    Supplier    
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" disabled formControlName="Supplier" [value]="SelectedPurchaseOrder?.supplier?.name || ''">
                            </div>
                        <div class="form-group col-lg-3">
                            <label>
                                GRN Date
                                </label>
                                <div class="input-group date">
                                    <input type="date" class="form-control m-input m-input--solid" formControlName="GrnDate">
                                </div>
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="form-group col-lg-3">
                                    <label>
                                        Origin
                                    </label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control m-input m-input--solid" disabled formControlName="Origin" [value]="SelectedPurchaseOrder?.origin || ''">
                                    </div>
                                </div>
                        <div class="form-group col-lg-3">
                            <label>
                                Remarks    
                            </label>
                            <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
                        </div>
                    </div>
                </div>     
            </form>
            <div class="row">
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                                <form [formGroup]="GoodReceiptNoteItemsForm">
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12" style="/* overflow-x: scroll; */overflow-x: scroll;max-width: 1058px;">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" style="width: 2000px;">
                                                    <th>Manual Code</th>
                                                    <th>Description</th>
                                                    <th>Pack Type</th>
                                                    <th>Pack Size</th>
                                                    <th>Unit</th>
                                                    <th>Rate</th>
                                                    <th>Expected Quantity</th>
                                                    <th>Received Quantity</th>
                                                    <th>Difference Quantity</th>
                                                    <th>Expected Amount</th>
                                                    <th>Payment Amount</th>
                                                    <th>Difference Amount</th>
                                                    <th>Save</th>
                                                    <tr *ngFor="let a of SelectedPurchaseOrderItems; let y of Inventories; let i = index">
                                                        <td><input class="form-control m-input m-input--solid"
                                                                formControlName="ManualCode" [value]="a?.inventoryItem?.itemCode || ''" disabled></td>
                                                        <td><input class="form-control m-input m-input--solid"
                                                                formControlName="Description" [value]="a?.inventoryItem?.description || ''" disabled></td>
                                                        <td><input class="form-control m-input m-input--solid"
                                                                formControlName="PackType" [value]="a?.inventoryItem?.packType?.name || ''" disabled></td>
                                                        <td><input type="number" class="form-control m-input m-input--solid"
                                                                formControlName="PackSize" [value]="a?.inventoryItem?.packSize?.size || 0" disabled></td>
                                                        <td><input class="form-control m-input m-input--solid"
                                                                formControlName="Unit" [value]="a?.inventoryItem?.unit?.name || ''" disabled></td> 
                                                        <td><input type="number" #Rate class="form-control m-input m-input--solid"
                                                            formControlName="Rate" [value]="a?.inventoryItem?.retailPrice || 0" disabled></td>
                                                            <td><input type="number" class="form-control m-input m-input--solid"
                                                                    formControlName="ExpectedQuantity" [value]="a?.quantity || 0" disabled></td>
                                                            <td><input type="number" #ReceivedQuantity class="form-control m-input m-input--solid"
                                                                    formControlName="ReceivedQuantity" (keyup)="CalculateGridData(ReceivedQuantity.value, i)"></td>
                                                            <td><input type="number" class="form-control m-input m-input--solid"
                                                                    formControlName="DifferenceQuantity" [value]="DifferenceQuantity[i] || 0" disabled></td>
                                                        <td><input type="number" class="form-control m-input m-input--solid"
                                                                formControlName="ExpectedAmount" [value]="a?.grandTotal || 0" disabled></td>
                                                        <td><input type="number" class="form-control m-input m-input--solid" 
                                                                formControlName="PaymentAmount" [value]="PaymentAmount[i] || 0" disabled></td>
                                                        <td><input type="number" class="form-control m-input m-input--solid"
                                                                formControlName="DifferenceAmount" [value]="DifferenceAmount[i] || 0" disabled></td>
                                                        <td>
                                                            <button type="button" (click)="AddGrnItem(i)" class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                                                <i class="la la-add"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                
                                        <div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-10"></div>
                                                    <div class="col-lg-2">
                                                        <label>Total Expected Quantity</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalExpectedQuantity || 0" disabled>
                                                        <label>Total Received Quantity</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalReceivedQuantity || 0" disabled>
                                                        <label>Total Difference Quantity</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalDifferenceQuantity || 0" disabled>
                                                        <label>Total Expected Amount</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalExpectedAmount || 0" disabled>
                                                        <label>Total Payment Amount</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalPaymentAmount || 0" disabled>
                                                        <label>Total Difference Amount</label>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalDifferenceAmount || 0" disabled>
                                                    </div>
                                                    <button (click)="SubmitGRN()">Submit</button>
                                                    <button (click)="ResetWholeForm()">Reset</button>
                                            </div>
                                        </div>
                
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
        <button (click)="SubmitGRN()">adasda</button>
      </div>
    </div>
  </div>