<div class="m-content">
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                  <h3 class="m-portlet__head-text">
                     Good Receipt Note
                  </h3>
              </div>
            </div>
          </div>
            <!--begin::Form-->
            <form class="m-form" [formGroup]="GoodReceiptNoteForm">
                <div class="m-portlet__body">
                  
                    <div class="form-group row">
                        <div class="form-group col-lg-3">
                            <label for="exampleInputEmail1">
                                GRN No
                            </label>
                            <input type="text" class="form-control m-input m-input--solid" formControlName="GRN">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="exampleInputEmail1">
                                GRN Date
                                </label>
                              <div class="input-group date">
                                  <input type="date" class="form-control m-input m-input--solid" formControlName="GRNDate">
                               </div>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="exampleSelect1"> Suppliers </label>
                            <dx-select-box [items]="Suppliers" displayExpr="name" valueExpr="supplierId" [searchEnabled]="true"
                             formControlName="SupplierId">
                            </dx-select-box>
                        </div>
                        <div class="form-group col-lg-3">
                            <div class="m-form__group form-group">
                                <label for="">Select Type</label>
                                <div class="m-radio-inline">
                                    <label class="m-radio">
                                        <input type="radio" name="example_3" formControlName="Type" value="Local">Local<span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="example_3" formControlName="Type" value="Import">Import<span></span>
                                    </label>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                  Manual    
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Manual">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Manual Date
                                    </label>
                                  <div class="input-group date">
                                      <input type="date" class="form-control m-input m-input--solid" formControlName="ManualDate">
                                   </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                   PO NO
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="PoNo">
                            </div>
                            <div class="form-group col-lg-3 fromtopMargin">
                                <div class="m-form__group form-group">			
                                    <div class="m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input type="checkbox" value="Post"  formControlName="Post">
                                            Post
                                            <span></span>
                                        </label>
                                        <button type="button" (click)="onsubmit(GoodReceiptNoteForm.value)" class="btn btn-secondary">
                                            Post
                                        </button>
                                    </div>                                    
                                </div>
                            </div>
                        </div>       
                </div>     
            </form>
            <!--end::Form-->
       
            <div class="row">
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <dx-data-grid id="gridContainer" [dataSource]="InventItems" (onRowInserted)="AddIssuance($event)" >
                                <dxo-editing mode="row" [allowAdding]="true">
                                </dxo-editing>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="5"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 30]" [showInfo]="true"></dxo-pager>
                                 <dxi-column dataField="itemCode" caption="Manual Code" [width]="125">
                                    <dxo-lookup [dataSource]="InventItems" displayExpr="itemCode" valueExpr="itemCode"></dxo-lookup>
                                </dxi-column>
                                <dxi-column dataField="description" caption="Description Of Item" [width]="200"></dxi-column>
                                <dxi-column dataField="packType" caption="Pack Type"></dxi-column>
                                <dxi-column dataField="packSize" caption="Pack Size"></dxi-column>
                                <dxi-column dataField="noOfPackType" caption="No of Pack Type"></dxi-column>
                                <dxi-column dataField="qty" caption="Quantity"></dxi-column>
                                <dxi-total-item column="qty" summaryType="sum">
                            </dxi-total-item>
                            </dx-data-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Portlet-->
        <button (click)="addfinal()">adasda</button>
      </div>
    </div>
  </div>