<div class="m-content">
    <div class="row">
       <div class="col-xl-12">
         <div class="m-portlet">
           <div class="m-portlet__head">
             <div class="m-portlet__head-caption">
               <div class="m-portlet__head-title">
                 <h3 class="m-portlet__head-text">Inventry Item</h3>
               </div>
             </div>
           </div>
           <div class="m-portlet__body">
             <div class="m-section">
               <div class="m-section__content">
                 <dx-data-grid id="gridContainer" [dataSource]="InventorysystemServiceobj.inventoryitems" (onRowInserted)="AddInventryItem($event)"   (onRowUpdated)="UpdateInventoryItem($event)" (onRowRemoved)="DeleteInventoryItem($event)"> 
                     <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true"   [allowDeleting]="true">
                 </dxo-editing>
                   <dxo-filter-row [visible]="true"></dxo-filter-row>
                   <dxo-header-filter [visible]="true"></dxo-header-filter>
                   <dxo-paging [pageSize]="5"></dxo-paging>
                   <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                   <dxi-column dataField="itemCode" caption="Code"></dxi-column>
                   <dxi-column dataField="description" caption="Description"></dxi-column>
                   <dxi-column dataField="packType" caption="Pack Type"></dxi-column>
                   <dxi-column dataField="packSize" caption="Pack Size"></dxi-column>
                   <dxi-column dataField="dose" caption="Dose"></dxi-column>
                   <dxi-column dataField="costPrice" caption="Cost Price"></dxi-column>
                   <dxi-column dataField="retailPrice" caption="Retail Price"></dxi-column>
                   <dxi-column dataField="purchaseDate" dataType="date"  caption="Purchase Date"></dxi-column>
                   <dxi-column
                   dataField="UnitId"
                   caption="Unit"
                   [width]="125">         
                   <dxo-lookup
                       [dataSource]="unit"
                       displayExpr="description"
                       valueExpr="UnitId">
                   </dxo-lookup>
               </dxi-column>
                    <dxi-column
                    dataField="CategoryId"
                    caption="Category"
                    [width]="125">         
                    <dxo-lookup
                        [dataSource]="category"
                        displayExpr="name"
                        valueExpr="CategoryId">
                    </dxo-lookup>
                </dxi-column>
                  </dx-data-grid>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>   
   </div>