<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Employee Leave Policy Detail
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <dx-data-grid id="gridContainer" [dataSource]="empleavepolicy" keyExpr="leavePolicyEmployeeWiseId" [showBorders]="true" [columnAutoWidth]="true"
            (onToolbarPreparing)="onToolbarPreparing($event)"> 
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [pageSize]="6"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="userId" caption="Employee">
              <dxo-lookup [dataSource]="employees" displayExpr="fullName" valueExpr="userId">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="leaveYearId" caption="Leave Year">
              <dxo-lookup [dataSource]="leaveyear" displayExpr="name" valueExpr="leaveYearId">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="leaveTypeId" caption="Leave">
              <dxo-lookup [dataSource]="leaveTypes" displayExpr="title" valueExpr="leaveTypeId">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataType="boolean" dataField="isProcessed" [visible]="false"></dxi-column>

            <dxi-column dataField="entitledQuantity" [visible]="false">
            </dxi-column>
            <dxi-column dataField="maximumAllowedBalance" [visible]="false"></dxi-column>
            <dxi-column dataField="maximumAtATime" [visible]="false"></dxi-column>
            <dxi-column dataField="minimumAtATime" [visible]="false"></dxi-column>
            <dxi-column dataField="minimumIntimationPeriod" [visible]="false"></dxi-column>
            <dxi-column dataField="isEncashable" dataType="boolean" [visible]="false"></dxi-column>
            <dxi-column dataField="encashmentDays" [visible]="false"></dxi-column>
            <dxi-column dataField="encashmentApplicationLimit" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isMale" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isFemale" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isMarried" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isBalanceBroughtForward" [visible]="false"></dxi-column>
            <dxi-column dataField="balanceBroughtForwardQuantity" [visible]="false"></dxi-column>
            <dxi-column dataField="balanceBroughtForwardValidity" [visible]="false"></dxi-column>
            <dxi-column dataField="isFileAttachmentRequired" dataType="boolean" [visible]="false"></dxi-column>
            <dxi-column dataField="fileAttachmentDaysLimit" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isShortLeaveAllowed"></dxi-column>
            <dxi-column dataField="shortLeaveLimit" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isAllowedOnlyOnceInService" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="dayContinuationRestriction" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isJobPeriodBased" [visible]="false"></dxi-column>
            <dxi-column dataField="jobPeriodTime" [visible]="false"></dxi-column>
            <dxi-column dataField="paidDaysQuantity" [visible]="false"></dxi-column>
            <dxi-column dataField="halfPaidDaysQuantity" [visible]="false"></dxi-column>
            <dxi-column dataField="unPaidDaysQuantity" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isProrated" [visible]="false"></dxi-column>
            <dxi-column dataType="boolean" dataField="isActive"></dxi-column>
            <dxi-column caption="Action" [minWidth]="70" cellTemplate="chartCellTemplate" [fixed]="true" fixedPosition="right"></dxi-column>
            <div *dxTemplate="let d of 'chartCellTemplate'">
              <div class="chart-cell">
                <dx-button (click)="empLeavePolicyData(d)" icon="edit"></dx-button>
              </div>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>