<div class="m-content">

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Issuance Medicine
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dropdown">
                            <button routerLink="/pharmacy/issuanceview" class="btn btn-primary" type="button">
                                <span>
                                    <i class="fa fa-eye"></i>
                                </span> View
                            </button>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form" [formGroup]="IssuanceForm">
                    <div class="m-portlet__body">

                        <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    CRN No
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="getcellvalueForCustomer(IssuanceForm.value.CRN)"
                                    formControlName="CRN">
                                    <option *ngFor="let x of AllCustomers" [value]="x?.crn">{{x?.crn}} </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Status
                                </label>
                                <select class="form-control m-input" formControlName="Status">
                                    <option value="true"> Approved </option>
                                    <option value="false"> Pending </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Issue Date
                                </label>
                                <div class="input-group date">
                                    <input type="date" class="form-control m-input m-input--solid" formControlName="IssuanceDate">
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Slip No
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="SlipNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    P. Name
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="PatientName"
                                    [value]="customerdata?.name || ''" disabled>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    S. Name
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="SpouseName"
                                    [value]="customerdata?.shortName || ''" disabled>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Remarks
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Department
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Department">
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary">
                                Reset
                            </button>
                            <button type="submit" (click)="onsubmit(IssuanceForm.value)" class="btn btn-primary">
                                Save
                            </button>
                        </div> -->




                    </div>

                </form>


                <div class="row">
                    <div class="m-portlet__body">
                        <div class="m-section">
                            <div class="m-section__content">

                                <div>
                                    <button type="button" data-toggle="modal" data-target="#m_modal_6" class="btn btn-success pull-right margin"><i
                                            class="fa fa-plus"></i></button>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12">
                                            <dx-data-grid id="gridContainer" [dataSource]="arraydata" (onRowRemoved)="removed($event)">
                                                <dxo-editing mode="popup" [allowDeleting]="false">
                                                </dxo-editing>
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                                <dxo-paging [pageSize]="5"></dxo-paging>
                                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]"
                                                    [showInfo]="true"></dxo-pager>
                                                <dxi-column dataField="ItemCode" caption="Item Code"></dxi-column>
                                                <dxi-column dataField="Description" caption="Description"></dxi-column>
                                                <dxi-column dataField="PackType" caption="Pack Type"></dxi-column>
                                                <dxi-column dataField="PackSize" caption="Pack Size"></dxi-column>
                                                <dxi-column dataField="PackQuantity" caption="Pack Quantity"></dxi-column>
                                                <dxi-column dataField="OrderUnitQuantity" caption="Order Unit Quantity"></dxi-column>
                                                <dxi-column dataField="UnitPrice" caption="Unit Price"></dxi-column>
                                                <dxi-column dataField="ItemTotalAmount" caption="Item Total Amount"></dxi-column>
                                            </dx-data-grid>

                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-10"></div>
                                        <div class="col-lg-2">
                                            <label> Total Amount</label>
                                            <input class="form-control m-input m-input--solid" [value]="total" disabled>
                                        </div>
                                    </div>
                                </div>

                                <!-- </form> -->
                                <div class="modal-footer">
                                    <button class="btn btn-success" [disabled]="!IssuanceForm.valid" (click)="addfinal(IssuanceForm.value)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>


</div>

<!-- <model>-->

<!-- strat model for send sms -->

<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Add Medicine
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="InventoryItemForm">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Manual Code
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="getcellvalue(InventoryItemForm.value.InventoryItemId)"
                                    formControlName="InventoryItemId">
                                    <option *ngFor="let x of FilteredItems" [value]="x?.inventoryItemId">{{x?.itemCode}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Description
                                </label>
                                <input class="form-control m-input m-input--solid" formControlName="Description"
                                    [value]="data?.description || ''" disabled>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Pack Type
                                </label>
                                <input class="form-control m-input m-input--solid" formControlName="PackType" [value]="data.packType?.name || ''"
                                    disabled>

                            </div>
                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Stock Quantity
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="StockQuantity"
                                    [value]="data.inventory?.stockQuantity || 0" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Pack Quantity
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="PackQuantity"
                                    [value]="ItemPackQuantity" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Qty
                                </label>
                                <input type="number" #OrderUnitQuantity class="form-control m-input m-input--solid"
                                    formControlName="OrderUnitQuantity" (keyup)="CalculatenetAmount(OrderUnitQuantity.value)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Rate
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="UnitPrice"
                                    [value]="data?.unitPrice || 0" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Net Amount
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="ItemTotalAmount"
                                    [value]="ItemTotal" disabled>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-success" [disabled]="!InventoryItemForm.valid" (click)="onsubmitInventeryDetail(InventoryItemForm.value)">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- <model>-->