<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Employee Monthly Salary
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <dx-data-grid id="gridContainer" 
            keyExpr="monthlyUserSalaryId" 
            [dataSource]="monthlySalary"
             (onSelectionChanged)="selectionChanged($event)"
                (onContentReady)="contentReady($event)" 
                (onToolbarPreparing)="onToolbarPreparing($event)"
                 [masterDetail]="{ enabled: true, template: 'detail' }"
                 [columnAutoWidth]="true"
                [showBorders]="true">

                <dxo-selection mode="single"></dxo-selection>
                <dxo-paging [pageSize]="6"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]" [showInfo]="true">
                </dxo-pager>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>


                <dxi-column dataField="monthStartDate" dataType="date" format="shortdate"></dxi-column>
                <dxi-column dataField="monthEndDate" dataType="date" format="shortdate"></dxi-column>
                <dxi-column dataField="totalWorkingDaysInMonth"></dxi-column>
                <dxi-column dataField="presentDays"></dxi-column>
                <dxi-column dataField="leaveDays"></dxi-column>
                <dxi-column dataField="absentDays"></dxi-column>
                <dxi-column dataField="overtimeHours"></dxi-column>
                <dxi-column dataField="isStopped" dataType="boolean"></dxi-column>
                <dxi-column dataField="stopFrom" dataType="date" format="shortdate"></dxi-column>
                <dxi-column dataField="stopTill" dataType="date" format="shortdate"></dxi-column>

                <!-- <dxi-column dataField="stopSalaryId" caption="Stop Salry" [width]="250">
                    <dxo-lookup [dataSource]="stopSalary" displayExpr="action" valueExpr="stopSalaryId">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="userSalaryId" caption="User Salary" [width]="250">
                    <dxo-lookup [dataSource]="userSalary" displayExpr="salary" valueExpr="userSalaryId">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="pfPaymentId" caption="Pf Payment" [width]="250">
                    <dxo-lookup [dataSource]="pfPayment" displayExpr="lastestTotalPfAmount" valueExpr="pfPaymentId">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="payslipId" caption="Payslip" [width]="250">
                    <dxo-lookup [dataSource]="paySlip" displayExpr="netAmount" valueExpr="payslipId">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="payrollId" caption="Payroll" [width]="250">
                    <dxo-lookup [dataSource]="payroll" displayExpr="monthlySalary" valueExpr="payrollId">
                    </dxo-lookup>
                </dxi-column> -->

                <dxi-column caption="Action" [minWidth]="70" cellTemplate="chartCellTemplate" [fixed]="true" fixedPosition="right"></dxi-column>
                <div *dxTemplate="let d of 'chartCellTemplate'">
                    <div class="chart-cell">
                        <dx-button (click)="getData(d)" icon="edit"></dx-button>
                    </div>
                </div>

                <div *dxTemplate="let monthlysalary of 'detail'">
                    <dx-data-grid [dataSource]="monthlysalary.data.userRosterAttendances" [showBorders]="true">

                        <!-- <dxi-column dataField="userId" caption="Employee">
                            <dxo-lookup [dataSource]="employees" displayExpr="firstName" valueExpr="userId">
                            </dxo-lookup>
                        </dxi-column> -->
                        <dxi-column dataField="attendanceDate" caption="Attendance Date" dataType="date" format="shortdate"></dxi-column>
                        <dxi-column dataField="isPresent" caption="Present" dataType="boolean"></dxi-column>
                        <dxi-column dataField="checkInTime" caption="Checkin Time" dataType="datetime" format="shorttime"></dxi-column>
                        <dxi-column dataField="checkOutTime" caption="Checkout Time" dataType="datetime" format="shorttime"></dxi-column>
                    </dx-data-grid>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>