<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Allowance</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">

              <dx-data-grid #clientGrid id="gridContainer" [dataSource]="allowance"
               keyExpr="allowanceId" 
               (onRowInserted)="addallowance($event)" 
               (onRowUpdated)="updateallowance()" 
               (onRowUpdating)="updatingallowance($event)" 
                (onRowRemoved)="deleteallowance($event)">

                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">

                  <dxo-popup title="Allowance" [showTitle]="true" [width]="700" [height]="345" [position]="{ my: 'center', at: 'center', of: window }">
                  </dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
                <dxi-column dataField="name" caption="Name"></dxi-column>
                <dxi-column dataField="description" caption="Description"></dxi-column> 
                <dxi-column dataField="allowanceDeductionId" caption="Allowance Deduction" [width]="300">
                  <dxo-lookup [dataSource]="allowanceDeductions" displayExpr="title" valueExpr="allowanceDeductionId">
                  </dxo-lookup> 
            </dxi-column>
            <dxi-column dataField="isDefaultAllowance" dataType="boolean"  caption="Default Allowance"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>