
<div class="m-content">

    <div class="row">
            <div class="col-xl-12">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Return Medicine</h3>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                    <form  class="m-form ng-untouched ng-pristine ng-valid"  >
                        <div  class="m-portlet__body">
                          <div  class="form-group row">
                            <div  class="form-group col-lg-3">
                              <label  for="exampleSelect1"> MRN No </label>
                              <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                            </div>
                            <div  class="form-group col-lg-3">
                              <label  for="exampleSelect1"> Return No </label>
                              <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                            </div>
                            <div  class="form-group col-lg-3">
                              <label  for="exampleInputEmail1">Return  Date </label>
                              <div  class="input-group date">
                                <input  class="form-control m-input" id="m_datepicker_2" type="text">
                                <div  class="input-group-append">
                                  <span  class="input-group-text">
                                    <i  class="la la-calendar"></i>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div  class="form-group col-lg-3">
                              <label  for="exampleSelect1"> Slip No </label>
                              <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                            </div>


                          </div>
                          <div  class="form-group row">
                              <div  class="form-group col-lg-3">
                                <label  for="exampleSelect1"> P. Name </label>
                                <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                              </div>
                              <div  class="form-group col-lg-3">
                                <label  for="exampleSelect1"> S. Name </label>
                                <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                              </div>
                              <div  class="form-group col-lg-3">
                                  <label  for="exampleSelect1">Remarks</label>
                                  <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                                </div>
                              <div  class="form-group col-lg-3">
                                <label  for="exampleSelect1"> Department</label>
                                <input  class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" name="mrnno" type="text" >
                              </div>
                            </div>
                          </div>
                      </form>




                  <!-- <div class="m-section">
                    <div class="m-section__content" >
                        <dx-data-grid id="gridContainer" [dataSource]="" keyExpr="ID">
                           <dxo-editing  mode="row" [allowUpdating]="true" [allowAdding]="true"></dxo-editing>
                    
                        <dxo-selection mode="single"></dxo-selection>
                    
                        <dxi-column dataField="ManualCode" caption="Manual Code"></dxi-column>
                        <dxi-column dataField="DiscriptionOfItem" caption="Discription Of Item"></dxi-column>
                        <dxi-column dataField="PackType" caption="Pack Type"></dxi-column>
                        <dxi-column dataField="PackSize"  caption="Pack Size"></dxi-column>
                        <dxi-column dataField="NoPackType"  caption="No. Pack Type"></dxi-column>
                        <dxi-column dataField="Quantity"  caption="Quantity"></dxi-column>
                        <dxi-column dataField="Rate"  caption="Rate"></dxi-column>
                        <dxi-column dataField="NetAmount" caption="Net Amount" format="currency"></dxi-column>
                    
                        <dxo-summary>
                            <dxi-total-item
                                column="ManualCode"
                                summaryType="count">
                            </dxi-total-item>
 
                            <dxi-total-item
                                column="NetAmount"
                                summaryType="sum"
                                valueFormat="currency">
                            </dxi-total-item>
                        </dxo-summary>
                    
                    </dx-data-grid>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
    </div>





    
  </div>

  



