<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Allowance/Deduction Details
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <dx-data-grid id="gridContainer"
     [dataSource]="allowancededuction"
      keyExpr="allowanceDeductionId" 
      [columnAutoWidth]="true" 
      [showBorders]="true"
      (onRowInserted)="addAllowanceDeduction($event)" 
      (onRowUpdating)="updatingAllowanceDeduction($event)" 
      (onRowUpdated)="updateAllowanceDeduction()">
    <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [useIcons]="true">	
      <dxo-popup title="Allowance/Deduction" [showTitle]="true" [width]="850" [height]="600"></dxo-popup>
    </dxo-editing>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
      <dxo-paging [pageSize]="8"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
      </dxo-pager>

      <dxi-column dataField="title" caption="Title">
        <dxi-validation-rule type="required" message="Allowance/Deduction Title is required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="type" caption="Allowance/Deduction">
        <dxo-lookup [dataSource]="lookupDataSource"></dxo-lookup>
        <dxi-validation-rule type="required" message="Allowance/Deduction Type is required"></dxi-validation-rule>
    </dxi-column>
  </dx-data-grid>

  </div>
</div>