<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    <h4>Employee Force Change Password</h4>

</div>

<div class="row">
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Enter New Password
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="Enter New Password">
      </div> 
    </div>
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Enter New Confirm Password
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="Enter New Confirm Password">
      </div> 
    </div>
</div>
