<div class="m-content">
  <div class="row">
     <div class="col-xl-12">
       <div class="m-portlet">
         <div class="m-portlet__head">
           <div class="m-portlet__head-caption">
             <div class="m-portlet__head-title">
               <h3 class="m-portlet__head-text">Detail Account</h3>
             </div>
           </div>
         </div>
         <div class="m-portlet__body">
           <div class="m-section">
             <div class="m-section__content">
              <form [formGroup]="DetailAccountForm">
                  <div class="form-group row">
                      <div class="col-sm-4">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                              Detail Account Code
                          </label>
                          <input type="text" class="form-control m-input" formControlName="DetailAccountCode" placeholder="001">
                        </div>
                      </div>
                      </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Name
                    </label>
                    <input type="text" class="form-control m-input" formControlName="Name" placeholder="Name">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Opening Balance
                    </label>
                    <input type="number" class="form-control m-input" formControlName="OpeningBalance" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                        Second Sub Account
                    </label>
                    <select class="form-control m-input" formControlName="SecondSubAccountId">
                        <option value="" disabled selected>-- Select Second SubAccount --</option>
                        <option *ngFor="let detailAccount of secondSubAccount" [value]="detailAccount.secondSubAccountId">{{detailAccount.name}}</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-4 pull-right" style="margin-top: 28px;">
                      <button type="submit" (click)="addDetailaccount()" class="btn btn-primary">
                          Save
                        </button>
                  </div>
                </div>
              </form>

              <div class="form-group row">
                  <div class="m--space-07"></div>


                  <dx-data-grid id="gridContainer" keyExpr="detailAccountId" [dataSource]="detailAccount" 
                 (onRowUpdating)="updatingDetailaccount($event)"
                 (onRowUpdated)="updateDetailaccount()"
                  (onRowRemoved)="deleteDetailaccount($event)">
                  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                    </dxo-editing>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>
      
                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                  </dxo-pager>
      
                  <dxi-column dataField="detailAccountCode" caption="Detail Account Code"></dxi-column>
                  <dxi-column dataField="name" caption="Name"></dxi-column>        
                  <dxi-column dataField="openingBalance" caption="Opening Balance"></dxi-column>        
                </dx-data-grid>
              </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 
 
 
 
 
 
 </div>