<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light" style="height: 90px !important;">
	<!-- BEGIN: Brand -->
	<div class="m-brand  m-brand--skin-light" style="height: 91px !important;  background: #003b77 !important; -webkit-box-shadow: none;
    box-shadow: none;">
		<a routerLink="/patient/home" class="m-brand__logo">
			<img alt="" src="./assets/demo/demo7/media/img/logo/logo.png"/>
		</a>
	</div>
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->