<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Brand -->
	<div class="m-brand  m-brand--skin-light">
		<a routerLink="/index" class="m-brand__logo">
			<img alt="" src="./assets/demo/demo7/media/img/logo/logo.png" />
		</a>
	</div>
	<!-- END: Brand -->
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
	 data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight"
			 routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
			 data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-menu"></i>
					<span class="m-menu__link-text">
						Setup
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight"
							 routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Setup
									</span>
								</span>
							</li>

							<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item  m-menu__item--submenu"
							 routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
							 data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Customers
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inventory/setup/customer" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer Setup
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item  m-menu__item--submenu"
							 routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
							 data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Inventory
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inventory/setup/inventory-master" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Inventory Setup
												</span>
											</a>
										</li>
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Product
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer Bank
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer Warehouse
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer
												</span>
											</a>
										</li> -->
									</ul>
								</div>
							</li>

							<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item  m-menu__item--submenu"
							 routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
							 data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Logistics
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inventory/setup/salesperson" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Logistics Setup
												</span>
											</a>
										</li>
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Product
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer Bank
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer Warehouse
												</span>
											</a>
										</li> -->
										<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
										 data-redirect="true">
											<a routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Customer
												</span>
											</a>
										</li> -->
									</ul>
								</div>
							</li>

							<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Inventory Setup')" class="m-menu__item" aria-haspopup="true"
							 data-redirect="true">
								<a routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Territory
									</span>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
			</li>










			<!-- <li *ngIf="accessibleFeatures.includes('Inventory - Purchase')" class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" -->
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open"
			 routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" data-menu-submenu-toggle="click"
			 data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-menu"></i>
					<span class="m-menu__link-text">
						Transaction
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open"
							 routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Transaction Forms
									</span>
								</span>
							</li>

							<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
							 aria-haspopup="true" data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Sales
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/dispatchnote" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Dispatch Note
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/deliveryOrder" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Delivery Order
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/salesindent" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Sales Indent
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/salesindentprocess" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Sales Indent Process
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/salesinvoice" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Sales Invoice
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/salesorder" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Sales Order
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/sales/salesreturn" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Sales Return
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
							 aria-haspopup="true" data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Purchase
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/purchase/grn" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													GRN
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/purchase/purchaseindent" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Purchase Indent
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/purchase/purchaseinvoice" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Purchase Invoice
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/purchase/purchaseorder" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Purchase Order
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
											<a routerLink="/inventory/purchase/purchasereturn" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Purchase Return
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li *ngIf="accessibleFeatures.includes('Inventory - Reports')" class="m-menu__item m-menu__item--submenu m-menu__item--submenu-fullheight m-menu__item--open-dropdown m-menu__item--hover"
			 aria-haspopup="true" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
			 data-menu-submenu-toggle="click" data-redirect="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-time-3"></i>
					<span class="m-menu__link-text">
						Reports
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu "><span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper m-scroller ps ps--active-y" style="height: 341px; overflow: hidden;">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" aria-haspopup="true">
								<span class="m-menu__link"><span class="m-menu__link-text">Order Reports</span></span>
							</li>
							<li *ngIf="accessibleFeatures.includes('Inventory - Reports')" class="m-menu__item " aria-haspopup="true">
								<a routerLink="/inventory/reports/order-summary" class="m-menu__link "><span class="m-menu__link-text">Order
										Summary</span></a>
							</li>
							<li *ngIf="accessibleFeatures.includes('Inventory - Reports')" class="m-menu__item " aria-haspopup="true">
								<a routerLink="/inventory/reports/order-detail" class="m-menu__link "><span class="m-menu__link-text">Order
										Detail</span></a>
							</li>

						</ul>
						<div class="ps__rail-x" style="left: 0px; bottom: 0px;">
							<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
						</div>
						<div class="ps__rail-y" style="top: 0px; height: 341px; right: 4px;">
							<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 150px;"></div>
						</div>
					</div>
				</div>
			</li>

		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->