<div class="m-content">

  <div class="row">
    <div class="col-sg-12">

      <div class="m-portlet m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon">
                <i class="fa fa-calendar"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Stores
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <dx-data-grid id="gridContainer" [dataSource]="stores" keyExpr="storeId">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [pageSize]="6"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
            </dxo-pager>
            <dxi-column dataField="shopName"></dxi-column>
            <dxi-column dataField="landline"></dxi-column>
            <dxi-column dataField="section"></dxi-column>
            <dxi-column dataField="subsection"></dxi-column>
            <dxi-column dataField="salesPerson"></dxi-column>
            <dxi-column dataField="storeId" caption="Action" cellTemplate="cellTemplate" [width]="100"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
              <a title="Store Profile" [routerLink]="['/etracker/store-profile', data.value]" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
                <i class="fa fa-drivers-license"></i>
              </a>
               <a data-toggle="modal" data-target="#m_modal_4" title="Map" (click)="getLatLog(data)" class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
                <i class="fa fa-map-marker"></i>
              </a>
            </div>
          </dx-data-grid>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Map
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
          <agm-map [latitude]="lat" [longitude]="lng"  [zoom]="zoom" >
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
  </div>