<div class="m-content"> 
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Master Payroll
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="MasterPayrollForm">

            <div class="form-group m-form__group row">
              <div class="col-lg-3">
                <label>Employee: </label>
                 <select selected class="form-control m-input" formControlName="PayrollYearId">
                   <option *ngFor="let py of payrollYears" [value]="py.payrollYearId">{{py.name}}</option>
                </select> 
              </div>
              <div class="col-lg-3">
                <label>Employee: </label>
                 <select #s class="form-control m-input" (change)="getAllowance(s.value)" formControlName="UserId" [ngClass]="{ 'is-invalid': submitted && m.UserId.errors }">
                  <option value="" disabled selected>-- Select Employee --</option>
                  <option *ngFor="let user of users" [value]="user.userId">{{user.fullName}}</option>
                </select>
                <div *ngIf="submitted && m.UserId.errors" class="invalid-feedback">
                  <div *ngIf="m.UserId.errors.required">Select Employee</div>
                </div>
              </div>
              <div class="col-lg-3">
                <label>Basic Salary: </label>
                <input type="number" #totalsalary [value]="totalAllowanceAndDeduction" class="form-control m-input" formControlName="Salary">
              </div>
              <div class="col-lg-3">
                  <label></label>
                <button type="button" (click)="updateSalary(totalsalary.value, s.value)" class="btn btn-primary button_get">
                  Update
                </button> 
              </div>
            </div>
            
          </form>
        
 
            <div class="m--space-30"></div>
            <div class="row">
              <div class="col-xl-12">
                <div class="m-portlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Allowance</h3>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-section">
                      <div class="m-section__content">
                        <dx-data-grid id="gridContainer"
                        [dataSource]="allowance2"
                        [showBorders]="true"
                         (onRowInserted)="addMasterPayrolldetail($event)" 
                         (onRowUpdated)="updateMasterpayrollDetail($event)"> 
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
          
                          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                          <dxo-paging [pageSize]="6"></dxo-paging>
                          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                          </dxo-pager> 

                          <dxi-column dataField="salaryCalculationType" caption="Salary Calculation"></dxi-column>
            
                          <dxi-column dataField="benefitId" caption="Benefit">
                            <dxo-lookup [dataSource]="benefit" displayExpr="name" valueExpr="benefitId"></dxo-lookup>
                          </dxi-column>
          
                          <dxi-column dataField="allowanceDeductionId" caption="Allowance">
                            <dxo-lookup [dataSource]="allowances" displayExpr="title" valueExpr="allowanceDeductionId"></dxo-lookup>
                          </dxi-column>

                          <dxi-column dataField="value" caption="Value/Percentage"></dxi-column>
                          <dxo-summary> 
                            <dxi-total-item column="value" summaryType="sum"></dxi-total-item>
                        </dxo-summary>
                          <!-- <dxi-column dataField="formula" caption="Formula"></dxi-column> -->

                        </dx-data-grid>
                        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="m-portlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">Deduction</h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-section">
                <div class="m-section__content">
                  <dx-data-grid id="gridContainerallowance"
                  [dataSource]="deduction2"
                  [showBorders]="true"
                   (onRowInserted)="addMasterPayrolldetail($event)" 
                   (onRowUpdated)="updateMasterpayrollDetail($event)"> 
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
    
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxo-paging [pageSize]="6"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                    </dxo-pager> 
                    <dxi-column dataField="salaryCalculationType" caption="Salary Calculation"></dxi-column>
      
                    <dxi-column dataField="benefitId" caption="Benefit">
                      <dxo-lookup [dataSource]="benefit" displayExpr="name" valueExpr="benefitId"></dxo-lookup>
                    </dxi-column>
    
                    <dxi-column dataField="allowanceDeductionId" caption="Allowance">
                      <dxo-lookup [dataSource]="allowances" displayExpr="title" valueExpr="allowanceDeductionId"></dxo-lookup>
                    </dxi-column>

                    <dxi-column dataField="value" caption="Value/Percentage"></dxi-column>
                    <dxo-summary> 
                      <dxi-total-item column="value" summaryType="sum"></dxi-total-item>
                  </dxo-summary> 

                  </dx-data-grid>
                  
              </div>
            </div>
          </div>

            <div class="m--space-30"></div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div *ngIf="isUpdate(); else create">
                      <button class="btn btn-primary" (click)="update(MasterPayrollForm.value)">
                          Update
                        </button>        
                  </div> 
                  <ng-template #create>
                    <button class="btn btn-Success" (click)="submitForm(MasterPayrollForm.value ,totalsalary.value)">
                      Submit
                    </button>  
                  </ng-template>  
                  </div>
                  <div class="col-lg-4"></div>
              </div>
            </div>  
        </div>
      </div>
    </div>
 
 