<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Master Payroll
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="MasterPayrollForm">

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Employee:
                </label>
                <select class="form-control m-input" formControlName="UserId">
                  <option value="" disabled selected>-- Select Employee --</option>
                  <option *ngFor="let user of empservice.employeereg" [value]="user.userId">{{user.firstName}}</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label class="">
                  Bank Transfer Code:
                </label>
                <input type="number" class="form-control m-input" formControlName="BankTransferCode" placeholder="0">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Currency:
                </label>
                <select class="form-control m-input" formControlName="CurrencyId">
                  <option value="" disabled selected>-- Select Currency --</option>
                  <option *ngFor="let currency of payrollsetupservice?.Currency" [value]="currency.currencyId">{{currency.name}}</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label class="">
                  Calculation Type:
                </label>
                <select class="form-control m-input" formControlName="PayrollBankId">
                  <option value="" disabled selected>-- Select Payroll Bank --</option>
                  <option *ngFor="let payrollbank of payrollsetupservice?.payrollbank" [value]="payrollbank.payrollBankId">{{payrollbank.bankTitle}}</option>
                </select>
              </div>
            </div>
          </form>

            <div class="m--space-30"></div>

            <form [formGroup]="MasterDetailForm">
              <div class="form-group m-form__group row">
                <div class="col-md-2">
                  <label>
                    Allowance:
                  </label>
                  <select formControlName="AllowanceId" class="form-control m-input">
                    <option value="">--- Select Allowance ---</option>
                    <option *ngFor="let allowance of payrollsetupservice?.allowance" [value]="allowance.allowanceId">{{allowance.name}}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <label>
                    Value:
                  </label>
                  <input type="number" class="form-control m-input" formControlName="Value" placeholder="0">
                </div>
                <div class="col-md-2">
                  <label>
                    Effective Date:
                  </label>
                  <input type="date" class="form-control m-input" formControlName="EffectiveDate" placeholder="0">
                </div>
                <div class="col-md-2">
                  <label>
                    End Date:
                  </label>
                  <input type="date" class="form-control m-input" formControlName="EndDate" placeholder="0">
                </div>
                <div class="col-md-2">
                  <label>
                    Frequency:
                  </label>
                  <select class="form-control m-input" formControlName="FrequencyId">
                    <option value="">--- Select Frequency ---</option>
                    <option *ngFor="let Frequency of payrollsetupservice?.frequency" [value]="Frequency.frequencyId">{{Frequency.name}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label>
                    Payroll Type:
                  </label>
                  <select class="form-control m-input" formControlName="PayrollTypeId">
                    <option value="">--- Select Payroll Type ---</option>
                    <option *ngFor="let payrolltype of payrollsetupservice?.payrolltype" [value]="payrolltype.payrollTypeId">{{payrolltype.name}}</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <td> <button class="btn btn-info" type="button" (click)="addFieldValue()">Add</button></td>
                </div>
              </div>
            </form>
            <div class="m--space-30"></div>

            <div class="form-group m-form__group row">
              <div class="col-lg-12">
                <label>
                  Leave Detail(s):
                </label>

                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                  <th>Allowance</th>
                  <th>Value</th>
                  <th>Effective Date</th>
                  <th>End Date</th>
                  <th>Frequency</th>
                  <th>Payroll Type</th>
                  <th>Delete</th>
                  <tr *ngFor="let field of fieldArray; let i = index">
                    <td>
                      <p>{{field.allowance}}
                    </td>
                    <td>
                      <p>{{field.value}}
                    </td>
                    <td>
                      <p>{{field.effectiveDate}}
                    </td>
                    <td>
                      <p>{{field.endDate}}
                    </td>

                    <td>
                      <p>{{field.frequency}}
                    </td>

                    <td>
                      <p>{{field.payrollType}}
                    </td>
                    <td> <button class="btn btn-danger" type="button" (click)="deleteFieldValue(i)">Delete</button></td>
                  </tr>
                </table>
              </div>
            </div>


            <div class="m--space-30"></div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button type="reset" class="btn btn-brand" (click)="addAllowanceDeduction()">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>  
        </div>
      </div>
    </div>
  </div>
</div>