<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Master Payroll
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="MasterPayrollForm">

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Employee:
                </label>
                <select class="form-control m-input" formControlName="UserId">
                  <option value="" disabled selected>-- Select Employee --</option>
                  <option *ngFor="let user of empservice.employeereg" [value]="user.userId">{{user.firstName}}</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label class="">
                  Bank Transfer Code:
                </label>
                <input type="number" class="form-control m-input" formControlName="BankTransferCode" placeholder="0">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Currency:
                </label>
                <select class="form-control m-input" formControlName="CurrencyId">
                  <option value="" disabled selected>-- Select Currency --</option>
                  <option *ngFor="let currency of payrollsetupservice?.Currency" [value]="currency.currencyId">{{currency.name}}</option>
                </select>
              </div>
              <div class="col-lg-6">
                <label class="">
                  Calculation Type:
                </label>
                <select class="form-control m-input" formControlName="PayrollBankId">
                  <option value="" disabled>-- Select Payroll Bank --</option>
                  <option *ngFor="let pb of payrollsetupservice.payrollbank" [value]="pb.payrollBankId">{{pb.bankTitle}}</option>
                </select>
              </div>
            </div>
          </form>
 
            <div class="m--space-30"></div>
            <div class="row">
              <div class="col-xl-12">
                <div class="m-portlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Master Payroll Detail</h3>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__body">
                    <div class="m-section">
                      <div class="m-section__content">
                        <dx-data-grid id="gridContainer"
                        [dataSource]="[]"
                         keyExpr="masterPayrollDetailsId"
                         (onRowInserted)="addMasterPayrolldetail($event)" 
                         (onRowUpdating)="updatingMasterDetail($event)"
                         (onRowUpdated)="updateMasterDetail()"
                          (onRowRemoved)="deleteleavetypebalance($event)">
                          <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                          </dxo-editing>
                          <dxo-filter-row [visible]="true"></dxo-filter-row>
                          <dxo-header-filter [visible]="true"></dxo-header-filter>
          
                          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                          <dxo-paging [pageSize]="6"></dxo-paging>
                          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                          </dxo-pager> 
                          <dxi-column dataField="value"></dxi-column>
                          <dxi-column dataField="effectiveDate" dataType="date" format="shortDate"></dxi-column>
                          <dxi-column dataField="endDate" dataType="date" format="shortDate"></dxi-column>
                   
                          <dxi-column dataField="allowanceId" caption="Allowance">
                            <dxo-lookup [dataSource]="payrollsetupservice?.allowance" displayExpr="name" valueExpr="allowanceId">
                            </dxo-lookup> 
                            </dxi-column>
                          <dxi-column dataField="frequencyId" caption="Frequency">
                            <dxo-lookup [dataSource]="payrollsetupservice?.frequency" displayExpr="name" valueExpr="frequencyId">
                            </dxo-lookup> 
                            </dxi-column>
                          <dxi-column dataField="payrollTypeId" caption="Payroll Type">
                            <dxo-lookup [dataSource]="payrollsetupservice?.payrolltype" displayExpr="name" valueExpr="payrollTypeId">
                            </dxo-lookup> 
                            </dxi-column>
                 
                        </dx-data-grid>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="m--space-30"></div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button type="reset" class="btn btn-brand" (click)="submitForm(MasterPayrollForm.value)">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>  
        </div>
      </div>
    </div>
  </div>

  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
           Master Payroll 
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <dx-data-grid id="gridContainer" [dataSource]="masterPayroll"
       keyExpr="masterPayrollId"
        (onRowUpdated)="updateMasterPayroll()"
        (onRowUpdating)="updatingMasterPayroll($event)"
         (onRowRemoved)="deleteMasterPayroll($event)">
        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
        </dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter> 
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-paging [pageSize]="4"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
        </dxo-pager>

        <dxi-column dataField="userId" caption="Employee">
          <dxo-lookup [dataSource]="users" displayExpr="firstName" valueExpr="userId"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="bankTransferCode"></dxi-column> 
        <dxi-column dataField="currencyId" caption="Currency">
          <dxo-lookup [dataSource]="payrollsetupservice?.Currency" displayExpr="name" valueExpr="currencyId"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="payrollBankId" caption="Payroll Bank">
          <dxo-lookup [dataSource]="payrollsetupservice?.payrollbank" displayExpr="bankTitle" valueExpr="payrollBankId"></dxo-lookup>
        </dxi-column>
      </dx-data-grid>

    </div>
  </div>

</div>