<div _ngcontent-c2="" class="m-content">
		<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__head">
          <div _ngcontent-c2="" class="m-portlet__head">
            <div _ngcontent-c2="" class="m-portlet__head-caption">
              <div _ngcontent-c2="" class="m-portlet__head-title">
                <h3 _ngcontent-c2="" class="m-portlet__head-text">
                    Khawaja Mujtaba <small _ngcontent-c2="" class="pad_15">
                      <a _ngcontent-c2="" class="m-link" href="#"> Edit </a>
                      <a _ngcontent-c2="" class="m-link pad_8" href="#"> Contact Info </a>
                    </small><br _ngcontent-c2=""><small _ngcontent-c2=""> Male 16 Year(s) (02-Sep-2001) </small>
                </h3>
              </div>
            </div>
            <div _ngcontent-c2="" class="m-portlet__head-tools">
              <ul _ngcontent-c2="" class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                <li _ngcontent-c2="" class="nav-item m-tabs__item">
                  <a _ngcontent-c2="" class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab"> Patient Id </a></li>
                  <li _ngcontent-c2="" class="nav-item m-tabs__item">
                    <a _ngcontent-c2="" class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab"> 548HTU </a></li></ul>
          </div>
        </div>
				
				  </div> 
          <div class="m-separator m-separator--dashed"></div>
          <div class="m-portlet__body">
              <div class="row">
                <div class="col-xl-4">
                  <div class="m-tabs" data-tabs="true" data-tabs-contents="#m_sections">
                    <ul class="m-nav m-nav--active-bg m-nav--active-bg-padding-lg m-nav--font-lg m-nav--font-bold m--margin-bottom-20 m--margin-top-10 m--margin-right-40" id="m_nav" role="tablist">
                      <li class="m-nav__item">
                        <a class="m-nav__link m-tabs__item m-tabs__item--active" data-tab-target="#m_section_1" >
                          <span class="m-nav__link-text">
                              Height (cm)
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                        <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_2" >
                          <span class="m-nav__link-text">
                              Weight (kg)
                          </span>
                        </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_3" >
                            <span class="m-nav__link-text">
                              (Calculated) BMI
                            </span>
                          </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_4" >
                            <span class="m-nav__link-text">
                              Temperature (C)
                            </span>
                          </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_5" >
                            <span class="m-nav__link-text">
                                Pulse
                            </span>
                          </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_6" >
                            <span class="m-nav__link-text">
                               Respiratory rate
                            </span>
                          </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_7" >
                            <span class="m-nav__link-text">
                              Blood Pressure
                            </span>
                          </a>
                      </li>
                      <li class="m-nav__item">
                          <a class="m-nav__link m-tabs__item" data-tab-target="#m_section_8" >
                            <span class="m-nav__link-text">
                                Blood oxygen saturation
                            </span>
                          </a>
                      </li>
                      
                    </ul>
                  </div>
                </div>

            

                <div class="col-xl-8">
                  <div class="m-tabs-content" id="m_sections">
                    <!--begin::Section 1-->
                    <div class="m-tabs-content__item m-tabs-content__item--active" id="m_section_1">
                        <div class="col-lg-4 m-form__group-sub">
                            <label class="form-control-label">Height (cm)</label>
                            <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                        </div>
                      </div>
                    <!--begin::Section 1-->  
                  <!--begin::Section 2-->
                    <div class="m-tabs-content__item" id="m_section_2">
                        <div class="col-lg-4 m-form__group-sub">
                            <label class="form-control-label">Weight (kg)</label>
                            <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                        </div>
                    </div>
                    <!--begin::Section 2-->
                  <!--begin::Section 3-->
                    <div class="m-tabs-content__item" id="m_section_3">
                        <div class="col-lg-6 m-form__group-sub">
                            <label class="form-control-label">(Calculated) BMI</label>
                            <p>If you record a weight and height , we will calculate the BMI Tab or Enter to continue</p>
                        </div>
                    </div>
                    <!--begin::Section 3-->

                      <!--begin::Section 4-->
                      <div class="m-tabs-content__item" id="m_section_4">
                          <div class="col-lg-4 m-form__group-sub">
                              <label class="form-control-label">Temperature (C)</label>
                              <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                          </div>
                      </div>
                      <!--begin::Section 4-->


                        <!--begin::Section 5-->
                    <div class="m-tabs-content__item" id="m_section_5">
                        <div class="col-lg-4 m-form__group-sub">
                            <label class="form-control-label">Pulse</label>
                            <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                        </div>
                    </div>
                    <!--begin::Section 5-->


                      <!--begin::Section 6-->
                      <div class="m-tabs-content__item" id="m_section_6">
                          <div class="col-lg-4 m-form__group-sub">
                              <label class="form-control-label">Respiratory rate</label>
                              <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                          </div>
                      </div>
                      <!--begin::Section 6-->


                        <!--begin::Section 7-->
                    <div class="m-tabs-content__item" id="m_section_7">
                        <div class="col-lg-4 m-form__group-sub">
                            <label class="form-control-label">Blood Pressure</label>
                            <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                        </div>
                    </div>
                    <!--begin::Section 7-->

                    <!--begin::Section 8-->
                    <div class="m-tabs-content__item" id="m_section_8">
                        <div class="col-lg-4 m-form__group-sub">
                            <label class="form-control-label">Blood oxygen saturation</label>
                            <input type="number" class="form-control m-input" name="billing_card_cvv" placeholder="" value="450">
                        </div>
                    </div>
                    <!--begin::Section 8-->

                  </div>
                </div>
              </div>
          </div>
    </div> 
</div>

