.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev , .carousel-control-next
{
    color: #81ebc5;
    margin: -45px;
}
.la
{
    font-size: 2.7rem;
}

.carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: -23px;
    text-indent: -999px;
    background-color: #81ebc5;
}