 
				<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">Tax on Benefit</h3>
					</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-section">
					<div class="m-section__content" >
						<dx-data-grid id="gridContainer" [dataSource]="taxBenefit"
						keyExpr="taxBenefitId"
						 (onRowInserted)="addTaxBenefit($event)" 
						 (onRowUpdated)="updateTaxBenefit()"
						 (onRowUpdating)="updatingBenefit($event)"
							(onRowRemoved)="deleteTaxBenefit($event)"> 
							<dxo-editing  mode="popup" [allowUpdating]="true"[allowDeleting]="false"[allowAdding]="true"[useIcons]="true">	
							</dxo-editing>
							<dxo-filter-row [visible]="true"></dxo-filter-row>
							<dxo-header-filter [visible]="true"></dxo-header-filter>
							<dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
							<dxo-paging [pageSize]="8"></dxo-paging>
							<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
							<dxi-column dataField="payrollTypeId" caption="Payroll Type">
									<dxo-lookup [dataSource]="payrollType" displayExpr="name" valueExpr="payrollTypeId">
									</dxo-lookup> 
									</dxi-column>
							<dxi-column dataField="taxYearId" caption="Tax Year">
									<dxo-lookup [dataSource]="taxYear" displayExpr="name" valueExpr="taxYearId">
									</dxo-lookup> 
									</dxi-column>
							<dxi-column dataField="benefitId" caption="Benefit">
									<dxo-lookup [dataSource]="benefit" displayExpr="name" valueExpr="benefitId">
									</dxo-lookup> 
									</dxi-column>
							<dxi-column dataField="from" caption="From" dataType="date" format="shortdate"></dxi-column>
							<dxi-column dataField="till" caption="Till" dataType="date" format="shortdate"></dxi-column> 
							<dxi-column dataField="baseAmount" caption="Base Amount"></dxi-column> 
							<dxi-column dataField="percentage" caption="Percentage"></dxi-column> 
							<dxi-column dataField="remarks" caption="Remarks"></dxi-column> 
							<dxi-column dataField="taxableAmount" caption="Taxable Amount"></dxi-column> 
							<dxi-column dataField="periodTaxableAmount" caption="Period Taxable Amount"></dxi-column> 
							</dx-data-grid> 
					</div>
					</div>
				</div>
				</div>
 




