<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Payment Receipt
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<ul class="nav nav-pills" role="tablist">
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_3_1" [ngClass]="showApp">
								Appointment
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_3_2" [ngClass]="showID">
								Invoice
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_3_3" [ngClass]="showMRN">
								View
							</a>
						</li>
					</ul>





					<div class="tab-content">
						<div class="tab-pane" id="m_tabs_3_1" role="tabpanel" [ngClass]="showApp">
							<div class="form-group col-lg-3">
								<label> MRN No </label>
								<input class="form-control m-input" #MRN type="text" (change)="GetAppointmentsByMRN(MRN.value)">
							</div>
							<!-- <div class="form-group col-lg-3">
								<label> Date </label>
								<div class="input-group date">
									<input class="form-control m-input" type="date" #Date (change)="GetAppointmentByDateAndMRN(Date.value, MRN.value)">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="la la-calendar"></i>
										</span>
									</div>
								</div>
							</div> -->
							<dx-data-grid id="gridContainer" [dataSource]="Appointments">
								<dxo-paging [pageSize]="5"></dxo-paging>
								<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 15, 30]" [showInfo]="true"></dxo-pager>
								<dxi-column dataField="appointmentDate" dataType="date" caption="Date"></dxi-column>
								<dxi-column dataField="tentativeTime" dataType="date" format="hh:mm:ss" caption="Tentative"></dxi-column>
								<dxi-column dataField="finalTime" dataType="date" format="hh:mm:ss" caption="Final"></dxi-column>
								<dxi-column dataField="remarks" dataType="text" caption="Remarks"></dxi-column>
								<dxi-column dataField="consultant.name" dataType="text" caption="Consultant"></dxi-column>
								<dxi-column dataField="patient.firstName" dataType="text" caption="Patient"></dxi-column>
								<dxi-column dataField="visitStatus" dataType="text" caption="Visit Status"></dxi-column>
								<dxi-column dataField="isFinalAppointment" dataType="boolean" caption="Finalized"></dxi-column>
								<dxi-column dataField="isPaid" dataType="boolean" caption="Paid"  ></dxi-column>
								<dxi-column dataField="isPaid" caption="Invoice" cellTemplate="chartCellTemplate" [width]="auto" ></dxi-column>
								<div *dxTemplate="let d of 'chartCellTemplate'">
										<dx-button *ngIf="d.value == null || d.value == false" (click)="SwitchTab('id', d, MRN.value)" icon="plus"></dx-button>
										<dx-button *ngIf="d.value == true"  (click)="SwitchTab('mrn', d, MRN.value)"icon="back"></dx-button>
								</div>
							</dx-data-grid>
						</div>


						<div class="tab-pane" id="m_tabs_3_2" role="tabpanel" [ngClass]="showID">
							<app-appointmentpaymentreceipt></app-appointmentpaymentreceipt>
						</div>

						<div class="tab-pane" id="m_tabs_3_3" role="tabpanel" [ngClass]="showMRN">
							<app-patient-invoice-view></app-patient-invoice-view>
						</div>
					</div>






				</div>
			</div>
		</div>
		<!--end::Portlet-->









	</div>
</div>