<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Payment Receipt
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<ul class="nav nav-pills" role="tablist">
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_3_1" [ngClass]="{'active show': !id}">
								Select Appointment
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#m_tabs_3_3" [ngClass]="{'active show': id}">
								Invoice
							</a>
						</li>
					</ul>





					<div class="tab-content">
						<div class="tab-pane" id="m_tabs_3_1" role="tabpanel" [ngClass]="{'active show': !id}">
							<div class="form-group col-lg-3">
								<label> MRN No </label>
								<input class="form-control m-input" #MRN type="text" (change)="GetAppointmentsByMRN(MRN.value)">
							</div>
							<!-- <div class="form-group col-lg-3">
								<label> Date </label>
								<div class="input-group date">
									<input class="form-control m-input" type="date" #Date (change)="GetAppointmentByDateAndMRN(Date.value, MRN.value)">
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="la la-calendar"></i>
										</span>
									</div>
								</div>
							</div> -->
							<dx-data-grid id="gridContainer" [dataSource]="Appointments">
								<dxo-paging [pageSize]="5"></dxo-paging>
								<dxo-pager [showPageSizeSelector]="false" [allowedPageSizes]="[5, 15, 30]" [showInfo]="true"></dxo-pager>
								<dxi-column dataField="tentativeTime" caption="Tentative"></dxi-column>
								<dxi-column dataField="finalTime" caption="Final"></dxi-column>
								<dxi-column dataField="remarks" caption="Remarks"></dxi-column>
								<dxi-column dataField="consultant.name" caption="Consultant"></dxi-column>
								<dxi-column dataField="patient.firstName" caption="Patient"></dxi-column>
								<dxi-column dataField="visitStatus" caption="Visit Status"></dxi-column>
								<dxi-column dataField="isFinalAppointment" caption="Finalized"></dxi-column>
								<dxi-column caption="Invoice" cellTemplate="chartCellTemplate" [width]="90" [allowEditing]="false"
								 [formItem]="{visible: false}"></dxi-column>
								<div *dxTemplate="let d of 'chartCellTemplate'">
									<div class="chart-cell" *ngIf="isPaid == 'true'">
										<dx-button caption="Add Invoice" (click)="ViewInvoice(d)" icon="view"></dx-button>
									</div>
									<div class="chart-cell" *ngIf="isPaid == 'false' || 'null'">
										<dx-button caption="Generate Invoice" (click)="GenerateInvoice(d)" icon="add"></dx-button>
									</div>
								</div>	
							</dx-data-grid>
						</div>


						<div class="tab-pane" id="m_tabs_3_3" role="tabpanel" [ngClass]="{'active show': id}">
							<app-appointmentpaymentreceipt></app-appointmentpaymentreceipt>

						</div>
					</div>






				</div>
			</div>
		</div>
		<!--end::Portlet-->









	</div>
</div>