<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">FWB Initial</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form>
            <div class="m-section">
              <div class="m-section__content">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Document #
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Date
                      </label>
                      <input type="date" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        File No
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Pat Id
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                    <div class="m-section__content">
                      <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                        <div class="m-demo__preview m-demo__preview--btn">
                          <a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only">
                            <i class="fa flaticon-clock"></i>
                          </a>
                          <a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
                            <i class="fa flaticon-calendar-2"></i>
                          </a>
                          <a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
                            <i class="fa flaticon-calendar-2"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Patient Name
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Spouse Name
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Treatment No
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Cycle No
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Treatment Type
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Doctor
                      </label>
                      <input type="date" class="form-control m-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Sonologist
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Age
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        ET Date
                      </label>
                      <input type="date" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Geat Age
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        LMP Date
                      </label>
                      <input type="date" class="form-control m-input">
                    </div>
                  </div>
                </div>
                <hr>
                <h3>
                  UltraSound Detail
                </h3>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        C Index
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        No of Foetus
                      </label>
                      <input type="date" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Foetal Heart Beat
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Foetal Movement
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Amniotic Fluid
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Placemental Locational
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        G.Sec
                      </label>
                      <input type="text" class="form-control m-input">
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Focal Masses In Uterus
                      </label>
                      <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <button class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>