<div class="m-content">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon m--hide">
            <i class="la la-gear"></i>
          </span>
            <h3 class="m-portlet__head-text">
              Delivery Order
            </h3>
        </div>
      </div>
    </div>
      <!--begin::Form-->
      <form class="m-form">
          <div class="m-portlet__body">

              <div class="m-form m-form--label-align-right m--padding-10">


                  <div class="m-portlet__foot m-portlet__foot--top m-portlet__foot--fit">
                      <div class="m-form__actions">
                          <div class="row align-items-end">
                              <div class="col-sm-12 m--align-left m--valign-bottom">
                                  <div class="row">
                                      <div class="col-md-2">
                                          <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">
                                                  Date
                                              </label>
                                              <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">
                                                  Delivery Order #
                                              </label>
                                              <input type="text" name="LastName" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="C-2487" value="">
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">
                                                  Sales Order Date
                                              </label>
                                              <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">
                                                  Sales Order #
                                              </label>
                                              <input type="text" name="LastName" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="S-548" value="">
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group m-form__group">
                                              <label for="exampleInputEmail1">
                                                  SO Receive Date
                                              </label>
                                              <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="m-form__group form-group row">

                                              <div class="col-12">
                                                  <div class="m-checkbox-inline">
                                                      <label class="m-checkbox">
                                                          <input type="checkbox">
                                                          Is Approved By
                                                          <span></span>
                                                      </label>
                                                  </div>
                                                  <span class="m-form__help">
                                                      Muhammad Ali Khan
                                                  </span>
                                              </div>
                                          </div>
                                      </div>


                                  </div>

                                  <div class="form-group m-form__group row">
                                      <label class="col-form-label col-sm-2">
                                          Approved Date & Time
                                      </label>
                                      <div class="col-sm-3">
                                          <div class="input-group date">
                                              <input type="text" class="form-control m-input" readonly="" value="1899-11-29 00:30" id="m_datetimepicker_3">
                                              <div class="input-group-append">
                                                  <span class="input-group-text">
                                                      <i class="la la-calendar glyphicon-th"></i>
                                                  </span>
                                              </div>
                                          </div>
                                      </div>

                                      <label class="col-form-label col-sm-2">
                                          WHDSNO
                                      </label>
                                      <div class="col-sm-2">
                                          <input type="text" name="WHDSNO" class="form-control m-input m-input--solid" id="WHDSNO" aria-describedby="WHDSNO" placeholder="S-548" value="">

                                      </div>
                                      <div class="col-sm-1">
                                          <button type="button" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                              Get SO
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>

                      
                  </div>


                  <div class="m-portlet__foot m-portlet__foot--top m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row align-items-end">
                            <div class="col-sm-12 m--align-left m--valign-bottom">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="exampleInputEmail1">
                                                Date
                                            </label>
                                            <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="exampleInputEmail1">
                                                Delivery Order #
                                            </label>
                                            <input type="text" name="LastName" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="C-2487" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="exampleInputEmail1">
                                                Sales Order Date
                                            </label>
                                            <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="exampleInputEmail1">
                                                Sales Order #
                                            </label>
                                            <input type="text" name="LastName" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="S-548" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="exampleInputEmail1">
                                                SO Receive Date
                                            </label>
                                            <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="m-form__group form-group row">

                                            <div class="col-12">
                                                <div class="m-checkbox-inline">
                                                    <label class="m-checkbox">
                                                        <input type="checkbox">
                                                        Is Approved By
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="m-form__help">
                                                    Muhammad Ali Khan
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="form-group m-form__group row">
                                    <label class="col-form-label col-sm-2">
                                        Approved Date & Time
                                    </label>
                                    <div class="col-sm-3">
                                        <div class="input-group date">
                                            <input type="text" class="form-control m-input" readonly="" value="1899-11-29 00:30" id="m_datetimepicker_3">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar glyphicon-th"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <label class="col-form-label col-sm-2">
                                        WHDSNO
                                    </label>
                                    <div class="col-sm-2">
                                        <input type="text" name="WHDSNO" class="form-control m-input m-input--solid" id="WHDSNO" aria-describedby="WHDSNO" placeholder="S-548" value="">

                                    </div>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn m-btn m-btn--gradient-from-primary m-btn--gradient-to-info">
                                            Get SO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>

                    
                </div>
                  </div>

          </div>
          </form>
          </div>
        </div>
