<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Purchase Order
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dropdown">
                            <button routerLink="/pharmacy/purchaseorderview" class="btn btn-primary" type="button">
                                <span>
                                    <i class="fa fa-eye"></i>
                                </span> View
                            </button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <!--begin::Form-->
                    <form class="m-form" [formGroup]="PurchaseOrderForm">
                        <div class="form-group row">
                            <div class="form-group col-lg-2">
                                <label for="exampleInputEmail1">
                                    PO No
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="OrderNumber"
                                    disabled>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="exampleInputEmail1">
                                    PO Date
                                </label>
                                <div class="input-group date">
                                    <input type="date" class="form-control m-input m-input--solid" formControlName="OrderDate">
                                </div>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="exampleInputEmail1">
                                    Status
                                </label>
                                <select class="form-control m-input" formControlName="Status">
                                    <option value="true"> Approved </option>
                                    <option value="false"> Pending </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Supplier
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="GetSupplierDetails(PurchaseOrderForm.value.SupplierId)"
                                    formControlName="SupplierId">
                                    <option *ngFor="let x of Suppliers" [value]="x?.supplierId"> {{x?.name}} </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Origin
                                </label>
                                <select class="form-control m-input" formControlName="Origin">
                                    <option value="Local"> Local </option>
                                    <option value="Imported"> Imported </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-lg-2">
                                <label for="exampleInputEmail1">
                                    Currency
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="GetCurrencyDetails(PurchaseOrderForm.value.CurrencyId)"
                                    formControlName="CurrencyId">
                                    <option *ngFor="let x of Currencies" [value]="x?.inventoryCurrencyId">{{x?.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="exampleInputEmail1">
                                    Exchange Rate
                                </label>
                                <input type="text" #ExchangeRate class="form-control m-input m-input--solid"
                                    formControlName="ExchangeRate" [value]="SelectedCurrency?.exchangeRate || ''">
                            </div>
                            <div class="form-group col-lg-8">
                                <label for="exampleInputEmail1">
                                    Remarks
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
                            </div>

                        </div>
                    </form>
                    <!--end::Form-->


                    <div class="row">
                        <div class="m-portlet__body">
                            <div class="m-section">
                                <div class="m-section__content">

                                    <div>
                                        <button type="button" data-toggle="modal" data-target="#m_modal_6" class="btn btn-success pull-right margin"><i
                                                class="fa fa-plus"></i>
                                        </button>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12">
                                                <dx-data-grid id="gridContainer" [dataSource]="PurchaseOrderDetailsFormArray"
                                                    (onRowRemoved)="RemovePurchaseOrderDetails($event)">
                                                    <dxo-editing mode="popup" [allowDeleting]="false">
                                                    </dxo-editing>
                                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                                                    <dxo-paging [pageSize]="5"></dxo-paging>
                                                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]"
                                                        [showInfo]="true"></dxo-pager>
                                                    <dxi-column dataField="ManualCode" caption="Manual Code"></dxi-column>
                                                    <dxi-column dataField="Description" caption="Description"></dxi-column>
                                                    <dxi-column dataField="PackType" caption="Pack Type"></dxi-column>
                                                    <dxi-column dataField="StockQuantity" caption="Stock Quantity"></dxi-column>
                                                    <dxi-column dataField="OrderQuantity" caption="Order Quantity"></dxi-column>
                                                    <dxi-column dataField="BonusQuantity" caption="Bonus Quantity"></dxi-column>
                                                    <dxi-column dataField="PerUnit" caption="Per Unit"></dxi-column>
                                                    <dxi-column dataField="Rate" caption="Rate"></dxi-column>
                                                    <dxi-column dataField="GrossAmount" caption="Gross Amount"></dxi-column>
                                                    <dxi-column dataField="DiscountPercentage" caption="Discount Percentage"></dxi-column>
                                                    <dxi-column dataField="DiscountAmount" caption="Discount Amount"></dxi-column>
                                                    <dxi-column dataField="SalesTaxPercentage" caption="Sales Tax Percentage"></dxi-column>
                                                    <dxi-column dataField="SalesTaxAmount" caption="Sales Tax Amount"></dxi-column>
                                                    <dxi-column dataField="NetAmount" caption="Net Amount"></dxi-column>

                                                </dx-data-grid>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6">
                                                <div class="form-group m-form__group row">
                                                    <label for="example-text-input" class="col-4 col-form-label">
                                                        Total Quantity
                                                    </label>
                                                    <div class="col-6">
                                                        <input type="number" class="form-control m-input m-input--solid"
                                                            [value]="TotalQuantity" disabled> </div>
                                                </div>

                                                <div class="form-group m-form__group row">
                                                    <label for="example-text-input" class="col-4 col-form-label">
                                                        Total Amount
                                                    </label>
                                                    <div class="col-6">
                                                        <input type="number" class="form-control m-input m-input--solid"
                                                            [value]="TotalOrderAmount" disabled> </div>
                                                </div>
                                            </div>
                                        </div>




                                        <!--  <div class="form-group m-form__group row">
                                                    <div class="col-lg-10"></div>
                                                    <div class="col-lg-2">
                                                        
                                                       
                                                    </div>
                                                    <div class="col-lg-10"></div>
                                                </div> -->
                                    </div>

                                    <!-- </form> -->
                                    <div class="modal-footer">
                                        <button class="btn btn-success" (click)="SubmitPurchaseOrder()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <hr>



                    <!--end::Portlet-->


                </div>
            </div>
        </div>
    </div>
</div>

<!-- <model>-->

<!-- strat model for send sms -->

<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Add Medicine
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="PurchaseOrderDetailsForm">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Manual Code
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="GetItemDetails(PurchaseOrderDetailsForm.value.ManualCode)"
                                    formControlName="ManualCode">
                                    <option *ngFor="let x of FilteredInventoryItems" [value]="x?.itemCode">
                                        {{x?.itemCode}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Description
                                </label>
                                <input class="form-control m-input m-input--solid" formControlName="Description"
                                    [value]="SelectedInventoryItem?.description || ''" disabled>

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Pack Type
                                </label>
                                <input class="form-control m-input m-input--solid" formControlName="PackType" [value]="SelectedInventoryItem?.packType?.name || ''"
                                    disabled>

                            </div>
                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Current Stock
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="StockQuantity"
                                    [value]="SelectedInventoryItem?.inventory?.stockQuantity || ''" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Order Quantity
                                </label>
                                <input type="number" #OrderQuantity class="form-control m-input m-input--solid"
                                    formControlName="OrderQuantity" (keyup)="CalculateGrossAmount(ExchangeRate.value || 0, OrderQuantity.value || 0, BonusQuantity.value || 0)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Bonus Quantity
                                </label>
                                <input type="number" #BonusQuantity class="form-control m-input m-input--solid"
                                    formControlName="BonusQuantity" (keyup)="CalculateGrossAmount(ExchangeRate.value || 0, OrderQuantity.value || 0, BonusQuantity.value || 0)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Per Unit
                                </label>
                                <input class="form-control m-input m-input--solid" formControlName="PerUnit" [value]="SelectedInventoryItem?.unit?.name || ''"
                                    disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Rate
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="Rate"
                                    [value]="SelectedInventoryItem?.unitPrice || ''" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Sales Tax %
                                </label>
                                <input type="number" #SalesTaxPercentage class="form-control m-input m-input--solid"
                                    formControlName="SalesTaxPercentage" (keyup)="CalculateSalesTaxAmount(SalesTaxPercentage.value || 0)">
                            </div>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Discount %
                                </label>
                                <input type="text" [disabled]="fieldsenabled" #DiscountPercentage class="form-control m-input m-input--solid"
                                    formControlName="DiscountPercentage" (keyup)="CalculateDiscountAmount(DiscountPercentage.value || 0)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Gross Amount
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="GrossAmount"
                                    [value]="GrossAmount" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Sales Tax Amount
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="SalesTaxAmount"
                                    [value]="SalesTaxAmount" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Discount Amount
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="DiscountAmount"
                                    [value]="DiscountAmount" disabled>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    Net Amount
                                </label>
                                <input type="number" class="form-control m-input m-input--solid" formControlName="NetAmount"
                                    [value]="NetAmount" disabled>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-success" (click)="AddPurchaseOrderDetails(PurchaseOrderDetailsForm.value)">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- <model>-->