<div class="m-content">

    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Purchase Order
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form" [formGroup]="PurchaseOrderForm">
                    <div class="m-portlet__body">

                        <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    PO No
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="OrderNumber" disabled>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    PO Date
                                </label>
                                <div class="input-group date">
                                    <input type="date" class="form-control m-input m-input--solid" formControlName="OrderDate" >
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Status
                                </label>
                                <!-- <input type="text" class="form-control m-input m-input--solid" formControlName="Status"
                                    disabled> -->
                                    <select class="form-control m-input" formControlName="Status">
                                        <option value="true"> Approved </option>
                                        <option value="false"> Pending </option>
                                    </select>
                            </div>
                            <!-- <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Tax
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
                            </div> -->
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Supplier
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="GetSupplierDetails(PurchaseOrderForm.value.SupplierId)"
                                    formControlName="SupplierId">
                                    <option *ngFor="let x of Suppliers" [value]="x?.supplierId"> {{x?.name}} </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Origin
                                </label>
                                <select class="form-control m-input" formControlName="Origin">
                                    <option value="Local"> Local </option>
                                    <option value="Imported"> Imported </option>
                                </select>
                                <!-- <input type="text" class="form-control m-input m-input--solid" formControlName="Origin"
                                    disabled> -->
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Currency
                                </label>
                                <select class="form-control m-input ng-pristine ng-valid ng-touched" (change)="GetCurrencyDetails(PurchaseOrderForm.value.CurrencyId)"
                                    formControlName="CurrencyId">
                                    <option *ngFor="let x of Currencies" [value]="x?.inventoryCurrencyId">{{x?.name}} </option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Exchange Rate
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="ExchangeRate"
                                    [value]="SelectedCurrency?.exchangeRate || ''" disabled>
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="form-group col-lg-3">
                                <label for="exampleInputEmail1">
                                    Remarks
                                </label>
                                <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
                            </div>
                            <!-- <button type="button" (click)="SavePurchaseOrderForm(PurchaseOrderForm.value)" class="btn btn-primary">
                                Save
                            </button> -->
                        </div>

                        <!-- <div class="modal-footer">
                            <button type="reset"  class="btn btn-secondary">
                                Reset
                            </button>
                            <button type="button" (click)="SavePurchaseOrderForm(PurchaseOrderForm.value)" class="btn btn-primary">
                                Save
                            </button>
                        </div>  -->
                        
                        <!-- <div class="modal-footer"></div>
                            <p>Date/Time: <span id="datetime"></span></p>
                            <script>
                                var dt = new Date();
                                document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
                            </script>
                        </div> -->


                    </div>

                </form>
                <!--end::Form-->


                <div class="row">
                    <div class="m-portlet__body">
                        <div class="m-section">
                            <div class="m-section__content">

                                <form [formGroup]="PurchaseOrderDetailsForm">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12" style="/* overflow-x: scroll; */overflow-x: scroll;max-width: 1058px;">
                                            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" style="width: 2000px;">
                                                <th>Manual Code</th>
                                                <th>Description</th>
                                                <th>Pack Type</th>
                                                <th>Current Stock</th>
                                                <th>Order Quantity</th>
                                                <th>Bonus Quantity</th>
                                                <th>Per Unit</th>
                                                <th>Rate</th>
                                                <th>Gross Amount</th>
                                                <th>Discount %</th>
                                                <th>Discount Amount</th>
                                                <th>Sales Tax %</th>
                                                <th>Sales Tax Amount</th>
                                                <th>Net Amount</th>
                                                <th>Add</th>
                                                <tr>
                                                     <td>
                                                        <select class="form-control m-input ng-pristine ng-valid ng-touched"
                                                            style="width: 100px;" (change)="GetItemDetails(PurchaseOrderDetailsForm.value.ManualCode)"
                                                            formControlName="ManualCode">
                                                            <option *ngFor="let x of FilteredInventoryItems" [value]="x?.itemCode">
                                                                {{x?.itemCode}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td><input class="form-control m-input m-input--solid"
                                                            formControlName="Description" [value]="SelectedInventoryItem?.description || ''"
                                                            disabled></td>
                                                    <td><input class="form-control m-input m-input--solid"
                                                            formControlName="PackType" [value]="SelectedInventoryItem?.packType?.name || ''"
                                                            disabled></td>
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                            formControlName="StockQuantity" [value]="SelectedInventoryItem?.inventory?.stockQuantity || ''"
                                                            disabled></td>
                                                    <td><input type="number" #OrderQuantity class="form-control m-input m-input--solid"
                                                            formControlName="OrderQuantity" (keyup)="CalculateGrossAmount(OrderQuantity.value || 0, BonusQuantity.value || 0)"></td>
                                                    <td><input type="number" #BonusQuantity class="form-control m-input m-input--solid"
                                                            formControlName="BonusQuantity" (keyup)="CalculateGrossAmount(OrderQuantity.value || 0, BonusQuantity.value || 0)" ></td>
                                                    <td><input class="form-control m-input m-input--solid"
                                                            formControlName="PerUnit" [value]="SelectedInventoryItem?.unit?.name || ''"
                                                            disabled></td> 
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                        formControlName="Rate" [value]="SelectedInventoryItem?.retailPrice || ''"
                                                        disabled></td>
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                            formControlName="GrossAmount" [value]="GrossAmount" disabled>
                                                        </td>
                                                    <td><input type="number" #DiscountPercentage class="form-control m-input m-input--solid"
                                                            formControlName="DiscountPercentage" (keyup)="CalculateDiscountAmount(DiscountPercentage.value || 0)"></td>
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                            formControlName="DiscountAmount" [value]="DiscountAmount" disabled></td>
                                                    <td><input type="number" #SalesTaxPercentage class="form-control m-input m-input--solid"
                                                            formControlName="SalesTaxPercentage" (keyup)="CalculateSalesTaxAmount(SalesTaxPercentage.value || 0)"></td>
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                            formControlName="SalesTaxAmount" [value]="SalesTaxAmount" disabled></td>
                                                    <td><input type="number" class="form-control m-input m-input--solid"
                                                            formControlName="NetAmount" [value]="NetAmount" disabled></td>
                                                    <td>
                                                        <button type="button" (click)="AddPurchaseOrderDetails(PurchaseOrderDetailsForm.value)"
                                                            class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                                            <i class="la la-add"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div>

                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12" style="/* overflow-x: scroll; */overflow-x: scroll;max-width: 1058px;">
                                                <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" style="width: 2000px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Manual Code</th>
                                                            <th>Description</th>
                                                            <th>Pack Type</th>
                                                            <th>Current Stock</th>
                                                            <th>Order Quantity</th>
                                                            <th>Bonus Quantity</th>
                                                            <th>Per Unit</th>
                                                            <th>Rate</th>
                                                            <th>Gross Amount</th>
                                                            <th>Discount %</th>
                                                            <th>Discount Amount</th>
                                                            <th>Sales Tax %</th>
                                                            <th>Sales Tax Amount</th>
                                                            <th>Net Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let x of PurchaseOrderDetailsFormArray; let y of PurchaseOrderDetailsArray; let z of Inventories; let i = index">
                                                            <th scope="row">
                                                                {{x?.ManualCode}}
                                                            </th>
                                                            <td>
                                                                {{x?.Description}}
                                                            </td>
                                                            <td>
                                                                {{x?.PackType}}
                                                            </td>
                                                            <td>
                                                                {{x?.StockQuantity}}
                                                            </td>
                                                            <td>
                                                                {{x?.OrderQuantity}}
                                                            </td>
                                                            <td>
                                                                {{x?.BonusQuantity}}
                                                            </td>
                                                            <td>
                                                                {{x?.PerUnit}}
                                                            </td>
                                                            <td>
                                                                {{x?.Rate}}
                                                            </td>
                                                            <td>
                                                                {{x?.GrossAmount}}
                                                            </td>
                                                            <td>
                                                                {{x?.DiscountPercentage}}
                                                            </td>
                                                            <td>
                                                                {{x?.DiscountAmount}}
                                                            </td>
                                                            <td>
                                                                {{x?.SalesTaxPercentage}}
                                                            </td>
                                                            <td>
                                                                {{x?.SalesTaxAmount}}
                                                            </td>
                                                            <td>
                                                                {{x?.NetAmount}}
                                                            </td>
                                                            <td>
                                                                <button type="button" (click)="RemovePurchaseOrderDetails(i, x?.NetAmount, x?.OrderQuantity + x?.BonusQuantity)"
                                                                    class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                                                    <i class="la la-remove"></i>
                                                                </button>
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-10"></div>
                                                <div class="col-lg-2">
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalQuantity" disabled>
                                                        <input type="number" class="form-control m-input m-input--solid" [value]="TotalOrderAmount" disabled>
                                                </div>
                                             <div class="col-lg-10"></div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <button (click)="SubmitPurchaseOrder()">
                Submit
            </button>
            <button type="reset"  class="btn btn-secondary" (click)="ResetWholeForm()">
                Reset
            </button>
        </div>
    </div>
</div>