<div class="m-content">
    <div class="row">
        <div class="col-lg-12"> 

<div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">Comission</h3>
        </div>
      </div>
    </div>
  
  
  <div class="m-portlet__body">
  <div class="row">
    <div class="col-md-12"> 
        <dx-data-grid id="gridContainer" [dataSource]="Comissions" keyExpr="comissionId" (onRowUpdating)="UpdateModel($event)" (onRowInserted)="AddComission($event)" (onRowUpdated)="UpdateComission()" (onRowRemoved)="DeleteComission($event)"> 
            <dxo-editing  mode="popup"[allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
              <dxo-popup title="Add Comission" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
            </dxo-editing>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
            <dxi-column dataField="name" caption="Name"></dxi-column>          
            <dxi-column dataField="percentage" caption="Percentage" [visible]="true"></dxi-column>
           
            </dx-data-grid> 
     </div>
  
     
  </div>
  </div></div>

</div>
</div></div>