<div class="m-portlet m-portlet--tabs">
        <div class="m-portlet__head" style="padding: 0px 0px 0px 0px;background:#dee1e7;">
    
            <div class="m-portlet__head-tools">
    
    
                <div class="container">
                    <div class="scroller scroller-left">
                        <i class="la la-angle-left"></i>
                    </div>
                    <div class="scroller scroller-right">
                        <i class="la la-angle-right"></i>
                    </div>
                    <div class="wrapper">
    
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x list" role="tablist">
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #4d65bf;">
                                    <i class="la la-users" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Human Resource Management
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #0070c4;">
                                    <i class="la la-hospital-o" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Hospital Management System
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #3173e9;">
                                    <i class="la la-user-md" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Lab Information System
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #d95531;">
                                    <i class="la la-shopping-cart" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Inventory Management System
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #3173e9;">
                                    <i class="la 	la-usd" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Payroll Management System
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item" style="text-align: center; padding: 0px; margin-right: 0px;">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_5" role="tab" style="padding: 40px 15px 8px 15px;font-size: 14px;background: #ac1f40;">
                                    <i class="la la-credit-card" style="display: block; height: 33px;font-size: 46px;"></i>
                                    Accounting System
                                </a>
                            </li>
    
    
    
                        </ul>
    
                    </div>
                </div>
    
    
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="tab-content">
                <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Attendance
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancerequest" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Request
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/official-visit-entry" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                official-visit-entry
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/overtime-entitlement" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Overtime Entitlement
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/employee-overtime-entitlement" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Employee Overtime Entitlement
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/rostercopy" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Roster Copy
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/rostermapping" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Roster Mapping
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" style="margin: 22px 0px 5px 0px; font-weight: 600;">
                                        <span class="m-nav__link-text">
                                            <strong>Attendance Admin</strong>
                                        </span>
                                    </li>
                                    <hr>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendanceadmin/attendanceflagexemption" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Attendance flag Exemption
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendanceadmin/attendancerule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Rule
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" style="margin: 22px 0px 5px 0px; font-weight: 600;">
                                        <span class="m-nav__link-text">
                                            <strong>Over Time</strong>
                                        </span>
                                    </li>
                                    <hr>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/overtime/overtimeflag" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Overtime Flag
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/overtime/overtimetype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Overtime Type
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" style="margin: 22px 0px 5px 0px; font-weight: 600;">
                                        <span class="m-nav__link-text">
                                            <strong>Attendance Setup</strong>
                                        </span>
                                    </li>
                                    <hr>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/assignroster" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Assign Roster
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/attendanceflag" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Flag
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/attendancerequestapprover" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Request Approve
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/attendancerequesttype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Request Type
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/flagcategory" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Flag Category
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/flageffecttype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Flag Effect Type
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/flagtype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Flag Type
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/flagvalue" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Flag Value
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/roster" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Roster
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/shift" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Shift
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Employees
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/employee/employees" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Employees
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/employee/registration" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Employee Registration
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/rolesandprivileges" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Roles & Priviliges
                                            </span>
                                        </a>
                                    </li>
    
                                </ul>
    <hr>
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Company
                                        </span>
                                    </li>
                                    
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/registration" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Branch
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/company" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Company
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/department" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Department
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/feature" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Feature
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/module" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Module
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/role" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Role
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Leave
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/leaverequest" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Leave Request
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/leaveapproval" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Leave Approval
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/leaveclosing" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Leave Closing
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item" style="margin: 22px 0px 5px 0px; font-weight: 600;">
                                        <span class="m-nav__link-text">
                                            <strong>Leave Admin</strong>
                                        </span>
                                    </li>
                                    <hr>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/leaveopening" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Leave Opening
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/employeeleavepolicy" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Employee Leave Policy
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Setup Configuration
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/company" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Company Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/leave/leavesetup/leavetype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Leave Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/attendancesetup/roster" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Attendance Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/attendance/overtime/overtimeflag" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Overtime Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/payroll/payrollsetup/allowance" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Payroll Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/payroll/taxsetup/incometaxrule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Tax Setup
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hrm/payroll/loansetup/loantype" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Loan Setup
                                            </span>
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Patient
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/home" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Dashboard
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/findpatient" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Find Patient Records
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/registration" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Register Patient
    
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/activevisits" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Active Visit
    
                                            </span>
                                        </a>
                                    </li>
    
    
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Appointment
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Appointment Scheduling
                                            </span>
                                        </a>
                                    </li>
    
    
    
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Setup Configuration
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/visitnature" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                visit Nature
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="hims/patient/himssetuptest" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Test
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/diagnose" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Diagnose
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/consultant" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Consultant
                                            </span>
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
    
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Reports
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Biochemistry
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/findpatient" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                File Record
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/findpatient" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Daily Procedure
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/findpatient" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                TVOPU
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/registration" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Biochemistry On Treatment
    
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/activevisits" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Biochemistry
    
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/activevisits" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Biopsy
    
                                            </span>
                                        </a>
                                    </li>
    
    
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Embryology
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryology
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryofreeze
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryology Thawing
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryologist
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryology Section
                                            </span>
                                        </a>
                                    </li>
    
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Insemenation
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Insemination Prep
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Setup Configuration
                                        </span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/appointmentschedule" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">
                                                Embryologist
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="hims/patient/himssetuptest" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">
                                                Embryology Codes
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/diagnose" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Test Unit
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a routerLink="/hims/patient/consultant" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">
                                                Biochemistry
                                            </span>
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
    
                            <div class="col-sm-3">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first">
                                        <span class="m-nav__section-text">
                                            Reports
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>