

.img_dp{
    width: 150px;
    height: 100px;
    margin-left: 79px;
    border: 1px solid;
    border-radius: 1em;
}

.m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body {padding-left: 0px;}

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 50px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff0;
    height: 116px;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #ffffff !important;
    border-bottom: 5px solid #d95531 !important;
}
.m-tabs-line.nav.nav-tabs .nav-link i, .m-tabs-line a.m-tabs__link i {
    color: #ffffff !important;
}
.m-tabs-line.nav.nav-tabs .nav-link, .m-tabs-line a.m-tabs__link {
    background: transparent;
    color: #ffffff !important;
}
@media (min-width: 1200px){
    .container {
    max-width: 1250px !important;
}
}
@media (min-width: 993px){
    .m-brand.m-brand--skin-light {
        background: #003b77 !important;
    }
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover > i, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active > i, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover > i, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active > i {
    color: #ffffff !important;
}