<div class="m-subheader-search">
    <div class="row">
            <div class="col-sm-2 col align-self-end"></div>
            <div class="col-sm-2 col align-self-center"><h2 class="m-subheader-search__title">
                    Contact Number
                    <span class="m-subheader-search__desc">
                        {{User.phone}}
                    </span>
                </h2></div>
            <div class="col-sm-4">
                    <div class="m-card-profile"> 
                            <div class="m-card-profile__pic">
                                <div class="m-card-profile__pic-wrapper">
                                    <img src="../assets/app/media/img/users/user4.jpg" alt="">
                                </div>
                            </div>
                            <div class="m-card-profile__details">
                                <span class="m-card-profile__name" style="color: #c4820a;">
                                    {{User.fullName}}
                                </span>
                                <a href="" class="m-card-profile__email m-link">
                                   <b>Role :</b>  {{User.userLevel}}
                                </a>
                            </div>
                        </div>
            </div>
            <div class="col-sm-2 col align-self-center">
                    <h2 class="m-subheader-search__title">
                            Email Address
                            <span class="m-subheader-search__desc">
                                    {{User.email}}
                            </span>
                        </h2>
            </div>
            <div class="col-sm-1"></div>
    </div>
  
        
        <!-- <h2 class="m-subheader-search__title">
            Recent Bookings
            <span class="m-subheader-search__desc">
                Onling Bookings Management
            </span>
        </h2> -->
        <!-- <form class="m-form">
            <div class="m-grid m-grid--ver-desktop m-grid--desktop">
                <div class="m-grid__item m-grid__item--middle">
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-large m-input-icon--right">
                        <input type="text" class="form-control form-control-lg m-input m-input--pill" placeholder="Booking Number">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i class="la la-puzzle-piece"></i>
                            </span>
                        </span>
                    </div>
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                        <input type="text" class="form-control form-control-lg m-input m-input--pill" placeholder="From">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </span>
                    </div>
                    <div class="m-input-icon m-input-icon--fixed m-input-icon--fixed-md m-input-icon--right">
                        <input type="text" class="form-control form-control-lg m-input m-input--pill" placeholder="To">
                        <span class="m-input-icon__icon m-input-icon__icon--right">
                            <span>
                                <i class="la la-calendar-check-o"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="m-grid__item m-grid__item--middle">
                    <div class="m--margin-top-20 m--visible-tablet-and-mobile"></div>
                    <button type="button" class="btn m-btn--pill m-subheader-search__submit-btn">
                        Search Bookings
                    </button>
                   
                </div>
    
    
            </div>
        </form> -->
    </div>


    

