<div class="m-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Visit Summary
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body" style="padding: 0px !important;">


          <div class="m-card-profile">
            <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                        <img src="http://evasalesforceprod.azurewebsites.net/service//StoreImages\Store_3782\1536132286696.jpg" alt="">
                </div>
            </div>
            <div class="m-card-profile__details">
                <span class="m-card-profile__name">
                    Nizam store
                </span>
                <div class="m-card-profile__email">
                    03151003342
                </div>
                <div class="m-card-profile__email" style="padding: 0px 10px;">
                  111 A Shahrah-e-Faisal Rd, Block A 
                  (SMCHS), Karachi
                </div>
                
            </div>
        </div>



          <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
            <div class="m-demo__preview">
              <ul class="m-nav nav nav-tabs">
              
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Inventory" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Inventory Taking
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#order" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Order Taking
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Currency" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Gift Order
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Stock" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Market Survey
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Stock" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Merchandising
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Stock" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Shop Query
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <!-- Tab panes -->
      <div class="m-portlet">
        <div class="">
          <div class="tab-content">
            

            <div class="tab-pane  active" id="Inventory">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Sales Representative Visits</h3>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <div class="row">
                    <div class="col-md-12">
                      <dx-data-grid
    id="gridContainer"
    [dataSource]="customers"
    [columns]="['Date','Start Time', 'End Time', 'Visit detail']"
    [showBorders]="true">
</dx-data-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="order">
                <app-order-taking></app-order-taking>
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
