<div class="m-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="m-portlet m-portlet--full-height  ">
        <div class="m-portlet__body">
          <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
              Your Profile
            </div>
            <div class="m-card-profile__pic">
              <div class="m-card-profile__pic-wrapper">
                <img src="../assets/app/media/img/users/user4.jpg" alt="">
              </div>
            </div>
            <div class="m-card-profile__details">
              <span class="m-card-profile__name">
                Mark Andre
              </span>
              <a href="" class="m-card-profile__email m-link">
                mark.andre@gmail.com
              </a>
            </div>
          </div>
          <div class="m-portlet__body-separator"></div>
          <ul class="m-nav nav nav-tabs">

            <li class="m-nav__item">
              <a class="m-nav__link" href="#Inventory" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Inventory Taking
                </span>
              </a>
            </li>
            <li class="m-nav__item">
              <a class="m-nav__link" href="#order" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Order Taking
                </span>
              </a>
            </li>
            <li class="m-nav__item">
              <a class="m-nav__link" href="#Currency" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Gift Order
                </span>
              </a>
            </li>
            <li class="m-nav__item">
              <a class="m-nav__link" href="#Stock" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Market Survey
                </span>
              </a>
            </li>
            <li class="m-nav__item">
              <a class="m-nav__link" href="#Stock" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Merchandising
                </span>
              </a>
            </li>
            <li class="m-nav__item">
              <a class="m-nav__link" href="#Stock" data-toggle="tab">
                <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                <span class="m-nav__link-text">
                  Shop Query
                </span>
              </a>
            </li>
          </ul>
       

        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <!-- Tab panes -->
      <div class="m-portlet">
        <div class="">
          <div class="tab-content">


            <div class="tab-pane  active" id="Inventory">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Sales Representative Visits</h3>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <div class="row">
                    <div class="col-md-12">
                        <dx-data-grid id="gridContainer" [dataSource]="dataSource" [showBorders]="true">    
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>    
                        <dxi-column dataField="Task_ID" [width]="90"></dxi-column>
                        <dxi-column dataField="Task_Subject" [width]="190" caption="Subject"></dxi-column>
                        <dxi-column dataField="Task_Status" caption="Status" [groupIndex]="0"></dxi-column>
                        <dxi-column dataField="Task_Priority" caption="Priority" [groupIndex]="1">
                          <dxo-lookup [dataSource]="priority" valueExpr="value"  displayExpr="name"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="ResponsibleEmployee.Employee_Full_Name" caption="Assigned To" [allowGrouping]="false" [allowSorting]="false"></dxi-column>
                        <dxi-column dataField="Task_Start_Date" caption="Start Date" dataType="date"></dxi-column>
                        <dxi-column dataField="Task_Due_Date" caption="Due Date" dataType="date"></dxi-column>
                    </dx-data-grid>
                      <!-- <dx-data-grid id="gridContainer" [dataSource]="storeVisits">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxo-paging [pageSize]="6"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                        </dxo-pager>
                        <dxi-column dataField="createdAt"></dxi-column>
                        <dxi-column dataField="startTime"></dxi-column>
                        <dxi-column dataField="endtime"></dxi-column>
                        <dxi-column dataField="storeId" caption="Action" cellTemplate="cellTemplate" [width]="100"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                          <a title="Visit Details" style="color: white;" class="btn btn-primary m-btn m-btn--icon btn-lg m-btn--icon-only  m-btn--pill">
                            <i class="flaticon-layers"></i>
                          </a>
                        </div>
                      </dx-data-grid> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="order">
              <app-order-taking></app-order-taking>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>