<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Sales Order
							</h3>
						</div>
					</div>

				</div>

				<!--begin::Form-->

				<form [formGroup]="SalesOrderForm">
					<div class="m-portlet__body">
						<div class="form-group row">

							<div class="form-group col-sm-2">
								<label for="exampleInputEmail1">Date</label>
								<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" formControlName="issueDate" type="date">
							</div>
							<div class="form-group col-sm-2">
								<label for="exampleInputEmail1">SO # </label>
								<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" type="text">
							</div>
							<div class="form-group col-sm-3">
								<label for="exampleInputEmail1">Distributor</label>
								<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" type="text">
							</div>
							<div class="form-group col-sm-2">
								<label for="exampleInputEmail1">Delivery Date</label>
								<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" formControlName="issueDate" type="date">
							</div>
							<div class="form-group col-sm-3">
									<div class="m-form__group form-group" style="margin-bottom: 0px;">
											<label for="" style="padding-bottom: 8px;">
												Payment Mode
											</label>
											<div class="m-radio-inline">
												<label class="m-radio">
													<input type="radio" name="example_3" value="1">
													Cash
													<span></span>
												</label>
												<label class="m-radio">
													<input type="radio" name="example_3" value="2">
													Credit
													<span></span>
												</label>
											</div>
										</div>
																	</div>
							
						</div>
						<div class="row">
								<div class="form-group col-sm-3">
										<label for="exampleInputEmail1">DSF</label>
										<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" type="text">
								</div>
								<div class="form-group col-sm-3">
										<label for="exampleInputEmail1">Shop Name</label>
										<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" type="text">
								</div>
								<div class="form-group col-sm-4">
										<label for="exampleInputEmail1">Remarks</label>
										<input class="form-control m-input m-input--solid ng-pristine ng-valid ng-touched" type="text">
								</div>
								<div class="form-group col-sm-2">
										<label for="exampleInputEmail1"></label>
										<button style="margin-top: 28px;" type="button" class="btn btn-primary btn-sm m-btn m-btn--custom">
												Submit
											</button>
								</div>

						</div>
						
<div class="row">
	<div class="col-sm-12">
			<dx-data-grid 
			id="gridContainer" 
			[dataSource]="orders"
			keyExpr="ID"
			[repaintChangesOnly]="true"
			[showColumnLines]="false"
			[showRowLines]="true"
			[showBorders]="true"
			[rowAlternationEnabled]="true"
			>
		
			<dxo-editing
				mode="batch"
				[allowAdding]="true"
				[allowUpdating]="true"
				[allowDeleting]="true">
			</dxo-editing>
		
			<dxi-column dataField="ID" [width]="100" caption="Product ID"></dxi-column>
			<dxi-column dataField="Product"></dxi-column>
			<dxi-column dataField="Sale Unit" [width]="100"></dxi-column>
			<dxi-column dataField="Qty" [width]="60"></dxi-column>
			<dxi-column dataField="Mes Qty" [width]="70"></dxi-column>
			<dxi-column dataField="Trade Price" dataType="text"></dxi-column>
			<dxi-column dataField="Gross Amount"></dxi-column>
			<dxi-column dataField="TO" caption="T.O/Ltr/Kg"></dxi-column>
			<dxi-column dataField="LessTO" caption="Less T.O Value"></dxi-column>
			<dxi-column dataField="RD" caption="Regular Discount %"></dxi-column>
			<dxi-column dataField="LRD" caption="Less Regular Discount"></dxi-column>
			<dxi-column dataField="LRD" caption="Extra Discount / Ltr Kg"></dxi-column>
			<dxi-column dataField="LRD" caption="Extra Discount Amount"></dxi-column>
			<dxi-column dataField="LRD" caption="Net Amount"></dxi-column>
			<dxi-column dataField="LRD" dataType="boolean" caption="Cancel"></dxi-column>
			<dxi-column dataField="LRD" dataType="boolean" caption="Complete"></dxi-column>
			<dxi-column dataField="SaleAmount" alignment="right" format="currency" [editorOptions]="editorOptions"></dxi-column>
		
			<dxo-summary [recalculateWhileEditing]="true">
				<dxi-total-item
					column="OrderNumber"
					summaryType="count">
				</dxi-total-item>
				<dxi-total-item
					column="SaleAmount"
					summaryType="sum"
					valueFormat="currency">
				</dxi-total-item>
			</dxo-summary>
		
		</dx-data-grid>
	</div>
</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>