// h4.m-widget24__title {
//     font-size: 14px;
// }

.paddind
{
  padding-bottom: 20px;
}

.m-demo .m-demo__preview {
  background: white;
  border: 4px solid #f7f7fa;
  padding: 13px !important;
}