
		<!-- <div class="m-portlet__head"> -->
			<!-- <div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">Payment Receipt</h3>
				</div>
			</div> -->
			<!-- </div> -->
			
			<form class="m-form ng-untouched" [formGroup]="InvoiceForm">
				<div class="m-portlet__head-tools">
					<div class="col-lg-12">
						<button class="btn btn-primary" type="button" (click)="SubmitPatientInvoice(InvoiceForm.value)">Submit</button>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="form-group row">
						<div class="form-group col-lg-3">
							<label for="exampleSelect1"> MRN No </label>
							<input class="form-control m-input m-input--solid " type="text" #MRN formControlName="MRN" (keyup)="GetPatientByMRN($event, MRN.value)">
						</div>
						<div class="form-group col-lg-3">
							<label for="exampleSelect1"> Date </label>
							<input class="form-control m-input m-input--solid" disabled [value]="(AppointmentDate | date : 'yyyy-MM-dd') || (CurrentDate | date : 'yyyy-MM-dd')" type="date" formControlName="Date">
						</div>
						<div class="form-group col-lg-3">
							<label for="exampleSelect1"> Visit Nature </label>
							<input class="form-control m-input m-input--solid " disabled type="text" formControlName="VisitNature">
						</div>
						<div class="form-group col-lg-3">
							<label for="exampleSelect1"> Slip Number </label>
							<input class="form-control m-input m-input--solid " disabled type="text" formControlName="SlipNumber">
						</div>
					</div>
					<div class="form-group row">
						<div class="form-group col-lg-6">
							<h5>Patient Information</h5>

						</div>
						<div class="form-group col-lg-6">
							<h5>Account Information</h5>
						</div>
					</div>
					<div class="form-group row">
						<div class="form-group col-lg-6">
							<div class="form-group row">
								<div class="form-group col-lg-3">
									<label for="exampleSelect1"> Patient Name </label>
									<input class="form-control m-input m-input--solid " type="text" formControlName="PatientName">
								</div>
								<div class="form-group col-lg-3">
									<label for="exampleSelect1"> Spouse Name </label>
									<input class="form-control m-input m-input--solid " disabled type="text" formControlName="SpouseName">
								</div>
							<!-- </div> -->
							<!-- <div class="form-group row"> -->
								<div class="form-group col-lg-6">
									<label for="exampleSelect1"> Package </label>
									<input class="form-control m-input m-input--solid" disabled type="text" formControlName="Package">
								</div>
							</div>
							<div class="form-group row">
								<div class="form-group col-lg-2">
									<label for="exampleSelect1">Price</label>
									<input class="form-control m-input m-input--solid" disabled type="number" formControlName="TotalPrice">
								</div>
								<div class="form-group col-lg-2">
									<label for="exampleSelect1">Paid</label>
									<input class="form-control m-input m-input--solid" disabled type="number" formControlName="TotalAmountPaid">
								</div>
								<div class="form-group col-lg-2">
									<label for="exampleSelect1">Balance</label>
									<input class="form-control m-input m-input--solid" #TotalBalance disabled type="number" formControlName="TotalBalance">
								</div>
								<div class="form-group col-lg-3">
									<label for="exampleSelect1">Current Payment</label>
									<input class="form-control m-input m-input--solid" #CurrentPayment disabled type="number" formControlName="CurrentPayment" (keyup)="CalculateNewBalance($event, CurrentPayment.value, TotalBalance.value)">
								</div>
								<div class="form-group col-lg-3">
									<label for="exampleSelect1">New Balance</label>
									<input class="form-control m-input m-input--solid" disabled type="number" formControlName="NewBalance" [value]="NewBalance">
								</div>
							</div>
							<div class="form-group row">
								<div class="form-group col-lg-9">
									<label for="exampleSelect1"> Remarks </label>
									<input class="form-control m-input m-input--solid" type="text" formControlName="Remarks">
								</div>
								<div class="form-group col-lg-3">
									<label for="exampleSelect1"> Consultant </label>
									<input class="form-control m-input m-input--solid " disabled type="text" formControlName="Consultant">
								</div>
							</div>
						</div>
						<div class="form-group col-lg-6">
							<div class="form-group row">
								<div class="form-group col-lg-12">
									<label class="radio-inline2">
										<input type="radio" formControlName="PaymentMethod" #PaymentMethodCash (change)="onChange(PaymentMethodCash.value)" value="Cash" checked/>Cash<br>
									</label>
									<label class="radio-inline">
										<input type="radio" formControlName="PaymentMethod" #PaymentMethodPayOrder (change)="onChange(PaymentMethodPayOrder.value)" value="PayOrder" />Pay Order<br>
									</label>
									<label class="radio-inline">
										<input type="radio" formControlName="PaymentMethod" #PaymentMethodCreditCard (change)="onChange(PaymentMethodCreditCard.value)" value="CreditCard" />Credit Card<br>
									</label>
									<label class="radio-inline">
										<input type="radio" formControlName="PaymentMethod" #PaymentMethodCheque (change)="onChange(PaymentMethodCheque.value)" value="Cheque" />Cheque<br>
									</label>
									<label class="radio-inline">
										<input type="radio" formControlName="PaymentMethod" #PaymentMethodOnline (change)="onChange(PaymentMethodOnline.value)" value="Online"/>Online<br>
									</label>
								</div>
							</div>
							<div class="form-group row">
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Cheque # </label>
									<input class="form-control m-input m-input--solid " disabled #ChequeNumber type="text" formControlName="ChequeNumber" (keyup)="DisablePaymentMethod($event, ChequeNumber.value, Bank.value)">
								</div>
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Bank </label>
									<input class="form-control m-input m-input--solid " disabled #Bank type="text" formControlName="Bank" (keyup)="DisablePaymentMethod($event, ChequeNumber.value, Bank.value)">
								</div>
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Credit Card Charges (%) </label>
									<input class="form-control m-input m-input--solid " disabled type="number" #CreditCardChargesPercentage formControlName="CreditCardChargesPercentage" (keyup)="CalculateNetAmount($event, CreditCardChargesPercentage.value)">
								</div>
							</div>
							<div class="form-group row">
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Gross Amount </label>
									<input class="form-control m-input m-input--solid " disabled type="number" [value]="TotalGrossAmount" formControlName="GrossAmount">
								</div>
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Discount Amount </label>
									<input class="form-control m-input m-input--solid " disabled type="number" [value]="TotalDiscountAmount" formControlName="DiscountAmount">
								</div>
								<div class="form-group col-lg-4">
									<label for="exampleSelect1"> Net Amount </label>
									<input class="form-control m-input m-input--solid " disabled type="number" [value]="TotalNetAmount" formControlName="NetAmount">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="m-section">
				<div class="m-section__content">
					<dx-data-grid id="gridContainer" [dataSource]="PatientInvoiceItem" (onRowInserted)="AddInvoiceDetail($event)" (onRowRemoved)="DeleteInvoiceDetail($event)">
						<dxo-editing mode="popup" [allowUpdating]="false" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
						</dxo-editing>
						<dxo-paging [pageSize]="5"></dxo-paging>
						<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
						<dxi-column dataField="id" caption="Nature" [visible]="false" [setCellValue]="setNature">
							<dxo-lookup [dataSource]="InvoiceItemNatureDataSource" valueExpr="Name" displayExpr="Name"></dxo-lookup>
						</dxi-column>
						<dxi-column dataField="consultantId" caption="Select Consultant" [visible]="false">
							<dxo-lookup [dataSource]="Consultants" valueExpr="consultantId" displayExpr="name"></dxo-lookup>
						</dxi-column>
						<dxi-column dataField="testId" caption="Select Test" [visible]="false">
							<dxo-lookup [dataSource]="Tests" valueExpr="testId" displayExpr="testName"></dxo-lookup>
						</dxi-column>
						<dxi-column dataField="packageId" caption="Select Package" [visible]="false">
							<dxo-lookup [dataSource]="Packages" valueExpr="packageId" displayExpr="packageName"></dxo-lookup>
						</dxi-column>
						<dxi-column dataField="inventoryItemId" caption="Select Medicine" [visible]="false">
							<dxo-lookup [dataSource]="InventoryItems" valueExpr="inventoryItemId" displayExpr="name"></dxo-lookup>
						</dxi-column>
						<dxi-column dataField="nature" dataType="text" caption="Nature" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="name" dataType="text" caption="Name" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="description" dataType="text" caption="Description"></dxi-column>
						<dxi-column dataField="quantity" dataType="number" caption="Quantity" ></dxi-column>
						<dxi-column dataField="unitPrice" dataType="number" caption="Unit Price" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="grossAmount" dataType="number" caption="Gross Amount" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="discountPercentage" dataType="number" caption="Discount Percentage"></dxi-column>
						<dxi-column dataField="discountAmount" dataType="number" caption="Discount Amount" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="netAmount" dataType="number" caption="Net Amount" [allowEditing]="false" [formItem]="{visible: false}"></dxi-column>
						<dxi-column dataField="isPaid" dataType="boolean" caption="Paid"></dxi-column>
					</dx-data-grid>
				</div>
			</div>