<div class="m-subheader-search">
 
  <div class="twPc-div">
    <a class="twPc-bg twPc-block"></a>

	<div>
	

		<a title="Shop" class="twPc-avatarLink">
			<img alt="Shop" src="..\assets\images\shopimage.png" class="twPc-avatarImg">
		</a>

		<div class="twPc-divUser">
			<div class="twPc-divName">
			 {{store?.shopName}} 
			</div>
			<span>
        {{store?.address}}
			</span>
		</div>

		<div class="twPc-divStats">
			<ul class="twPc-Arrange">
				<li class="twPc-ArrangeSizeFit">
						<span class="twPc-StatLabel twPc-block">Shopkeeper Name</span>
						<span class="twPc-StatValue">{{store?.shopName}}</span>
				</li>
				<li class="twPc-ArrangeSizeFit">
						<span class="twPc-StatLabel twPc-block">Contact No</span>
						<span class="twPc-StatValue">{{store?.contactNo}}</span>
				</li>
				<li class="twPc-ArrangeSizeFit">
						<span class="twPc-StatLabel twPc-block">Landline</span>
						<span class="twPc-StatValue">{{store?.landline}}</span>
        </li>
        <li class="twPc-ArrangeSizeFit">
          <span class="twPc-StatLabel twPc-block">Section</span>
          <span class="twPc-StatValue">Landhi no 3</span>
      </li>
      <li class="twPc-ArrangeSizeFit">
        <span class="twPc-StatLabel twPc-block">CNIC NO</span>
        <span class="twPc-StatValue">{{store?.cnic}}</span>
    </li>
    <li class="twPc-ArrangeSizeFit">
      <span class="twPc-StatLabel twPc-block">Distributer</span>
      <span class="twPc-StatValue">Noofil Enterprise</span>
  </li>
			</ul>
		</div>
	</div>
</div>
 
  
</div>



<div class="m-content">
  <div class="row">
 
    <div class="col-lg-12">
      <!-- Tab panes -->
      <div class="m-portlet">
        <div class="">
          <div class="tab-content">


            <div class="tab-pane  active" id="Inventory">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Sales Representative Visits</h3>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <div class="row">
                    <div class="col-md-12">
                      <dx-data-grid id="gridContainer" [dataSource]="storeVisits">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxo-paging [pageSize]="6"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                        </dxo-pager>
                        <!-- <dxi-column dataField="createdAt"></dxi-column> -->
                        <dxi-column dataField="startTime" dataType="datetime"></dxi-column>
                        <dxi-column dataField="endTime" dataType="datetime"></dxi-column>
                        <dxi-column dataField="storeId" caption="Action" cellTemplate="cellTemplate" [width]="90"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                          <a title="Visit Details" class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill" (click)="routeVisitSummary(data)">
                            <i class="fa fa-send"></i>
                          </a>
                        </div>
                      </dx-data-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="order">
              <app-order-taking></app-order-taking>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>