<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    <h4>Add New Immigration</h4>

</div>

<div class="row">
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Document
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="Document">
      </div> 
    </div>
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Document Number
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputlastName" aria-describedby="emailHelp" placeholder="Document Number">
      </div> 
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Issue Date
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="2018-05-09">
      </div> 
    </div>
    <div class="col-md-3">
        <div class="form-group m-form__group">
              <label for="exampleInputEmail1">
                  Date of Expiry
              </label>
              <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="2018-05-09">
          </div> 
        </div>
    <div class="col-md-6">
    <div class="form-group m-form__group">
        <fieldset class="form-group">
            <label for="logo">Document File</label>
            <input type="file" class="form-control-file" id="p_file2" name="document_file">
            <small>Upload files only: png, jpg, jpeg, gif, txt, pdf, xls, xlsx, doc, docx</small>
          </fieldset>      
    </div> 
    </div>
</div>

<div class="row">
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Eligible Review Date
          </label>
          <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="2018-05-09">
      </div> 
    </div>
    <div class="col-md-6">
    <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Country
          </label>
          <select class="form-control m-input m-input--solid" id="exampleSelect9">
              <option>Pakistan</option>
              <option>
                 Active
              </option>
              <option>
                  3
              </option>
              <option>
                  4
              </option>
              <option>
                  5
              </option>
          </select>
      </div> 
    </div>
</div>