<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <span class="m-portlet__head-icon m--hide">
                <i class="la la-gear"></i>
              </span>
              <h3 class="m-portlet__head-text">
                Purchase Return
              </h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <div class="dropdown">
              <!-- <button routerLink="/pharmacy/returnview" class="btn btn-primary" type="button">
                <span>
                  <i class="fa fa-eye"></i>
                </span> View
              </button> -->
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <!--begin::Form-->
          <form class="m-form" [formGroup]="PurchaseReturnForm">
            <div class="m-form m-form--fit m-form--label-align-right">
              <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                  GRN #
                </label>
                <div class="form-group col-3">
                  <input type="text" class="form-control m-input m-input--solid" #box formControlName="GRNNumber" [value]="SelectedGRN?.grnNumber || ''"
                    (keyup)="GetGrnDetails(box.value, $event)">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  GRN Date
                </label>
                <!-- <input type="date" class="form-control m-input m-input--solid" formControlName="GRNDate" [value]="SelectedGRN?.grnDate | date: 'dd-MMM-yyyy' || ''"
                  disabled> -->
                <dx-date-box displayFormat="dd MMM yyyy" [(value)]="grnDate" formControlName="GRNDate" [disabled]="true"></dx-date-box>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Return #
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="ReturnNumber" disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Return Date
                </label>
                <!-- <input type="date" class="form-control m-input m-input--solid" formControlName="ReturnDate" [value]="CurrentDate | date: 'dd MMM yyyy' || ''"> -->
                <dx-date-box displayFormat="dd MMM yyyy" [(value)]="returnDate" formControlName="ReturnDate"></dx-date-box>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Return Reason
                </label>
                <select type="number" class="form-control m-input ng-pristine ng-valid ng-touched" formControlName="ReturnReasonId">
                  <option *ngFor="let y of ReturnReasons" [value]="y?.returnReasonId">{{y?.reason}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Supplier Code
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="SupplierCode" [value]="Supplier?.code || ''"
                  disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Supplier Name
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="SupplierName" [value]="Supplier?.name || ''"
                  disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Vendor Bill #
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="SupplierContact"
                  [value]="SelectedGRN?.vendorBillNumber || ''" disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Remarks
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="Remarks">
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Purchased Quantity
                </label>
                <input type="number" class="form-control m-input m-input--solid" formControlName="TotalPurchasedQuantity"
                  [value]="SelectedGRN?.totalReceivedQuantity || ''" disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Return Quantity
                </label>
                <input type="number" class="form-control m-input m-input--solid" formControlName="TotalReturnQuantity"
                  [value]="TotalReturnQuantity" disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Paid Amount
                </label>
                <input type="number" class="form-control m-input m-input--solid" formControlName="TotalPaidAmount"
                  [value]="SelectedGRN?.totalPaymentAmount || ''" disabled>
              </div>
              <div class="form-group col-lg-3">
                <label for="exampleInputEmail1">
                  Refund Amount
                </label>
                <input type="number" class="form-control m-input m-input--solid" formControlName="TotalRefundAmount"
                  [value]="TotalRefundAmount" disabled>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12">
              <dx-data-grid [dataSource]="Datasource" showBorders="true" [columnAutoWidth]="true" [showBorders]="true"
                (onRowUpdating)="UpdatingItem($event)">
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]="false">
                </dxo-editing>
                <dxi-column dataField="inventoryItemId" caption="Product" [visible]="true" [formItem]="{editorOptions: { readOnly: true }}">
                  <dxo-lookup [dataSource]="InventoryItems" valueExpr="inventoryItemId" displayExpr="name"></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="rate" dataType="number" caption="Unit Price" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                <dxi-column dataField="packSize" dataType="number" caption="Pack Size" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                <dxi-column dataField="purchaseQuantity" dataType="number" caption="Purchased Qty." [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                <dxi-column dataField="paidAmount" dataType="number" caption="Paid Amount" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                <dxi-column dataField="returnQuantity" dataType="number" caption="Return Qty."></dxi-column>
                <dxi-column dataField="refundAmount" dataType="number" caption="Refund Amount" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="modal-footer">
              <button class="btn btn-success" (click)="submitReturn(PurchaseReturnForm.value)">Submit</button>
              <button class="btn btn-primary" (click)="ResetWholeForm()">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>