<div class="m-portlet m-portlet--unair">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon">
                                     <i class="flaticon-cogwheel-2"></i>
                                        </span>
              <h3 class="m-portlet__head-text">
                  ALLERGIES 
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          Unknown
                    
        </div>
      </div>