<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								 Patient Form
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
                        <div class="dropdown">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" type="button">
                                <span _ngcontent-c21="">
                                    <i class="fa fa-cog"></i>
                                </span> Actions
                            </button>
                            <div aria-labelledby="dropdownMenu2" class="dropdown-menu">
                                <button class="dropdown-item" (click)="goback()" type="button">
                                    Go Back
                                </button>
                                <button class="dropdown-item" type="button">
                                    Another action
                                </button>
                                <button class="dropdown-item" type="button">
                                    Something else here
                                </button>
                            </div>
                        </div>
                    </div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--label-align-left- m-form--state-" id="m_form" [formGroup]="patientForm">
					<div class="m-portlet__body">
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> RegCity </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" [value]="Patient?.regCity" formControlName="RegCity">
									<option value="Karaci">Karaci</option>
									<option value="Multan">Multan</option>
								</select>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Visit Nature </label>
								<dx-select-box [items]="visitnature" displayExpr="nature" valueExpr="visitNatureId" [searchEnabled]="true"
								 formControlName="visitNatureId">
								</dx-select-box>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Gender </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" [value]="Patient?.gender" formControlName="Gender">
									<option class="active" value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> First Name </label>
								<!-- [value]="Patient?.firstName" -->
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.firstName"
								 formControlName="FirstName" name="FirstName" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> MiddleName </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.middleName"
								 formControlName="MiddleName" name="MiddleName" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> LastName </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.lastName"
								 formControlName="LastName" name="LastName" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Date Of Birth </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.dob"
								 formControlName="DOB" type="date">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Place Of Birth </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.placeOfBirth"
								 formControlName="PlaceOfBirth" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Occupation </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.occupation"
								 formControlName="Occupation" type="text">
							</div>

							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> CNIC </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.nic"
								 formControlName="NIC" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Phone Number </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.phoneNumber"
								 formControlName="PhoneNumber" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Remarks </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.remarks"
								 formControlName="Remarks" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Residence Address </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.residenceAddress"
								 formControlName="ResidenceAddress" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Office Address </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.officeAddress"
								 formControlName="OfficeAddress" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Office Telephone </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.officeTel"
								 formControlName="OfficeTel" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Country </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" [value]="Patient?.country" formControlName="Country">
									<option class="active" value="Pakistan">Pakistan</option>
									<option value="India">India</option>
									<option value="USA">U.S.A</option>
									<option value="Canada">Canada</option>
								</select>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> City </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.city"
								 formControlName="City" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> State </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.state"
								 formControlName="State" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> PostalCode </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.postalCode"
								 formControlName="PostalCode" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Authorized Person </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.authorizedPerson"
								 formControlName="AuthorizedPerson" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Private Patient Cons </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.privatePatientCons"
								 formControlName="PrivatePatientCons" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Private Hospital </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" [value]="Patient?.privateHospital"
								 formControlName="PrivateHospital" type="text">
							</div>
						</div>
						<div class="form-group row">
							<!-- more information start -->
							<div class="col-lg-12">
							<div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse"
									 href="#m_accordion_1_item_1_body" aria-expanded="false">
										<span class="m-accordion__item-icon">
											<i class="fa flaticon-user-ok"></i>
										</span>
										<span class="m-accordion__item-title">
											Add More Information
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
									 data-parent="#m_accordion_1">
										<div class="m-accordion__item-content">
											<div class="m-portlet__body">
												<ul class="nav nav-pills" role="tablist">
													<li class="nav-item">
														<a class="nav-link active show" data-toggle="tab" href="#m_tabs_3_1">
															Spouse
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#m_tabs_3_2">
															References
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#m_tabs_3_3">
															Document
														</a>
													</li>
												</ul>
												<div class="tab-content">
													<div class="tab-pane active show" id="m_tabs_3_1" role="tabpanel">
														<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid"
														 [formGroup]="partnerForm">
															<div class="m-portlet__body">
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> FirstName </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="FirstName" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> MiddleName </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="MiddleName" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> LastName </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="LastName" type="text">
																	</div>
																</div>
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Occupation </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="Occupation" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> N.I.C </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="NIC" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Contact No </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="PhoneNumber" type="text">
																	</div>
																</div>

																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Date Of Birth </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="DOB" type="date">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Place Of Birth </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="PlaceOfBirth" type="text">
																	</div>
																</div>

															</div>
															<div class="modal-footer">
																<button type="reset" class="btn btn-secondary">
																	Reset
																</button>
																<button type="button" *ngIf="router.url === '/hims/patient/updatepatient/'+id" (click)="updatePatientSpouse(partnerForm.value)" data-dismiss="modal" class="btn btn-primary">
																	Update
																</button>
																<button type="button" *ngIf="router.url === '/hims/patient/registration'" (click)="onAddPartner(partnerForm.value)" data-dismiss="modal" class="btn btn-primary">
																	Save
																</button>
															</div>
														</form>
													</div>
													<div class="tab-pane" id="m_tabs_3_2" role="tabpanel">
														<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid"
														 [formGroup]="referenceForm">
															<div class="m-portlet__body">
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleSelect1"> Reference By </label>
																		<select class="form-control m-input ng-pristine ng-invalid ng-touched" formControlName="ReferredBy">
																			<option value="Doctor">Doctor</option>
																			<option  value="Receptionist">Receptionist</option>
																		</select>
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Person Name </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="PersonName">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Reference Address</label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="RefAddress">
																	</div>
																</div>
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-8">
																		<label for="exampleInputEmail1">Reference Phone</label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="ReferenceTel">
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="reset" class="btn btn-secondary">
																	Reset
																</button>
																
																<button type="button" *ngIf="router.url === '/hims/patient/updatepatient/'+id" (click)="updatepatientRef(referenceForm.value)" data-dismiss="modal" class="btn btn-primary">
																	Update
																</button>
																<button *ngIf="router.url === '/hims/patient/registration'" type="button" (click)="onAddReference(referenceForm.value)" data-dismiss="modal" class="btn btn-primary">
																	Save
																</button>
															</div>
														</form>
													</div>
													<!-- <here we are using final appointment tag start work> -->
													<div class="tab-pane" id="m_tabs_3_3" role="tabpanel">
														<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid"
														 [formGroup]="documentForm">
															<div class="m-portlet__body">
																<div class="form-group m-form__group row" *ngIf="router.url === '/hims/patient/registration'"  >
																	  <!-- <div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Document Name </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="DocumentName" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Remarks </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid"
																		 formControlName="Remarks" type="text">
																	</div>  -->
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1">File Path:</label>
																		<input type="file" formControlName="FilePath"/>
																	</div>
																</div>
																<div class="form-group m-form__group row" *ngIf="router.url === '/hims/patient/updatepatient/'+id">
																  <div class="form-group col-lg-4">
																	  <label for="exampleInputEmail1">Document:</label>
																	  <input type="file" (change)="onfileselect($event)"/>
																  </div>
															 	 </div>
																<div class="form-group m-form__group row">
																	<button *ngIf="router.url === '/hims/patient/registration'" (click)="addrange()" type="button" class="btn btn-primary">
																		Add
																	</button>
																	<button  *ngIf="router.url === '/hims/patient/updatepatient/'+id" (click)="onupload()" type="button" class="btn btn-primary">
																		Add
																	</button>
																	<br>
																</div>
															</div>
															<div class="m-section">
																<div class="m-section__content">
																	<table class="table m-table m-table--head-separator-primary">
																		<thead *ngIf="router.url === '/hims/patient/registration'">
																			<tr>
																				<th>
																					File Path
																				</th>
																				<th>
																					Action
																				</th>
																			</tr>
																		</thead>
																		<thead *ngIf="router.url === '/hims/patient/updatepatient/'+id">
																			<tr>
																				<th>
																					Document Name
																				</th>
																				<th>
																					Remarks
																				</th>
																				<th>
																					File Path
																				</th>
																				<th>
																					Action
																				</th>
																			</tr>
																		</thead>
																		<tbody *ngIf="router.url === '/hims/patient/updatepatient/'+id">
																			<tr *ngFor="let patientDoucment of document;let i = index">
																				<td>{{patientDoucment?.documentName}}</td>
																				<td>{{patientDoucment?.remarks}}</td>
																				<td> {{patientDoucment?.filePath}}</td>
																				<td>
																					<button type="button" (click)="deleteDocument(patientDoucment.patientDocumentId , i)" class="btn btn-primary">
																						<i class="la la-archive"></i>
																					</button> | 
																					<button type="button" (click)="downlaodImage(i)" class="btn btn-primary">
																						Downlaod
																					</button>
																				</td>
																		    </tr>
																		</tbody>

																		<tbody *ngIf="router.url === '/hims/patient/registration'">
																			<tr *ngFor=" let t of documentss; let i = index">
																				<!-- <td>{{t.DocumentName}}</td>
																				 <td> {{t.Remarks}}  -->
																				<td>{{t.FilePath}}</td>
																				<td>
																					<button type="button" (click)="remove(i)" class="btn btn-primary">
																						<i class="la la-archive"></i>
																					</button>
																				</td>
																			</tr>
																		</tbody>

																	</table>
																</div>
															</div>
															<div *ngIf="router.url === '/hims/patient/registration'"  class="modal-footer">
																<button type="reset" class="btn btn-secondary">
																	Reset
																</button>
																<button type="button" (click)="onAddDocument(documentss)" data-dismiss="modal" class="btn btn-primary">
																	Save
																</button>
															</div>
														</form>
													</div>
													<!-- <here we are using final appointment tag end work> -->
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
							</div>
							<!-- more information end -->
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-12">
								<!-- <div class="form-action pull-right" *ngIf="routerLink='/hims/patient/updatePatient/id'">
									routerLink="/hims/patient/findpatient" 
									 <button type="submit" (click)="updatePatient(patientForm.value)"  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Update 
									</button> 
								</div> -->
								<div *ngIf="router.url === '/hims/patient/updatepatient/'+id">
									<button type="submit" (click)="updatePatient(patientForm.value)" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Update Patient
									</button>
								</div>
								<div class="form-action pull-right" *ngIf="router.url === '/hims/patient/registration'">
									<button type="submit" (click)="onSubmit(patientForm.value)" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Add Patient
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>