<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text"> Khawaja Mujtaba
						<small class="pad_15">
							<a class="m-link" href="#"> Edit </a>
							<a class="m-link pad_8" href="#"> Contact Info </a>
						</small>
						<br>
						<small> Male 16 Year(s) (02-Sep-2001) </small>
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab"> Patient Id </a>
					</li>
					<li class="nav-item m-tabs__item">
						<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab"> 548HTU </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Add New Patient
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--label-align-left- m-form--state-" id="m_form" [formGroup]="patientForm">
					<div class="m-portlet__body">
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> RegCity </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" formControlName="RegCity">
									<option value="Karaci">Karaci</option>
									<option value="Multan">Multan</option>
								</select>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Visit Nature </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" formControlName="VisitNature">
									<option class="active" value="Consultation">Consultation</option>
									<option value="Consultation">Consultation</option>
								</select>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Gender </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" formControlName="Gender">
									<option class="active" value="Male">Male</option>
									<option value="Female">Female</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> First Name </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="FirstName" name="FirstName"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> MiddleName </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="MiddleName" name="MiddleName"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> LastName </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="LastName" name="LastName"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Date Of Birth </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="DOB" type="date">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Place Of Birth </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PlaceOfBirth" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Occupation </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="Occupation" type="text">
							</div>

							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> CNIC </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="NIC" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> PhoneNumber </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PhoneNumber" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Remarks </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="Remarks" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> ResidenceAddress </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="ResidenceAddress"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> OfficeAddress </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="OfficeAddress" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Office Telephone </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="OfficeTel" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Country </label>
								<select class="form-control m-input ng-pristine ng-valid ng-touched" formControlName="Country">
									<option class="active" value="Pakistan">Pakistan</option>
									<option value="India">India</option>
									<option value="USA">U.S.A</option>
									<option value="Canada">Canada</option>
								</select>
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> City </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="City" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> State </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="State" type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> PostalCode </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PostalCode" type="text">
							</div>
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Authorized Person </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="AuthorizedPerson"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleInputEmail1"> Private Patient Cons </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PrivatePatientCons"
								 type="text">
							</div>
							<div class="form-group col-lg-3">
								<label for="exampleSelect1"> Private Hospital </label>
								<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PrivateHospital"
								 type="text">
							</div>
						</div>
						<div class="form-group row">
							<!-- more information start -->
							<div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
								<!--begin::Item-->
								<div class="m-accordion__item">
									<div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body"
									 aria-expanded="false">
										<span class="m-accordion__item-icon">
											<i class="fa flaticon-user-ok"></i>
										</span>
										<span class="m-accordion__item-title">
											Add More Information
										</span>
										<span class="m-accordion__item-mode"></span>
									</div>
									<div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
									 data-parent="#m_accordion_1" style="">
										<div class="m-accordion__item-content">
											<div class="m-portlet__body">
												<ul class="nav nav-pills" role="tablist">
													<li class="nav-item">
														<a class="nav-link active show" data-toggle="tab" href="#m_tabs_3_1">
															Spouse
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#m_tabs_3_2">
															References
														</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" data-toggle="tab" href="#m_tabs_3_3">
															Document
														</a>
													</li>
												</ul>
												<div class="tab-content">
														<div class="tab-pane active show" id="m_tabs_3_1" role="tabpanel">
															<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid" [formGroup]="partnerForm">
																<div class="m-portlet__body">
																	<div class="form-group m-form__group row">
																		<div class="form-group col-lg-4">
																			<label for="exampleInputEmail1"> FirstName </label>
																			<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="FirstName"
																				type="text">
																		</div>
																		<div class="form-group col-lg-4">
																			<label for="exampleInputEmail1"> MiddleName </label>
																			<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="MiddleName"
																				type="text">
																		</div>
																		<div class="form-group col-lg-4">
																			<label for="exampleInputEmail1"> LastName </label>
																			<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="LastName"
																				type="text">
																		</div>
																	</div>
																	<div class="form-group m-form__group row">
																			<div class="form-group col-lg-4">
																				<label for="exampleInputEmail1"> Occupation </label>
																				<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="Occupation"
																					type="text">
																			</div>
																			<div class="form-group col-lg-4">
																				<label for="exampleInputEmail1"> N.I.C </label>
																				<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="NIC"
																					type="text">
																			</div>
																			<div class="form-group col-lg-4">
																				<label for="exampleInputEmail1"> Contact No </label>
																				<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PhoneNumber"
																					type="text">
																			</div>
																		</div>

																	<div class="form-group m-form__group row">
																		<div class="form-group col-lg-4">
																			<label for="exampleInputEmail1"> Date Of Birth </label>
																			<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="DOB"
																				type="date">
																		</div>
																		<div class="form-group col-lg-4">
																			<label for="exampleInputEmail1"> Place Of Birth </label>
																			<input aria-describedby="emailHelp" class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PlaceOfBirth"
																				type="text">
																		</div>
																	</div>
																
																</div>
																<div class="modal-footer">
																	<button type="reset" class="btn btn-secondary">
																		Reset
																	</button>
																	<button type="button" (click)="onAddPartner(partnerForm.value)" data-dismiss="modal" class="btn btn-primary">
																		Save
																	</button>
																</div>
															</form>
														</div>
													<div class="tab-pane" id="m_tabs_3_2" role="tabpanel">
														<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid" [formGroup]="referenceForm">
															<div class="m-portlet__body">
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleSelect1"> Reference By </label>
																		<select class="form-control m-input ng-pristine ng-invalid ng-touched" formControlName="ReferredBy">
																			<option class="active" [value]="Doctor">Doctor</option>
																		</select>
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Person Name </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="PersonName">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Reference Address</label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="RefAddress">
																	</div>
																</div>
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-8">
																		<label for="exampleInputEmail1">Reference Phone</label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="ReferenceTel">
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="reset" class="btn btn-secondary">
																	Reset
																</button>
																<button type="button" (click)="onAddReference(referenceForm.value)" data-dismiss="modal" class="btn btn-primary">
																	Save
																</button>
															</div>
														</form>
													</div>
													<!-- <here we are using final appointment tag start work> -->
													<div class="tab-pane" id="m_tabs_3_3" role="tabpanel">
														<form class="m-form m-form--fit m-form--label-align-right ng-untouched ng-pristine ng-invalid" [formGroup]="documentForm">
															<div class="m-portlet__body">
																<div class="form-group m-form__group row">
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Document Name </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="DocumentName" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1"> Remarks </label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" formControlName="Remarks" type="text">
																	</div>
																	<div class="form-group col-lg-4">
																		<label for="exampleInputEmail1">Document:</label>
																		<input class="form-control m-input m-input--solid ng-untouched ng-pristine ng-invalid" type="file" formControlName="FilePath">
																	</div>
																</div>
																<div class="form-group m-form__group row">
																	<button type="button" (click)="addrange()" class="btn btn-primary">
																		Add
																	</button>
																	<br>
																</div>
															</div>
															<div class="m-section">
																<div class="m-section__content">
																	<table class="table m-table m-table--head-separator-primary">
																		<thead>
																			<tr>
																				<th>
																					Document Name
																				</th>
																				<th>
																					Remarks
																				</th>
																				<th>
																					File Path
																				</th>
																				<th>
																					Action
																				</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr *ngFor=" let t of documentss; let i = index">
																				<td>{{t.DocumentName}}</td>
																				<td>{{t.Remarks}}</td>
																				<td>{{t.FilePath}}</td>
																				<td>
																					<button type="button" (click)="remove(i)" class="btn btn-primary">
																						<i class="la la-archive"></i>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
															<div class="modal-footer">
																<button type="reset" class="btn btn-secondary">
																	Reset
																</button>
																<button type="button" (click)="onAddDocument(documentss)" data-dismiss="modal" class="btn btn-primary">
																	Save
																</button>
															</div>
														</form>
													</div>
													<!-- <here we are using final appointment tag end work> -->
													
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--end::Item-->
							</div>
							<!-- more information end -->
						</div>
						<div class="form-group row">
							<div class="form-group col-lg-12">
								<div class="form-action pull-right">
									<!-- routerLink="/hims/patient/findpatient" -->
									<button type="submit" (click)="onSubmit(patientForm.value)"  class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Submit
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>