<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Region</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="row">
      <div class="col-md-12">
        <dx-data-grid
id="gridContainer"
[dataSource]="customers"
[columns]="['Date','Start Time', 'End Time', 'Visit detail']"
[showBorders]="true">
</dx-data-grid>
      </div>
    </div>
  </div>
</div>