<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text"> Khawaja Mujtaba
                        <small class="pad_15">
                            <a href="#" class="m-link"> Edit</a>
                            <a href="#" class="m-link pad_8">Contact Info</a>
                        </small>
                        <br>
                        <small>Male 16 Year(s) (02-Sep-2001)</small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab">
                            Patient Id
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab">
                            548HTU
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade model" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 1170px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Supplier Information Form
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="m-form" [formGroup]="SupplierForm" ngNativeValidate>
                        <div class="m-portlet__body">
                            <h5> Supplier Information</h5>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Supplier Code:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Code" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1"> Status </label>
                                    <select class="form-control m-input m-input--solid" formControlName="Status" required>
                                        <option value="Active"> Active </option>
                                        <option value="Pending"> Pending </option>
                                    </select>
                                </div>
                                <div class="form-group  col-lg-4"></div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Supplier Name:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Name" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Address:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Address" required>
                                </div>
                                <div class="form-group  col-lg-4"></div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        City
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="City" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Country:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Country" required>
                                </div>
                                <div class="form-group  col-lg-4"></div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Email
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Email" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Nature:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="Nature" required>
                                </div>
                                <div class="form-group  col-lg-4"></div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Landline No:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="LandlineNumber" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Mobile No:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="MobilerNumber" required>
                                </div>
                                <div class="form-group  col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Fax No:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="FaxNumber" required>
                                </div>
                            </div>
                            <br>
                            <hr class="style1">
                            <br>
                            <h5> Contact Person Information</h5>
                            <div class="form-group row">
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Person Name:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="ContactName" required>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="exampleInputEmail1">
                                        Mobile No:
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" formControlName="ContactNumber" required>
                                </div>
                                <div class="form-group  col-lg-4">
                                </div>
                            </div>
                            <br>
                            <hr class="style1">
                            <br>
                            <h5> GL Link</h5>
                            <div class="form-group row">
                                <div class="form-group col-lg-6">
                                    <label for="exampleInputEmail1"></label>
                                    <input type="text" class="form-control m-input m-input--solid blankinput" formControlName="GlAccount" required>
                                </div>
                            </div>
                            <div class="m-separator m-separator--dashed m-separator--lg"></div>
                            <div class="form-group row">
                                <div class="form-group col-lg-12">
                                    <div class="form-action">
                                        <button type="submit" (click)="onSubmit(SupplierForm.value)" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="row">
        <div class="col-xl-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text col-lg-10">Supplier</h3>
                            <button class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only addboutton" data-toggle="modal" data-target="#m_modal_4"><i class="la la-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section">
                        <div class="m-section__content">
                            <dx-data-grid id="gridContainer" [dataSource]="InventorysystemServiceobj.Suppliers" (onRowUpdated)="UpdateSupplier($event)"
                                (onRowRemoved)="DeleteSupplier($event)">
                                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-header-filter [visible]="true"></dxo-header-filter>
                                <dxo-paging [pageSize]="5"></dxo-paging>
                                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                                <dxi-column dataField="name" caption="Supplier Name"></dxi-column>
                                <dxi-column dataField="nature" caption="Supplier Nature"></dxi-column>
                                <dxi-column dataField="status" caption="Status"></dxi-column>
                                <dxi-column dataField="address" caption="Address"></dxi-column>
                                <dxi-column dataField="city" caption="City"></dxi-column>
                                <dxi-column dataField="country" caption="Country"></dxi-column>
                                <dxi-column dataField="contactName" caption="Contact Name"></dxi-column>
                                <dxi-column dataField="contactNumber" caption="Contact Number"></dxi-column>
                                <dxi-column dataField="faxNumber" caption="Fax Number"></dxi-column>
                                <dxi-column dataField="email" caption="Email"></dxi-column>
                                <dxi-column dataField="glAccount" caption="Gl Account"></dxi-column>
                                <dxi-column dataField="landlineNumber" caption="Landline Number"></dxi-column>
                                <dxi-column dataField="mobilerNumber" caption="Cell Number"></dxi-column>
                            </dx-data-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>