
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">Overtime Flag</h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="m-section">
                  <div class="m-section__content">
                    <dx-data-grid id="gridContainer"
                     [dataSource]="overtimeflag" 
                     keyExpr="overtimeFlagId"
                      (onRowInserted)="addovertimeflag($event)"
                      (onRowUpdating)="updatingModel($event)"
                      (onRowUpdated)="updateovertimeflag()"
                       (onRowRemoved)="deleteovertimeflag($event)">
                      <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                      </dxo-editing>
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>

                      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                      <dxo-paging [pageSize]="6"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                      </dxo-pager>
                      <dxi-column dataField="name" caption="Name"></dxi-column>
                      <dxi-column dataField="description" caption="Description"></dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>
            </div>
           