::ng-deep #gridContainer {
    height: 440px;
    margin-top: 30px;
}
::ng-deep #descContainer  a {
    color: #f05b41;
    text-decoration: underline;
    cursor: pointer;
}
::ng-deep #descContainer  a:hover {
    text-decoration: none;
}
.m-section__heading {
    font-size: 1.4rem;
    padding-bottom: 25px;
    /* border-bottom: 1px solid #d8d8d8; */
    margin-top: -10px;
}
.m-demo .m-demo__preview {
    background: white;
    border: 4px solid #f7f7fa;
    padding: 10px !important;
}
.m-form__actions {
    padding: 24px;
}