<div class="m-content">
    <div class="row">
        <div class="col-md-12"> 
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
            Create Default Roster
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
    
        <div class="row">
            <div class="col-md-5">
           
                <div class="form-group m-form__group row">
                    <label class="col-lg-4 col-form-label">
                      Year:
                    </label>
                    <div class="col-lg-8">
                    <select class="form-control m-input m-input--solid">
                      <option>2018</option>
                      <option>2017</option>
                      <option>2016</option>
                    </select>
                   
                    </div>
                  </div>
             </div>

             <div class="col-md-5">
           
                <div class="form-group m-form__group row">
                    <label class="col-lg-4 col-form-label">
                      Month:
                    </label>
                    <div class="col-lg-8">
                    <select class="form-control m-input m-input--solid">
                      <option>Jan</option>
                      <option>Feb</option>
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                      <option>Aug</option>
                      <option>Sep</option>
                      <option>Oct</option>
                      <option>Nov</option>
                      <option>Dec</option>
                    </select>
                   
                    </div>
                  </div>
             </div>

    </div>
    <div class="m--space-07"></div>
    
    <div class="row">
      <div class="col-md-5">

          <div class="form-group m-form__group row">
              <label class="col-lg-4 col-form-label">
                From Date:
              </label>
              <div class="col-lg-8"> 
                  <input type="text" class="form-control m-input--solid" aria-label="Text input with checkbox">
              </div>
            </div> 
     </div>

     <div class="col-md-5">

        <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              To Date:
            </label>
            <div class="col-lg-8"> 
                <input type="text" class="form-control m-input--solid" aria-label="Text input with checkbox">
            </div>
          </div> 
       </div>
     </div>
    
     <div class="row">
        <div class="col-md-10">
       
            <div class="form-group m-form__group row">
                <label class="col-lg-4 col-form-label">
                  Citeria:
                </label>
                <div class="col-lg-8">
                <select class="form-control m-input m-input--solid">
                  <option>- All -</option>
                  <option>2017</option>
                  <option>2016</option>
                </select>
               
                </div>
              </div>
         </div>
 
</div>
<div class="m--space-07"></div>

<div class="row">
    <div class="col-md-5">
   
        <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Year:
            </label>
            <div class="col-lg-8">
            <select class="form-control m-input m-input--solid">
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
            </select>
           
            </div>
          </div>
     </div>

     <div class="col-md-5">
   
        <div class="form-group m-form__group row">
            <label class="col-lg-4 col-form-label">
              Month:
            </label>
            <div class="col-lg-8">
            <select class="form-control m-input m-input--solid">
              <option>Jan</option>
              <option>Feb</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
           
            </div>
          </div>
     </div>

</div>
       </div>
     </div>
   </div>
  </div>
</div>
    