<div class="m-content">
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Voucher</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content"> 
                <form [formGroup]="VoucherForm">
                  <div class="form-group row">
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Voucher Type
                        </label>
                        <select class="form-control m-input" formControlName="VoucherTypeId">
                          <option value="" disabled selected>-- Select Voucher Type --</option>
                          <option *ngFor="let vt of voucherType" [value]="vt.voucherTypeId">{{vt.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Date
                        </label>
                        <dx-date-box formControlName="Date" type="date" width="100%"> </dx-date-box>
                      </div>
                    </div>
  
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label>
                          Cheque Number
                        </label>
                        <input type="text" class="form-control m-input" formControlName="ChequeNumber" placeholder="0007">
  
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group row">
   
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label for="">
                          Department Name
                        </label>
                        <input type="text" class="form-control m-input" formControlName="DepartmentName">
                          </div>
                        </div>
                    <div class="col-sm-3">
                      <div class="form-group m-form__group">
                        <label for="">
                          Department Code
                        </label>
                        <input type="text" class="form-control m-input" formControlName="DepartmentCode" placeholder="0">
                          </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group m-form__group">
                              <label>
                                  Total Credit Amount
                              </label>
                              <input type="number" class="form-control m-input" formControlName="TotalCreditAmount"  placeholder="0">
                            </div>
                          </div> 
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <label>
                              Total Debit Amount
                          </label>
                          <input type="number" class="form-control m-input" formControlName="TotalDebitAmount" placeholder="0">
                        </div>
                      </div>  
                  </div> -->
                  <div class="form-group row">
  
                    <div class="col-sm-12">
                      <div class="form-group m-form__group">
                        <label>
                          Description
                        </label>
                        <textarea class="form-control m-input" formControlName="Description"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
  
                <div class="m-separator m-separator--dashed m-separator--lg"></div>
  
                <div class="form-group row">
                  <div class="m--space-07"></div>
                  <!-- <dx-data-grid id="gridContainer" [dataSource]="Detail" (onContentReady)="onContentReady($event)">
                    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
  
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxo-paging [pageSize]="8"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                    </dxo-pager>
  
                    <dxi-column dataField="creditAmount" caption="Credit Amount" (onValueChanged)="onValueChanged($event)"></dxi-column>
                    <dxi-column dataField="debitAmount" caption="Debit Amount"></dxi-column>
                    <dxi-column dataField="detailAccountId" caption="Detail Account">
                      <dxo-lookup [dataSource]="detailAccount" displayExpr="name" valueExpr="detailAccountId">
                      </dxo-lookup>
                    </dxi-column>
  
                  </dx-data-grid> -->
                  <!-- <form [formGroup]="VoucherDetailForm"> 
                        <div class="form-group row">
                            <div class="col-sm-2">
                              <div class="form-group m-form__group">
                                <label>
                                    Detail Account
                                </label>
                                <select class="form-control m-input" formControlName="DetailAccountId">
                                    <option value="" disabled selected>-- Select Detail Account --</option>
                                    <option *ngFor="let daccount of detailAccount" [value]="daccount.detailAccountId">{{daccount.detailAccountCode}} | {{daccount.name}}</option>
                                  </select> 
                              </div>
                            </div> 
                            <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <label>
                                     Debit
                                  </label>
                                  <input type="number" class="form-control m-input" formControlName="DebitAmount" placeholder="0007">
                                </div>
                              </div>
    
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <label>
                                   Credit
                                  </label>
                                  <input type="number" class="form-control m-input" formControlName="CreditAmount" placeholder="0007">
                                  
                                  </div>
                                </div>
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <label>
                                   Deopartment
                                  </label>
                                  <input type="text" class="form-control m-input" formControlName="DepartmentName" placeholder="0007">
                                  
                                  </div>
                                </div>
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <label>
                                   Name
                                  </label>
                                  <input type="text" class="form-control m-input" formControlName="UniqueName" placeholder="0007">
                                  
                                  </div>
                                </div>
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <label>
                                   Description
                                  </label>
                                  <input type="text" class="form-control m-input" formControlName="Description" placeholder="0007">
                                  </div>
                                </div> 
                            </div>
                      </form> -->
                  <div class="table-responsive">
                    <form [formGroup]="VoucherDetailForm">
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Detail A/C</th>
                            <th>DepartmentName</th>
                            <th>Refrence</th>
                            <th>DebitAmount</th>
                            <th>CreditAmount</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody formArrayName="VoucherDetails">
                          <tr *ngFor="let a of Detail">
                            <td>
                                
                                <!-- <dx-lookup
                                class="field-customization"
                                [items]="detailAccount"
                                [displayExpr]="detailAccountCode"
                                valueExpr="detailAccountId"
                                [value]="detailAccount[0].detailAccountId"
                                fieldTemplate="field">
                                <div *dxTemplate="let item of 'field'">
                                    <div class="custom-field">
                                    {{item.detailAccountCode }}</div>
                                    </div> 
                            </dx-lookup> -->

                            <dx-lookup
                            [items]="detailAccount"
                            [value]="detailAccount[0]"
                             valueExpr="detailAccountId"
                            [showPopupTitle]="false">
                        </dx-lookup>

                              <!-- <select class="form-control m-input" data-live-search="true" formControlName="DetailAccountId" [value]="a?.name">
                                <option value="" disabled selected>-- Select Detail A/C --</option>
                                <option *ngFor="let account of detailAccount" [value]="account.detailAccountId">{{account.detailAccountCode}}
                                  | {{account.name}}</option>
                              </select> -->
                              <!-- <select class="selectpicker" data-live-search="true" formControlName="DetailAccountId" [value]="a?.name">
                                <option *ngFor="let account of detailAccount" [value]="account.detailAccountId">{{account.detailAccountCode}}
                                  | {{account.name}}</option> 
                                </select> -->
                            </td>
                            <td>
                              <input type="text" class="form-control m-input" [value] ="a?.departmentName" formControlName="DepartmentName" placeholder="Department Name">
                            </td>
                            <td>
                              <input type="text" class="form-control m-input" [value] ="a?.uniqueName" formControlName="UniqueName" placeholder="Refrence">
                            </td>
                            <td>
                              <input type="text" class="form-control m-input" (change)="sumDebit($event)" [value] ="a?.debitAmount" formControlName="DebitAmount" placeholder="000">
                            </td>
                            <td>
                              <input type="text" class="form-control m-input" (change)="sumCredit($event)" (keydown)="addNewRow($event,i)" [value] ="a?.creditAmount" formControlName="CreditAmount" placeholder="000">
                            </td>
                            <td>
                              <a class="m-widget4__icon" (click)="deleteRow(i)">
                                <i class="la la-trash-o"></i>
                              </a> 
                            </td>
                          </tr>
                       
                          <tr *ngFor="let field of VoucherDetailForm.controls.VoucherDetails.controls; let i=index" [formGroupName]="i">
                              <td>
                                <select class="form-control m-input" formControlName="DetailAccountId">
                                  <option value="" disabled selected>-- Select Detail A/C --</option>
                                  <option *ngFor="let account of detailAccount" [value]="account.detailAccountId">{{account.detailAccountCode}}
                                    | {{account.name}}</option>
                                </select>
                              </td>
                              <td>
                                <input type="text" class="form-control m-input" formControlName="DepartmentName" placeholder="Department Name">
                              </td>
                              <td>
                                  <input type="text" class="form-control m-input" formControlName="UniqueName" placeholder="Refrence">
                              </td>
                              <td>
                                <input type="text" class="form-control m-input" (change)="sumDebit($event)" formControlName="DebitAmount" placeholder="000">
                              </td>
                              <td>
                                <input type="text" class="form-control m-input" (change)="sumCredit($event)" (keydown)="addNewRow($event,i)" formControlName="CreditAmount" placeholder="000">
                              </td> 
                              <td>
                                <a class="m-widget4__icon" (click)="deleteRow(i)">
                                  <i class="la la-trash-o"></i>
                                </a>
                              </td>
                            </tr>
                             
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
  
                <div class="m-separator"></div>
                <div class="form-group row">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                      <button class="btn btn-primary" (click)="update(VoucherForm.value)">
                        Update
                      </button>  
                  </div>
                </div> 

              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>