<div class="m-content">
  <div  class="m-portlet m-portlet--mobile">
    <div  class="m-portlet__head">
      <div  class="m-portlet__head-caption">
        <div  class="m-portlet__head-title">
          <h3  class="m-portlet__head-text"> Khawaja Mujtaba 
            <small  class="pad_15">
              <a  class="m-link" href="#"> Edit </a>
              <a  class="m-link pad_8" href="#"> Contact Info </a>
            </small>
            <br >
            <small > Male 16 Year(s) (02-Sep-2001) </small>
          </h3>
        </div>
      </div>
      <div  class="m-portlet__head-tools">
        <ul  class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
          <li  class="nav-item m-tabs__item">
            <a  class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab"> Patient Id </a>
          </li>
          <li  class="nav-item m-tabs__item"><a  class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab"> 548HTU </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-portlet m-portlet--full-height">
    <div class="m-portlet m-portlet--full-height">
      <div  class="m-portlet__head">
        <div  class="m-portlet__head-caption">
          <div  class="m-portlet__head-title">
            <span  class="m-portlet__head-icon m--hide">
              <i  class="la la-gear"></i>
            </span>
            <h3  class="m-portlet__head-text"> Daily Appointments </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div  class="form-group m-form__group row">
          <div  class="form-group col-lg-4">
            <label  for="exampleSelect1"> Consultant </label>
            <select  class="form-control m-input ng-pristine ng-invalid ng-touched" formcontrolname="RegCity" required="" ng-reflect-required="" ng-reflect-name="RegCity">
              <option  class="active" value="Saeeda Rehman">Saeeda Rehman</option>
              <option  value="Zeeshan Akhtar  ">Zeeshan Akhtar</option>
            </select>
          </div>
          <div  class="form-group col-lg-4">
            <label  for="exampleInputEmail1"> Date  </label>
            <input  class="form-control m-input m-input--solid ng-pristine ng-invalid ng-touched" formcontrolname="DOB" placeholder="Enter Middle Name" required="" type="date" ng-reflect-required="" ng-reflect-name="DOB">
          </div>
          <div  class="form-group col-lg-4 pull-right">
            <label  for="exampleInputEmail1">  </label>
            <button type="button" class="btn m-btn-success blanklable">
              Send SMS +
            </button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

