.btn-outline-metal:hover {
    color: #212529;
    background-color: #4a4a4a !important;
    /* border-color: #c4c5d6; */
}

 

.margin{
    margin-top: 25px;
}

.dispy{
    display: none;
}


 
@media print {

    .m-body * {
        visibility: hidden;
      }
      
    .m-subheader-search * {
      visibility: hidden;
    }
    .ag-side-bar *{
        visibility: hidden;
    }
    .m-footer{
        visibility: hidden;
    }

    // #myGrid, #myGrid * {
    //   visibility: visible;
    // }
    // #myGrid {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    // }


    
  }