<div class="m-content">
  <div class="row">
     <div class="col-xl-12">
       <div class="m-portlet">
         <div class="m-portlet__head">
           <div class="m-portlet__head-caption">
             <div class="m-portlet__head-title">
               <h3 class="m-portlet__head-text">Master Account</h3>
             </div>
           </div>
         </div>
         <div class="m-portlet__body">
           <div class="m-section">
             <div class="m-section__content">
              <form [formGroup]="MasterAccountForm">
              <div class="form-group row">
                <div class="col-sm-3">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                        Master Account Code
                    </label>
                    <input type="text" class="form-control m-input" formControlName="MasterAccountCode" placeholder="001">
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Name
                    </label>
                    <input type="text" class="form-control m-input" formControlName="Name" placeholder="Name">
                  </div>
                </div>
               
                  <div class="col-sm-3" style="margin-top: 28px;">
                      <button type="submit" (click)="addMasteraccount()" class="btn btn-primary">
                          Save
                        </button>
                  </div>
              </div>
              </form>

              <div class="form-group row">
                  <div class="m--space-07"></div>


                  <dx-data-grid id="gridContainer"  keyExpr="masterAccountId" [dataSource]="masterAccount" 
                  (onRowUpdating)="updatingMasteraccount($event)"
                  (onRowUpdated)="updateMasteraccount()"
                  (onRowRemoved)="deleteMasteraccount($event)">
                  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="False" [useIcons]="true">
                    </dxo-editing>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>
      
                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                  </dxo-pager>
      
                  <dxi-column dataField="masterAccountCode" caption="Master Account Code"></dxi-column>
                  <dxi-column dataField="name" caption="Name"></dxi-column>        
                </dx-data-grid>
              </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 
 
 
 
 
 
 </div>