<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Salary Structure</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">

              <dx-data-grid id="gridContainer" [dataSource]="salarystructure" keyExpr="salaryStructureId" (onRowInserted)="addSalaryStructure($event)" (onRowUpdated)="updateSalaryStructure($event)" (onRowRemoved)="deleteSalaryStructure($event)">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                  <dxo-popup title="Salary Structure" [showTitle]="true" [width]="750" [height]="545" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>

                <dxi-column dataField="groupId" caption="Group">
                  <dxo-lookup [dataSource]="groups" displayExpr="name" valueExpr="groupId"></dxo-lookup>
                </dxi-column>
  
                <dxi-column dataField="payrollTypeId" caption="Payroll Type">
                  <dxo-lookup [dataSource]="payrollTypes" displayExpr="name" valueExpr="payrollTypeId"></dxo-lookup>
                </dxi-column>
 
                <dxi-column dataField="title" caption="Title"></dxi-column>
                <dxi-column dataField="isHourlyPay" caption="Hourly Pay" dataType="boolean"></dxi-column>
                <dxi-column dataField="perHourPay" caption="Per Hour Pay"></dxi-column>
                <dxi-column dataField="minimumSalary" caption="Minimum Salary"></dxi-column>
                <dxi-column dataField="maximumSalary" caption="Maximum Salary"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>