<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        Human Resource Management Dashboard
      </h3>
    </div>
    <div>
    
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-md-12 col-lg-6 col-xl-3">
          <!--begin::Total Profit-->
          <div class="m-widget24">
            <div class="m-widget24__item">
              <h4 class="m-widget24__title">
                Total Employees
              </h4>
              <br>
              <span class="m-widget24__desc">
                All Customs Value
              </span>
              <span class="m-widget24__stats m--font-brand">
                  <i class="flaticon-users m--font-brand"></i>
               300
              </span>
              <div class="m--space-10"></div>

          
            </div>
          </div>
          <!--end::Total Profit-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <!--begin::New Feedbacks-->
          <div class="m-widget24">
            <div class="m-widget24__item">
              <h4 class="m-widget24__title">
                  Temporary Employee
              </h4>
              <br>
              <span class="m-widget24__desc">
                Customer Review
              </span>
              <span class="m-widget24__stats m--font-brand">
                  <i class="flaticon-users m--font-brand"></i>
               300
              </span>
              <div class="m--space-10"></div>
          
            </div>
          </div>
          <!--end::New Feedbacks-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <!--begin::New Orders-->
          <div class="m-widget24">
            <div class="m-widget24__item">
              <h4 class="m-widget24__title">
                  Internship
              </h4>
              <br>
              <span class="m-widget24__desc">
                Fresh Order Amount
              </span>
              <span class="m-widget24__stats m--font-brand">
                  <i class="flaticon-users m--font-brand"></i>
               300
              </span>
              <div class="m--space-10"></div>
            </div>
          </div>
          <!--end::New Orders-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3">
          <!--begin::New Users-->
          <div class="m-widget24">
            <div class="m-widget24__item">
              <h4 class="m-widget24__title">
                New Users
              </h4>
              <br>
              <span class="m-widget24__desc">
                Joined New User
              </span>
              <span class="m-widget24__stats m--font-brand">
                  <i class="flaticon-users m--font-brand"></i>
               300
              </span>
              <div class="m--space-10"></div>
            </div>
          </div>
          <!--end::New Users-->
        </div>
      </div>
    </div>
  </div>


  <div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="row m-row--col-separator-xl">
        <div class="col-sm-4" style="padding:20px;">
          <dx-chart
          id="chart"
          [dataSource]="dataSource">
          <dxo-title text="Avg. Salary">
              <dxo-subtitle text="(in millions tonnes)"></dxo-subtitle>
              <dxo-font [size]="20"></dxo-font>
          </dxo-title>
          <dxi-series valueField="young" name="0-14"></dxi-series>
          <dxi-series valueField="middle" name="15-64"></dxi-series>
          <dxi-series valueField="older" name="65 and older"></dxi-series>
          <dxi-value-axis position="right">
              <dxo-title text="millions"></dxo-title>
          </dxi-value-axis>
          <dxo-common-series-settings
              argumentField="state"
              type="stackedBar">
          </dxo-common-series-settings>
          <dxo-legend
              verticalAlignment="bottom"
              horizontalAlignment="center"
              itemTextPosition="top">
          </dxo-legend>
          <dxo-export [enabled]="true"></dxo-export>
          <dxo-tooltip
              [enabled]="true"
              location="edge"
              [customizeTooltip]="customizeTooltip">
          </dxo-tooltip>
      </dx-chart>
        </div>
        <div class="col-sm-8"  style="padding:20px;">
          <dx-chart
    id="chart"
    [dataSource]="productionData"
    palette="violet">
    <dxo-common-series-settings
        argumentField="country"
        type="bar"
        valueField="oil">
    </dxo-common-series-settings>
    <dxo-series-template
        nameField="year"
        [customizeSeries]="customizeSeries">
    </dxo-series-template>
    <dxo-title text="Oil Production">
        <dxo-font [size]="20"></dxo-font>
        <dxo-subtitle text="(in millions tonnes)"></dxo-subtitle>
    </dxo-title>
    <dxo-legend 
        verticalAlignment="bottom"
        horizontalAlignment="center">
    </dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>
</dx-chart>
        </div>
        </div>
        </div>
        </div>

        <div class="m-portlet ">
            <div class="m-portlet__body  m-portlet__body--no-padding">
              <div class="row m-row--col-separator-xl">
                <div class="col-sm-3" style="padding:20px;">
                    <dx-pie-chart class="pie"
                    palette="Soft Pastel"
                    sizeGroup="piesGroup"
                    [dataSource]="waterLandRatio1">
                    <dxo-title text="Avg. Salary">
                        <dxo-font [size]="20"></dxo-font>
                    </dxo-title>
          <dxi-series argumentField="name"
                      valueField="area">
              <dxo-label [visible]="true" format="percent"></dxo-label>
          </dxi-series>
          <dxo-legend verticalAlignment="bottom"
                      horizontalAlignment="center"
                      itemTextPosition="right"
                      [rowCount]="2">
          </dxo-legend>
      </dx-pie-chart>
                
                </div>
                <div class="col-sm-3" style="padding:20px;">
                    <dx-pie-chart class="pie"
                    palette="Soft Pastel"
                    sizeGroup="piesGroup"
                    [dataSource]="waterLandRatio2">
                    <dxo-title text="Avg. Salary">
                        <dxo-font [size]="20"></dxo-font>
                    </dxo-title>
          <dxi-series argumentField="name"
                      valueField="area">
              <dxo-label [visible]="true" format="percent"></dxo-label>
          </dxi-series>
          <dxo-legend verticalAlignment="bottom"
                      horizontalAlignment="center"
                      itemTextPosition="right"
                      [rowCount]="2">
          </dxo-legend>
      </dx-pie-chart>
                  </div>
                  <div class="col-sm-3" style="padding:20px;">
                      <dx-pie-chart class="pie"
                      palette="Soft Pastel"
                      sizeGroup="piesGroup"
                      [dataSource]="waterLandRatio2">
                      <dxo-title text="Avg. Salary">
                          <dxo-font [size]="20"></dxo-font>
                      </dxo-title>
            <dxi-series argumentField="name"
                        valueField="area">
                <dxo-label [visible]="true" format="percent"></dxo-label>
            </dxi-series>
            <dxo-legend verticalAlignment="bottom"
                        horizontalAlignment="center"
                        itemTextPosition="right"
                        [rowCount]="2">
            </dxo-legend>
        </dx-pie-chart>
                
                    </div>
                    <div class="col-sm-3" style="padding:20px;">
                        <dx-pie-chart class="pie"
                        palette="Soft Pastel"
                        sizeGroup="piesGroup"
                        [dataSource]="waterLandRatio2">
                        <dxo-title text="Avg. Salary">
                            <dxo-font [size]="20"></dxo-font>
                        </dxo-title>
              <dxi-series argumentField="name"
                          valueField="area">
                  <dxo-label [visible]="true" format="percent"></dxo-label>
              </dxi-series>
              <dxo-legend verticalAlignment="bottom"
                          horizontalAlignment="center"
                          itemTextPosition="right"
                          [rowCount]="2">
              </dxo-legend>
          </dx-pie-chart>
                
                      </div>
              
                </div>
                </div>
                </div>

</div>
