<div class="m-content"> 

            <div class="m-portlet">
              <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                          <h3 class="m-portlet__head-text">
                              Master Payroll
                          </h3>
                      </div>
                  </div>
              </div>
              <div class="m-portlet__body">
                  <dx-data-grid id="gridContainer"
                  keyExpr="masterPayrollId" 
                  [dataSource]="masterPayroll"
                  [showBorders]="true"
                  [columnAutoWidth]="true" 
                  (onSelectionChanged)="selectionChanged($event)"
                  (onContentReady)="contentReady($event)"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  [masterDetail]="{ enabled: true, template: 'detail' }" [showBorders]="true">
                      
                  <dxo-selection mode="single"></dxo-selection>
                      <dxo-paging [pageSize]="6"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]" [showInfo]="true">
                      </dxo-pager>                
                      <dxo-filter-row [visible]="true"></dxo-filter-row>
                      <dxo-header-filter [visible]="true"></dxo-header-filter>
                      <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                      <dxi-column dataField="userId" caption="Employee">
                          <dxo-lookup [dataSource]="employees" displayExpr="fullName" valueExpr="userId">
                          </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="salary" caption="Salary"> </dxi-column>
                      <dxi-column caption="Action" [minWidth]="30" cellTemplate="chartCellTemplate" [fixed]="true" fixedPosition="right"></dxi-column>
                      <div *dxTemplate="let d of 'chartCellTemplate'">
                        <div class="chart-cell">
                            <dx-button (click)="getData(d)" icon="edit"></dx-button>
                        </div>
                    </div>

                      <div *dxTemplate="let masterPayroll of 'detail'">
                          <dx-data-grid [dataSource]="masterPayroll.data.masterPayrollDetails" [showBorders]="true">
                            <dxi-column dataField="salaryCalculationType" caption="Salary Calculation"></dxi-column>
                              <dxi-column dataField="benefitId" caption="Benefit">
                                <dxo-lookup [dataSource]="benefit" displayExpr="name" valueExpr="benefitId"></dxo-lookup>
                              </dxi-column>
                              <dxi-column dataField="allowanceDeductionId" caption="Allowance">
                                <dxo-lookup [dataSource]="allowance" displayExpr="title" valueExpr="allowanceDeductionId"></dxo-lookup>
                              </dxi-column>
                              <dxi-column dataField="value" caption="Value/Percentage"></dxi-column>
      
                              </dx-data-grid>
                      </div>
                  </dx-data-grid>
              </div>
          </div>
</div>