/* Structure */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

select.m-bootstrap-select {
  opacity: 2 !important;
  filter: alpha(opacity=0);
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.container.mat-elevation-z8 {
  background: white;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 600;
  background: #fbfbfb;
}


mat-row:nth-child(even){
  background-color:#fff;
  }

mat-row:nth-child(odd){
  background-color:#f4f5f8;
  }

span.m-badge.m-badge--success {
  position: absolute;
  margin-left: -28px;
  margin-top: 4px;
}
/* .mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
} */

.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  margin-bottom: 17px;
}
.twPc-bg {
  background-image: url("https://recoverymonth.gov/sites/default/files/images/2018-web-banner.jpg");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 317px;
  width: 100%;

}
.twPc-block {
  display: block !important;
}
.twPc-button {
  margin:-54px -21px 0;
  text-align: right;
  width: 100%;
}
.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float:left;
  margin: -30px 20px 0 18px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 130px;
  width: 130px;
}
.twPc-divUser {
  margin: 39px 0px -54px;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
.twPc-divStats {
  margin-left: 400px;
  padding: 10px 0;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
    padding: 0;
    table-layout: fixed;
    float: right;
    text-align: left;
    width: 200px;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

.my-btn{
  background: none;
  border: none;
  outline: none;
}

.tab{
  color: blue;
}