<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Embryology Section</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <div class="row">
                <div class="col-sm-2">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      MRN No.
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                      [value]="patient?.mrn" disabled>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Date
                    </label>
                    <dx-date-box [value]="clinicalRecord?.collectionDate">
                    </dx-date-box>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Treatment#
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                      [value]="clinicalRecord?.typewiseTreatmentNumber" disabled>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Cycle#
                    </label>
                    <input type="number" [value]="clinicalRecord?.cycleNumber" class="form-control m-input" id="exampleInputEmail1"
                      aria-describedby="emailHelp" disabled>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleSelect1">
                      Treatment Type
                    </label>
                    <dx-select-box [items]="treatments" displayExpr="name" valueExpr="treatmentTypeId" [value]="clinicalRecord?.treatmentTypeId"
                      [searchEnabled]="true" [disabled]="true">
                    </dx-select-box>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Patient Name
                    </label>
                    <dx-select-box #patientcb [items]="patients" displayExpr="display" valueExpr="patientId" [value]="clinicalRecord?.patientId"
                      [searchEnabled]="true" [disabled]="true">
                    </dx-select-box>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Spouse
                    </label>
                    <input type="text" class="form-control m-input" [value]="spouse?.display" disabled="disabled">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Consultant
                    </label>
                    <dx-select-box [items]="consultants" displayExpr="name" valueExpr="consultantId" [value]="clinicalRecord?.consultantId"
                      [searchEnabled]="true" [disabled]="true">
                    </dx-select-box>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group m-form__group pull-right">
                    <div class="m-form__actions">
                      <button type="reset" class="btn btn-primary">
                        Fresh Cycle
                      </button>
                      <button [routerLink]="['/lab/embryology-thawing', id]" class="btn btn-secondary">
                        Frozen Cycle
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <h4>Record Status</h4>
                  <div class="m-form m-form--fit m-form--label-align-right" style="margin-top: 30px;">
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Bio Chemisrty
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="bioChemistryTestOnTreatment; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/biochemistry-ontreatment', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        TVOPU (Pick up)
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="tvopu; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/tvopu', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Embryo Assesment
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="patientInsemenation; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/insemenation', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>
                    <!-- <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Embryo Freezing
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="bioChemistryTestOnTreatment; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <button class="btn btn-primary" type="button">
                              View
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div> -->
                    <!-- <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Embryo Thawing
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="bioChemistryTestOnTreatment; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <button class="btn btn-primary" type="button">
                              View
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div> -->
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Thaw Assesment
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="thawAssessment; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/embryo-freeze', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Insemination (Prep.)
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="insemenationPrep; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/insemenation-prep', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-5 col-form-label">
                        Biopsy
                      </label>
                      <div class="col-md-2">
                        <div class="m-demo-icon">
                          <div class="m-demo-icon__preview">
                            <i *ngIf="biopsy; else incomplete" class="la la-check-circle" style="color: green;"></i>
                            <ng-template #incomplete>
                              <i class="la la-times-circle" style="color: #9b001a;"></i>
                            </ng-template>
                          </div>
                          <div class="m-demo-icon__class">
                            <a class="btn btn-primary" type="button" [routerLink]="['/lab/biopsy', id]">
                              View
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-3"></div>
                    </div>


                  </div>


                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>