<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
  <h4>Company Information</h4>

</div>
<form class="signup-form" [formGroup]="employeeService.EmpCompanyForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Designation" class="control-label">Designation</label>
        <select class="form-control m-input m-input--solid" formControlName="DesignationId" [value]="Employee?.name ||''">
          <option> --- Select Designation ---</option>
          <option *ngFor="let d of designation" [value]="d.designationId">{{d.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Group" class="control-label">Group</label>
        <select class="form-control m-input m-input--solid" formControlName="GroupId" [value]="Employee?.name ||''">
          <option *ngFor="let grp of groups" [value]="grp.groupId">{{grp.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="m--space-07"></div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Designation" class="control-label">Function</label>
        <select class="form-control m-input m-input--solid" formControlName="FunctionId" [value]="Employee?.name ||''">
 
          <option *ngFor="let fnc of functions" [value]="fnc.functionId">{{fnc.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="mlevel" class="control-label">Management Level</label>
        <select class="form-control m-input m-input--solid" formControlName="ManagementLevelId" [value]="Employee?.name ||''">
          <option> --- Select Management Level ---</option>
          <option *ngFor="let ml of managementlevel" [value]="ml.managementLevelId">{{ml.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="m--space-07"></div>



  <div class="row">

    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Emptype">Employee Type</label>
        <select class="form-control m-input m-input--solid" formControlName="EmployeeTypeId" [value]="Employee?.name ||''">
        
          <option *ngFor="let emptype of employeetype" [value]="emptype.employeeTypeId">{{emptype.name}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Empstatus">Employee Status</label>
        <select class="form-control m-input m-input--solid" formControlName="EmployeeStatusId" [value]="Employee?.name ||''">
          <!-- <option value="" disabled selected>-- Select Employee Status --</option> -->
          <option *ngFor="let cempstatus of SetupServiceobj?.employeestatus" [value]="cempstatus.employeeStatusId">{{cempstatus.name}}</option>
        </select>
      </div>
    </div> 
  </div>
  <div class="m--space-07"></div>
  <div class="row">
    <div class="col-md-4"> 
      <div class="form-group m-form__group">
        <label>
          Contract Start
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input #cs type="checkbox">
                <span></span>
              </label>
            </span>
          </div>
          <input formControlName="ContractStart" [value]="Employee?.contractStart || ''" type="date" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div> 
    </div>
    <div class="col-md-4">

      <div class="form-group m-form__group">
        <label>
          Contract End
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input type="checkbox" checked="">
                <span></span>
              </label>
            </span>
          </div>
          <input type="date" formControlName="ContractEnd" [value]="Employee?.contractEnd || ''" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="form-group m-form__group">
        <label>
          Appointment Date
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input type="checkbox" checked="">
                <span></span>
              </label>
            </span>
          </div>
          <input type="date" formControlName="AppointmentDate" [value]="Employee?.appointmentDate || ''" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div>

    </div>
  </div>

  <div class="m--space-07"></div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="employee_id">Next Appraisal Date</label>
        <input formControlName="NextApprisalDate" [value]="Employee?.nextApprisalDate || ''" class="form-control m-input m-input--solid" id="DOB" name="DateofBirth" placeholder="2018-03-23" aria-describedby="DateofBirth"
          type="date">
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group m-form__group">
        <label>
          Confirmation Due Date
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input type="checkbox" checked="">
                <span></span>
              </label>
            </span>
          </div>
          <input type="date" formControlName="ConfirmDueDate" [value]="Employee?.confirmDueDate || ''" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="form-group m-form__group">
        <label>
          Confirmation Date
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input type="checkbox" checked="">
                <span></span>
              </label>
            </span>
          </div>
          <input type="date" formControlName="ConfirmationDate" [value]="Employee?.confirmationDate || ''" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div>

    </div>
  </div>

  <div class="m--space-07"></div>

  <div class="row">
    <div class="col-md-4">

      <div class="form-group m-form__group">
        <label>
          Leaving Date
        </label>
        <div class="input-group m-form__group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-success">
                <input id="chL" #chL (change)="enableInput($event)" type="checkbox" checked="">
                <span></span>
              </label>
            </span>
          </div>
          <input [disabled]="!leavingDateinput" formControlName="LeavingDate" [value]="Employee?.leavingDate || ''" type="date" class="form-control m-input--solid" aria-label="Text input with checkbox">
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="username"> Resign Date</label>
        <input formControlName="ResignDate" class="form-control m-input m-input--solid" [value]="Employee?.resignDate || ''" placeholder="2018-03-23" aria-describedby="username"
          type="date">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="" class="control-label">Approver</label>
        <input type="text" formControlName="Approver" [value]="Employee?.approver || ''" class="form-control m-input m-input--solid" placeholder="Approved By">
      </div>
    </div>
  </div>

  <div class="m--space-07"></div>
  <div *ngIf="router.url === '/hrm/employee/updateemployee/' +id">
  <button class="btn btn-primary" (click)="update(employeeService.EmpCompanyForm.value)">update</button>
 </div>
</form>