 <div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
    
    <form class="" [formGroup]="employeeService.DependantForm"> 
    <div class="row">
        <div class="col-md-5">
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                    Dependent Name
                </label>
                <input #f type="text" class="form-control m-input m-input--solid" formControlName="Name" [value]="employeeService.selectedDependants?.Name"  aria-describedby="emailHelp" placeholder="Dependant Name">
                <div class="m--space-07"></div>
            </div> 
        
        </div>
        
        <div class="form-group m-form__group">
            <button (click)="ec($event, f.value)">Add</button>
        </div>

        <div class="col-md-3">
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                    Select  Dependent Name
                </label>
                <select (change)="setSelectedDependant($event)" class="form-control m-input m-input--solid">
                    <option value="" disabled selected>-- Select Added Dependant --</option>
                    <option *ngFor="let dependent of employeeService.addedDependants" [value]="dependent.Name">{{dependent.Name}}</option>
                </select>
                <div class="m--space-07"></div>
            </div> 
            
        </div>
        
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Email
                </label>
                <input type="text" class="form-control m-input m-input--solid" formControlName="Email" [value]="employeeService?.selectedDependants.Email" aria-describedby="emailHelp" placeholder="Email">
                <div class="m--space-07"></div>
                <!-- <input type="text" class="form-control m-input m-input--solid" id="InputFirstName" aria-describedby="emailHelp" placeholder="Personal"> -->
            </div> 
        </div>
    </div>
      
    <div class="m--space-10"></div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control m-input m-input--solid" formControlName="Country" [value]="employeeService?.selectedDependants.Country" aria-describedby="emailHelp" placeholder="Country">   
                      <!-- <select class="form-control m-input m-input--solid" name="Country"  id="country">
                          <option *ngFor ="let countries of SetupServiceobj.country " [value]="countries.id" >{{countries.name}}</option>
                        </select> -->
                    </div>
                </div>
          <div class="col-md-6">
              <div class="form-group">
                  <input type="text" class="form-control m-input m-input--solid" formControlName="City" [value]="employeeService?.selectedDependants.City" aria-describedby="emailHelp" placeholder="City">
                  <!-- <select class="form-control m-input m-input--solid" name="City"  id="city">
                      <option *ngFor ="let cities of SetupServiceobj.city " [value]="cities.id" >{{cities.name}}</option>
                    </select> -->
                </div>
            </div>
            
        </div>
        <div class="row">   
            <div class="col-md-6">
                      <div class="form-group">
                          <input class="form-control m-input m-input--solid" formControlName="State" [value]="employeeService?.selectedDependants.State" placeholder="State / Province" name="state" type="text">
                        </div>
                        
                    </div>     
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control m-input m-input--solid" formControlName="Zip" [value]="employeeService?.selectedDependants.Zip" placeholder="Zip Code" type="text"></div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group"><input class="form-control m-input m-input--solid" placeholder="Home" name="home_phone" type="text"></div>
                        </div> -->
            </div>
            
            <div class="row"> 
                <div class="col-md-12">
                  <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                          Address
                        </label>
                        <textarea class="form-control m-input m-input--solid" formControlName="Address" [value]="employeeService?.selectedDependants.Address" aria-describedby="emailHelp" placeholder="Enter Address"></textarea>
                        <div class="m--space-07"></div>
                        
                    </div> 
                </div>
              </div>
              
              <div class="row"> 
                  <div class="col-md-12">
                      <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                                Permanent Address
                            </label>
                            <textarea class="form-control m-input m-input--solid" formControlName="PermanentAddress" [value]="employeeService?.selectedDependants.PermanentAddress" aria-describedby="" placeholder="Enter Address"></textarea>
                            <div class="m--space-07"></div>
                            
                        </div> 
                    </div>
                  </div>
   

    <div>
        <button (click)="update()">
            update
        </button>        
    </div>
</form>
</div>