<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div  class="m-portlet__head">
        <div  class="m-portlet__head-caption">
          <div  class="m-portlet__head-title">
            <h3  class="m-portlet__head-text"> Khawaja Mujtaba <small  class="pad_15">
                <a  class="m-link" href="#"> Edit </a>
                <a  class="m-link pad_8" href="#">  Contact Info </a>
              </small>
              <br >
                  <small > Male 16 Year(s) (02-Sep-2001) </small>
                </h3>
              </div>
            </div>
            <div  class="m-portlet__head-tools">
              <ul  class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                <li  class="nav-item m-tabs__item"><a  class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab"> Patient Id </a></li>
                <li  class="nav-item m-tabs__item"><a  class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab"> 548HTU </a></li>
              </ul>
            </div>
          </div>
        </div>
  <div class="row">
    <div class="col-lg-12">
<!--begin::Portlet-->
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">                 
                    Pharmacy Menu
              </h3>
            </div>
          </div>
        </div>

        <div class="m-portlet__body">
          <!--begin::Section-->
          <div class="m-section m-section--last">
            <div class="m-section__content">
              <!--begin::Preview-->
              <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-demo__preview">
                  <div class="m-nav-grid">
                    <div class="m-nav-grid__row">
                        <a routerLink="/pharmacy/supplier" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-users"></i>
                          <span class="m-nav-grid__text">
                              Supplier
                          </span>
                        </a>
                        <a routerLink="/pharmacy/Orders" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-time"></i>
                          <span class="m-nav-grid__text">
                              Orders
                          </span>
                        </a>
                        <a routerLink="/pharmacy/GRN" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-calendar-1"></i>
                          <span class="m-nav-grid__text">
                              GRN
                          </span>
                        </a>

                    </div>
                    <div class="m-nav-grid__row">
                        <a routerLink="/pharmacy/purchse-invoice" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-interface-4"></i>
                          <span class="m-nav-grid__text">
                              Purchase Inv
                          </span>
                        </a>
                        <a routerLink="/pharmacy/Delivery-Challan" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-list-1"></i>
                          <span class="m-nav-grid__text">
                              Delivery Challan
                          </span>
                        </a>
                        <a routerLink="/pharmacy/Item-Detail " class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-interface-1"></i>
                          <span class="m-nav-grid__text">
                              Item Detail 
                          </span>
                        </a>
                    </div>
                    <div class="m-nav-grid__row">
                        <a routerLink="/pharmacy/Stock-Ledger" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-calendar"></i>
                          <span class="m-nav-grid__text">
                              Stock Ledger
                          </span>
                        </a>

                        <a routerLink="/pharmacy/Closing-Stock" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-interface-3"></i>
                          <span class="m-nav-grid__text">
                              Stok Position
                          </span>
                        </a>

                        <a routerLink="/pharmacy/purchse-invoice" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-signs"></i>
                          <span class="m-nav-grid__text">
                              Closing Stock
                          </span>
                        </a>

                    </div>                                             
                    <div class="m-nav-grid__row">
                        <a routerLink="/pharmacy/Stock-Alert" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-shapes"></i>
                          <span class="m-nav-grid__text">
                              Stock Alert
                          </span>
                        </a>
                        <a routerLink="/pharmacy/Purchase-Report" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-clipboard"></i>
                          <span class="m-nav-grid__text">
                              Purchase Report
                          </span>
                        </a>
                        <a routerLink="/pharmacy/Sales-Report" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-graphic"></i>
                          <span class="m-nav-grid__text">
                              Sales Report
                          </span>
                        </a>
                   </div>                   
                </div>
              </div>
            </div>
              <!--end::Preview-->
              <!--begin::Dropdown-->
            
              <!--end::Dropdown-->
            </div>
          </div>
          <!--end::Section-->
        </div>
      </div>
      <!--end::Portlet-->
    </div>
  </div>
</div>