<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
               Gartuity Slab
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="gratuitySlabForm">

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Title:
                </label>
                <input type="text" class="form-control m-input" formControlName="Title" placeholder="">
              </div>
              <div class="col-lg-6">
                <label class="">
                 Multiplication Factor:
                </label>
                <input type="number" class="form-control m-input" formControlName="MultiplicationFactor" placeholder="0">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-6">
                <label>
                  Employment Days From:
                </label>
                <input type="number" class="form-control m-input" formControlName="EmploymentDaysFrom" placeholder="0">
              </div>
              <div class="col-lg-6">
                <label class="">
                  Employment Days Till:
                </label>
                <input type="number" class="form-control m-input" formControlName="EmploymentDaysTill" placeholder="0">
              </div>
            </div>
          </form>

            <div class="m--space-30"></div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-6">
                    <button type="reset" class="btn btn-brand" (click)="submitForm(gratuitySlabForm.value)">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>  
        </div>
      </div>
    </div>
  </div>
</div>