 
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Gratuity</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content">
                <dx-data-grid id="gridContainer" [dataSource]="gratuitySlab" 
                  keyExpr="gratuitySlabId" 
                  (onRowInserted)="addGratuityslab($event)"
                  (onRowUpdating)="updatingGratuitySlab($event)" 
                  (onRowUpdated)="updateGratuitySlab()" 
                  (onRowRemoved)="deleteGratuitySlab($event)">

                  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                  </dxo-editing>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>
                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
                  <dxi-column dataField="title" caption="Slab Title"></dxi-column>
                  <dxi-column dataField="multiplicationFactor" caption="Multiplication Factor"></dxi-column>
                  <dxi-column dataField="employmentDaysFrom" caption="Employment Days From"></dxi-column>
                  <dxi-column dataField="employmentDaysTill" caption="Employment Days Till"></dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>
 