<div class="m-portlet m-portlet--mobile">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
       <i class="fa fa-calendar-check-o"></i>
            </span>
        <h3 class="m-portlet__head-text">
           Patient Package
        </h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
     <div class="">
       
        <!-- <ul *ngFor="let Patient of visits">
            <li   (click)="onclick(Patient.visitId)">
          <a class="m-link m-link--state m-link--success">
              {{Patient.startTime | date: 'dd/MM/yyyy h:mm '}}
          </a>
        </li>
      </ul> -->
      </div>
   </div>
</div>