<div class="m-content">
    <div class="row">
       <div class="col-xl-12">
         <div class="m-portlet">
           <div class="m-portlet__head">
             <div class="m-portlet__head-caption">
               <div class="m-portlet__head-title">
                 <h3 class="m-portlet__head-text">Add Package</h3>
               </div>
             </div>
           </div>
           <div class="m-portlet__body">
             <div class="m-section">
               <div class="m-section__content">
                 <dx-data-grid id="gridContainer" [dataSource]="PatientServiceobj.package" (onRowInserted)="addpackage($event)"   (onRowUpdated)="updatepackage($event)" (onRowRemoved)="deletepackage($event)"> 
                     <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true"   [allowDeleting]="false">
                 </dxo-editing>
                   <dxo-filter-row [visible]="true"></dxo-filter-row>
                   <dxo-header-filter [visible]="true"></dxo-header-filter>
                   <dxo-paging [pageSize]="5"></dxo-paging>
                   <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                   <dxi-column dataField="packageCode" caption="Package Code"></dxi-column>
                   <dxi-column dataField="packageName" caption="Package Name"></dxi-column> 
                   <dxi-column dataField="charges" caption="Charges"></dxi-column> 
                 </dx-data-grid>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>