<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Khawaja Mujtaba
                                    <small class="pad_15">
                                        <a href="#" class="m-link">
                                            Edit
                                        </a>
                                          
                                      <a href="#" class="m-link pad_8">
                                              Contact Info
                                                </a>
                                      </small>
                                    <br>
                                    <small>
                                        Male 16 Year(s)  (02-Sep-2001)
                                    </small>   
                                </h3> 
                              
                            </div>
                            
                        </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
                            
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_widget2_tab2_content1" role="tab">
                                    Patient Id
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_widget2_tab1_content" role="tab">
                                    548HTU
                                    </a>
                                </li>
                        </ul> 
                    </div> 
                  </div> 
    </div>

    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                  <i class="la la-gear"></i>
                </span>
                  <h3 class="m-portlet__head-text">
                      File Record
                  </h3>
                  
              </div>
            </div>
            <div class="m-portlet__head-tools">
                <input  class="form-control m-input m-input--solid col-md-4 pull-right" id="exampleInputEmail1" placeholder="Search File No" type="text">
            </div>
          </div>
            <!--begin::Form-->
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Clinical Master</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
              <div class="m-section__content">

                <div class="form-group row">
      
                    <div class="form-group col-lg-4">
                        <label>Document #</label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Document ">
                    </div>
                    <div class="form-group col-lg-4">
                        <label>File No #</label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="File No ">
                    </div>

                     <div class="form-group  col-lg-4 blankinput">  
                        <div class="m-form__group form-group pull-right blankinput">
                            <div class="m-checkbox-list blankinput">
                              <label></label>
                              <button class="btn btn-success blankinput" type="submit">
                                Add New Cycle
                              </button>                       
                            </div>
                          </div>                                  
                    </div>    

                </div>
                          
                
                <div class="form-group row">
      
                    <div class="form-group col-lg-4">
                        <label>Patient Name</label>
                        <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Document ">
                    </div>
                    <div class="form-group col-lg-4">
                        <label></label>
                        <input type="text" class="form-control m-input m-input--solid blankinput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                    </div>

                     <div class="form-group  col-lg-4 ">                                  
                    </div>    

                </div>

  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
          <div class="m-portlet">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">Clinical Detail</h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div class="m-section">
                <div class="m-section__content">
  
                  <div class="form-group row">
        
                      <div class="form-group col-lg-3">
                          <label>Cycle #</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Document ">
                      </div>
                      <div class="form-group col-lg-3">
                          <label>LMP</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Document ">
                      </div>
                      <div class="form-group col-lg-3">
                          <label>LMP 2</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="File No ">
                      </div>
                      <div class="form-group col-lg-3">
                          <label>Type wise Treatment</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="File No ">
                      </div>
                  </div>
                            
                  
                  <div class="form-group row">
                      <div class="form-group col-lg-4">
                          <label>Treatment Type</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Document ">
                      </div>
                      <div class="form-group col-lg-4">
                          <label></label>
                          <input type="text" class="form-control m-input m-input--solid blankinput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      </div>
                      <div class="form-group  col-lg-4 ">                           
                      </div>    
                  </div>

                  <div class="form-group row">
        
                      <div class="form-group col-lg-4">
                          <label>Consultant</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Consultant  ">
                      </div>
                      <div class="form-group col-lg-3">
                          <label></label>
                          <input type="text" class="form-control m-input m-input--solid blankinput" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                      </div>
  
                      <div class="form-group  col-lg-5 blankinput">  
                          <div class="m-form__group form-group pull-right blankinput">
                              <div class="m-checkbox-list blankinput">
                                <label></label>
                                <button class="btn btn-success blankinput" type="submit">
                                    Surgical Info
                                  </button> |      
                                  <button class="btn btn-success blankinput" type="submit">
                                     Final Report 
                                    </button> | 
                                <button class="btn btn-success blankinput" type="submit">
                                  Follow UP
                                </button>     
                              </div>
                            </div>                                  
                      </div>    
  
  
                  </div>

                  <div class="form-group row">
        
                      <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1"> Active / InActive</label>
                          <select class="form-control m-input m-input--solid" id="exampleSelect1">
                              <option ></option>
                          </select>
                      </div>
                      <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1"> Outcome </label>
                          <select class="form-control m-input m-input--solid" id="exampleSelect1">
                              <option ></option>
                          </select>
                      </div>
                      <div class="form-group col-lg-3">
                          <label>Supression</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Consultant  ">
                      </div>

                      <div class="form-group  col-lg-1 blankinput"> 
                        
                          <div  class="m-form__group form-group">
                            <div class="m-checkbox-list">
                              <label ></label>
                              <label class="m-checkbox blankinput">
                                <input  type="checkbox">Default<span></span>
                              </label>
                            </div>
                          </div>                                
                      </div>  
                   
                      <div class="form-group  col-lg-2 blankinput">  
                          <div class="m-form__group form-group pull-right blankinput">
                              <div class="m-checkbox-list blankinput">
                                <label></label>
                                <button class="btn btn-success blankinput" type="submit">
                                   Post
                                  </button>  
                              </div>
                            </div>                                  
                      </div> 
  
                  </div>


                  <div class="form-group row">
        
                      <div class="form-group col-lg-6">
                          <label>Reason *</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Reason">
                      </div>
                      <div class="form-group col-lg-6">
                      </div>

                  </div>
                            
                  <div class="form-group row">
                      <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1"> Protocol Type </label>
                          <select class="form-control m-input m-input--solid" id="exampleSelect1">
                              <option ></option>
                          </select>
                      </div>
                      <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1"> Stimulation Dt </label>
                          <select class="form-control m-input m-input--solid" id="exampleSelect1">
                              <option ></option>
                          </select>
                      </div>
                      <div class="form-group col-lg-3">
                          <label>Trigger Dt</label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="File No ">
                      </div>
                      <div  class="form-group  col-lg-3">
                          <label  for="exampleInputEmail1"> E.T Date </label>
                          <div class="input-group date">
                              <input  class="form-control m-input" id="m_datepicker_2" placeholder="Select date" readonly="" type="text">
                              <div class="input-group-append">
                                  <span  class="input-group-text">
                                      <i  class="la la-calendar"></i>
                                  </span>
                              </div>
                          </div>
                      </div>
                  </div>


                  <div class="form-group row m-row--col-separator-xl">
                      <div class="form-group col-lg-3">
                        <h6 class="text-center">Phase 1</h6>
                          <label class="center-block"> Protocol Type </label>
                          <div class="col-xs-1 center-block">
                              <label class="m-checkbox">
                                <input type="checkbox">
                                <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                    Gen Events
                                  </button>
                                <span></span>
                              </label> 
                            </div>
                            <div class="col-xs-1 center-block">
                                <label class="m-checkbox">
                                  <input type="checkbox">
                                  <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                      View Data
                                    </button>
                                  <span></span>
                                </label> 
                              </div>
                      </div>
                      <div class="form-group col-lg-3">
                          <h6 class="text-center">Phase 2</h6>
                            <label class="center-block"> Protocol Type </label>
                            <div class="col-xs-1 center-block">
                                <label class="m-checkbox">
                                  <input type="checkbox">
                                  <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                      Gen Events
                                    </button>
                                  <span></span>
                                </label> 
                              </div>
                              <div class="col-xs-1 center-block">
                                  <label class="m-checkbox">
                                    <input type="checkbox">
                                    <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                        View Data
                                      </button>
                                    <span></span>
                                  </label> 
                                </div>
                      </div>
                      <div class="form-group col-lg-3">
                          <h6 class="text-center">Phase 3</h6>
                            <label class="center-block"> Protocol Type </label>
                            <div class="col-xs-1 center-block">
                                <label class="m-checkbox">
                                  <input type="checkbox">
                                  <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                      Gen Events
                                    </button>
                                  <span></span>
                                </label> 
                              </div>
                              <div class="col-xs-1 center-block">
                                  <label class="m-checkbox">
                                    <input type="checkbox">
                                    <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                        View Data
                                      </button>
                                    <span></span>
                                  </label> 
                                </div>
                      </div>
                      <div class="form-group col-lg-3">
                          <h6 class="text-center">Phase 4</h6>
                            <label class="center-block"> Protocol Type </label>
                            <div class="col-xs-1 center-block">
                                <label class="m-checkbox">
                                  <input type="checkbox">
                                  <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                      Gen Events
                                    </button>
                                  <span></span>
                                </label> 
                              </div>
                              <div class="col-xs-1 center-block">
                                  <label class="m-checkbox">
                                    <input type="checkbox">
                                    <button type="button" class="btn m-btn--square  btn-primary btn-sm">
                                        View Data
                                      </button>
                                    <span></span>
                                  </label> 
                                </div>
                      </div>

                  </div>


                  <div class="form-group row">
                      <div class="form-group col-lg-3">

                      </div>
                      <div class="form-group col-lg-3">
                          <label for="exampleInputEmail1"> Over All Treat # </label>
                          <input type="text" class="form-control m-input m-input--solid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Over All Treat">
                      </div>
                      <div class="form-group  col-lg-3 blankinput">
                          <div  class="m-form__group form-group pull-right blankinput">
                              <div  class="m-checkbox-list blankinput">
                                  <label ></label>
                                  <button  class="btn btn-success blankinput" type="submit"> Populate </button>
                              </div>
                          </div>
                      </div>
                      <div  class="form-group  col-lg-3">
                      </div>
                  </div>

    
                            
     
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
          <div class="col-xl-12">
            <div class="m-portlet">
              <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                  <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">Drugs Detail</h3>
                  </div>
                </div>
              </div>
              <div class="m-portlet__body">
                <div class="m-section">
                  <div class="m-section__content">
                    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand tblheader">
                      <thead>
                        <tr>
                          <th scope="row">Sr #</th>
                          <th>Description</th>
                          <th>From Date</th>
                          <th>To Date</th>
                          <th>Daye</th>
                          <th>Qty</th>
                          <th>Dose</th>
                          <th>Units</th>
                          <th>Total Dose</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">001</th>
                          <td>Abc</td>
                          <td>12-4-2014</td>
                          <td>20-4-2014</td>
                          <td>8</td>
                          <td>8</td>
                          <td>8</td>
                          <td>12</td>
                          <td>8</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
  </div>