<div class="m-content">
    <div class="row">
       <div class="col-xl-12">
         <div class="m-portlet">
           <div class="m-portlet__head">
             <div class="m-portlet__head-caption">
               <div class="m-portlet__head-title">
                 <h3 class="m-portlet__head-text">Voucher Type</h3>
               </div>
             </div>
           </div>
           <div class="m-portlet__body">
             <div class="m-section">
               <div class="m-section__content">
                
                <div class="form-group row">
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                          Voucher Code
                      </label>
                      <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="001">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Short Name
                      </label>
                      <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="JV">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Full Name
                      </label>
                      <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Journal Voucher">
                    </div>
                  </div>
                 
                    <div class="col-sm-3" style="margin-top: 28px;">
                        <button type="submit" class="btn btn-primary">
                            Add New
                          </button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="m--space-07"></div>
  
  
                    <dx-data-grid id="gridContainer"  keyExpr="" [dataSource]="" keyExpr="" (onRowInserted)="addLanguage($event)" (onRowUpdated)="EditLanguage($event)"
                    (onRowRemoved)="deleteLanguage($event)">
                    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="False" [useIcons]="true">
                        <dxo-popup title="Language" [showTitle]="true" [width]="700" [height]="345" [position]="{ my: 'center', at: 'center', of: window }">
                        </dxo-popup>
                      </dxo-editing>
                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
        
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxo-paging [pageSize]="8"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                    </dxo-pager>
        
                    <dxi-column dataField="Voucher Code" caption="Voucher Code"></dxi-column>
                    <dxi-column dataField="Short Name" caption="Short Name"></dxi-column>        
                    <dxi-column dataField="Full Name" caption="Full Name"></dxi-column>
                  </dx-data-grid>
                </div>
  
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   
   
   
   
   
   
   </div>