<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">TVOPU</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form [formGroup]="tvopuform">
            <div class="m-section">
              <div class="m-section__content">

                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        MRN No.
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="{{patient?.mrn}}" disabled>
                       </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Patient Name
                      </label>
                      <dx-select-box #patientcb [items]="patients" displayExpr="display" valueExpr="patientId" [value]="clinicalRecord?.patientId"
                        [searchEnabled]="true">
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Spouse
                      </label>
                      <input type="text" class="form-control m-input" placeholder="{{spouse?.display}}" disabled="disabled">
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Cycle No.
                      </label>
                      <input type="number" [value]="clinicalRecord?.cycleNumber" class="form-control m-input" id="exampleInputEmail1"
                        aria-describedby="emailHelp" disabled>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Treatment#
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                        [value]="clinicalRecord?.typewiseTreatmentNumber">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Treatment Type
                      </label>
                      <dx-select-box [items]="treatments" displayExpr="name" valueExpr="treatmentTypeId" [value]="clinicalRecord?.treatmentTypeId"
                        [searchEnabled]="true" disabled>
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Consultant
                      </label>
                      <dx-select-box [items]="consultants" displayExpr="name" valueExpr="consultantId" [value]="clinicalRecord?.consultantId"
                        [searchEnabled]="true">
                      </dx-select-box>
                    </div>
                  </div>


                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Embryologist
                      </label>
                      <dx-select-box [items]="embryologists" displayExpr="description" valueExpr="embryologistId"
                        [value]="tvopu?.embryologistId" [searchEnabled]="true" formControlName="EmbryologistId">
                      </dx-select-box>
                    </div>
                  </div>
                </div>



                <div class="row">

                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Start Time
                      </label>
                      <dx-date-box type="time" [value]="tvopu?.timeStart" formControlName="TimeStart">
                      </dx-date-box>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Finish Time
                      </label>
                      <dx-date-box type="time" [value]="tvopu?.timeFinish" formControlName="TimeFinish">
                      </dx-date-box>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Status
                      </label>
                      <select class="form-control m-input" id="exampleSelect1" [value]="tvopu?.activeInactive" formControlName="ActiveInactive">
                        <option>
                          Active
                        </option>
                        <option>
                          In-Active
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Remarks
                      </label>
                      <input type="text" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.remarks" formControlName="Remarks">
                    </div>
                  </div>

                </div>
                <div class="row">

                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Pickup Count
                      </label>
                      <input type="number" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.pickupCount" formControlName="PickupCount">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleSelect1">
                        Total Pickup Count
                      </label>
                      <input type="number" class="form-control m-input" [value]="tvopu?.totalPickupCount" formControlName="TotalPickupCount">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Pickup Date
                      </label>
                      <dx-date-box [value]="tvopu?.pickupDate" formControlName="PickupDate">
                      </dx-date-box>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <h4>Folicile Aspirated:</h4>
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-6">
                        <div class="form-group m-form__group row">
                          <label class="col-form-label col-lg-3">
                            Left:
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.follicileAspiratedLeft"
                              formControlName="FollicileAspiratedLeft">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group m-form__group row">
                          <label class="col-form-label col-lg-3">
                            Right:
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.follicileAspiratedRight"
                              formControlName="FollicileAspiratedRight">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <h4>Oocite Collected:</h4>
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-sm-5">
                        <div class="form-group m-form__group row">
                          <label class="col-form-label col-lg-3">
                            Left:
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.oociteCollectedLeft"
                              formControlName="OociteCollectedLeft">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-5">
                        <div class="form-group m-form__group row">
                          <label class="col-form-label col-lg-3">
                            Right:
                          </label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control m-input" aria-describedby="emailHelp" [value]="tvopu?.oociteCollectedRight"
                              formControlName="OociteCollectedRight">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <button type="button" (click)="submitForm(tvopuform.value)" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-7">
                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                      <div class="m-demo__preview m-demo__preview--btn">
                        <a [routerLink]="['/lab/embryology', tvopu?.tvopuId]" class="btn btn-primary m-btn m-btn--custom">
                          Assesment
                        </a>
                        <a [routerLink]="['/lab/embryo-freeze', id]" class="btn btn-success m-btn m-btn--custom">
                          Freezing
                        </a>
                        <!-- <button type="button" class="btn btn-success m-btn m-btn--custom">
                          Thaw
                        </button>
                        <button type="button" class="btn btn-info m-btn m-btn--custom">
                          PGS
                        </button> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                      <div class="m-demo__preview m-demo__preview--btn">
                        <button [routerLink]="['/lab/biochemistry-ontreatment', id]" class="btn btn-primary m-btn m-btn--custom">
                          Bio-Chemistry
                        </button>
                        <button [routerLink]="['/lab/insemenation', id]" class="btn btn-success m-btn m-btn--custom">
                          Insemination
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>