

<div class="m-content">
    <div class="row">
        <div class="col-md-12"> 
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">
        Upload Request
          </h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      
      <div class="row">
        <div class="col-md-10">
      <div class="form-group m-form__group">
          <label for="exampleInputEmail1">
              Browse the .xls file to upload
          </label>
          <div></div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">
              Choose file
            </label>
          </div>
        </div>
             </div>
                 </div>

                 <div class="row">
                     <div class="col-md-12">
                   <div class="form-group m-form__group">
                       <label class="m-checkbox m-checkbox--state-primary">
                           <input type="checkbox">
                           Approval Required
                           <span></span>
                         </label>
                       </div>
                     </div>
                         </div>
                 <div class="row">
                     <div class="col-md-12">
                   <div class="form-group m-form__group">
                      <p class="strong">
                          <ins>
                            Special Instruction
                          </ins>
                        </p>

                        <p>
                            <em>
                              (1) Files should contain only one sheet with tha name of 'Employee Leave'.
                              (2) This line rendered as italicized text.
                              (1) This line rendered as italicized text.
                            </em>
                          </p>
                       </div>
                     </div>
                         </div>
             
                         <div class="m--space-10"></div>
                         <div class="row">
                            <div class="col-md-12"> 
                                
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                              <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="m--space-10"></div>
                                <div class="col-lg-6">
                                  <button type="submit" class="btn btn-success">
                                    Submit
                                  </button>
                                  <button type="reset" class="btn btn-secondary">
                                    Cancel
                                  </button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>

      </div>
     </div>
    </div>
   </div>   



