<div class="m-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Attendance Setup
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body" style="padding: 0px !important;">
          <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
            <div class="m-demo__preview">
              <ul class="m-nav nav nav-tabs">
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#roster" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
                      Roster</span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#assignRoster" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Assign Roster
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#flagType" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Flag Type
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#flagValue" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Flag Value
                    </span>
                  </a>
                </li>

                <li class="m-nav__item">
                  <a class="m-nav__link" href="#flagCategory" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Flag Category
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#flagEffectType" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Flag Effect Type
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#attendanceFlag" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Attendance Flag
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#requestApprover" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Attendance Request Approver
                    </span>
                  </a>
                </li>

                <li class="m-nav__item">
                  <a class="m-nav__link" href="#requestType" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Attendance Request Type
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#shift" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                      Shift
                    </span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <!-- Tab panes -->
      <div class="m-portlet">
        <div class="tab-content">
          <div class="tab-pane active" id="roster">
              <div class="m-portlet">
                  <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                      <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">Roster</h3>
                      </div>
                    </div>
                  </div>
                  <div class="m-portlet__body">
                      <div class="m-section">
                        <div class="m-section__content">
                          <dx-data-grid id="gridContainer" [dataSource]="roster" keyExpr="rosterId" (onRowInserted)="addroster($event)" (onRowUpdated)="updateroster($event)"
                            (onRowRemoved)="deleteroster($event)">
                            <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>

                            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                            <dxo-paging [pageSize]="6"></dxo-paging>
                            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                            </dxo-pager>
                            <dxi-column dataField="name"></dxi-column>

                          </dx-data-grid>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
          <div class="tab-pane" id="assignRoster">
            <app-assignroster></app-assignroster>
          </div>
          <div class="tab-pane" id="attendanceFlag">
            <app-attendanceflag></app-attendanceflag>
          </div>
          <div class="tab-pane" id="requestApprover">
            <app-attendancerequestapprover></app-attendancerequestapprover>
          </div>
          <div class="tab-pane" id="requestType">
            <app-attendancerequesttype></app-attendancerequesttype>
          </div>
          <div class="tab-pane" id="flagCategory">
            <app-flagcategory></app-flagcategory>
          </div>
          <div class="tab-pane" id="flagEffectType">
            <app-flageffecttype></app-flageffecttype>
          </div>
          <div class="tab-pane" id="flagType">
            <app-flagtype></app-flagtype>
          </div>
          <div class="tab-pane" id="flagValue">
            <app-flagvalue></app-flagvalue>
          </div>
          <div class="tab-pane" id="shift">
            <app-view-shift></app-view-shift>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>