.blankinput
{
    margin-top: 25px;  
}

.m-content{
    position: relative;
}

.blanklable
{
    margin-top: 7px;  
}

.popup{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: 100%;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.form{
    height: 50%;
    width: 60%;
    background: white;
    z-index: 2;
}
.hide
{
    display: none;
}