<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Gratuity Slab Gratuity</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer" [dataSource]="gratuitySlabGratuity" 
                keyExpr="gratuitySlabGratuityId" 
                (onRowInserted)="addGratuitySlabGratuity($event)"
                (onRowUpdated)="updateGratuitySlabGratuity($event)" 
                (onRowRemoved)="deleteGratuitySlabGratuity($event)">
                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
                <dxi-column dataField="slabAmount" caption="Slab Amount"></dxi-column>
                <dxi-column dataField="gratuitySlabId" caption="Gratuity Slab">
                  <dxo-lookup [dataSource]="gratuitySlab" displayExpr="title" valueExpr="gratuitySlabId">
                  </dxo-lookup>
                </dxi-column> 
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>