<div class="m-portlet m-portlet--unair">
    <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
          <span class="m-portlet__head-icon">
              <i class="fa fa-heartbeat"></i>
            </span> 
        <h3 class="m-portlet__head-text">
          Vitals
        </h3>
      </div>
    </div>
    </div>
    <div class="m-portlet__body">


        <!-- *ngFor="let Patient of leatestPatientVitals" -->

 
     <div class="m-widget4">
        <div class="m-widget4__item">
												
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Height
            </span>
            <br>
            
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.height}}  -->
            </span>
          </span>
        </div>

        <div class="m-widget4__item">
												
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Weight
            </span>
            <br>
            
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.weight}}  -->
            </span>
          </span>
        </div> 
        <!-- <div class="m-widget4__item">										
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Calculated (BMI)
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              {{leatestPatientVitals.calculatedBMI}} 
            </span>
          </span>
        </div> -->
 
        <div class="m-widget4__item">						
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Temperature
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.temperature}}  -->
            </span>
          </span>
        </div>

        <div class="m-widget4__item">						
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Respiratory Rate
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.respiratoryRate}}  -->
            </span>
          </span>
        </div>

        <div class="m-widget4__item">						
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Pulse
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.pulse}}  -->
            </span>
          </span>
        </div>

        <div class="m-widget4__item">						
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Blood Pressure
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.bloodPressure}}  -->
            </span>
          </span>
        </div>

        <div class="m-widget4__item">						
          <div class="m-widget4__info">
            <span class="m-widget4__title">
              Blood Oxygen Saturation
            </span>
            <br>
          </div>
          <span class="m-widget4__ext">
            <span class="m-widget4__number m--font-brand">
              <!-- {{leatestPatientVitals.bloodOxygenSaturation}}  -->
            </span>
          </span>
        </div>  
</div>
    </div>
    </div>  