
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Leave Types</h3>
                    </div>
                  </div>
                </div>
                <div class="m-portlet__body">
                  <div class="m-section">
                    <div class="m-section__content">
                      <dx-data-grid id="gridContainer"
                       [dataSource]="levetype"
                       keyExpr="leaveTypeId"
                       (onRowInserted)="addleavetype($event)" 
                      (onRowUpdated)="updateleavetype($event)"
                        (onRowRemoved)="deleteleavetype($event)">
                        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                          <dxo-popup title="Leave Type" [showTitle]="true" [width]="700" [height]="345">
                          </dxo-popup>
                        </dxo-editing>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
        
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxo-paging [pageSize]="6"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                        </dxo-pager> 
                        <dxi-column dataField="title"></dxi-column>
                        <dxi-column dataField="prefix"></dxi-column>
                        <dxi-column dataField="leaveSubTypeId" caption="Sub Type">         
                            <dxo-lookup [dataSource]="levesubtype" displayExpr="name" valueExpr="leaveSubTypeId"></dxo-lookup>
                        </dxi-column>
                        <!-- <dxi-column dataField="dayCost"></dxi-column>
                        <dxi-column dataField="dayPrice"></dxi-column> -->
                        <dxi-column dataType="boolean" dataField="isActive"></dxi-column>
                      </dx-data-grid>
                    </div>
                  </div>
                </div>
              </div>
            