<div class="m-content">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="m-portlet m-portlet--full-height  ">
          <div class="m-portlet__body">
            <div class="m-card-profile">
              <div class="m-card-profile__title m--hide">
                Your Profile
              </div>
              <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                  <img src="../assets/app/media/img/users/user4.jpg" alt="">
                </div>
              </div>
              <div class="m-card-profile__details">
                <span class="m-card-profile__name">
                  {{userName}}
                </span>
                <a class="m-card-profile__email">
                  {{userLevel}}
                </a>
              </div>
            </div>

            <div class="m-portlet__body-separator"></div>
            
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="m-portlet m-portlet--full-height m-portlet--tabs">
          <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                    <i class="flaticon-share m--hide"></i>
                    Update Profile
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                    Change Password
                  </a>
                </li>
              </ul>
            </div>
  
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab_1">
              <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="UpdateUserProfileForm">
                <div class="m-portlet__body">
                  <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-3 col-form-label">
                      First Name *
                    </label>
                    <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="FirstName">
                    </div>
                  </div>
                  <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-3 col-form-label">
                      Last Name *
                    </label>
                    <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="LastName">
                    </div>
                  </div>
                  <!-- <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-3 col-form-label">
                      City
                    </label>
                    <div class="col-7">
                        <select class="form-control m-input m-input--square" [value]="UserCity?.cityId  || ''" formControlName="City">
                            <option  disabled>
                              Select City
                            </option>
                            <option class="active" *ngFor="let city of Cities" [value]="city.cityId">
                              {{city.name}}
                            </option>
                          </select>
                    </div>
                  </div> -->
                  <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-3 col-form-label">
                      Contact Number *
                    </label>
                    <div class="col-7">
                      <input class="form-control m-input" type="text" formControlName="ContactNumber">
                    </div>
                  </div>
                  <!-- <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-3 col-form-label">
                        Role
                      </label>
                      <div class="col-7">
                          <select class="form-control m-input m-input--square" [value]="UserRole?.roleId  || ''" formControlName="Role">
                              <option  disabled>
                                Select Role
                              </option>
                              <option class="active" *ngFor="let role of Roles" [value]="role.roleId">
                                {{role.name}}
                              </option>
                            </select>
                      </div>
                    </div> -->
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                            Email
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="text" formControlName="Email">
                        </div>
                      </div>                 
                </div>
                <div class="m-portlet__foot">
                  <div class="row align-items-center">
                    <div class="col-lg-6 m--valign-middle">
                      
                    </div>
                    <div class="col-lg-6 m--align-right">
                      <button type="submit" class="btn btn-brand" (click)=UpdateUserProfileInfo(UpdateUserProfileForm.value)>
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="m_user_profile_tab_2">
                <form class="m-form m-form--fit m-form--label-align-right" [formGroup]="UpdatePasswordForm">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">
                              Username*
                            </label>
                            <div class="col-7">
                              <input class="form-control m-input" type="text" formControlName="Username">
                            </div>
                          </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          Current Password*
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="password" formControlName="CurrentPassword">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                          New Password *
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="password" formControlName="NewPassword">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-3 col-form-label">
                         Confirm Password
                        </label>
                        <div class="col-7">
                          <input class="form-control m-input" type="password" formControlName="ConfirmPassword">
                        </div>
                      </div>
                      <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                    </div>
                    <div class="m-portlet__foot">
                      <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                          
                        </div>
                        <div class="col-lg-6 m--align-right">
                          <button type="submit" class="btn btn-brand" (click)="UpdatePassword(UpdatePasswordForm.value)">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>