<div class="m-portlet__body">
    <div class="m-section">
      <div class="m-section__content">
        <dx-data-grid id="gridContainer">
          <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
          </dxo-editing>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
          <dxi-column dataField="" caption="Pro ID"></dxi-column>
          <dxi-column dataField="" caption="Product"></dxi-column>
          <dxi-column dataField="" caption="Qty"></dxi-column>
          <dxi-column dataField="" caption="Unit"></dxi-column>
          <dxi-column dataField="" caption="Equij"></dxi-column>
          <dxi-column dataField="" caption="Unit"></dxi-column>
          <dxi-column dataField="" caption="Price"></dxi-column>
          <dxi-column dataField="" caption="Rate Unit"></dxi-column>
          <dxi-column dataField="" caption="Basic Amount"></dxi-column>
          <dxi-column dataField="" caption="Commission"></dxi-column>
          <dxi-column dataField="" caption="TO/(Ltr)"></dxi-column>
          <dxi-column dataField="" caption="TO Amount"></dxi-column>
          <dxi-column dataField="" caption="Commission Amount"></dxi-column>
          <dxi-column dataField="" caption="ST Rate"></dxi-column>
          <dxi-column dataField="" caption="St Amount"></dxi-column>
          <dxi-column dataField="" caption="Amount"></dxi-column>
          <dxi-column dataField="" caption="Cancel"></dxi-column>
          <dxi-column dataField="" caption="IsComplete"></dxi-column>
          <dxi-column dataField="" caption="Shipped"></dxi-column>
          <dxi-column dataField="" caption="MS OID"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>