 
				  <div class="m-portlet">
					<div class="m-portlet__head">
					  <div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
						  <h3 class="m-portlet__head-text">Taxable Income Adjustment</h3>
						</div>
					  </div>
					</div>
					<div class="m-portlet__body">
					  <div class="m-section">
						<div class="m-section__content" >
              <dx-data-grid id="gridContainer" [dataSource]="taxableIncomeAdjustment"
              keyExpr="taxableIncomeAdjustmentId"
               (onRowInserted)="addTaxableincomeAdjustment($event)"
                (onRowUpdated)="updateTaxableincomeAdjustment()" 
                (onRowUpdating)="updatingTaxableincomeAdjustment($event)" 
                (onRowRemoved)="deleteTaxableincomeAdjustment($event)"> 
								<dxo-editing  mode="popup" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">	
									<dxo-popup title="Taxable Income Adjustment" [showTitle]="true" [width]="700" [height]="345"></dxo-popup>
								</dxo-editing>
								<dxo-filter-row [visible]="true"></dxo-filter-row>
								<dxo-header-filter [visible]="true"></dxo-header-filter>
								<dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
								<dxo-paging [pageSize]="8"></dxo-paging>
								<dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
                <dxi-column dataField="groupId" caption="Group">
                    <dxo-lookup [dataSource]="groups" displayExpr="name" valueExpr="groupId">
                    </dxo-lookup> 
                    </dxi-column>
                    <dxi-column dataField="userId" caption="Employee">
                      <dxo-lookup [dataSource]="users" displayExpr="firstName" valueExpr="userId">
                      </dxo-lookup> 
                    </dxi-column>
                        <dxi-column dataField="taxYearId" caption="Tax Year">
                            <dxo-lookup [dataSource]="taxYears" displayExpr="name" valueExpr="taxYearId">
                            </dxo-lookup> 
                            </dxi-column>
                        <dxi-column dataField="payrollTypeId" caption="Payroll Type">
                            <dxo-lookup [dataSource]="payrollType" displayExpr="name" valueExpr="payrollTypeId">
                            </dxo-lookup> 
                            </dxi-column>
                        <dxi-column dataField="taxAdjustmentReasonId" caption="Tax Adjustment Reason">
                            <dxo-lookup [dataSource]="taxAdjustmentReason" displayExpr="name" valueExpr="taxAdjustmentReasonId">
                            </dxo-lookup> 
                            </dxi-column>
                <dxi-column dataField="addAmount" caption="Add Amount"></dxi-column>
								<dxi-column dataField="deductAmount" caption="Deduct Amount"></dxi-column> 
								<dxi-column dataField="remarks" caption="Remarks"></dxi-column> 
						  </dx-data-grid> 
						</div>
					  </div>
					</div>
				  </div>
 



 
