 
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Holidays</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer" [dataSource]="holiday" keyExpr="gazettedHolidaysId" (onRowInserted)="addHolidays($event)"
                (onRowUpdating)="updatingholiday($event)"
                (onRowUpdated)="Editholiday()"
                 (onRowRemoved)="deleteholiday($event)">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                  <dxo-popup title="Holiday" [showTitle]="true" [width]="700" [height]="345">
                  </dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="4"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
                <dxi-column dataField="code"></dxi-column>
                <dxi-column dataField="name"></dxi-column>
                <dxi-column dataField="remarks"></dxi-column>
                <dxi-column dataField="holidayDate" dataType="date"></dxi-column>
                <dxi-column dataField="description"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
 