<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Brand -->
	<div id="sidebarBtn" class="btnse">
		<button type="button" onclick="toggleNav()" id="sidebarCollapse" class="btn btn-block m-btn btn-sm m-btn m-btn--icon" style="height: 40px;padding: 3px;background: radial-gradient(ellipse at center, rgb(32, 85, 127) 0%,rgb(17, 71, 114) 86%,#174b76 73%,#154872 70%,#164b75 100%);color: white;">
				<span style="position: absolute;">
						<i class="la la-align-left" style="font-size: 30px;"></i>
						<span id="sidebarBtntext" class="rrtrtr">
								
						</span>
					</span>
			  </button>
</div>
	<!-- END: Brand --> 	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light" data-menu-vertical="true" 		 data-menu-scrollable="true" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

				<li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
			aria-haspopup="true" data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
			   <a href="#" class="m-menu__link m-menu__toggle">
				   <i class="m-menu__link-icon flaticon-menu"></i>
				   <span class="m-menu__link-text">
					   Setups
				   </span>
				   <i class="m-menu__ver-arrow la la-angle-right"></i>
			   </a>
			   <div class="m-menu__submenu">
				   <span class="m-menu__arrow"></span>
				   <div class="m-menu__wrapper">
					   <ul class="m-menu__subnav">
						   <li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
							aria-haspopup="true">
							   <span class="m-menu__link">
								   <span class="m-menu__link-text">
									  Laboratory
								   </span>
							   </span>
						   </li>
						   <li class="m-menu__section">
							   <h4 class="m-menu__section-text">
								   Lab Setup Forms
							   </h4>
							   <i class="m-menu__section-icon flaticon-more-v3"></i>
						   </li>

						   <li class="m-menu__item " aria-haspopup="true" data-redirect="true">
							<a routerLink="/lab/proceduresortest" class="m-menu__link ">
								<span class="m-menu__link-text">
									Lab Test
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" data-redirect="true">
							<a routerLink="/lab/test-unit" class="m-menu__link ">
								<span class="m-menu__link-text">
									Test Unit
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" data-redirect="true">
							<a routerLink="/lab/biochemistry-test" class="m-menu__link ">
								<span class="m-menu__link-text">
									Embryologist
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" data-redirect="true">
								<a routerLink="/lab/embryologist" class="m-menu__link ">
									<span class="m-menu__link-text">
											Embryologist
									</span>
								</a>
							</li>
							<li class="m-menu__item " aria-haspopup="true" data-redirect="true">
									<a routerLink="/lab/embryology-code" class="m-menu__link ">
										<span class="m-menu__link-text">
												Embryology Codes
										</span>
									</a>
								</li>
						  
					   </ul>
				   </div>
			   </div>
		   </li>
			
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/clinical-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-search"></i>
					<span class="m-menu__link-text">Clinical Records
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/semen-analysis-list" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-time"></i>
					<span class="m-menu__link-text">
						Semen Analysis
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
			
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/biopsy-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-add"></i>
					<span class="m-menu__link-text">
						PESA / TESE
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
			
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/biochemistry-outsider" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-calendar"></i>
					<span class="m-menu__link-text">
						Biochemistry (Outsider)
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/embryology-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Embryology
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/insemenation-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Insemenation
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/insemenation-prep-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Insemenation Prep
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  routerLink="/lab/biochemistry-ontreatment-records" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Bio Ontreatment
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
			</li>
			<!-- <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
					<a  routerLink="/lab/registration" class="m-menu__link m-menu__toggle">
						<i class="m-menu__link-icon flaticon-file"></i>
						<span class="m-menu__link-text">
								Reports
						</span>
						<i class="m-menu__ver-arrow la la-angle-right"></i>
					</a>
					
			</li>
		 -->
			
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
