
<div  class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi m--bg-success ">
  <div  class="m-portlet__head"><div  class="m-portlet__head-caption">
    <div  class="m-portlet__head-title">
      <h3  class="m-portlet__head-text"> General Actions </h3>
    </div></div></div><div  class="m-portlet__body">
      <div  class="m-list-search"><div  class="m-list-search__results">
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-map-marker	m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Start Visit </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-plus m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Add Past Visit </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-search m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Chart Search </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-calendar m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Schedule Appointment </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-calendar-minus-o m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Request Appointment </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-plus-square m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Mark Patient Deceased </span>
        </a>
        <a  class="m-list-search__result-item" href="#">
          <span  class="m-list-search__result-item-icon">
            <i  class="fa fa-trash-o m--font-white"></i>
          </span>
          <span  class="m-list-search__result-item-text"> Delete Patient </span>
        </a>
      </div>
    </div>
  </div>
</div>