
<div _ngcontent-c2="" class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi m--bg-success ">
  <div _ngcontent-c2="" class="m-portlet__head"><div _ngcontent-c2="" class="m-portlet__head-caption">
    <div _ngcontent-c2="" class="m-portlet__head-title">
      <h3 _ngcontent-c2="" class="m-portlet__head-text"> General Actions </h3>
    </div></div></div><div _ngcontent-c2="" class="m-portlet__body">
      <div _ngcontent-c2="" class="m-list-search"><div _ngcontent-c2="" class="m-list-search__results">
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-map-marker	m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Start Visit </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-plus m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Add Past Visit </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-compress m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Merge Visit </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-search m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Chart Search </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-calendar m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Schedule Appointment </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-calendar-minus-o m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Request Appointment </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-plus-square m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Mark Patient Deceased </span>
        </a>
        <a _ngcontent-c2="" class="m-list-search__result-item" href="#">
          <span _ngcontent-c2="" class="m-list-search__result-item-icon">
            <i _ngcontent-c2="" class="fa fa-trash-o m--font-white"></i>
          </span>
          <span _ngcontent-c2="" class="m-list-search__result-item-text"> Delete Patient </span>
        </a>
      </div>
    </div>
  </div>
</div>