

<div class="m-content">
  <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">Biopsy</h3>
          </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
          <div class="m-section__content" >
            <div class="row">
              <div class="col-sm-2"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  MRN No.
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MRN-00215">
              </div></div>
              <div class="col-sm-2"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Date
                </label>
                <input type="text" class="form-control" id="m_datepicker_1" placeholder="Select date"/>
              </div></div>
              <div class="col-sm-2"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Treatment#
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="LMP-00215">
              </div></div>
              <div class="col-sm-2"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Cycle#
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Days-19">
                </div></div>
                <div class="col-sm-4"><div class="form-group m-form__group">
                  <label for="exampleSelect1">
                    Treatment Type
                  </label>
                  <select class="form-control m-input" id="exampleSelect1">
                    <option>
                      Option 1
                    </option>
                    <option>
                     Option 2
                    </option>
                    <option>
                      Option 3
                    </option>
                  </select>
                </div></div>
            </div>
            <div class="row">
              <div class="col-sm-4"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Patient Name
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Manika">
              </div></div>
              <div class="col-sm-4"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Spouse
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imraan Khan">
              </div></div>
              <div class="col-sm-4"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Age
                </label>
                <input type="text" class="form-control" id="m_datepicker_1" placeholder="Select Age"/>              
              </div></div>
            </div>
            <div class="row">
              <div class="col-sm-4"><div class="form-group m-form__group">
                <label for="exampleSelect1">
                  Doctor
                </label>
                <select class="form-control m-input" id="exampleSelect1">
                  <option>
                    Dr. Shakeela
                  </option>
                  <option>
                    Dr. Yasmeen
                  </option>
                  <option>
                    Dr. Shahid
                  </option>
                </select>
              </div></div>
              <div class="col-sm-4"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Other
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
              </div></div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <h4>Biopsy Details</h4>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-sm-3"><div class="form-group m-form__group">
                    <label for="exampleSelect1">
                      Biopsy type
                    </label>
                    <select class="form-control m-input" id="exampleSelect3">
                      <option>
                        Option 1
                      </option>
                      <option>
                        Option 2
                      </option>
                      <option>
                        Option 3
                      </option>
                    </select>
                  </div></div>
                  <div class="col-sm-3"><div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Collection No.
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
                  </div></div>
                  <div class="col-sm-3">
                      <div class="form-group m-form__group">
                          <label for="exampleTextarea col-sm-3">
                              Collection Date
                          </label>
                    	<input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date"/>
                        </div>
                    </div>
                    <div class="col-sm-3"><div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Procedure#
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pro-12546">
                      </div></div>
                </div>
<hr>

<div class="row">
<div class="col-sm-6">
    <h5>PESA</h5>
                
    <div class="form-group m-form__group row">
        <label for="example-text-input" class="col-2 col-form-label">
            Time
        </label>
        <div class="col-10">
          <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
        </div>
      </div>
      <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">
              Left
          </label>
          <div class="col-10">
            <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
          </div>
        </div>
        <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-2 col-form-label">
                Right
            </label>
            <div class="col-10">
              <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
            </div>
          </div>
          <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">
                  Result
              </label>
              <div class="col-10">
                  <select class="form-control m-input" id="exampleSelect1">
                      <option>
                        1
                      </option>
                      <option>
                        2
                      </option>
                      <option>
                        3
                      </option>
                      <option>
                        4
                      </option>
                      <option>
                        5
                      </option>
                    </select>
              </div>
            </div>
</div>
<div class="col-sm-6">
    <h5>TESE</h5>
                
    <div class="form-group m-form__group row">
        <label for="example-text-input" class="col-2 col-form-label">
            Time
        </label>
        <div class="col-10">
          <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
        </div>
      </div>
      <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-2 col-form-label">
              Left
          </label>
          <div class="col-10">
            <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
          </div>
        </div>
        <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-2 col-form-label">
                Right
            </label>
            <div class="col-10">
              <input class="form-control m-input" type="text" value="Artisanal kale" id="example-text-input">
            </div>
          </div>
          <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">
                  Result
              </label>
              <div class="col-10">
                  <select class="form-control m-input" id="exampleSelect1">
                      <option>
                        1
                      </option>
                      <option>
                        2
                      </option>
                      <option>
                        3
                      </option>
                      <option>
                        4
                      </option>
                      <option>
                        5
                      </option>
                    </select>
              </div>
            </div>
</div>

</div>
              
                
              </div>
            </div>
<hr>
            <div class="row">
              <div class="col-sm-10">
                  <div class="form-group m-form__group">
                      <label for="exampleTextarea col-sm-3">
                        Referance Range
                      </label>
                      <textarea class="form-control m-input col-sm-9" id="exampleTextarea" rows="3"></textarea>
                    </div>
              </div>
              <div class="col-sm-2">
                  <button type="reset" class="btn btn-primary">
                      Submit
                    </button>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>





