<div class="m-content">
  <div class="row">

    <div class="col-lg-3">


      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Customer Setup
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body" style="padding: 0px !important;">
          <div class="m-demo" data-code-html="true" data-code-js="false" data-code-preview="true">
            <div class="m-demo__preview">
              <ul class="m-nav nav nav-tabs">
                <li  class="m-nav__item">
                  <a class="m-nav__link" href="#CType" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
                        Customer Type</span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#CAccount" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                       Account
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#BAccount" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-info"></i>
                    <span class="m-nav__link-text">
                      Brokerage Account
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                  <a class="m-nav__link" href="#Cpricepick" data-toggle="tab">
                    <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                    <span class="m-nav__link-text">
                       Price Pick Level
                    </span>
                  </a>
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="#Cwarehouse" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                         Warehouse
                      </span>
                    </a>
                  </li>
                  <li class="m-nav__item">
                    <a class="m-nav__link" href="#Customer" data-toggle="tab">
                      <i class="m-nav__link-icon flaticon-cogwheel-2"></i>
                      <span class="m-nav__link-text">
                         Customer
                      </span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-9">
      <div class="m-portlet">
        <div class="">
          <div class="tab-content">
          <div class="tab-pane active" id="CType"><app-customer-type></app-customer-type> </div>
          <div class="tab-pane" id="CAccount"><app-customer-account></app-customer-account></div>
            <div class="tab-pane" id="BAccount"><app-customer-bank></app-customer-bank></div>
            
            <div class="tab-pane" id="Cpricepick"><app-customer-price-pick-level></app-customer-price-pick-level></div>
            <div class="tab-pane" id="Cwarehouse"><app-customer-warehouse></app-customer-warehouse></div>
            <div class="tab-pane" id="Customer">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">Add Customer</h3>
                    </div>
                  </div>
                </div>
              <div class="m-portlet__body">
              <div class="row">
                <div class="col-md-12"> 
                    <dx-data-grid id="gridContainer" [dataSource]="Customers" keyExpr="customerId" (onRowInserted)="AddCustomer($event)" (onRowUpdating)="UpdateModel($event)" (onRowUpdated)="UpdateCustomer()" (onRowRemoved)="DeleteCustomer($event)"> 
                        <dxo-editing  mode="popup"[allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
                          <dxo-popup title="Add Customer" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
                        </dxo-editing>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                        <dxo-paging [pageSize]="5"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
                        <dxi-column dataField="regDate" caption="Registration Date" alignment="center" format="shortDate" dataType="date" [allowEditing]="false" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                        <dxi-column dataField="crn" caption="Registration Number" alignment="center" [allowEditing]="false" [formItem]="{editorOptions: { readOnly: true }}"></dxi-column>
                        <dxi-column dataField="status" caption="Status" alignment="center"></dxi-column>
                        <dxi-column dataField="name" caption="Name" alignment="center"></dxi-column>
                        <dxi-column dataField="shortName" caption="Short Name" [visible]="false"></dxi-column>
                        <dxi-column dataField="email" caption="Email" [visible]="false"></dxi-column>
                        <dxi-column dataField="nature" caption="Nature" [visible]="false"></dxi-column>
                        <dxi-column dataField="contactName" caption="Contact Person" [visible]="false"></dxi-column>
                        <dxi-column dataField="cnic" caption="CNIC" [visible]="false"></dxi-column>
                        <dxi-column dataField="contactNumber" caption="Contact Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="isChargeBardana" caption="Charge Bardana" [visible]="false"  dataType="boolean"></dxi-column>
                        <dxi-column dataField="isShowReceivables" caption="Show Receivables" [visible]="false" dataType="boolean"></dxi-column>
                        <dxi-column dataField="isBedDebt" caption="Bed Debt" [visible]="false" dataType="boolean"></dxi-column>
                        <dxi-column dataField="isShowDn" caption="Show in DN" [visible]="false" dataType="boolean"></dxi-column>
                        <dxi-column dataField="isSecurityDeposit" caption="Is Security Deposit" [visible]="false" dataType="boolean"></dxi-column>
                        <dxi-column dataField="creditDays" caption="Credit Days" [visible]="false"></dxi-column>
                        <dxi-column dataField="creditLimit" caption="Credit Limit" [visible]="false"></dxi-column>
                        <dxi-column dataField="agreedInvestment" caption="Agreed Investment" [visible]="false"></dxi-column>
                        <dxi-column dataField="address" caption="Address" [visible]="false"></dxi-column>
                        <dxi-column dataField="city"caption="City" [visible]="true"></dxi-column>
                        <dxi-column dataField="country"caption="Country" [visible]="true"></dxi-column>
                        <dxi-column dataField="landlineNumber" caption="LandLine Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="mobileNumber" caption="Mobile Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="faxNumber" caption="Fax Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="groupName" caption="Group Name" [visible]="false"></dxi-column>
                        <dxi-column dataField="stNumber" caption="ST Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="ntn" caption="NTN Number" [visible]="false"></dxi-column>
                        <dxi-column dataField="customerTypeId"caption="Customer Type" alignment="center" [visible]="true">
                          <dxo-lookup [dataSource]="CustomerTypes" valueExpr="customerTypeId" displayExpr="name"></dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="salesPersonId" caption="Sales Person" [visible]="false">
                            <dxo-lookup [dataSource]="SalesPeople" valueExpr="salesPersonId" displayExpr="firstName"></dxo-lookup>
                          </dxi-column>
                          <dxi-column dataField="modeOfPaymentId" caption="Payment Method" [visible]="false">
                              <dxo-lookup [dataSource]="ModeOfPayments" valueExpr="modeOfPaymentId" displayExpr="name"></dxo-lookup>
                            </dxi-column>
                        </dx-data-grid> 
                </div>
              </div>
              </div></div>
            </div>
          </div>
        </div>
       
      </div>
    </div>


  </div>
</div>