<div appunwraptag="" class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
     Setup Company
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
        <li class="m-nav__separator">
            Home
          </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" href="" ng-reflect-href="">
            <span class="m-nav__link-text">
                Tax Setup
            </span>
          </a>
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          <a class="m-nav__link" href="" ng-reflect-href="">
            <span class="m-nav__link-text">
              Income Tax Rules
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div>

    </div>
  </div>
</div>

<div class="m-content">
    <div class="row">
        

            <div class="col-lg-12">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                      </span>
                        <h3 class="m-portlet__head-text">
                          Company Setup
                        </h3>
                    </div>
                  </div>
                </div>
                  <!--begin::Form-->
                  <form class="m-form">
                      <div class="m-portlet__body">
                          <div class="form-group m-form__group row">
                              <label for="example-search-input" class="col-2 col-form-label">
                               Company Name
                              </label>
                              <div class="col-5">
                                <input class="form-control m-input" type="text" value="Global Blue Sky Consulting">
                              </div>
                              <div class="col-2">
                                  <button type="submit" class="btn btn-brand">
                                      Submit
                                    </button>
                              </div>
                            </div>
                            <hr>
                        <div class="row">
                       
                        <div class="col-sm-12">
                            <h3 class="m-section__heading">
                                System Modules
                              </h3>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                              Human Resource Managment
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                              Hospital Managment System
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                             Inventory Managment System
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                             Payroll Managment System
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                             Accounting System
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                          <div class="m-form__group form-group row">
                            <label class="col-4 col-form-label">
                              Lab Information System
                            </label>
                            <div class="col-1">
                                <button type="submit" class="btn btn-brand">
                                    Install
                                  </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                  <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-section__heading">
                                System Admin User
                              </h3>
                            <div class="form-group m-form__group row">
                              <div class="col-sm-6">
                              <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                 First Name
                                </label>
                                <input type="text" class="form-control m-input" id="Fname1" placeholder="First Name">
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                   Last Name
                                  </label>
                                  <input type="text" class="form-control m-input" id="Lname1" placeholder="Last Name">
                                </div>
                              </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-sm-6">
                                <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                   Date Of Birth
                                  </label>
                                  <input type="text" class="form-control m-input" id="DOB" placeholder="Date Of Birth">
                                </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                     CNIC
                                    </label>
                                    <input type="text" class="form-control m-input" id="CNIC" placeholder="CNIC">
                                  </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                  <div class="col-sm-6">
                                  <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                     Email
                                    </label>
                                    <input type="email" class="form-control m-input" id="Fname1" placeholder="Email">
                                  </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group m-form__group">
                                      <label for="exampleInputEmail1">
                                       Phone No
                                      </label>
                                      <input type="text" class="form-control m-input" id="Phne" placeholder="Phone No">
                                    </div>
                                  </div>
                            </div>
                            <div class="form-group m-form__group row">
                                    <div class="col-sm-6">
                                    <div class="form-group m-form__group">
                                      <label for="exampleInputEmail1">
                                       User Name
                                      </label>
                                      <input type="text" class="form-control m-input" id="UName" placeholder="User Name">
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group m-form__group">
                                        <label for="exampleInputEmail1">
                                         Password
                                        </label>
                                        <input type="password" class="form-control m-input" id="Password" placeholder="Password">
                                      </div>
                                    </div>
                            </div>
                            <div class="col-lg-12 m--align-right">
                                <button type="submit" class="btn btn-brand">
                                    Submit
                                  </button>
                            </div>
                          </div>
                      </div>
                      </div>
        
                  </form>
                  <!--end::Form-->
              </div>
              </div>
  </div>