<div class="m-content">

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Leave Opening
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="leaveopeningForm">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Employee:
                  </label>
                  <div class="col-lg-8">
                    <select class="form-control m-input m-input--solid" formControlName="UserId" name="employee">
                      <option value="" disabled selected>-- Select Employee --</option>
                      <option *ngFor="let employee of empservice?.employeereg" [value]="employee.userId">{{employee.firstName}}</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Leave Year:
                  </label>
                  <div class="col-lg-8">
                      <select class="form-control m-input m-input--solid" formControlName="LeaveYearId" name="leaveYear" id="">
                          <option value="" disabled selected>-- Select Leave Year --</option>
                          <option *ngFor="let leaveyear of leavesetupservice?.leaveyear" [value]="leaveyear.leaveYearId">{{leaveyear.year}}</option>
                        </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Remarks:
                  </label>
                  <div class="col-lg-8">
                    <textarea class="form-control m-input m-input--solid" formControlName="Remarks" id="exampleTextarea" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Detail:
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="leaveopendetailForm">
            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Leave Type:
                  </label>
                  <div class="col-lg-8">

                      <select class="form-control m-input m-input--solid" formControlName="LeaveTypeId" name="leavetype" id="">
                          <option value="" disabled selected>-- Select Leave Type --</option>
                          <option *ngFor="let levetype of leavesetupservice?.leavetype" [value]="levetype.leaveTypeId">{{levetype.title}}</option>
                        </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Quantity:
                  </label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="Quantity" class="form-control m-input m-input--solid" placeholder="9">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Expiry:
                  </label>
                  <div class="col-lg-8">
                    <input type="date" formControlName="ExpiryDate" class="form-control m-input m-input--solid" placeholder="12-06-2018">
                  </div>
                </div>
              </div>
            </div>

            <div class="m--space-10"></div>

            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions" style="padding:19px;">
                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                    <button type="submit" (click)="addleaveopeningordetail()" class="btn btn-success">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="m--space-10"></div>
  <div class="row">
      <div class="col-md-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Leave Type
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">

      <dx-data-grid id="gridContainer" [dataSource]="leveopeningdetail" keyExpr="leaveOpeningDetailId">
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true">
        </dxo-editing>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>

        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-paging [pageSize]="8"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
        </dxo-pager>

        <dxi-column dataField="leaveTypeId" caption="Leave Type">
            <dxo-lookup [dataSource]="leavesetupservice?.leavetype" displayExpr="title" valueExpr="leaveTypeId">
            </dxo-lookup> 
            </dxi-column>
        <dxi-column dataField="quantity" caption="Quantity"></dxi-column>
        <dxi-column dataField="expiryDate" caption="Expiry Date"></dxi-column>

      </dx-data-grid>
    </div>
  </div>
  </div>
  </div>


  <div class="m--space-10"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                List:
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <dx-data-grid id="gridContainer" [dataSource]="leaveopening" keyExpr="leaveOpeningId">
            <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true">
            </dxo-editing>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [pageSize]="8"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
            </dxo-pager>

            <dxi-column dataField="userId" caption="Employee">
                <dxo-lookup [dataSource]="empservice?.employeereg" displayExpr="firstName" valueExpr="userId">
                </dxo-lookup> 
          </dxi-column>
           <dxi-column dataField="remarks" caption="Employee"></dxi-column>
           <dxi-column dataField="leaveYearId" caption="Leave Year">
              <dxo-lookup [dataSource]="leavesetupservice?.leaveyear" displayExpr="year" valueExpr="leaveYearId">
              </dxo-lookup> 
        </dxi-column>
           <dxi-column dataField="remarks" caption="Remarks"></dxi-column>

          </dx-data-grid>

        </div>
      </div>
    </div>
  </div>
</div>