
<div class="m-content">
         
  <div class="row">
          <div class="col-sg-12">

            <div class="m-portlet m-portlet--unair">
              <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon">
                        <i class="fa fa-calendar"></i>
                      </span> 
                  <h3 class="m-portlet__head-text">
                    Sales Users
                  </h3>
                </div>
              </div>
              </div>
              <div class="m-portlet__body">
                <dx-data-grid id="" [dataSource]="users"> 
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                   <dxo-header-filter [visible]="true"></dxo-header-filter>
                   <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                   <dxo-paging [pageSize]="8"></dxo-paging>
                   <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[12, 22, 32]"[showInfo]="true"></dxo-pager>
                   <dxo-selection mode="single"></dxo-selection>
                   <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                   <dxo-filter-row [visible]="true"></dxo-filter-row>
                   <dxo-header-filter [visible]="true"></dxo-header-filter>
                   <dxo-paging [pageSize]="5"></dxo-paging>
                   <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                   <dxi-column dataField="firstName" caption="First Name"></dxi-column>
                   <dxi-column dataField="lastName" caption="Last Name"></dxi-column>  
                   <dxi-column dataField="distributer" caption="Distributer"></dxi-column>
                   <dxi-column dataField="territory" caption="Territory"></dxi-column> 
                   <dxi-column dataField="email" caption="Email"></dxi-column> 
                   <dxi-column dataField="phone" caption="Contact No"></dxi-column> 
                   <dxi-column dataField="cnic" caption="CNIC"></dxi-column> 
                   <dxi-column dataField="dob" caption="DOB"></dxi-column>
                   <dxi-column dataField="address" caption="Address"></dxi-column>  
                   <dxi-column dataField="userId" caption="Action" cellTemplate="cellTemplate"></dxi-column>
                   <div *dxTemplate="let data of 'cellTemplate'">
                     <a class="btn btn-primary" data-toggle="modal" data-target="#m_modal_4">Assign Distributer</a>
                   </div> 
                   </dx-data-grid>  
              </div>
              </div>
          </div>
  </div>
</div>





<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Add Account
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form [formGroup]="registrationForm">
              <div class="form-group">
                <label for="distributer">Distributer</label>
                <input type="text" class="form-control" id="distributer" formControlName="DistributerId">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>