

<div class="m-content">
  <div class="row">
      <div class="col-xl-12">
        <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">Insemenation</h3>
          </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
          <div class="m-section__content" >
            <div class="row">
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  MRN No.
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MRN-00215">
              </div></div>
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Treatment#
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="LMP-00215">
              </div></div>
              <div class="col-sm-3"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Cycle#
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Days-19">
                </div></div>
                <div class="col-sm-3"><div class="form-group m-form__group">
                  <label for="exampleSelect1">
                    Treatment Type
                  </label>
                  <select class="form-control m-input" id="exampleSelect1">
                    <option>
                      Option 1
                    </option>
                    <option>
                     Option 2
                    </option>
                    <option>
                      Option 3
                    </option>
                  </select>
                </div></div>
            </div>
            <div class="row">
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Patient Name
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Manika">
              </div></div>
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Spouse
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imraan Khan">
              </div></div>
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleSelect1">
                  Doctor
                </label>
                <select class="form-control m-input" id="exampleSelect1">
                  <option>
                    Dr. Shakeela
                  </option>
                  <option>
                    Dr. Yasmeen
                  </option>
                  <option>
                    Dr. Shahid
                  </option>
                </select>
              </div></div>
              <div class="col-sm-3"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  Other
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
              </div></div>

            </div>
        
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <h4>Insemenation Details</h4>
                <div class="row" style="margin-top: 30px;">
                 
                  <div class="col-sm-3"><div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Collection No.
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
                  </div></div>
                  <div class="col-sm-3">
                      <div class="form-group m-form__group">
                          <label for="exampleTextarea col-sm-3">
                              Collection Date
                          </label>
                    	<input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date"/>
                        </div>
                    </div>
                    <div class="col-sm-3"><div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                            Procedure#
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pro-12546">
                      </div></div>
                      <div class="col-sm-3"><div class="form-group m-form__group">
                        <label for="exampleSelect1">
                          Abstinence (Days)
                        </label>
                        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="05 Days">
                      </div></div>
                </div>
<hr>

<div class="row">
  <div class="col-sm-2"><div class="form-group m-form__group">
    <label for="exampleInputEmail1">
        Ejaculation Time
    </label>
    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pro-12546">
  </div></div>
  <div class="col-sm-3"><div class="form-group m-form__group">
    <label for="exampleInputEmail1">
        Location
    </label>
    <select class="form-control m-input" id="exampleSelect1">
      <option>
        Concept
      </option>
      <option>
        Home 
      </option>
      <option>
        Park
      </option>
    </select>
    </div></div>   
              
</div>
<hr><h5>Semen</h5>
<div class="row" style="margin-top: 15px;">
    
    <div class="col-sm-2"><div class="form-group m-form__group" >
        <label for="exampleInputEmail1">
          Assay Time
        </label>
        <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
      </div></div>
      <div class="col-sm-2"><div class="form-group m-form__group">
          <label for="exampleInputEmail1">
            Volume (mls)
          </label>
          <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
        </div></div>
        <div class="col-sm-3"><div class="form-group m-form__group">
            <label for="exampleInputEmail1">
              Consistency
            </label>
            <select class="form-control m-input" id="exampleSelect1">
                <option>
                  Noraml
                </option>
                <option>
                  High
                </option>
              </select>
          </div></div>
          <div class="col-sm-3"><div class="form-group m-form__group">
              <label for="exampleInputEmail1">
                Appearence
              </label>
              <select class="form-control m-input" id="exampleSelect1">
                  <option>
                    Noraml
                  </option>
                  <option>
                    High
                  </option>
                </select>
                          </div></div>
            <div class="col-sm-2"><div class="form-group m-form__group">
                <label for="exampleInputEmail1">
                  pH
                </label>
                <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
              </div></div>
  
</div>

<hr><h5>Sperm Concentration</h5>
<div class="row" style="margin-top: 15px;">
    <div class="col-sm-4">
        <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label">
                Motile Count
            </label>
            <div class="col-4" style="padding: 0px 7px 0px 0px;">
                <select class="form-control m-input" id="exampleSelect1">
                    <option>
                      Equals
                    </option>
                    <option>
                      Equals
                    </option>
                  </select>
            </div>
            <div class="col-4" style="padding: 0px;">
                <div class="input-group">
                    <input type="text" class="form-control m-input" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="padding: 10px; color: #5b5b5b;">
                          (ML)
                      </span>
                    </div>
                  </div>
            </div>
          </div>
    </div>
    
    <div class="col-sm-4">
        <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label" style="padding: 12px 0px 0px 25px;">
              Immotile Cnt
            </label>
            <div class="col-4" style="padding: 0px 7px 0px 0px;">
                <select class="form-control m-input" id="exampleSelect1">
                    <option>
                      Equals
                    </option>
                    <option>
                      Equals
                    </option>
                  </select>
            </div>
            <div class="col-4" style="padding: 0px;">
                <div class="input-group">
                    <input type="text" class="form-control m-input" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="padding: 10px; color: #5b5b5b;">
                          (ML)
                      </span>
                    </div>
                  </div>
            </div>
          </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-4 col-form-label">
                Total Count
            </label>
            <div class="col-4" style="padding: 0px 7px 0px 0px;">
                <select class="form-control m-input" id="exampleSelect1">
                    <option>
                      Equals
                    </option>
                    <option>
                      Equals
                    </option>
                  </select>
            </div>
            <div class="col-4" style="padding: 0px;">
                <div class="input-group">
                    <input type="text" class="form-control m-input" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="padding: 10px; color: #5b5b5b;">
                          (ML)
                      </span>
                    </div>
                  </div>
            </div>
          </div>
    </div>

</div>
<hr>
<div class="row">
    <hr>

    <div class="col-sm-6">
        <table class="table">
            <!--begin::Thead-->
            <thead>
              <tr>
                <td colspan="3" class="m-widget11__label"><strong>Progression (as % of Motile Count)</strong> </td>
                <td class="m-widget11__sales"><strong>Reported (% of Total Count)</strong></td>
              </tr>
            </thead>
            <!--end::Thead-->
<!--begin::Tbody-->
            <tbody>
              <tr>
                <td width="184">
                Rapid Linear</td>
                <td width="168"><input class="form-control m-input" type="text" value="0" id="example-text-input" style="background:#fec080;"></td>
                <td width="44">(%)
                
                </td>
                <td width="250"><input class="form-control m-input" type="text" id="example-text-input"></td>
              </tr>
              <tr>
                <td>
                  
                Slow / Non Linear</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input" style="background:#fee080;"></td>
                <td>(%) </td>
                <td><input class="form-control m-input" type="text" id="example-text-input"></td>
              </tr>
              <tr>
                <td>
                  
                Non - Progressive</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input"  style="background:#fefe80;"></td>
                <td>(%) </td>
                <td><input class="form-control m-input" type="text" id="example-text-input"></td>
              </tr>
              <tr>
                <td>
                
                Immotile</td>
                <td><input class="form-control m-input" type="text" id="example-text-input" style="background:#e0fe80;"></td>
                <td>(%) </td>
                <td><input class="form-control m-input" type="text" id="example-text-input"></td>
              </tr>
              <tr>
                <td align="right">=</td>
                <td><input class="form-control m-input" type="text"  id="example-text-input"></td>
                <td>&nbsp;</td>
                <td><input class="form-control m-input" type="text" id="example-text-input"></td>
              </tr>
            </tbody>
            <!--end::Tbody-->
          </table>
          <table class="table">
              <!--begin::Thead-->
              <thead>
                <tr>
                  <td class="m-widget11__label"><strong>Sperm Morphology</strong> </td>
                 
                </tr>
              </thead>
              <!--end::Thead-->
  <!--begin::Tbody-->
              <tbody>
                <tr>
                  <td width="184">Normal Forms</td>
                  <td width="168"><input class="form-control m-input" type="text" value="0" id="example-text-input" style=" background: #6ab4ff;"></td>
                  <td width="40" align="center">(%) </td>
                  <td width="60">&nbsp;</td>
                </tr>
                <tr>
                  <td>Head Abnormalities</td>
                  <td><input class="form-control m-input" type="text" value="0" id="example-text-input" style=" background: #48cde3;"></td>
                  <td align="center">(%)</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>Midpiece Abnormalities</td>
                  <td><input class="form-control m-input" type="text" value="0" id="example-text-input" style=" background: #48cde3a8;"></td>
                  <td align="center">(%) </td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>Tail Abnormalities</td>
                  <td><input class="form-control m-input" type="text" id="example-text-input" style=" background: #00fff3;"></td>
                  <td align="center">=</td>
                  <td><input class="form-control m-input" type="text" id="example-text-input2"></td>
                </tr>
                <tr>
                  <td>Other Cells</td>
                  <td colspan="3"><input class="form-control m-input" type="text"  id="example-text-input"></td>
                </tr>
                <tr>
                  <td>Comments</td>
                  <td colspan="3"><input class="form-control m-input" type="text"  id="example-text-input3"></td>
                </tr>
              </tbody>
              <!--end::Tbody-->
            </table>
    </div>
    <div class="col-sm-6">
        <table width="540" class="table">
            <!--begin::Thead-->
            <thead>
                <tr>
                  <td class="m-widget11__label"><strong>Test Preparation</strong> </td>
                </tr>
              </thead>
            <!--end::Thead-->
<!--begin::Tbody-->
            <tbody>
              <tr>
                <td width="239">Prepration Method</td>
                <td width="168"><select class="form-control m-input" id="exampleSelect1">
<option>
Spind
</option>
<option>
Equals 2
</option>

</select></td>
                <td width="117">&nbsp;</td>
              </tr>
              <tr>
                <td>Volume Semen Used</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input"></td>
                <td>(mls) </td>
              </tr>
              <tr>
                <td><table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="54%" style="padding: 0; border-top: none;">Total Count</td>
                    <td width="46%" style="padding: 0; border-top: none;"><select class="form-control m-input" id="exampleSelect1">
<option>
Equals
</option>
<option>
Equals 2
</option>

</select></td>
                    </tr>
                  </table></td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input"></td>
                <td>(mil./ml)</td>
              </tr>
              <tr>
                <td><table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="54%" style="padding: 0; border-top: none;">Total Count</td>
                    <td width="46%" style="padding: 0; border-top: none;"><select class="form-control m-input" id="exampleSelect1">
<option>
Equals
</option>
<option>
Equals 2
</option>

</select></td>
                    </tr>
                  </table></td>
                <td><input class="form-control m-input" type="text" id="example-text-input"></td>
                <td>(mil./ml) </td>
              </tr>
              <tr>
                <td>Rapid Linear Progression</td>
                <td><input class="form-control m-input" type="text"  id="example-text-input"></td>
                <td>(%) </td>
              </tr>
              <tr>
                <td>Slow Non-Linear Progression</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input2"></td>
                <td>(%) </td>
              </tr>
              <tr>
                <td>Time Complete</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input3"></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Final Volume</td>
                <td><input class="form-control m-input" type="text" value="0" id="example-text-input4"></td>
                <td>(mls)</td>
              </tr>
            </tbody>
            <!--end::Tbody-->
          </table>
          <hr>

          <div class="m-demo__preview m-demo__preview--btn">
              <button type="button" class="btn btn-primary m-btn m-btn--custom">
                Submit
              </button>
              <button type="button" class="btn btn-brand m-btn m-btn--custom">
                Freeze Prep.
              </button>
              <button type="button" class="btn btn-success m-btn m-btn--custom">
                Questionnaire
              </button>
              <button type="button" class="btn btn-info m-btn m-btn--custom">
                Insem. Prep.
              </button>
            </div>
    </div>

</div>




              
                
              </div>
            </div>

        
          </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>





