<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Leave Request
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form [formGroup]="leaveRequestForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Requestioner:
                  </label>
                  <div class="col-lg-8">
                    <select #lb class="form-control m-input" (change)="getLeaveBalance(lb.value)" formControlName="UserId">
                      <option *ngFor="let employee of employees" [value]="employee.userId">{{employee.fullName}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Leave Request Date:
                  </label>
                  <div class="col-lg-8">
                    <dx-date-box formControlName="RequestDate" type="date" format="dd/MM/yyyy" width="100%">
                    </dx-date-box>
                  </div>
                </div>
              </div>


            </div>

            <!-- <div class="row"> 
              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Is Approved:
                  </label>
                  <div class="col-lg-8">
                    <div class="m-checkbox-list">
                      <label class="m-checkbox m-checkbox--state-success">
                        <input type="checkbox" formControlName="IsApproved"> 
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </form>
          <div class="m--space-30"></div>
          <hr>

          <div class="row">
            <div class="col-lg-12">
              <div class="pull-right">
                <dx-button class="button-info" text="Details" (onClick)="openPopup($event)">
                </dx-button>
                <!-- <div class="m-menu__link m-menu__toggle" (onClick)="leaveRequestDetail($event)">
                  <i class="m-menu__link-icon flaticon-add"></i>
                  <span class="m-menu__link-text">Create New
                  </span>
                </div> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="m-portlet">
                <div class="m-portlet__head">
                  <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                      <h3 class="m-portlet__head-text">
                        Leave Details
                      </h3>
                    </div>
                  </div>
                </div>

                <div class="m-section">
                  <div class="m-section__content">
                    <dx-popup class="popup" [width]="900" [height]="350" [showTitle]="true" title="Leave Request Detail" [dragEnabled]="false" [closeOnOutsideClick]="true"
                      [(visible)]="popupVisible">
                      <div *dxTemplate="let data of 'content'">

                        <form [formGroup]="leaveRequestDetailForm">

                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label"> Leave Year </label>
                                <select class="form-control m-input" formControlName="LeaveYearId">
                                    <option *ngFor="let ly of leaveYear" [value]="ly.leaveYearId">{{ly.name}}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label">  Leave Type </label>
                                <select #lv class="form-control m-input" (onChange)="onSetCellValue(lv.value)" formControlName="LeaveTypeId">
                                    <option *ngFor="let lt of leaveType" [value]="lt.leaveTypeId">{{lt.title}}</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                  <label class="control-label"> Is Short Leave  </label>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                          <input type="checkbox" formControlName="IsShortLeave"> 
                                          <span></span>
                                        </label>
                                      </div>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label"> Date From </label>
                                <dx-date-box formControlName="DateFrom" type="date" format="dd/MM/yyyy" width="100%">
                                </dx-date-box>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label">  Date Till </label>
                                <dx-date-box formControlName="DateTill" type="date" format="dd/MM/yyyy" width="100%">
                                </dx-date-box>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                  <label class="control-label"> Leave Value </label>
                                          <input type="number" formControlName="Value" class="form-control m-input">                                          <span></span>
                                    
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label"> Total LeaveDetail Value </label>
                                <input type="number" formControlName="TotalLeaveDetailValue" class="form-control m-input">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group m-form__group">
                                <label class="control-label">  Entitled Quantity </label>
                                <input type="number" formControlName="EntitledQuantity" class="form-control m-input">
                              </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                  <label class="control-label"> Total Leave Balance </label>
                                  <input type="number" formControlName="TotalLeave" class="form-control m-input">                                    
                                </div>
                              </div>
                          </div>
                        </form>
                      </div>
                    </dx-popup>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m--space-50"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions" style="padding:19px;">
                  <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div *ngIf="isUpdate(); else create">
                        <button class="btn btn-primary" (click)="update(leaveRequestForm.value)">
                          Update
                        </button>
                      </div>
                      <ng-template #create>
                        <button class="btn btn-Success" (click)="addLeaveRequest(leaveRequestForm.value)">
                          Submit
                        </button>
                      </ng-template>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>