<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Leave Header
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form [formGroup]="leaveRequestForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <label class="col-lg-4 col-form-label">
                    Requestioner:
                  </label>
                  <div class="col-lg-8">
                    <select (change)="addleaverequest($event)" class="form-control m-input " formControlName="UserId" name="employee">
                      <option value="" disabled selected>-- Select Employee --</option>
                      <option *ngFor="let employee of empservice?.employeereg" [value]="employee.userId">{{employee.firstName}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <span class=" col-lg-4 col-form-label m--font-bolder">
                    Requestion Date:
                  </span>
                  <div class="col-lg-8">
                    12/02/2018
                  </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <span class=" col-lg-4 col-form-label m--font-bolder">
                    Designation:
                  </span>
                  <div class="col-lg-8">
                    12/02/2018
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <span class=" col-lg-4 col-form-label m--font-bolder">
                    Group:
                  </span>
                  <div class="col-lg-8">
                    12/02/2018
                  </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <span class=" col-lg-4 col-form-label m--font-bolder">
                    Department:
                  </span>
                  <div class="col-lg-8">
                    12/02/2018
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group row">
                  <span class=" col-lg-4 col-form-label m--font-bolder">
                    Category:
                  </span>
                  <div class="col-lg-8">
                    12/02/2018
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Leave Detail
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

          <form [formGroup]="leaveRequestDetailForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Leave Year
                  </label>
                  <select class="form-control m-input " formControlName="LeaveYearId" name="leaveYear" id="">
                    <option value="" disabled selected>-- Select Leave Year --</option>
                    <option *ngFor="let leaveyear of leavesetupservice?.leaveyear" [value]="leaveyear.leaveYearId">{{leaveyear.year}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Leave Type
                  </label>
                  <select class="form-control m-input " formControlName="LeaveTypeId" name="leavetype" id="">
                    <option value="" disabled selected>-- Select Leave Type --</option>
                    <option *ngFor="let levetype of leavesetupservice?.leavetype" [value]="levetype.leaveTypeId">{{levetype.title}}</option>
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Balance
                  </label>
                  <input type="number" class="form-control m-input m-input--solid" id="" aria-describedby="emailHelp" placeholder="0">
                </div>
              </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputPassword1">
                      Short Leave:
                    </label>
                    <select class="form-control m-input " formControlName="IsShortLeave" id="exampleSelect1">
                        <option value="" disabled selected>-- Is Short Leave --</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group m-form__group">
                    <label class="label_visiblity">
                      Leave Date To:
                    </label>
                    <select class="form-control m-input " formControlName="Value" id="exampleSelect1">
                        <option value="" disabled selected>-- Select Leave Value --</option>
                        <option>0.25</option>
                        <option>0.45</option>
                      </select>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label class="label_visiblity">
                        Leave Date To:
                      </label>
                      <select class="form-control m-input " formControlName="FirstSecondHalf" id="exampleSelect1">
                          <option value="" disabled selected>-- Select Half --</option>
                          <option>Full Day</option>
                          <option>Half Day</option>
                        </select>
                    </div>
                  </div>
              </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group m-form__group">
                  <label for="exampleInputPassword1">
                    Leave Date From:
                  </label>
                  <input type="date" class="form-control " formControlName="DateFrom" placeholder="Select date">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group m-form__group">
                  <label for="exampleInputPassword1">
                    Leave Date To:
                  </label>
                  <input type="date" class="form-control " formControlName="DateTill" placeholder="Select date">
                </div>
              </div>
            </div>

            <div class="form-group m-form__group">
              <label for="exampleTextarea">
                Description
              </label>
              <textarea class="form-control m-input " formControlName="Description" id="exampleTextarea" rows="3"></textarea>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="m-portlet__foot m-portlet__foot--fit">
                  <div class="m-form__actions m-form__actions" style="padding:19px;">
                    <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-6">
                        <button type="submit" (click)="addleaverequestordetail()" class="btn btn-success">
                          Submit
                        </button>
                        <button type="reset" class="btn btn-secondary">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                Leave Details
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <dx-data-grid id="gridContainer" [dataSource]="leaverequestdetail" keyExpr="leaveRequestDetailId">
            <dxo-editing mode="popup" [allowUpdating]="false" [allowDeleting]="false">
            </dxo-editing>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>

            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [pageSize]="8"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
            </dxo-pager>

            <dxi-column dataField="leaveYearId" caption="Leave Year">
              <dxo-lookup [dataSource]="leavesetupservice?.leaveyear" displayExpr="year" valueExpr="leaveYearId">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="leaveTypeId" caption="Leave Type">
              <dxo-lookup [dataSource]="leavesetupservice?.leavetype" displayExpr="title" valueExpr="leaveTypeId">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataType="boolean" dataField="isShortLeave"></dxi-column>
            <dxi-column dataField="value" caption="Leave Value"> </dxi-column>
            <dxi-column dataField="description" caption="Description"></dxi-column>
            <dxi-column dataField="dateFrom" caption="From Date"></dxi-column>
            <dxi-column dataField="dateTill" caption="To Date"></dxi-column>

          </dx-data-grid>

        </div>
      </div>
    </div>
  </div>

</div>