<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Customer Account</h3>
      </div>
    </div>
  </div>


<div class="m-portlet__body">
<div class="row">
  <div class="col-md-12"> 
    <dx-data-grid id="gridContainer" [dataSource]="CustomerAccounts" keyExpr="customerAccountId" (onRowUpdating)="UpdateModel($event)"  (onRowInserted)="AddCustomerAccount($event)" (onRowUpdated)="UpdateCustomerAccount()" (onRowRemoved)="DeleteCustomerAccount($event)"> 
      <dxo-editing  mode="popup"[allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
        <dxo-popup title="Add Customer Account" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
      </dxo-editing>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
      <dxi-column dataField="customerTypeId"caption="Customer Type" [visible]="true">
        <dxo-lookup [dataSource]="CustomerTypes" valueExpr="customerTypeId" displayExpr="name"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="name" caption="Name"></dxi-column>
      <dxi-column dataField="accountCode"caption="Account Code" [visible]="true"></dxi-column>
      <dxi-column dataField="accountTitle"caption="Account Title" [visible]="true"></dxi-column>
      <dxi-column dataField="accountNumber"  caption="Account Number" [visible]="false"></dxi-column>
      <dxi-column dataField="routingCode"  caption="Routing Code" [visible]="false"></dxi-column>
      <dxi-column dataField="swiftCode" caption="Swift Code" [visible]="false"></dxi-column>
      <dxi-column dataField="remitCode"caption="Remit Code" [visible]="false"></dxi-column>
      <dxi-column dataField="remitKey"caption="Remit Key" [visible]="false"></dxi-column>
      <dxi-column dataField="uniqueId"caption="Unique ID" [visible]="false"></dxi-column>
      <dxi-column dataField="branchCode"  caption="Branch Code" ></dxi-column>
      <dxi-column dataField="branch"  caption="Branch" ></dxi-column>
      <dxi-column dataField="branchContactNumber" caption="Branch Contact No" [visible]="false"></dxi-column>
      <dxi-column dataField="branchAddress"  caption="Branch Address" [visible]="false"></dxi-column>
      <dxi-column dataField="glCode"caption="GL Code" [visible]="false"></dxi-column>
      <dxi-column dataField="active" caption="Active"  dataType="boolean"></dxi-column>
    </dx-data-grid> 
  </div>
</div>
</div></div>