<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Official Visit Entry </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer"
               [dataSource]="officialVisitentry"
               keyExpr="officialVisitEntryId"
                (onRowInserted)="addofficialVisitentry($event)" 
                (onRowUpdating)="updatingVisitentry($event)"
                (onRowUpdated)="updateVisitentry()"
                (onRowRemoved)="deleteofficialVisitentry($event)">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
                  <dxo-popup title="Official Visit Entry" [showTitle]="true" [width]="700" [height]="345">
                  </dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="6"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager> 
                    <dxi-column dataField="branchId" caption="Branch">
                      <dxo-lookup [dataSource]="branches" displayExpr="name" valueExpr="branchId">
                      </dxo-lookup>
                    </dxi-column>  
                            <dxi-column dataField="userId" caption="Employee">
                              <dxo-lookup [dataSource]="employee" displayExpr="firstName" valueExpr="userId">
                              </dxo-lookup>
                              </dxi-column>
                <dxi-column dataField="fromDate" dataType="date" format="shortDate" ></dxi-column>
                <dxi-column dataField="toDate" dataType="date" format="shortDate" ></dxi-column>
                <dxi-column dataField="remarks" caption="Remarks"></dxi-column>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>