<div class="row" style="margin-top:  -10px; margin-bottom:  36px;">
  <h4>Personal Information</h4>

</div>

<form class="signup-form" id="m_form" [formGroup]="EmpbasicForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label class="control-label"> First Name <em class="required_label">*</em> </label>
        <input type="text" formControlName="FirstName" [value]="Employee?.firstName || ''" class="form-control m-input m-input--solid" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
        <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
          <div *ngIf="f.FirstName.errors.required">First Name is required</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label class="control-label">  Last Name <em class="required_label">*</em> </label>
        <input type="text" formControlName="LastName" [value]="Employee?.LastName || ''" class="form-control m-input m-input--solid"
          placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
          <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
            <div *ngIf="f.LastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="m--space-10"></div>
  <div class="row">

    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label class="control-label">Father Name</label>
        <input type="text" formControlName="FatherName" [value]="Employee?.fatherName" class="form-control m-input m-input--solid"
          id="fathername" name="fathername" aria-describedby="emailHelp" placeholder="Enter Father Name">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="employee_id">Date of Birth</label>
        <dx-date-box formControlName="DOB" [value]="Employee?.dob" displayFormat="dd/MM/yyyy" class="form-control m-input m-input--solid"
          type="date" width="100%"></dx-date-box>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="employee_id">Place of Birth</label>
        <input class="form-control m-input m-input--solid" formControlName="POB" id="POB" name="pob" [value]="Employee?.pob" placeholder="eg.Karachi"
          aria-describedby="PlaceofBirth" type="text">
      </div>
    </div>
  </div>
  <div class="m--space-10"></div>

  <div class="row"> 
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label class="control-label">CNIC<em class="required_label">*</em> </label>
        <input class="form-control m-input m-input--solid" formControlName="Cnic" maxlength="13" [value]="Employee?.cnic" placeholder="4240154865526"
          type="text" [ngClass]="{ 'is-invalid': submitted && f.Cnic.errors }">
          <div *ngIf="submitted && f.Cnic.errors" class="invalid-feedback">
            <div *ngIf="f.Cnic.errors.required">CNIC is required</div>
            <div *ngIf="f.Cnic.errors.minlength">CNIC must be at least 13 characters</div> 
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="" class="control-label">CNIC Expiry</label>
        <dx-date-box formControlName="CnicExpiry" class="form-control m-input m-input--solid" displayFormat="dd/MM/yyyy" [value]="Employee?.cnicExpiry"
          type="date" width="100%"></dx-date-box>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="email" class="control-label">Email </label>
        <input type="email" class="form-control m-input m-input--solid" formControlName="Email" id="email" [value]="Employee?.email"
          name="email" aria-describedby="emailHelp" placeholder="Enter Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
          <div *ngIf="submitted && f.Email.errors" class="invalid-feedback"> 
            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
        </div>
        </div>
    </div>
  </div>
  <div class="m--space-07"></div>


  <div class="row">
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="employee_id">Blood Group</label>
        <select class="form-control m-input m-input--solid" formControlName="BloodGroup" [value]="Employee?.bloodGroup || ''" name="BloodGroup"
          id="BloodGroup">
          <option value="" disabled selected>-- Select Blood Group --</option> 
          <option value="A+">A Positive(A+)</option>
          <option value="A-">A Negative(A-)</option>
          <option value="B+">B Positive(B+)</option>
          <option value="B-">B Negative(B-)</option>
          <option value="O+">O Positive(O+)</option>
          <option value="O-">O Negative(O-)</option>
          <option value="AB+">AB Positive(AB+)</option>
          <option value="AB-">AB Negative(AB-)</option>

        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label for="gender">Gender</label>
        <select class="form-control m-input m-input--solid" formControlName="Gender" [value]="Employee?.gender" name="Gender">
          <option value="" disabled selected>-- Select Gender --</option>
          <option value="Male">Male</option>
          <option value="Female"> Female </option> 
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group m-form__group">
        <label class="control-label">Marital Status</label>
        <select class="form-control m-input m-input--solid" formControlName="MaritalStatus" [value]="Employee?.maritalStatus || ''"
          name="MaritalStatus" id="MaritalStatus">
          <option value="" disabled selected>-- Select Marital Status --</option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
        </select>
      </div>
    </div>
  </div>

  <div class="m--space-07"></div>

  <div class="row">
      <div class="col-md-3">
          <div class="form-group m-form__group">
            <label class="control-label">Country</label>
            <select class="form-control m-input m-input--solid" formControlName="CountryId" [value]="Employee?.name || ''">
              <option *ngFor="let country of countries" [value]="country?.countryId">{{country.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group m-form__group">
            <label class="control-label">City</label>
            <select class="form-control m-input m-input--solid" formControlName="CityId" [value]="Employee?.name || ''">
              <option disabled selected>-- Select City --</option>
              <option *ngFor="let city of cities" [value]="city?.cityId">{{city.name}}</option>
            </select>
          </div>
        </div>
    <div class="col-md-3">
      <div class="form-group m-form__group">
        <label class="control-label">Group  <em class="required_label">*</em> </label>
        <select class="form-control m-input m-input--solid" formControlName="GroupId" [value]="Employee?.name || ''" [ngClass]="{ 'is-invalid': submitted && f.GroupId.errors }">
          <option *ngFor="let grp of groups" [value]="grp?.groupId">{{grp.name}}</option>
        </select>
        <div *ngIf="submitted && f.GroupId.errors" class="invalid-feedback">
            <div *ngIf="f.GroupId.errors.required">Employee Group is required</div>  
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group m-form__group">
        <label for="Religion" class="control-label">Religion</label>
        <select class="form-control m-input m-input--solid" formControlName="ReligionId" name="religion" [value]="Employee?.name || ''"
          id="Religion">
          <option *ngFor="let relg of religion" [value]="relg?.religionId">{{relg.name}}</option>
        </select> 
      </div>
    </div>
    
  </div>

  <div class="m--space-07"></div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Contact-Number">Contact Number <em class="required_label">*</em></label>
        <input class="form-control m-input m-input--solid" maxlength="11" formControlName="Phone" [value]="Employee?.phone || ''"
          id="ContactNumber" name="ContactNumber" placeholder="Contact Number" aria-describedby="Contact_Number" type="text" [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
          <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
            <div *ngIf="f.Phone.errors.required">Mobile Number is required</div>
            <div *ngIf="f.Phone.errors.minlength">Mobile must be at least 11 characters</div>  
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group m-form__group">
        <label for="Contact-Number">Home</label>
        <input class="form-control m-input m-input--solid" formControlName="HomePhone" maxlength="12" [value]="Employee?.homePhone || ''" name="ContactNumber" placeholder="Home Contact" aria-describedby="Contact_Number" type="text" [ngClass]="{ 'is-invalid': submitted && f.HomePhone.errors }">
          <div *ngIf="submitted && f.HomePhone.errors" class="invalid-feedback">
              <div *ngIf="f.HomePhone.errors.required">Contact Number is required</div>
              <div *ngIf="f.HomePhone.errors.minlength">Contact must be at least 12 characters</div>  
          </div>
        </div>
    </div>
  </div>
  <div class="m--space-07"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group m-form__group">
        <label for="exampleTextarea">
          Address
        </label>
        <textarea class="form-control m-input m-input--solid" formControlName="Address" name="Address" [value]="Employee?.address || ''"
          id="Address" rows="3" placeholder="Test Address"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group m-form__group">
        <label for="exampleTextarea">
          Permanent Address
        </label>
        <textarea class="form-control m-input m-input--solid" formControlName="PermanentAddress" [value]="Employee?.permanentAddress || ''"
          name="Address" id="Address2" rows="3" placeholder="Test Address 2"></textarea>
      </div>
    </div>
  </div>
  <div>

    <div *ngIf="isUpdate(); else create">
      <button class="btn btn-primary" (click)="update(EmpbasicForm.value)">
        update
      </button>
    </div>
    <ng-template #create>
      <button class="btn btn-primary" (click)="Formsubmit(EmpbasicForm.value)">
        Submit
      </button>
    </ng-template>
  </div>
</form>