

<div class="m-content">
    <div class="row">
        <div class="col-md-12">
<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Users</h3>
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <div class="m-section">
      <div class="m-section__content">
        <a class="btn btn-success" [routerLink]="['/security/user-registration']">New User</a>
        <dx-data-grid id="gridContainer" [dataSource]="users" keyExpr="userId">
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>

          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
          <dxo-paging [pageSize]="8"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
          </dxo-pager>
          <dxi-column dataField="firstName"></dxi-column>
          <dxi-column dataField="lastName"></dxi-column>
          <dxi-column dataField="phone"></dxi-column>
          <dxi-column dataField="email"></dxi-column>
          <dxi-column dataField="userId" caption="Action" cellTemplate="cellTemplate"></dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <a *ngIf="!data.data.hasAccount" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill"
              data-toggle="modal" data-target="#m_modal_4" (click)="setSelectedUserId(data.value)">
              <span>
                <i class="la la-plus"></i>
                <span>
                  Create Account
                </span>
              </span>
            </a>
            <a class="btn btn-primary" [routerLink]="['/security/user-registration', data.value]">View</a>
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add Account
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="registrationForm">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" formControlName="Email">
            </div>
            <div class="form-group">
              <label for="username">Login Id</label>
              <input type="text" class="form-control" id="username" formControlName="Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" formControlName="Password">
            </div>
            <div class="form-group">
              <label for="confirmpassword">Confirm Password</label>
              <input type="text" class="form-control" id="confirmpassword">
            </div>
            <button type="button" (click)="submitRegisterUserForm(registrationForm.value)" class="btn btn-primary"
              data-dismiss="modal">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  