<div class="m-content">
  <div class="row">
    <div class="col-md-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Users</h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li class="m-portlet__nav-item">
                <a class="m-portlet__nav-link m-portlet__nav-link--icon">
                  <span class="m--font-bolder" style="color:white;">
                    Add New User:
                  </span>
                </a>
              </li>
              <li class="m-portlet__nav-item">
                <a [routerLink]="['/security/user-registration']"
                  class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
                  title="Add New Role" data-original-title="Add New Role">
                  <i class="fa fa-user-plus"></i>
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <dx-data-grid id="gridContainer" [dataSource]="users" keyExpr="userId"
                (onRowRemoved)="DeleteUser($event)">
                <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="true"
                  [useIcons]="true">
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>
                <dxi-column dataField="firstName"></dxi-column>
                <dxi-column dataField="lastName"></dxi-column>
                <dxi-column dataField="phone"></dxi-column>
                <dxi-column dataField="email"></dxi-column>
                <dxi-column dataField="userId" caption="Action" cellTemplate="cellTemplate" [width]="110"></dxi-column>
                <div *dxTemplate="let data of 'cellTemplate'">
                  <a *ngIf="!data.data.hasAccount" title="Create Account"
                    class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
                    data-toggle="modal" data-target="#m_modal_3" (click)="setSelectedUserId(data.value)">
                    <i class="fa fa-user-plus"></i>
                  </a>
                  <a href=""
                    class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill"
                    title="View" [routerLink]="['/security/user-registration', data.value]">
                    <i class="fa fa-eye"></i>
                  </a>
                  <button data-toggle="modal" data-target="#m_modal_4" title="Assign Distributer"
                    (click)="onUserSelect(data.value)"
                    class="btn btn-outline-brand m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
                    <i class="fa fa-address-card-o"></i>
                  </button>
                  <button [disabled]="!data.data.territory" data-toggle="modal" data-target="#m_modal_5"
                    title="Assign Subsections" (click)="onAssignSubsections(data.value, data.data.sectionId)"
                    class="btn btn-outline-success m-btn m-btn--icon m-btn--icon-only m-btn--outline-2x m-btn--pill">
                    <i class="fa	fa-street-view"></i>
                  </button>
                </div>
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add Account
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registrationForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group m-form__group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="Email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group m-form__group">
                <label for="username">Login Id</label>
                <input type="text" class="form-control" id="username" formControlName="Username">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group m-form__group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" formControlName="Password">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group m-form__group">
                <label for="confirmpassword">Confirm Password</label>
                <input type="text" class="form-control" id="confirmpassword">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="submitRegisterUserForm(registrationForm.value)" class="btn btn-brand"
              data-dismiss="modal">
              Submit
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Assign User Level
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-4">
              <dx-select-box #userlevelcb [items]="userLevels" displayExpr="value" valueExpr="value" [value]="userLevel"
                [searchEnabled]="true">
              </dx-select-box>
            </div>
            <div class="col-sm-8 m-form m-form--fit m-form--label-align-right">
              <div *ngIf="userLevelStatus == 1" class="form-group m-form__group row">
                <label class="col-4" style="padding-top: 6px;">
                  Region
                </label>
                <select2 class="col-8" [data]="regionOptions" [options]="options" [width]="300" [value]="value"
                  (valueChanged)="changed($event)"></select2>
              </div>

              <div *ngIf="userLevelStatus == 2" class="form-group m-form__group row">
                <label class="col-4" style="padding-top: 6px;">
                  City
                </label>
                <select2 class="col-8" [data]="cityOptions" [options]="options" [width]="300" [value]="value"
                  (valueChanged)="changed($event)"></select2>
              </div>
              <div *ngIf="userLevelStatus == 3" class="form-group m-form__group row">
                <label class="col-4" style="padding-top: 6px;">
                  Area
                </label>
                <select2 class="col-8" [data]="areaOptions" [options]="options" [width]="300" [value]="value"
                  (valueChanged)="changed($event)"></select2>
              </div>
              <div *ngIf="userLevelStatus == 4" class="form-group m-form__group row">
                <label class="col-4" style="padding-top: 6px;">
                  Territory
                </label>
                <select2 class="col-8" [data]="territoryOptions" [options]="options" [width]="300" [value]="value"
                  (valueChanged)="changed($event)"></select2>
              </div>

              <div *ngIf="userLevelStatus == 5" class="form-group m-form__group row">
                <label class="col-4" style="padding-top: 6px;">
                  Sections
                </label>
                <select #mySelect class="form-control" id="section" class="col-8"
                  (change)="sectionChange(mySelect.value)" [value]="sectionId">
                  <option *ngFor="let section of sections" [value]="section.sectionId">{{section.name}}</option>
                </select>
                <!-- <dx-select-box #sectioncb class="col-8" [items]="sections" displayExpr="name" valueExpr="sectionId"
                [value]="sectionId" [searchEnabled]="true">
              </dx-select-box> -->
              </div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary active" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-brand" data-dismiss="modal" (click)="assignUserLevel()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Assign Subsections
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group m-form__group">
                <label for="exampleSelect1">
                  Section
                </label>
                <dx-select-box #sectioncb2 [items]="sections" displayExpr="name" valueExpr="sectionId"
                  [value]="sectionId" [searchEnabled]="true">
                </dx-select-box>
              </div>
            </div>
          </div>
          <hr>
          <div class="m-form__group form-group row">
            <label class="col-3 col-form-label">
              Subsection
            </label>
            <div class="col-9">
              <div class="m-checkbox-list">
                <label *ngFor="let subsection of assignedSubsections; index as i" class="m-checkbox">
                  <input type="checkbox" [checked]="subsection?.isAssigned" (change)="onSubsectionSelect($event, i)">
                  {{subsection?.name}}
                  <span></span>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary active" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-brand" data-dismiss="modal" (click)="assignSubsectionsOnSubmit()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>