

<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
          <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Freeze Preparation</h3>
            </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-section">
            <div class="m-section__content" >
              <div class="row">
                <div class="col-sm-2"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    MRN No.
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="MRN-00215">
                </div></div>
                <div class="col-sm-2"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Date
                  </label>
                  <input type="text" class="form-control" id="m_datepicker_1" placeholder="Select date"/>
                </div></div>
                <div class="col-sm-2"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Semen Ref.#
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="LMP-00215">
                </div></div>
                <div class="col-sm-2"><div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                    Collection #
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Days-19">
                  </div></div>
                  <div class="col-sm-2"><div class="form-group m-form__group">
                    <label for="exampleSelect1">
                      Type. #
                    </label>
                    <select class="form-control m-input" id="exampleSelect1">
                      <option>
                        Option 1
                      </option>
                      <option>
                       Option 2
                      </option>
                      <option>
                        Option 3
                      </option>
                    </select>
                  </div></div>
                  <div class="col-sm-2"><div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                     PESA/TESE #
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Days-19">
                    </div></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Patient Name
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Manika">
                </div></div>
                <div class="col-sm-3"><div class="form-group m-form__group">
                  <label for="exampleInputEmail1">
                    Spouse
                  </label>
                  <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Imraan Khan">
                </div></div>
                <div class="col-sm-3"><div class="form-group m-form__group">
                    <label for="exampleSelect1">
                      Doctor
                    </label>
                    <select class="form-control m-input" id="exampleSelect1">
                      <option>
                        Dr. Shakeela
                      </option>
                      <option>
                        Dr. Yasmeen
                      </option>
                      <option>
                        Dr. Shahid
                      </option>
                    </select>
                  </div></div>
                  <div class="col-sm-3"><div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Other
                    </label>
                    <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
                  </div></div>

              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <h4>Freeze Preparation Details</h4>
                  <div class="row" style="margin-top: 30px;">
                    <div class="col-sm-3"><div class="form-group m-form__group">
                      <label for="exampleSelect1">
                    Type
                      </label>
                      <select class="form-control m-input" id="exampleSelect3">
                        <option>
                          Option 1
                        </option>
                        <option>
                          Option 2
                        </option>
                        <option>
                          Option 3
                        </option>
                      </select>
                    </div></div>
                    <div class="col-sm-3"><div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Collection No.
                      </label>
                      <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Others">
                    </div></div>
                    <div class="col-sm-3">
                        <div class="form-group m-form__group">
                            <label for="exampleTextarea col-sm-3">
                                Collection Date
                            </label>
                        <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date"/>
                          </div>
                      </div>
                      <div class="col-sm-3"><div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                              Procedure#
                          </label>
                          <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pro-12546">
                        </div></div>
                  </div>

    <hr>

  <div class="row">
  <div class="col-sm-4">
     
      <div class="form-group m-form__group row">
          <label for="example-text-input" class="col-5 col-form-label">
            No. Straw Frozen
          </label>
          <div class="col-md-7">
              <input type="text" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="pro-12546">
          </div>
         
        </div>
      <table class="table">
          <!--begin::Thead-->
          <thead>
            <tr>
              <td class="m-widget11__label"><strong>Location</strong> </td>
             
            </tr>
          </thead>
          <!--end::Thead-->
<!--begin::Tbody-->
          <tbody>
            <tr>
              <td width="184">Dewer</td>
              <td width="168"><input class="form-control m-input" type="text" id="example-text-input"></td>
            </tr>
            <tr>
              <td>Cannister</td>
              <td><input class="form-control m-input" type="text" id="example-text-input3"></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><select class="form-control m-input" id="exampleSelect1">
                  <option>
                    Top
                  </option>
                  <option>
                    Equals
                  </option>
                </select></td>
            </tr>
          </tbody>
          <!--end::Tbody-->
        </table>
  </div>
  <div class="col-sm-8">
      <table class="table">
          <!--begin::Thead-->
          <thead>
            <tr>
              <td class="m-widget11__label"><strong>Straw ID (S)</strong> </td>
             
            </tr>
          </thead>
          <!--end::Thead-->
<!--begin::Tbody-->
          <tbody>
            <tr>
              <td width="127">From</td>
              <td width="168"><input class="form-control m-input" type="text" id="example-text-input"></td>
              <td width="38" align="center">To</td>
              <td width="176"><input class="form-control m-input" type="text" id="example-text-input2"></td>
              <td width="66">Suffix</td>
              <td width="233"><input class="form-control m-input" type="text" id="example-text-input4"></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="5"><input class="form-control m-input" type="text" id="example-text-input5"></td>
            </tr>
          </tbody>
          <!--end::Tbody-->
        </table>

        <table width="656" class="table">
            <!--begin::Thead-->
            <thead>
            </thead>
            <!--end::Thead-->
            <!--begin::Tbody-->
            <tbody>
              <tr>
                <td width="127">Straw Color</td>
                <td width="300"><input class="form-control m-input" type="text" id="example-text-input"></td>
                <td width="150" align="left">Plug Color</td>
                <td width="220"><input class="form-control m-input" type="text" id="example-text-input5"></td>
              </tr>
              <tr>
                <td>Survival</td>
                <td><input class="form-control m-input" type="text" id="example-text-input3"></td>
                <td align="center"><input class="form-control m-input" type="text" id="example-text-input4"></td>
                <td>(mil./ml)</td>
              </tr>
              <tr>
                <td>Remarks</td>
                <td colspan="3"><input class="form-control m-input" type="text" id="example-text-input2"></td>
              </tr>
            </tbody>
            <!--end::Tbody-->
          </table>
  </div>
  
  </div>
                
                  
                </div>
              </div>
  <hr>
              <div class="row">
                  <div class="m-demo__preview m-demo__preview--btn">
                      <button type="button" class="btn btn-primary m-btn m-btn--custom">
                        Submit
                      </button>
                      <button type="button" class="btn btn-brand m-btn m-btn--custom">
                        Thaw Detail
                      </button>
                      <button type="button" class="btn btn-info m-btn m-btn--custom">
                        Insem. Prep.
                      </button>
                    </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
  
  
  
  
  
  