<div class="m-content">
  <div class="row">
     <div class="col-xl-12">
       <div class="m-portlet">
         <div class="m-portlet__head">
           <div class="m-portlet__head-caption">
             <div class="m-portlet__head-title">
               <h3 class="m-portlet__head-text">Company Setup</h3>
             </div>
           </div>
         </div>
         <div class="m-portlet__body">
           <div class="m-section">
             <div class="m-section__content">
              
              <div class="form-group row">
								<div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Name  (to appear on reports)
                    </label>
                    <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                   
                  </div>
								</div>
								<div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Phone Number
                    </label>
                    <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0300 1234567">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      GST Number
                    </label>
                    <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="4578-23">
                  </div>
								</div>
							
              </div>
              
              <div class="form-group row">
								<div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Email Address
                    </label>
                    <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="info@gbscin.Com">
                   
                  </div>
								</div>
								<div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Offical Number
                    </label>
                    <input type="email" class="form-control m-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="0300 1234567">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                     Currency
                    </label>
                    <select class="form-control m-input" id="exampleSelect1">
                      <option>
                        Pkr
                      </option>
                      <option>
                        usd
                      </option>
                      <option>
                        Pound
                      </option>
                      <option>
                        Dharam
                      </option>
                      <option>
                        5
                      </option>
                    </select>
                  </div>
								</div>
							
              </div>
              
              <div class="form-group row">
								<div class="col-sm-4">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                     Date
                    </label>
                    <input type="text" class="form-control" id="m_datepicker_1" readonly placeholder="Select date"/>                   
                  </div>
								</div>
								<div class="col-sm-8">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Company Address
                    </label>
                    <textarea class="form-control m-input" readonly="" rows="1"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group row">
								<div class="col-sm-4">
                    <label for="exampleInputEmail1">
                        Company Logo
                      </label>
                  <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                        </div>
                    </div>
                </div>
								</div>
								<div class="col-sm-6">
                  <div class="form-group m-form__group">
                    <label for="exampleInputEmail1">
                      Financial Year
                    </label>
                    <input type='text' class="form-control" id="m_daterangepicker_1" readonly placeholder="Select time">
                  </div>
                </div>
                <div class="col-sm-2" style="margin-top: 28px;">

                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                    <button type="submit" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>





              </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 
 
 
 
 
 
 </div>