 
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Salary Structure Detail</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">

              <dx-data-grid id="gridContainer" [dataSource]="salaryStructureDetail" 
              keyExpr="salaryStructureDetailId" (onRowInserted)="addSalaryStructureDetail($event)" (onRowUpdated)="updateSalaryStructureDetail($event)" (onRowRemoved)="deleteSalaryStructureDetail($event)">
                <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="true" [useIcons]="true">
                  <dxo-popup title="Salary Structure Detail" [showTitle]="true" [width]="750" [height]="545" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
                </dxo-editing>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [pageSize]="8"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                </dxo-pager>

                <dxi-column dataField="salaryCalculationTypeId" caption="Salary Calculation">
                  <dxo-lookup [dataSource]="salaryCalculationtype" displayExpr="name" valueExpr="salaryCalculationTypeId"></dxo-lookup>
                </dxi-column>
  
                <dxi-column dataField="benefitId" caption="Benefit">
                  <dxo-lookup [dataSource]="benefit" displayExpr="name" valueExpr="benefitId"></dxo-lookup>
                </dxi-column>

                <dxi-column dataField="allowanceId" caption="Allowance">
                  <dxo-lookup [dataSource]="allowance" displayExpr="name" valueExpr="allowanceId"></dxo-lookup>
                </dxi-column>
                
                <dxi-column dataField="salaryStructureId" caption="Salary Structure">
                  <dxo-lookup [dataSource]="salarystructure" displayExpr="title" valueExpr="salaryStructureId"></dxo-lookup>
                </dxi-column>
 
                <dxi-column dataField="value" caption="Value"></dxi-column>
                <dxi-column dataField="formula" caption="Formula" dataType="boolean"></dxi-column>
                <dxi-column dataField="baseSalary" caption="Base Salary"></dxi-column> 
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
 