<div class="m-content">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                      Visit Note
              </h3></div>
            </div>
          </div>
          <!--begin::Form-->
          <form class="m-form m-form--fit m-form--label-align-right">
            <div class="m-portlet__body">
              <div class="form-group m-form__group row">

                  <div class="col-lg-4  col-sm-12">
                      <label>
                          Provider
                        </label>
                      
                        <select class="form-control m-input m-input--square" id="exampleSelect1">
                            <option>
                              Jake Smith
                            </option>
                        </select>															
                  </div>
                      
                  <div class="col-lg-4  col-sm-12">
                      <label>
                          Location
                        </label>
                      
                        <select class="form-control m-input m-input--square" id="exampleSelect1">
                            <option>
                              Registration Desk
                            </option>
                        </select>															
                  </div>
                      
                  <div class="col-lg-4  col-sm-12">
                      <label>
                          Date
                        </label>
                      
                        <div class="input-group">
                            <div class="input-group date">
                                <input type="text" class="form-control m-input" readonly="" placeholder="Select date" id="m_datepicker_b1">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                                </div>
                            </div>  
                        </div>														
                  </div>
                    
                  


              </div>
              <div class="m-separator m--margin-top-5"></div>
              <div class="form-group m-form__group row">
                
                <div class="col-lg-6  col-sm-12">
                
                  <div class="form-group m-form__group">
                    <label>
                        Add presumed or confirmed dianosis (required):
                    </label>
                    <input type="email" class="form-control m-input m--margin-top-5" placeholder="Choose primary diagnosis first , then secondary diagnoses">
                  </div>
                  <div class="form-group m-form__group">
                      <label for="exampleTextarea">
                        Clinical Note
                      </label>
                      <textarea class="form-control m-input m-input--air" id="exampleTextarea" rows="3"></textarea>
                  </div>
                </div>

                <div class="col-lg-1  col-sm-12">
                </div>

                <div class="col-lg-5  col-sm-12">

                  <div class="form-group m-form__group">
                    <label>
                        Primary Diagnosis
                    </label>
                      <div class="m-separator m--margin-top-4">
                        <span class="m-form__help">
                            Not chosen
                        </span>
                      </div>
                  </div>
                  <div class="form-group m-form__group">

                    <label>
                        Primary Diagnosis
                      </label>
                      <div class="m-separator m--margin-top-4">
                          <span class="m-form__help">
                              Not chosen
                          </span>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">

                <div class="form-group m-form__group row">
                  <div class="col-lg-6  col-sm-12">
                      <div class="m-form__actions">

                          <button type="reset" class="btn btn-danger m--pull-left">
                            Cancel
                          </button>
                        </div>
                  </div>
                  <div class="col-lg-6  col-sm-12">
                      <div class="m-form__actions">
                          <button type="reset" class="btn btn-success m--pull-right">
                            Save
                          </button>
                        </div>
                  </div>
                </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
<!--begin::Portlet-->
      
      <!--end::Portlet-->
<!--begin::Portlet-->
  
      <!--end::Portlet-->
<!--begin::Portlet-->
    
      <!--end::Portlet-->
    </div>

</div>
</div>