<div class="m-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="m-portlet m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Vitals
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <form [formGroup]="VisitVitalDetailForm">
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Height
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="Height" [value]="visit.patientVital?.height || ''" type="number">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Weight
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="Weight" [value]="visit.patientVital?.weight ||''" type="number">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Temperature
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="Temperature" [value]="visit.patientVital?.temperature || ''" type="number">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Respiratory Rate
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="RespiratoryRate" [value]="visit.patientVital?.respiratoryRate" type="number">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Pulse
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="Pulse" [value]="visit.patientVital?.pulse || ''" type="number">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Blood Pressure Up
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="BloodPressureUp" [value]="visit.patientVital?.bloodPressureUp || ''" type="number">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    Blood Pressure Down
                                </label>
                                <div class="col-8">
                                    <input class="form-control m-input" formControlName="BloodPressureDown" [value]="visit.patientVital?.bloodPressureDown || ''" type="number">
                                </div>
                            </div>                        
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Blood Oxygen Saturation
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="BloodOxygenSaturation" [value]="visit.patientVital?.bloodOxygenSaturation || ''"type="number">
                            </div>
                        </div>
                        <div class="modal-footer">
                                <button class="btn btn-primary m-btn m-btn--custom" (click)="editPatientVitals(VisitVitalDetailForm.value)" type="button"> Edit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="m-portlet m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Appointment
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body portlet_pad">
                    <form [formGroup]="VisitAppointmentForm">
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Patient Type
                            </label>
                            <div class="col-8">
                                <select class="form-control m-input" formControlName="PatientType" [value]="appointment?.patientType || ''">
                                    <option value="New">New</option>
                                    <option value="New">Previous</option>

                                </select>
                                <!-- <input class="form-control m-input" [value]="visit.patientVital?.bloodOxygenSaturation" type="number" value="Artisanal kale" id="example-text-input"> -->
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Tentative Time
                            </label>
                            <div class="col-8">
                                <input class="form-control m-input" formControlName="TentativeTime" [value]="appointment.tentativeTime | date: 'dd/MM/yyyy'"
                                    type="date">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">
                                Consultant Name
                            </label>
                            <div class="col-8">
                                    <dx-select-box [items]="consultant" displayExpr="name" valueExpr="consultantId" [searchEnabled]="true" [value]="getconsultantbyId?.name" formControlName="ConsultantName">
                                    </dx-select-box>
                                    <!-- {{getconsultantbyId?.name}} -->
                                <!-- <select class="form-control m-input" formControlName="ConsultantName" [value]="getconsultantbyId?.name || ''">
                                     <option *ngFor="let cn of PatientServiceobj?.consultant" value="cn?.consultantId">{{cn?.name}}</option>
                                </select> -->
                                <!-- <input class="form-control m-input" [value]="visit.patientVital?.bloodOxygenSaturation" type="number" value="Artisanal kale" id="example-text-input"> -->
                            </div>
                        </div>
                        <div class="modal-footer">
                                <button class="btn btn-primary m-btn m-btn--custom" (click)="editPatientAppointment(VisitAppointmentForm.value)" type="button"> Edit</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="m-portlet m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Visit Diagnoses
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <form [formGroup]="VisitDiagnosesForm" >
                    <div class="m-widget4 m-widget4--chart-bottom">
                            <div class="form-group m-form__group">
                                    <label for="exampleSelect1">
                                        Select Visit Diagnoses
                                    </label>
                                     <dx-select-box [items]="visitdiagnos" displayExpr="name" valueExpr="diagnosisId" [searchEnabled]="true" formControlName="DiagnosisId"></dx-select-box>  
                                    <!-- <select class="form-control m-input" [value]="visitDiagnoses?.name">
                                        <option *ngFor="let vd of visitDiagnoses" value="visitDiagnoses?.name">{{vd?.name}}</option>
                                    </select> -->
                                </div>

                        <div *ngFor="let visitDiagnoses of getvisitdiagnosesbyId" class="m-widget4__item"> 
                            <div class="m-widget4__info">
                                <span class="m-widget4__text">
                                    {{visitDiagnoses?.name}}
                                </span>
                            </div>
                            <div class="m-widget4__ext">
                                <span class="m-widget4__number m--font-accent">
                                        <a href="#" class="m-widget4__icon m--font-brand">
                                                <i class="la la-trash-o"></i>
                                            </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        
    
    <div class="col-lg-4">

        <div class="m-portlet m-portlet--unair">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Visit Notes
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
            <form  [formGroup]="VisitNoteForm"> 
                <div class="form-group m-form__group">
                    <label for="exampleTextarea">
                        Clinical Note
                    </label>
                    <textarea formControlName="ClinicalNote" [value]="visit.visitNote?.clinicalNote"  class="form-control m-input m-input--air m-input--pill" rows="6"></textarea>
                </div>
                <div class="modal-footer">
                        <button class="btn btn-primary m-btn m-btn--custom" (click)="editPatientclicnicalnote(VisitNoteForm.value)" type="button"> Edit</button>
                </div>
            </form>
            </div>
        </div>

        <div class="m-portlet m-portlet--unair">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Visit Test
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                    <form [formGroup]="VisitTestForm" >

                <div class="m-widget4 m-widget4--chart-bottom row">
                        <div class="form-group m-form__group  col-lg-8">
                                <label for="exampleSelect1">
                                    Select Visit Tests
                                </label>
                                <dx-select-box [items]="visittst" displayExpr="testName" valueExpr="testId" [searchEnabled]="true" formControlName="TestId"></dx-select-box>
                                <!-- <select class="form-control m-input" [value]="visitTests?.testName">
                                    <option *ngFor="let vt of visitTests" value="visitTests?.testName">{{vt?.testName}}</option>
                                </select> -->
                            </div> 
                            <div class="form-group m-form__group  col-lg-4 margintop">
                                <button  class="btn btn-primary m-btn m-btn--custom" (click)="editviststest(VisitTestForm.value)" type="button">Add</button>
                            </div>
                    <div *ngFor="let visitTests of getvisitTestbyId" class="m-widget4__item"> 
                        <div class="m-widget4__info">
                            <span class="m-widget4__text">
                                    {{visitTests?.testName}}
                            </span>
                        </div>
                        <div class="m-widget4__ext">
                            <span class="m-widget4__number m--font-accent">
                                    <a href="#" class="m-widget4__icon m--font-brand">
                                            <i class="la la-trash-o"></i>
                                        </a>
                            </span>
                        </div>
                    </div>
                </div> 
                </form>
            </div>
        </div>
    </div>
 

</div>