<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Visit detail
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span>
                                    <i class="fa fa-cog"></i>
                                </span> Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" (click)="goback()" type="button">
                                    Go Back
                                </button>
                                <button class="dropdown-item" type="button">
                                    Another action
                                </button>
                                <button class="dropdown-item" type="button">
                                    Something else here
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_2">
                                Vitals
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#m_tabs_1_1">
                                Appointment
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#m_tabs_1_4">
                                Visit Note
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#m_tabs_1_5">
                                Visit Diagnoses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#m_tabs_1_6">
                                Visit Test
                            </a>
                        </li>





                    </ul>
                    <div class="tab-content col-sm-4">

                        <div class="tab-pane active" id="m_tabs_1_2" role="tabpanel">
                            <div class="m-widget4">
                                <div class="m-widget4__item">

                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Height
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.height}}
                                            <!-- {{PatientServiceobj?.getvisitbyid.patientVital.height}} -->
                                            <!-- {{getvisitid?.patientVital?.height}} -->
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Weight
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.weight}}
                                            <!-- {{visit?.patientVital.weight}} -->
                                        </span>
                                    </span>
                                </div>
                                <!-- <div class="m-widget4__item">										
                                  <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                      Calculated (BMI)
                                    </span>
                                    <br>
                                  </div>
                                  <span class="m-widget4__ext">
                                    <span class="m-widget4__number m--font-brand">
                                      {{leatestPatientVitals.calculatedBMI}} 
                                    </span>
                                  </span>
                                </div> -->

                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Temperature
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.temperature}}
                                            <!-- {{visit?.patientVital.temperature}} -->
                                            <!-- {{getvisitid.patientVital.temperature}}  -->
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Respiratory Rate
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.respiratoryRate}}
                                            <!-- {{visit?.patientVital.respiratoryRate}} -->
                                            <!-- {{getvisitid.patientVital.respiratoryRate}}  -->
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Pulse
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.pulse}}
                                            <!-- {{visit?.patientVital.pulse}} -->
                                            <!-- {{getvisitid.patientVital.pulse}}   -->
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Blood Pressure
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.bloodPressure}}
                                            <!-- {{visit?.patientVital.bloodPressure}} -->
                                            <!-- {{getvisitid.patientVital.bloodPressure}}   -->
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Blood Oxygen Saturation
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{visit.patientVital?.bloodOxygenSaturation}}

                                            <!-- {{visit?.patientVital.bloodOxygenSaturation}} -->
                                            <!-- {{getvisitid.patientVital.bloodOxygenSaturation}}   -->
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_1_1" role="tabpanel">
                            <div class="m-widget4">
                                <div class="m-widget4__item">

                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Patient Type
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{appointment?.patientType}}
                                        </span>
                                    </span>
                                </div>

                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Tentative Time
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{appointment?.tentativeTime | date: 'dd/MM/yyyy'}}
                                        </span>
                                    </span>
                                </div>
                                <div class="m-widget4__item">
                                    <div class="m-widget4__info">
                                        <span class="m-widget4__title">
                                            Consultant Name
                                        </span>
                                        <br>
                                    </div>
                                    <span class="m-widget4__ext">
                                        <span class="m-widget4__number m--font-brand">
                                            {{getconsultantbyId.name}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_1_4" role="tabpanel">
                            {{visit.visitNote?.clinicalNote}}
                        </div>
                        <div class="tab-pane" id="m_tabs_1_5" role="tabpanel">
                            <ul>
                                <li *ngFor="let visitDiagnoses of getvisitdiagnosesbyId">
                                    {{visitDiagnoses?.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="m_tabs_1_6" role="tabpanel">
                            <ul>
                                <li *ngFor="let visitTests of getvisitTestbyId">
                                    {{visitTests?.testName}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>