<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Purchase Return</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="m-section">
            <div class="m-section__content">
              <form [formGroup]="PurchaseReturnForm">

                <div class="form-group row">
                  <div class="col-sm-6">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Invoice Number
                      </label>
                      <input type="text" class="form-control m-input" formControlName="InvoceNumber" placeholder="001">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Bill Number
                      </label>
                      <input type="text" class="form-control m-input" formControlName="BillNumber" placeholder="001">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Date
                      </label>
                      <dx-date-box formControlName="Date" type="date" width="100%">
                      </dx-date-box>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Credit Days
                      </label>
                      <input type="number" class="form-control m-input" formControlName="CreditDays" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Voucher Number
                      </label>
                      <input type="number" class="form-control m-input" formControlName="VoucherNumber" placeholder="0">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Gst Amount
                      </label>
                      <input type="number" class="form-control m-input" formControlName="GstAmount" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Gst Percentage
                      </label>
                      <input type="number" class="form-control m-input" formControlName="GstPercentage" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Discount Amount
                      </label>
                      <input type="number" class="form-control m-input" formControlName="DiscountAmount" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Discount Percentage
                      </label>
                      <input type="number" class="form-control m-input" formControlName="DiscountPercentage" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Tax Amount
                      </label>
                      <input type="number" class="form-control m-input" formControlName="TaxAmount" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Tax Percentage
                      </label>
                      <input type="number" class="form-control m-input" formControlName="TaxPercentage" placeholder="0">
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Wihtholding Tax Amount
                      </label>
                      <input type="number" class="form-control m-input" formControlName="WihtholdingTaxAmount" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Withholding Tax Percentage
                      </label>
                      <input type="number" class="form-control m-input" formControlName="WithholdingTaxPercentage" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Expenses
                      </label>
                      <input type="number" class="form-control m-input" formControlName="Expenses" placeholder="0">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="">
                        Purchase Invoice
                      </label>
                      <select class="form-control m-input" formControlName="FinancePurchaseInvoiceId">
                        <option value="" disabled selected>-- Select Purchase Invoice --</option>
                        <option *ngFor="let invoicepurchase of PurchaseInvoice" [value]="invoicepurchase.financePurchaseInvoiceId">{{invoicepurchase.totalAmount}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label for="">
                        Detail Account
                      </label>
                      <select class="form-control m-input" formControlName="DetailAccountId">
                        <option value="" disabled selected>-- Select Detail Account --</option>
                        <option *ngFor="let detailAC of detailAccount" [value]="detailAC.detailAccountId">{{detailAC.name}}</option>
                      </select> </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group m-form__group">
                      <label>
                        Total Amount:
                      </label>
                      <input type="number" class="form-control m-input" formControlName="TotalAmount" placeholder="0">
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-12">
                    <div class="form-group m-form__group">
                      <label>
                        Description
                      </label>
                      <textarea class="form-control m-input" formControlName="Description"></textarea>
                    </div>
                  </div>
                </div>
              </form>

              <div class="m-separator m-separator--dashed m-separator--lg"></div>
              <div class="form-group row">
                <h3>
                  Prchase Return Detail
                </h3>
                <dx-data-grid id="gridContainer" [dataSource]="PurchaseDetail" (onRowInserted)="addpurchaseReturnDetail($event)" (onRowUpdated)="updatepurchaseReturnDetail($event)">
                  <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="false" [useIcons]="true">
                  </dxo-editing>
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-header-filter [visible]="true"></dxo-header-filter>

                  <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                  <dxo-paging [pageSize]="8"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                  </dxo-pager>

                  <dxi-column dataField="amount" caption="Amount"></dxi-column>
                  <dxi-column dataField="itemDescription" caption="Item Description"></dxi-column>
                </dx-data-grid>
              </div>
              <div class="m-separator"></div>

              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <div *ngIf="isUpdate(); else create" class="m--align-right">
                    <button class="btn btn-primary" (click)="update(PurchaseReturnForm.value)">
                      Update
                    </button>
                  </div>
                  <ng-template #create class="m--align-left">
                    <button class="btn btn-primary" (click)="addPurchaseReturn(PurchaseReturnForm.value)">
                      Submit
                    </button>
                    <button class="btn btn-default" type="reset">
                      Reset
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>