<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">UltraSound (Pelvis)</h3>
            </div>
          </div>
        </div>

        <div class="m-portlet__body">
          <form [formGroup]="ultraSoundPelvisForm">
            <div class="m-section">
              <div class="m-section__content">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Document #
                      </label>
                      <input type="text" class="form-control m-input" disabled="patientDisabledFields" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Date
                      </label>
                      <input type="date" class="form-control m-input"  disabled="patientDisabledFields"  [value]="pattientById?.dob |  date : 'yyyy-MM-dd' || ''" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        File No
                      </label>
                      <input type="text" class="form-control m-input"  disabled="patientDisabledFields"  [value]="pattientById?.mrn  || ''" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Pat Id
                      </label>
                      <dx-select-box [items]="patients" displayExpr="fullName" valueExpr="patientId" #patientId (onValueChanged)="getPatientById(patientId.value)" [searchEnabled]="true" formControlName="PatientId"> 
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                      <div class="m-section__content">
                          <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="m-demo__preview m-demo__preview--btn">
                              <a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa flaticon-clock"></i>
                              </a>
                              <a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa flaticon-calendar-2"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                  </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Patient Name 
                        </label>
                        <input type="text" class="form-control m-input"  disabled="patientDisabledFields" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          D.O.B
                        </label>
                        <input type="text" class="form-control m-input"   disabled="patientDisabledFields"  [value]="pattientById?.dob  || ''" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Treatment No
                        </label>
                        <input type="text" class="form-control m-input"  disabled="patientDisabledFields"  >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Cycle No
                        </label>
                        <input type="text" class="form-control m-input"  disabled="patientDisabledFields"  >
                      </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                Treatment Type
                            </label>
                            <dx-select-box [items]="treatmentType" displayExpr="name" valueExpr="treatmentTypeId" [searchEnabled]="true" formControlName="TreatmentTypeId"> 
                            </dx-select-box>
                          </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                TVOP Date
                            </label>
                            <input type="date" class="form-control m-input"  disabled="patientDisabledFields"  >
                          </div>
                    </div>
  
                  </div>
                  <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            Consultant 
                          </label>
                          <dx-select-box [items]="consultant" displayExpr="name" valueExpr="consultantId" [searchEnabled]="true" formControlName="ConsultantId"> 
                          </dx-select-box>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            LMP Date
                          </label>
                          <input type="date" class="form-control m-input" formControlName="LMP" [value]="ultraSoundPelvisById?.lmp | date : 'yyyy-MM-dd' || ''">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            ET On
                          </label>
                          <input type="date" class="form-control m-input" formControlName="EtOn" [value]="ultraSoundPelvisById?.etOn | date : 'yyyy-MM-dd' || ''">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            Treatment Day
                          </label>
                          <input type="text" class="form-control m-input"formControlName="TreatmentDay" >
                        </div>
                      </div>
                      <div class="col-sm-4">
                         
                      </div>    
                    </div>
                <hr>
                <h3 >


                  
                  UltraSound Detail
                </h3>

                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          US # 
                        </label>
                        <input type="date" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          US Date
                        </label>
                        <input type="date" class="form-control m-input" formControlName="UltrasoundDate"  [value]="ultraSoundPelvisById?.ultrasoundDate | date : 'yyyy-MM-dd' || ''" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Cycle Day
                        </label>
                        <input type="text" class="form-control m-input" formControlName="CycleDay">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                         Sonologist
                        </label>
                        <dx-select-box [items]="sonologists" displayExpr="name" valueExpr="sonologistId" [searchEnabled]="true" formControlName="SonologistId"> 
                        </dx-select-box>
                      </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                           Area Scanned
                          </label>
                          <select class="form-control m-input" formControlName="AreaScanned">
                              <option value="T/V">T/V</option>
                            </select>                        
                          </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                             Findlings
                            </label>
                            <input type="text" class="form-control m-input" formControlName="Findings">
                          </div>
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                          Ulterus LS 
                          </label>
                          <input type="text" class="form-control m-input" formControlName="LS">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            AP
                          </label>
                          <input type="text" class="form-control m-input" formControlName="AP">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            TS
                          </label>
                          <input type="text" class="form-control m-input" formControlName="TS">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                           Type
                          </label>
                          <select class="form-control m-input" formControlName="Type">
                              <option value="Select">Select</option>
                              <option value="One">One</option>
                            </select>  
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                              Endometrium
                            </label>
                            <input type="text" class="form-control m-input" formControlName="Endometrium">
                          </div>
                        </div>
                        <div class="col-sm-2">
                           
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                 Description
                                </label>
                                <input type="text" class="form-control m-input"  formControlName="Description">
                              </div> 
                          </div>
                          <div class="col-sm-7">
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                  Focal Masses In Uterus
                                </label>
                                <textarea class="form-control m-input" id="exampleTextarea" rows="3" formControlName="FocalMassesInUterus"></textarea>
                            </div> 
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                              Right Ovary
                            </label>
                            <input type="text" class="form-control m-input" formControlName="RightOvary">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                              Select Type
                            </label>
                            <select class="form-control m-input" formControlName="RightOvaryGrading">
                              <option value="Select">Select</option>
                              <option value="First">First</option>
                            </select>  
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                               No of Pollicies
                            </label>
                            <input type="text" class="form-control m-input" formControlName="NoOfFolliciesRightOvary">
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                             Left Ovary
                            </label>
                            <input type="text" class="form-control m-input" formControlName="LeftOvary">
                          </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group m-form__group">
                              <label for="exampleInputEmail1">
                                  Select Type  
                              </label>
                              <select class="form-control m-input" formControlName="LeftOvaryGrading">
                                  <option value="Select">Select</option>
                                  <option value="1">1</option>
                                </select>  
                            </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    No of Pollicies
                                </label>
                                <input type="text" class="form-control m-input"  formControlName="NoOfFolliciesLeftOvary">
                              </div>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                   Large Size
                                  </label>
                                  <textarea class="form-control m-input" id="exampleTextarea" rows="3" formControlName="LargeSizeRightOvary"></textarea>
                              </div> 
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                        Large Size
                                    </label>
                                    <textarea class="form-control m-input" id="exampleTextarea" rows="3" formControlName="LargeSizeLeftOvary"></textarea>
                                </div> 
                              </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                      Comments
                                  </label>
                                  <textarea class="form-control m-input" id="exampleTextarea" rows="3" formControlName="Comments"></textarea>
                              </div> 
                            </div>
                          <div class="col-sm-2">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                    Fluid Pelvis
                                  </label>
                                  <input type="text" class="form-control m-input" formControlName="FluidPelvis">
                                </div> 
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                      Fluid Abdomen
                                    </label>
                                    <input type="text" class="form-control m-input" formControlName="FluidAbdomen">
                                  </div> 
                              </div>
                               
                              <div class="col-sm-2">
                                  <div class="m-section__content">
                                      <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                        <div class="m-demo__preview m-demo__preview--btn">
                                            <a href="#" class="btn btn-outline-success m-btn m-btn--icon">
                                                <span>
                                                  <i class="fa flaticon-users"></i>
                                                  <span>
                                                    Two Pages
                                                  </span>
                                                </span>
                                              </a>
                                              <a href="#" class="btn btn-outline-warning m-btn m-btn--icon">
                                                  <span>
                                                    <i class="fa flaticon-interface-9"></i>
                                                    <span>
                                                      Out Sider
                                                    </span>
                                                  </span>
                                                </a>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                          
                      </div>

                <div class="row">
                  <div class="col-sm-2">
                    <button class="btn btn-primary" type="button"  *ngIf="router.url === '/ultrasound/ultrasoundpelvis/'+id" (click)="updateUltraSoundPelvis(ultraSoundPelvisForm.value)">
                      Update
                    </button>
                    <button class="btn btn-primary" type="button"  *ngIf="router.url === '/ultrasound/ultrasoundpelvis'" (click)="addUltraSoundPelvis(ultraSoundPelvisForm.value)">
                      Save
                    </button>
                  </div>
                  <!-- <div class="col-sm-2" *ngIf="router.url === '/ultrasound/ultrasoundpelvis">
                    <button class="btn btn-primary" type="button" (click)="addUltraSoundPelvis(ultraSoundPelvisForm.value)">
                      Submit
                    </button>
                  </div>  -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>