<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">UltraSound (Pelvis)</h3>
            </div>
          </div>
        </div>

        <div class="m-portlet__body">
          <form >
            <div class="m-section">
              <div class="m-section__content">
                <div class="row">
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Document #
                      </label>
                      <input type="text" class="form-control m-input" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Date
                      </label>
                      <input type="date" class="form-control m-input" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        File No
                      </label>
                      <input type="text" class="form-control m-input" >
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <label for="exampleInputEmail1">
                        Pat Id
                      </label>
                      <input type="text" class="form-control m-input" >
                    </div>
                  </div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                      <div class="m-section__content">
                          <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="m-demo__preview m-demo__preview--btn">
                              <a href="#" class="btn btn-accent m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa flaticon-clock"></i>
                              </a>
                              <a href="#" class="btn btn-metal m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa flaticon-calendar-2"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                  </div>

                </div>
                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Patient Name 
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Age
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Treatment No
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Cycle No
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                Treatment Type
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                TVOP Date
                            </label>
                            <input type="date" class="form-control m-input" >
                          </div>
                    </div>
  
                  </div>
                  <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            Consultant 
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            LMP Date
                          </label>
                          <input type="date" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            FT On
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            Treatment Day
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-4">
                         
                      </div>    
                    </div>
                <hr>
                <h3 >
                  UltraSound Detail
                </h3>

                <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          US # 
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          US Date
                        </label>
                        <input type="date" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                          Cycle Day
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">
                         Sonologist
                        </label>
                        <input type="text" class="form-control m-input" >
                      </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                           Area Scanned
                          </label>
                          <select class="form-control m-input">
                              <option value="T/V">T/V</option>
                            </select>                        
                          </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                             Findlings
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                        </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                          Ulterus LS 
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            AP
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                            TS
                          </label>
                          <input type="text" class="form-control m-input" >
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group m-form__group">
                          <label for="exampleInputEmail1">
                           Type
                          </label>
                          <select class="form-control m-input">
                              <option value="Select">Select</option>
                            </select>  
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                            Endometrium
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                        </div>
                        <div class="col-sm-2">
                           
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                 Description
                                </label>
                                <input type="text" class="form-control m-input" >
                              </div> 
                          </div>
                          <div class="col-sm-7">
                          </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                 Focal Masses In Uterus
                                </label>
                                <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                            </div> 
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                              Right Ovary
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                              Select Type
                            </label>
                            <select class="form-control m-input">
                              <option value="Select">Select</option>
                            </select>  
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                               No of Pollicies
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                        </div>
                        <div class="col-sm-2">
                          <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                             Left Ovary
                            </label>
                            <input type="text" class="form-control m-input" >
                          </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group m-form__group">
                              <label for="exampleInputEmail1">
                                  Select Type  
                              </label>
                              <select class="form-control m-input">
                                  <option value="Select">Select</option>
                                </select>  
                            </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">
                                    No of Pollicies
                                </label>
                                <input type="text" class="form-control m-input" >
                              </div>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                   Large Size
                                  </label>
                                  <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                              </div> 
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                        Large Size
                                    </label>
                                    <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                                </div> 
                              </div>
                      </div>

                      <div class="row">
                          <div class="col-sm-4">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                      Comments
                                  </label>
                                  <textarea class="form-control m-input" id="exampleTextarea" rows="3"></textarea>
                              </div> 
                            </div>
                          <div class="col-sm-2">
                              <div class="form-group m-form__group">
                                  <label for="exampleInputEmail1">
                                   Fluid Pelvis
                                  </label>
                                  <input type="text" class="form-control m-input" >
                                </div> 
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                     Fluid Abdomen
                                    </label>
                                    <input type="text" class="form-control m-input" >
                                  </div> 
                              </div>
                              <div class="col-sm-2"></div>
                              <div class="col-sm-2">
                                  <div class="m-section__content">
                                      <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                        <div class="m-demo__preview m-demo__preview--btn">
                                            <a href="#" class="btn btn-outline-success m-btn m-btn--icon">
                                                <span>
                                                  <i class="fa flaticon-users"></i>
                                                  <span>
                                                    Two Pages
                                                  </span>
                                                </span>
                                              </a>
                                              <a href="#" class="btn btn-outline-warning m-btn m-btn--icon">
                                                  <span>
                                                    <i class="fa flaticon-interface-9"></i>
                                                    <span>
                                                      Out Sider
                                                    </span>
                                                  </span>
                                                </a>
                                        </div>
                                      </div>
                                    </div>
                              </div>
                          
                      </div>

                <div class="row">
                  <div class="col-sm-2">
                    <button class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>