<div class="m-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Medicine Returns</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form m-form--label-align-left- m-form--state-"  [formGroup]="returnViewForm">
            <div class="m-portlet__body">
                <div  class="row">
                    <div class="col-md-3">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                             Date :
                            </label>
                            <input type="month" formControlName="returnViewdate" [value]="date || ''" class="form-control m-input">
                          </div>
                    </div>
                    <div class="col-md-7"></div>
                    <div  class="col-md-2">
                        <div class="form-group m-form__group">
                            <button type="button" (click)="onsubmit(returnViewForm.value)" class="btn btn-primary pull-right margin">Show</button>
                          </div>
                    </div>
                </div>
            </div>
          </form>
     
          <div class="row">
            <div class="col-md-12">
              <dx-data-grid [dataSource]="SalesReturns"  (onToolbarPreparing)="onToolbarPreparing($event)" [remoteOperations]="true" showBorders="true"
               [masterDetail]="{ enabled: true, template: 'detail' }"
                [columnAutoWidth]="true" [showBorders]="true">
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-filter-row [visible]="false"></dxo-filter-row>
                <dxo-header-filter [visible]="false"></dxo-header-filter>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[3, 5, 30]" [showInfo]="true"></dxo-pager>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                 <!-- <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
                </dxo-editing> -->
                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column dataField="returnNumber" caption="Return Number"></dxi-column>
                <dxi-column dataField="salesOrder.salesOrderCode" caption="Sales Order Code"></dxi-column>
                <dxi-column dataField="returnDate" dataType="date" caption="Return Date"></dxi-column>
                <dxi-column dataField="remarks" caption="Remarks"></dxi-column>
                <dxi-column dataField="totalReturnAmount" caption="Total ReturnAmount"></dxi-column>
                <dxi-column dataField="returnReason.name" caption="Return Reason Name"></dxi-column>
                <dxi-column dataField="salesOrder.contactPerson" caption="Sales Order Contact Person"></dxi-column>
                <dxi-column dataField="salesOrder.againstLotNumber" caption="Sales Order Lot Number"></dxi-column>
                <dxi-column dataField="salesOrder.slipNumber" caption="Sales Order Slip Number"></dxi-column>
                <!-- <div *dxTemplate="let order of 'detail'">
                  <dx-data-grid [dataSource]="order.data.returnReason" showBorders="true">
                    <dxi-column dataField="reason" caption="Return Reason"></dxi-column>
                  </dx-data-grid>
                </div> -->
              </dx-data-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>