
<div class="m-content">
    <div class="row">
      <div class="col-lg-12">
     
        

<!--begin::Portlet-->
        <div class="m-portlet">
          <!-- <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">                  
                      Logged in as Super  at Registration Desk.{{currentUser.email}}                      
                </h3>
              </div>
            </div>
          </div> -->

          <div class="m-portlet__body--no-padding">
            <!--begin::Section-->
            <div class="m-section m-section--last">
              <div class="m-section__content">
                <!--begin::Preview-->
                <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                  <div class="m-demo__preview__body--no-padding">
                    <div class="m-nav-grid">
                      <div class="m-nav-grid__row">
                        <a routerLink="/patient/findpatient" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-search"></i>
                          <span class="m-nav-grid__text">
                              Find Patient Records
                          </span>
                        </a>
                        <a routerLink="/patient/visits" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-time"></i>
                          <span class="m-nav-grid__text">
                            Active Visits
                          </span>
                        </a>
                        <a  routerLink="/patient/registration" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-calendar-1"></i>
                          <span class="m-nav-grid__text">
                                                                    Register a patient
                          </span>
                        </a>
                      </div>
                      <div class="m-nav-grid__row">
                        <a routerLink="/patient/appointmentscheduling"  class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-calendar"></i>
                          <span class="m-nav-grid__text">
                                                                    Appointment Scheduling
                          </span>
                        </a>
                        <a href="#" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-interface-3"></i>
                          <span class="m-nav-grid__text">
                            Data Management
                          </span>
                        </a>
                        <a href="#" class="m-nav-grid__item">
                          <i class="m-nav-grid__icon flaticon-signs"></i>
                          <span class="m-nav-grid__text">
                                                                    Awaiting Admission 
                          </span>
                        </a>
                      </div>
                                                
                      <div class="m-nav-grid__row">
                              <a href="#" class="m-nav-grid__item">
                                  <i class="m-nav-grid__icon flaticon-file"></i>
                                  <span class="m-nav-grid__text">
                                          Generate Reports
                                  </span>
                              </a>
                              <a href="#" class="m-nav-grid__item">
                                  <i class="m-nav-grid__icon flaticon-layers"></i>
                                  <span class="m-nav-grid__text">
                                    Configure Metadata
                                  </span>
                              </a>
                              <a href="#" class="m-nav-grid__item">
                                  <i class="m-nav-grid__icon flaticon-settings-1"></i>
                                  <span class="m-nav-grid__text">
                                      System Administration
                                  </span>
                              </a>
                          </div>
                          
                   </div>
                  </div>
                </div>
                <!--end::Preview-->
                <!--begin::Dropdown-->
              
                <!--end::Dropdown-->
              </div>
            </div>
            <!--end::Section-->
          </div>
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>