<div class="m-content">
  <div class="m-portlet ">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-md-12 col-lg-6 col-xl-3" style="background: #002050;
        border: 3px solid white;
        border-radius: 15px 0px 0px 15px;">
          <!--begin::Total Profit-->
          <div class="card1">
            <div class="card-left">
              <h4 class="card1-title">
                Today Appointments
              </h4>          
            </div>
            <div class="card-right">
                <i class="card-icon flaticon-support"></i>
              <h4 class="card1-token">
                200
              </h4>          
            </div>
          </div>
          <!--end::Total Profit-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3" style="background: #002050;
        border: 3px solid white;
        border-radius: 0px 0px 0px 0px;">
          <!--begin::New Feedbacks-->
          <div class="card1">
              <div class="card-left">
                <h4 class="card1-title">
                  Today Appointments
                </h4>          
              </div>
              <div class="card-right">
                  <i class="card-icon flaticon-support"></i>
                <h4 class="card1-token">
                  200
                </h4>          
              </div>
            </div>
          <!--end::New Feedbacks-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3" style="background: #002050;
        border: 3px solid white;
        border-radius: 0px 0px 0px 0px">
          <!--begin::New Orders-->
          <div class="card1">
              <div class="card-left">
                <h4 class="card1-title">
                  Today Appointments
                </h4>          
              </div>
              <div class="card-right">
                  <i class="card-icon flaticon-support"></i>
                <h4 class="card1-token">
                  200
                </h4>          
              </div>
            </div>
          <!--end::New Orders-->
        </div>
        <div class="col-md-12 col-lg-6 col-xl-3" style="background: #002050;
        border: 3px solid white;
        border-radius: 0px 15px 15px 0px;">
          <!--begin::New Users-->
          <div class="card1">
              <div class="card-left">
                <h4 class="card1-title">
                  Today Appointments
                </h4>          
              </div>
              <div class="card-right">
                  <i class="card-icon flaticon-support"></i>
                <h4 class="card1-token">
                  200
                </h4>          
              </div>
            </div>
          <!--end::New Users-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
        <div class="m-portlet ">
            <div class="m-portlet__body  m-portlet__body--no-padding">
                <div class="card-head"><h4 class="card2-title">Today Doctors serve</h4></div>
                
                <div class="row">
                    
                  <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                  border: 3px solid white;
                  border-radius: 15px 0px 0px 15px;">
                    <!--begin::Total Profit-->
                    <div class="card1">
                      <div class="card-left">
                        <h4 class="card1-title" style="color:black;">
                          Today Appointments
                        </h4>          
                      </div>
                      <div class="card-right">
                          <i class="card-icon flaticon-support"></i>
                        <h4 class="card1-token">
                          200
                        </h4>          
                      </div>
                    </div>
                    <!--end::Total Profit-->
                  </div>

                  <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                  border: 3px solid white;
                  border-radius: 0px 0px 0px 0px">
                    <!--begin::New Orders-->
                    <div class="card1">
                        <div class="card-left">
                          <h4 class="card1-title" style="color:black;">
                            Today Appointments
                          </h4>          
                        </div>
                        <div class="card-right">
                            <i class="card-icon flaticon-support"></i>
                          <h4 class="card1-token">
                            200
                          </h4>          
                        </div>
                      </div>
                    <!--end::New Orders-->
                  </div>
                  <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                  border: 3px solid white;
                  border-radius: 0px 15px 15px 0px;">
                    <!--begin::New Users-->
                    <div class="card1">
                        <div class="card-left">
                          <h4 class="card1-title" style="color:black;">
                            Today Appointments
                          </h4>          
                        </div>
                        <div class="card-right">
                            <i class="card-icon flaticon-support"></i>
                          <h4 class="card1-token">
                            200
                          </h4>          
                        </div>
                      </div>
                    <!--end::New Users-->
                  </div>
                </div>

                <div class="row">
                    
                    <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                    border: 3px solid white;
                    border-radius: 15px 0px 0px 15px;">
                      <!--begin::Total Profit-->
                      <div class="card1">
                        <div class="card-left">
                          <h4 class="card1-title" style="color:black;">
                            Today Appointments
                          </h4>          
                        </div>
                        <div class="card-right">
                            <i class="card-icon flaticon-support"></i>
                          <h4 class="card1-token">
                            200
                          </h4>          
                        </div>
                      </div>
                      <!--end::Total Profit-->
                    </div>
  
                    <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                    border: 3px solid white;
                    border-radius: 0px 0px 0px 0px">
                      <!--begin::New Orders-->
                      <div class="card1">
                          <div class="card-left">
                            <h4 class="card1-title" style="color:black;">
                              Today Appointments
                            </h4>          
                          </div>
                          <div class="card-right">
                              <i class="card-icon flaticon-support"></i>
                            <h4 class="card1-token">
                              200
                            </h4>          
                          </div>
                        </div>
                      <!--end::New Orders-->
                    </div>
                    <div class="col-lg-4 col-xl-4" style="background: #b8b8b8;
                    border: 3px solid white;
                    border-radius: 0px 15px 15px 0px;">
                      <!--begin::New Users-->
                      <div class="card1">
                          <div class="card-left">
                            <h4 class="card1-title" style="color:black;">
                              Today Appointments
                            </h4>          
                          </div>
                          <div class="card-right">
                              <i class="card-icon flaticon-support"></i>
                            <h4 class="card1-token">
                              200
                            </h4>          
                          </div>
                        </div>
                      <!--end::New Users-->
                    </div>
                  </div>


              </div>
              </div>
    </div>
    <div class="col-sm-4">
        <div class="m-portlet ">
            <div class="m-portlet__body m-portlet__body--no-padding">
              <div class="card-head"><h4 class="card2-title">Now Serving</h4></div>
              <div class="card2-top-1">
                  <span class="to-name">Token No:</span>
                <h4 class="card2-token">EM00121</h4>
                
              </div>
              <div class="card2-top-2" style="text-align: right;
              padding: 0 15px 0px 0px;">
                  <span class="to-name">Room No:</span> 
                <h4 class="card2-token">ROOM-02</h4>
               
              </div>  
              <div _ngcontent-c5="" class="m--space-10"></div>
                <div class="card2">
                        <i class="card-icon2 fa fa-user-circle-o"></i>
                      <h4 class="card2-patient">
                        Muhammad Ali Pansotey
                        <span style="font-size: 12px;">Doctor: Irfanulla Marwat</span>
                      </h4>          
                  </div>
              </div>
              </div>
              
    </div>
  </div>

</div>
