<div class="m-content">

    <div class="row">
      <div class="col-md-12">
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Employee Leave Policy
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body"> 
            <form [formGroup]="EmployeeleavePolicyForm"> 
          
                  <div class="form-group m-form__group row">
                      <div class="col-lg-8"> 
                    <label>
                      Employee:
                    </label> 
                        <!-- <select #lp class="form-control m-input" (change)="getLeavePolicy(lp.value)" [value]="policy?.fullName || ''">
                        <option *ngFor="let employee of employees; let i = index" [value]="employee?.userId">{{employee.fullName}}</option>
                      </select>  -->
                      <dx-select-box #lp [items]="employees" (onValueChanged)="getLeavePolicy(lp.value)" displayExpr="fullName" valueExpr="userId" [searchEnabled]="true"> </dx-select-box>
                      </div> 
                  </div> 
                  <div class="form-group m-form__group row">
                    <div class="col-lg-4">
                    <label>
                      Leave Type:
                    </label>
                      <!-- <select #q class="form-control m-input" (change)="getQuantitybyType(q.value)" [value]="policy?.title">
                        <option *ngFor="let levetype of leaveTypes; let i = index"  [value]="levetype?.leaveTypeId">{{levetype.title}}</option>
                      </select> -->
                      <dx-select-box #q [items]="leaveTypes" (onValueChanged)="getQuantitybyType(q.value)" displayExpr="title" valueExpr="leaveTypeId" [searchEnabled]="true"> </dx-select-box>
                    </div>
  
                    <div class="col-lg-4">
                    <label>
                        Leave Year:
                      </label> 
                        <dx-select-box [items]="leaveyear" displayExpr="name" valueExpr="leaveYearId" [searchEnabled]="true" [value]="policy?.name" formControlName="LeaveYearId"> </dx-select-box>
                      </div> 
                      <div class="col-lg-4">
                        <label>Entitled Qty (Days): </label>
                          <input class="form-control m-input" formControlName="EntitledQuantity" [value]="policy?.entitledQuantity" type="text">
                        </div> 
                  </div>
               <div class="m--space-30"></div> 
             
              <div class="form-group m-form__group row"> 
                <div class="col-lg-3">
                  <label>Maximum Allowed</label>
                  <input class="form-control m-input" formControlName="MaximumAllowedBalance" [value]="policy?.maximumAllowedBalance" type="text">
                </div>
                <div class="col-lg-3">
                  <label>Maximum can be Taken</label>
                  <input class="form-control m-input" formControlName="MaximumAtATime" [value]="policy?.maximumAtATime" type="text">
                </div>
                <div class="col-lg-3">
                  <label>Minimum can be Taken</label>
                  <input class="form-control m-input" formControlName="MinimumAtATime" [value]="policy?.minimumAtATime" type="text">
                </div>
                <div class="col-lg-3">
                    <label>Minimum Intemation Period </label>
                    <input class="form-control m-input" formControlName="MinimumIntimationPeriod" [value]="policy?.minimumIntimationPeriod" type="text">
                  </div>
              </div>
              <div class="m--space-20"></div>
  
              <div class="form-group m-form__group row">  
                <div class="col-lg-3">
                  <label>Encashment Application limit </label>
                  <input class="form-control m-input" formControlName="EncashmentApplicationLimit" type="text">
                </div>  
                <div class="col-md-3">
                  <label>Paid</label>
                  <input type="text" class="form-control m-input" formControlName="PaidDaysQuantity">
                </div>
                <div class="col-md-3">
                  <label>Half Paid</label>
                  <input type="text" class="form-control m-input" formControlName="HalfPaidDaysQuantity">
                </div>
                <div class="col-md-3">
                  <label>UnPaid Quantity</label>
                  <input type="text" class="form-control m-input" formControlName="UnPaidDaysQuantity">
                </div> 
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group m-form__group row"> 
                    <label class="col-md-4 col-form-label">
                      File Attachement Required
                    </label>
                    <div class="col-md-1">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsFileAttachmentRequired">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control m-input" formControlName="FileAttachmentDaysLimit">
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
  
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      Job Period Based
                    </label>
                    <div class="col-lg-1">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsJobPeriodBased">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control m-input" placeholder="In Month" formControlName="JobPeriodTime">
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      Is Balance Brought Forward
                    </label>
                    <div class="col-lg-1">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsBalanceBroughtForward">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control m-input" formControlName="BalanceBroughtForwardQuantity">
                    </div>
  
                    <div class="col-md-3">
                      <input type="text" class="form-control m-input" placeholder="In Month" formControlName="BalanceBroughtForwardValidity">
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
  
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      Leave is Encashable
                    </label>
                    <div class="col-lg-1">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsEncashable">
                        <span></span>
                      </label>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control m-input" formControlName="EncashmentDays">
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">Day Continuation Restriction </label>
                    <div class="col-lg-3">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="DayContinuationRestriction">
                        <span></span>
                      </label>
                    </div>
  
                    <div class="m--space-07"></div>
  
                    <label class="col-md-3 col-form-label">
                      For Males
                    </label>
                    <div class="col-md-2">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsMale">
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-07"></div>
  
              <div class="row">
                <div class="col-md-10">
  
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      For Females
                    </label>
                    <div class="col-md-3">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsFemale">
                        <span></span>
                      </label>
                    </div>
  
                    <label class="col-md-3 col-form-label">
                      For Married Only
                    </label>
                    <div class="col-md-2">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsMarried">
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
  
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      Short Leave Allowed
                    </label>
                    <div class="col-md-3">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsShortLeaveAllowed">
                        <span></span>
                      </label>
                    </div>
  
                    <div class="m--space-10"></div>
  
                    <label class="col-md-3 col-form-label">
                      Allowed Only one in Service
                    </label>
                    <div class="col-lg-2">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsAllowedOnlyOnceInService">
                        <span></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="m--space-10"></div>
  
              <div class="row">
                <div class="col-md-10">
                  <div class="form-group m-form__group row">
                    <label class="col-md-4 col-form-label">
                      Is Prorated
                    </label>
                    <div class="col-md-3">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsProrated">
                        <span></span>
                      </label>
                    </div>
  
                    <label class="col-md-3 col-form-label">
                      Is Active
                    </label>
                    <div class="col-md-2">
                      <label class="m-checkbox">
                        <input type="checkbox" formControlName="IsActive">
                        <span></span>
                      </label>
                    </div>
  
                  </div>
                </div>
              </div> 
                  
            </form>
            <div class="m--space-10"></div>
            <div class="row">
              <div class="col-md-12">
                <div class="m-portlet__foot m-portlet__foot--fit">
                  <div class="m-form__actions m-form__actions" style="padding:19px;">
                    <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-6">
                        <div *ngIf="isUpdate(); else create">
                          <button type="submit" class="btn btn-primary" (click)="updateEmpLeavePolicy(EmployeeleavePolicyForm.value)">
                            Update
                          </button> | 
                          <button type="reset" class="btn btn-metal">
                              Reset
                            </button>
                        </div>
                        <ng-template #create>
                          <button type="submit" class="btn btn-primary" (click)="addemployeeleavepolicy(EmployeeleavePolicyForm.value)">
                            Submit
                          </button> | 
                          <button type="reset" class="btn btn-metal">
                              Reset
                            </button>
                        </ng-template>
                      </div>
                      <div class="col-lg-3"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions m-form__actions" style="padding:19px;">
                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                    <button type="submit" (click)="addemployeeleavepolicy(EmployeeleavePolicyForm.value)" class="btn btn-success">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>