<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Customer Type</h3>
      </div>
    </div>
  </div>


<div class="m-portlet__body">
<div class="row">
  <div class="col-md-12"> 
      <dx-data-grid id="gridContainer" [dataSource]="CustomerTypes" keyExpr="customerTypeId" (onRowInserted)="AddCustomerType($event)" (onRowUpdating)="OldValue($event)" (onRowUpdated)="UpdateCustomerType()" (onRowRemoved)="DeleteCustomerType($event)"> 
          <dxo-editing  mode="popup"[allowUpdating]="true"[allowDeleting]="true"[allowAdding]="true"[useIcons]="true">	
            <dxo-popup title="Add Customer" [showTitle]="true" [width]="500" [height]="'auto'" [dragEnabled]="false" [closeOnOutsideClick]="true" [position]="{ my: 'center', at: 'center', of: window }"></dxo-popup>
          </dxo-editing>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
          <dxo-paging [pageSize]="5"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"[showInfo]="true"></dxo-pager>
          <dxi-column dataField="name" caption="Name" [visible]="true"></dxi-column>          
          <dxi-column dataField="address" caption="Address" [visible]="true"></dxi-column>
          <dxi-column dataField="city" caption="City" [visible]="true"></dxi-column>
          <dxi-column dataField="country" caption="Country" [visible]="false"></dxi-column>
          <dxi-column dataField="landlineNumber" caption="LandLine No" [visible]="false"></dxi-column>
          <dxi-column dataField="mobileNumber" caption="Mobile No" [visible]="false"></dxi-column>
          <dxi-column dataField="faxNumber" caption="Fax No" [visible]="false"></dxi-column>
          <dxi-column dataField="contactPerson" caption="Contact Person" [visible]="false"></dxi-column>
          <dxi-column dataField="phoneNumber" caption="Phone Number" [visible]="false"></dxi-column>
          </dx-data-grid> 
   </div>

   
</div>
</div></div>